@import '../../../public/scss/shared/settings/_settings.color.scss';

.socialAuth {
    text-align: center;
}

.button {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 5px;
}

.formContainer {
    margin-top: 25px;
    padding: 0 20px;

    form {
        padding-top: 15px;
    }


    label {
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: -0.065rem;
        display: block;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    select {
        background: none;
        padding: 0;
        border-radius: 0;
        border: 0;
        border-bottom: $gray5 1px solid;
        font-size: 1.4rem;
        color: #cacaca;
        letter-spacing: -0.05rem;
        outline: 0;

        /* stylelint-disable */
        &:-webkit-autofill,
        &:-webkit-autofill:hover {
            box-shadow: inset 0 0 0 1000px #000 !important;
        }
        /* stylelint-enable */
    }

    .select .select__arrow {
        color: #cacaca;
    }
}

.title {
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: -0.065rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 1.4rem;
    font-weight: 600;
}

.inputWrap {
    position: relative;

    + .inputWrap {
        margin-top: 15px;
    }
}

.passwordWrap {
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.eye {
    position: absolute;
    color: #666;
    width: 24px;
    height: 24px;
    top: 27px;
    right: 0;
}

.forgot {
    text-align: right;
    font-size: 1.2rem;
    letter-spacing: -0.04rem;
    font-weight: 600;
    margin-top: 15px;
}

.submit {
    composes: button from '../buttons/SocialButton.module.scss';
    background: $orange;
    margin-top: 25px;
}

.submitIcon {
    composes: icon from '../buttons/SocialButton.module.scss';
    left: auto;
    right: 25px;
}

.validationError {
    background: $gray2;
    padding: 10px 20px;
    font-size: 1.4rem;
    line-height: 1.25;
    letter-spacing: -0.05rem;
    font-weight: 700;
    text-align: center;
}

.terms {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.04rem;
    margin: 10px 0;
}

.captcha {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}
