@import '../../../public/scss/shared/settings/settings.color.scss';

.container {
    position: relative;
    font-size: 1.7rem;
    margin-bottom: 75px;
    padding-top: 75px;
}

.header {
    text-align: center;
    margin-bottom: 25px;
    position: relative;
}

.headerTitle {
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: -0.065rem;
    text-transform: uppercase;
}

.logo {
    width: 155px;
    height: 30px;
    margin: 0 auto 10px;
    color: $orange;
}
