.button {
    background: rgba(255, 255, 255, 0.3);
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    left: 20px;
    padding: 10px;
    border-radius: 50%;
    color: #fff;

    svg {
        vertical-align: top;
    }
}
