@import '../../../public/scss/desktop/settings/_settings.scss';

$spacing: 30px;

.arrowsIcon {
    composes: u-text-icon from global;

    color: inherit;
    transform: rotate(90deg);
}

.content {
    background: #fff;
    box-shadow: 0 0 8px #ededed;
    margin: $spacing auto;
    max-width: 900px;
    padding: $spacing;
    position: relative;
    transition: transform 0.15s ease-in, box-shadow 0.4s ease-in-out;
}

.dragHandle {
    cursor: move;
    cursor: grab;
    display: block;
    height: 32px;
    left: 17px;
    position: absolute;
    user-select: none;
    width: 10px;
    z-index: 2;

    &:active {
        cursor: grabbing;
    }
}

.draggableList {
    overflow: visible !important;

    :global(.ReactVirtualized__Grid),
    :global(.ReactVirtualized__List),
    :global(.ReactVirtualized__Grid__innerScrollContainer) {
        overflow: visible !important;
    }
}

.editReorder {
    padding: $spacing calc(#{$spacing} / 2);
}

.hamburgerIcon {
    composes: u-text-icon from global;

    color: $orange;
    height: 100%;
    width: 100%;
}

.linkInputsWrapper {
    margin-top: 20px;
}

.previewAlbum {
    color: #fc9c03;
    font-weight: bold;
    letter-spacing: -0.3px;
}

.topRight {
    align-items: center;
    display: flex;
    position: absolute;
    right: calc(#{$spacing} / 2);
    top: $spacing;
}

.trackList {
    margin: 0;
    padding: 10px 0;
}

.trackListHeading {
    font-size: 1.2rem;
    padding: 0 calc(#{$spacing} / 2);
}

.trackListItem {
    display: flex;
    padding: 10px 0;

    .numbers {
        width: 40px;
    }

    .reorder {
        width: 30px;
    }

    .songName {
        flex-grow: 1;
    }
}

.trackListItemWrapper {
    list-style: none;
    padding: 0 calc(#{$spacing} / 2);
}

.trackListLabel {
    color: #888;

    .actions,
    .songName {
        text-transform: uppercase;
    }
}

.trashIcon {
    color: #aaa;
    height: 16px;
    pointer-events: auto;
    width: 16px;
}

.trashIconWrapper {
    align-items: center;
    display: flex;
    pointer-events: none;

    &:before {
        color: #dfdfdf;
        content: "|";
        font-size: 1rem;
        margin-top: -3px;
        padding: 0 8px;
    }
}
