@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    background: #fff;
    // padding: 10px 0 10px 36px;
    padding: 12px;
    display: flex;
    align-items: center;
    border-bottom: #ebebeb 1px solid;
    margin: 0;

    &:last-child {
        border-bottom: 0;
    }

    // This margin is specific to the styles of this component which
    // is why I didnt put it within .selectButton
    .selectButton {
        margin-right: 18px;
    }

    :global(.u-sortable-item) & {
        padding-left: 32px;
    }

    :global(.u-sortable-item.u-selectable-item) & {
        padding-left: 72px;
    }

    &.expanded {
        background: #f6f6f6;
    }
}

// This and the HTML markup for this should probably be its own
// component at some point. This was just a first step in
// isolating the styles
$buttonSize: 18px;
$buttonBorder: 2px;

.dropdownButton,
.selectButton {
    width: $buttonSize;
    height: $buttonSize;
    position: relative;
    align-self: flex-end;
    transform: translateY(-50%);
}

.dropdownButton {
    color: $orange;
    padding: $buttonBorder;
    transition: transform 0.12s ease-in;
    transform-origin: ($buttonSize / 2) ($buttonSize / 3);

    &.expanded {
        transform: rotate(180deg);
    }
}

.selectButton {
    background: #fff;
    border-radius: 50%;
    border: $gray8 $buttonBorder solid;

    &:before {
        display: none;
    }

    &:after {
        content: "";
        background: $orange;
        width: $buttonSize;
        height: $buttonSize;
        border: $orange 1px solid;
        border-radius: 50%;
        position: absolute;
        top: -#{$buttonBorder};
        left: -#{$buttonBorder};
        transform: scale(0);
        transform-origin: center center;
        transition: transform 0.1s ease-in-out;
        opacity: 1;
        display: block;
    }

    &:hover:after,
    &:focus:after {
        transform: scale(0.5);
    }

    &:checked:after,
    &:checked:hover:after,
    &:checked:focus:after {
        transform: scale(1);
    }
}

.text {
    font-weight: 600;
    letter-spacing: -0.45px;
    display: inline-block;
    line-height: 1.3;
    font-size: rem-calc(13);
    text-align: left;
    flex-grow: 1;
}

.title,
.artist {
    display: block;
}

.artist {
    color: $gray7;
}

.image {
    background: $gray8;
    overflow: hidden;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    position: relative;

    &:hover .play {
        opacity: 1;
    }
}

// .manage-pins__uploads & {
//     padding-left: 0;
// }

// .u-sortable-item & {
//     padding-left: 72px;
// }

.play {
    color: $orange;
    // Adding !important because of conflicting position: relative from global styles.
    // Need convert <PlayButton /> to use css modules and re-evaluate here
    position: absolute !important;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 15px;

    &:focus {
        opacity: 1;
    }
}

.remove,
.pin {
    cursor: pointer;
    text-align: center;
    width: 20px;
    height: 20px;
    vertical-align: super;
    color: $red;

    &:hover,
    &:focus {
        color: #000;
    }
}

.pin {
    color: $orange;
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;

    &:hover,
    &:focus {
        color: $gray7;
        transition: color 0.2s ease-in-out;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus {
        background: none;
        pointer-events: all;
        cursor: not-allowed;
        color: $gray7;
    }

    &:before {
        background: $red;
        width: 120px;
        border-radius: 5px;
        white-space: normal;
    }

    &:after {
        border-top-color: $red;
    }
}

.pinned {
    color: $gray8;
    width: 14px;
    height: 18px;

    &:hover,
    &:focus {
        color: $gray3;
    }
}

// .loader-container {
//     transform-origin: top left;
// }

// &--dragging {
//     .music-edit-track {
//         box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
//         border-bottom: 0;
//     }
// }
