@import '../../../public/scss/desktop/settings/_settings.scss';

.sectionTitle {
    font-size: rem-calc(12);
    color: $orange;
    text-transform: uppercase;
    letter-spacing: rem-calc(-0.4);
    line-height: 1;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
    border-bottom: #e0e0e0 1px solid;

    label {
        margin: 0;
    }
}

.settingLabel {
    font-weight: 700;
    text-transform: capitalize;
}
