@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 12px;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: #ededed 1px solid;

    + .container {
        margin-top: 15px;
    }
}

.title {
    font-size: rem-calc(14);
    line-height: 1.25;
    letter-spacing: rem-calc(-0.5);
    font-weight: 400;
    color: $gray2;

    span,
    strong {
        display: block;
    }
}

.featuring {
    font-size: rem-calc(13);
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: rem-calc(-0.4);
}

.stat {
    display: inline-block;
    font-size: rem-calc(11);
    font-weight: 700;

    + .stat {
        margin-left: 5px;
    }
}

.icon {
    color: $orange;
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-right: 3px;
}

.reup {
    width: 17px;
}
