@import '../../../public/scss/desktop/settings/_settings.scss';

.button {
    position: absolute;
    color: #fff;
    z-index: index($z-index, above-arbitrary);
    transition: color 0.12s ease-out, opacity 0.12s ease-out 0.2s, transform 0.12s ease-out 0.2s;
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    width: 24px;
    height: 24px;
    top: 20px;
    right: 10px;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-weight: inherit;

    @include breakpoint(medium) {
        top: 50px;
        right: 50px;
    }

    &:hover,
    &:focus {
        color: $gray10;
        transition: color 0.12s ease-in;
    }
}

.buttonHidden {
    transition: opacity 0.12s ease-in, transform 0.12s ease-in;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
}
