@import '../../../public/scss/desktop/settings/_settings.scss';

.modal {
    background: $gray2;
    color: #fff;
}

.title {
    font-size: rem-calc(38);
    letter-spacing: rem-calc(-1);
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1.2;
    text-align: center;
}

.subtitle {
    font-size: rem-calc(16);
    letter-spacing: rem-calc(0.5);
    margin-bottom: 2em;
    line-height: 1.35;
}

.social {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 20px;
    transition: color 0.12s ease-out;

    &.twitter {
        transform: scale(1.4);
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover,
    &:focus {
        transition: color 0.12s ease-in;
        color: #fff;
    }
}

.socialContainer {
    text-align: center;
}
