@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    height: 295px;
    padding: 30px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $gray2;
    position: relative;
    overflow: hidden;

    @include breakpoint(medium) {
        height: 450px;
    }

    img {
        position: absolute;
        top: 0;
        left: 50%;
        opacity: 0.2;
        height: 100%;
        width: auto;
        max-width: none;
        transform: translateX(-50%);

        @include breakpoint(1300px) {
            left: 0;
            transform: none;
            height: auto;
            width: 100%;
        }
    }
}

.content {
    position: relative;
    z-index: 1;
}

.titleWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;

    @include breakpoint(medium) {
        display: block;
        margin: 0;
    }
}

.logo {
    display: inline-block;
    flex: 0 0 50px;
    width: 50px;
    height: 50px;

    @include breakpoint(medium) {
        width: 90px;
        height: 90px;
        margin-bottom: 20px;
    }
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: rem-calc(20);
    text-transform: uppercase;
    letter-spacing: rem-calc(-1.5);
    font-weight: 700;
    line-height: 1;
    color: #fff;
    max-width: 1050px;
    margin-left: 10px;

    @include breakpoint(365px) {
        font-size: rem-calc(25);
    }

    @include breakpoint(720px) {
        font-size: rem-calc(64);
        letter-spacing: rem-calc(-3);
        margin: 0 auto 10px;
    }
}

.subtitle {
    color: $gray9;
    font-size: rem-calc(17);
    letter-spacing: rem-calc(-0.25);
    font-weight: 600;
    max-width: 550px;
    margin: 0 auto;
    line-height: 1.2;
    margin-bottom: 20px;

    @include breakpoint(medium) {
        font-size: rem-calc(21);
    }
}

.button {
    @include breakpoint(small down) {
        display: none;
    }
}
