@import '../../../public/scss/desktop/settings/_settings.scss';

.panel {
    background: $gray11;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: index($z-index, above-arbitrary);
    height: 680px;
    max-height: 95%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transform: translateY(100%) translateZ(0);
    transition: transform 0.15s ease-out;
}

.panelActive {
    transform: translateY(0) translateZ(0);
    transition: transform 0.15s ease-in;
}

.city {
    color: $gray10;
    font-size: 15.5rem;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1.3rem;
    opacity: 0.3;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    color: $gray4;
    z-index: index($z-index, arbitrary);
}


$arrowPadding: 50px;

.carouselContainer {
    position: absolute;
    width: calc(100% - #{$arrowPadding * 2});
    bottom: 30px;
    left: $arrowPadding;
}

.post {
    margin-bottom: 2em;
    color: #000;
    background: #fff;
    display: inline-block;
    height: 490px;

    @include breakpoint(large) {
        margin-bottom: 0;
    }

    &:hover,
    &:focus {
        .title {
            color: $orange;
            transition: color 0.12s ease-in;
        }
    }
}

.title {
    font-weight: bold;
    line-height: 17px;
    letter-spacing: -0.5px;
    margin-bottom: 0.7em;
    transition: color 0.12s ease-out;

    overflow: hidden;
    font-size: rem-calc(14);
}

.content {
    color: $gray2;
    letter-spacing: -0.4px;
    line-height: 18px;
    word-wrap: break-word;
}

.image {
    height: 187px;
    background: $gray10;
    border: #f0f0f0 1px solid;
    overflow: hidden;
    margin-bottom: 0;
    display: flex;

    img {
        flex-grow: 1;
        object-fit: cover;
        max-width: none;
    }
}

.details {
    background: #fff;
    padding: 15px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.02);
}
