@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: index($z-index, arbitrary);

    svg,
    canvas {
        opacity: 0;
        margin: 0 auto;
        transform: translateY(30px);
        transition: transform 0.4s ease-out, opacity 0.7s ease-out;
    }
}

.ready {
    svg,
    canvas {
        opacity: 1;
        transition: transform 0.4s ease-in, opacity 0.7s ease-in;
        transform: translateY(0);
    }
}

.country {
    color: $gray6;
    display: block;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.12s ease-out, transform 0.12s ease-out;
    background: #fff;
    border-radius: 5px;
    padding: 8px 10px;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    z-index: index($z-index, above-arbitrary);

    &:after {
        content: "";
        position: absolute;
        border: 8px solid transparent;
        border-top-color: #fff;
        bottom: -16px;
        left: 20px;
        display: block;
    }
}

.tooltipActive {
    transition: opacity 0.12s ease-in, transform 0.12s ease-in;
    opacity: 1;
    transform: translateY(0);
}

.city {
    color: $gray3;
    display: block;
}

$size: 8px;
$animateSize: 115px;
$borderSize: $size / 1.5;

@keyframes pulse {
    0% {
        transform: translate(-45%, -45%) scale(0);
        opacity: 1;
    }

    100% {
        transform: translate(-45%, -45%) scale(1);
        opacity: 0;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
}

.point {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    background: 0;
    margin: 0;
    padding: 0;

    &.hover,
    &:hover,
    &:focus {
        .pointAnimate {
            animation: pulse 2s ease-in -1s infinite;
        }
    }

    &:active {
        .pointInner {
            transition: transform 0.12s ease-in;
            transform: scale(0.85);
        }
    }
}

.pointInactive {
    pointer-events: none;

    .pointInner {
        transition: transform 0.12s ease-in;
        transform: scale(0);
    }
}

.pointInner,
.pointAnimate {
    box-sizing: content-box;
    position: absolute;
    background: #fff;
    width: $size;
    height: $size;
    border: $borderSize $orange solid;
    margin-top: -($size + $borderSize) / 2;
    margin-left: -($size + $borderSize) / 2;
    border-radius: 50%;
    transition: transform 0.12s ease-out;
}

.pointInner {
    z-index: 2;
}

.pointAnimate {
    z-index: 1;
    position: absolute;
    width: $animateSize;
    height: $animateSize;
    opacity: 0;
    margin-top: -($size + $borderSize) / 3;
    margin-left: -($size + $borderSize) / 3;
    transform: translate(-45%, -45%) scale(0);
    background: rgba($orange, 0.3);
    border: 2px solid $orange;
}
