@import '../../../public/scss/desktop/settings/_settings.scss';

.buttonWrap {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: index($z-index, above-arbitrary);
}

.playerActive {
    bottom: 100px;
}
