@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: index($z-index, above-arbitrary);
    pointer-events: none;
}

.logo {
    top: 18px;
    left: 20px;
    width: 30px;
    height: 30px;

    @include breakpoint(medium) {
        top: 45px;
    }

    @include breakpoint(large) {
        top: 50px;
        left: 50px;
        width: 50px;
        height: 50px;
    }
}

.title {
    margin: 0;
}

.subtitle {
    color: $gray7;
    margin: 10px auto 0;

    @include breakpoint(medium) {
        padding: 0;
        margin: 0;
    }
}
