@import '../../../public/scss/desktop/settings/_settings.scss';

.wrap {
    overflow: hidden;

    @include breakpoint(medium down) {
        height: 3em;
    }
}

.container {
    margin-bottom: 24px;

    @include breakpoint(small down) {
        white-space: nowrap;
        overflow-x: scroll;
        padding-bottom: 20px;
    }

    a {
        text-transform: uppercase;
        margin-right: 24px;
        color: #fff;
        font-weight: bold;

        &:last-child {
            margin-right: 0;
        }

        &:hover,
        &:focus,
        &.active {
            color: $orange;
        }
    }
}
