@import '../../../public/scss/desktop/settings/_settings.scss';

$postHeight: 490px;
$imageHeight: 188px;

$postHeightMedium: 525px;
$imageHeightMedium: 295px;

.post {
    margin-bottom: 50px;

    @include breakpoint(medium) {
        height: $postHeight;
    }

    & > :first-child {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        transition: transform 0.2s ease-out;
    }

    &:hover > :first-child {
        transition: transform 0.2s ease-out;
        transform: translateY(-1px);
    }
}

.title {
    line-height: 1.2;
    margin-bottom: 8px;

    a {
        color: $gray1;

        &:hover,
        &:focus {
            color: $orange;
        }
    }
}

.content {
    background: #fff;
    padding: 20px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    @include breakpoint(medium) {
        height: $postHeight - $imageHeight;
    }
}

.image {
    width: 100%;
    height: $imageHeight;
    background-size: cover;
    background-color: $gray8;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;

    img {
        width: auto;
        max-width: none;
        min-width: 100%;
        object-fit: cover;
    }
}

.excerpt {
    flex-grow: 1;
    font-size: rem-calc(15);
    letter-spacing: rem-calc(-0.5);
    line-height: 1.6;
    color: $gray2;
}

.readMore {
    font-size: rem-calc(14);
    color: $gray1;
    text-transform: uppercase;
    font-weight: bold;
    display: none;
    margin-top: 4px;

    @include breakpoint(medium) {
        display: block;
    }

    &:hover,
    &:focus {
        color: $orange;
    }
}

.medium {
    @include breakpoint(medium) {
        height: $postHeightMedium;

        .content {
            padding: 20px !important;
            height: $postHeightMedium - $imageHeightMedium;
        }

        .image {
            height: $imageHeightMedium;
        }
    }
}

.large {
    @include breakpoint(medium) {
        height: 400px;

        .content {
            padding: 30px !important;
            height: 400px;
        }

        .image {
            height: 400px;
        }
    }
}
