@import '../../../public/scss/desktop/settings/_settings.scss';

.header {
    text-align: center;
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;

    @media (min-width: 640px) {
        margin-top: 55px;
        margin-bottom: 55px;
    }
}

.title {
    font-size: rem-calc(28);
    line-height: 1.15;
    letter-spacing: rem-calc(-1.8);
    margin-top: 10px;

    @media (min-width: 640px) {
        font-size: rem-calc(48);
    }
}

.meta {
    margin-top: 1.5em;
    font-weight: 600;
}

.contentWrap {
    background: #fff;
    margin-top: -65px;
    margin-bottom: 135px;
    padding: 30px 20px;

    @media (min-width: 640px) {
        padding: 60px;
    }
}

.content {
    font-size: rem-calc(16);
    letter-spacing: rem-calc(0.2);
    line-height: 1.7;
    color: #020202;

    @media (min-width: 640px) {
        font-size: rem-calc(20);
        line-height: 2;
    }

    h3 {
        font-size: rem-calc(22);
        letter-spacing: rem-calc(-0.95);
        line-height: 1.2;
        color: #2a2a2a;
        margin-bottom: 0.3em;

        @media (min-width: 640px) {
            font-size: rem-calc(28);
        }
    }

    & > img {
        margin: 0 auto;
    }

    ol {
        padding-left: 1em;

        li {
            list-style: decimal;
        }
    }

    ul {
        padding-left: 1em;

        li {
            list-style: disc;
        }
    }

    & > {
        img,
        iframe,
        p,
        ul,
        ol {

            margin-bottom: 2em;
        }
    }

    iframe {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.imageContainer {
    max-width: 1300px;
    margin: 0 auto;

    @media (min-width: 640px) {
        padding: 0 12px;
    }
}

.videoContainer {
    position: relative;
    width: 100%;
    margin-bottom: 2em;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.shareButtonFooter {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    a {
        margin-bottom: 1em;
        margin-left: 0 !important;

        &:last-child {
            margin-bottom: 0;
        }
    }


    @include breakpoint(medium) {
        flex-direction: row;

        a {
            margin-bottom: 0;

            &:last-child {
                margin-left: 20px !important;
            }
        }
    }
}
