@import '../../../public/scss/desktop/settings/_settings.scss';

.starfield {
    z-index: index($z-index, below-arbitrary);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    transition: opacity 1s ease-out;
    opacity: 0;

    &.active {
        transition: opacity 1s ease-in;
        opacity: 0.6;
    }
}

.bg {
    background: url('/static/globe/stars.png') repeat center center;
}

.gas {
    background: url('/static/globe/gascloud.png') no-repeat center center;
    background-size: cover;
}

.shootingStarContainer,
.bg,
.gas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.shootingStarContainer {
    z-index: index($z-index, arbitrary);
}
