@import '../../../public/scss/desktop/settings/_settings.scss';

.header {
    background: #000;
    height: 70px;
    position: relative;
    text-align: center;
    z-index: index($z-index, above-arbitrary);
}

.transparent {
    background: none;
}

.back {
    color: #fff;
    width: 68px;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    svg {
        vertical-align: text-top;
    }

    &:hover,
    &:focus {
        color: $orange;
    }
}

.logo {
    display: inline-block;
    width: 92px;
    height: 92px;
    margin-top: 10px;
}

.info {
    color: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
}

.burger {
    composes: info;
    width: 20px;
    height: 16px;
}

.tooltip {
    top: calc(100% + 15px);
    right: -10px;
}
