@import '../../../public/scss/desktop/settings/_settings.scss';

// Override lib defaults
$thumb-color: $orange;
$thumb-border-width: 0;
$thumb-width: 12px;
$thumb-height: 12px;

$track-border-width: 0;
$track-color: #434343;
$track-height: 1px;

@import "../../../public/scss/lib/inputrange";

[type="range"] {
    background: none;
}

.scale {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    text-align: center;
    z-index: index($z-index, above-arbitrary);
    display: none;

    @include breakpoint(medium) {
        display: block;
    }

    input {
        transform: rotate(-90deg) translateX(-15px);
        width: 160px;
        position: absolute;
        left: -68px;
        top: 0;
    }
}

.in,
.out {
    width: 20px;
    height: 20px;
    transition: color 0.12s ease-out;
    color: #fff;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-weight: inherit;

    &:hover,
    &:focus {
        transition: color 0.12s ease-in;
        color: $orange;
    }
}

.in {
    transform: translateY(-90px);
}

.out {
    transform: translateY(90px);
}
