@import 'lib/normalize';

@import '../../node_modules/foundation-sites/scss/util/util';

@import 'shared/settings/settings.color';
@import 'shared/settings/settings.typography';
@import 'shared/settings/settings.easing';

@import 'shared/tools/tools.mixins';
@import 'shared/tools/tools.utils-typography';
@import 'shared/tools/tools.utils-spacing';
@import 'shared/tools/tools.utils-position';
@import 'shared/tools/tools.utils-border';
@import 'shared/tools/tools.utils-color';
@import 'shared/tools/tools.utils-display';

@import 'desktop/global/variables';
@import 'chromecast/settings/settings.z-index';
@import 'desktop/settings/settings.layout';

@import 'desktop/tools/tools.mixins';
@import 'desktop/tools/tools.functions';
@import 'desktop/tools/tools.utils';
@import 'desktop/tools/tools.utils-typography';

// Some of these settings are overriden in settings.layout
@import '../../node_modules/foundation-sites/scss/foundation';
@include foundation-flex-grid;
@include foundation-flex-classes;
@import 'desktop/tools/tools.foundation-extras';

@import 'desktop/components/component.play-button';
@import 'desktop/components/component.loader';
@import 'desktop/layout/media-item';

@import 'shared/components/component.verified-tastemaker';

$top-padding: 60px;
$right-padding: 60px;
$bottom-padding: 60px;
$left-padding: 60px;
$waveform-height: 80px;

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
.react-view {
    width: 100%;
    height: 100%;
    padding: 0;
}

svg {
    width: 100%;
    height: 100%;
    fill: currentColor;

    path {
        fill: currentColor;
    }
}

.react-view {
    padding: $top-padding $right-padding $bottom-padding $left-padding;
}

body {
    background: $gray2;
    color: $gray11;
    font-family: $font_stack--primary;
    font-weight: 400;
    line-height: 1.8;
    font-size: 13px;
}

h1 {
    font-size: 2.75rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.75rem;
    line-height: 1.3;
}

p {
    font-size: 0.9rem;
}

.splash {
    background: url(/static/chromecast/images/splash-1280x720.png) no-repeat $gray2;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: index($z-index, splash);
    opacity: 1;
    // transition: opacity 0.2s ease-in;
    justify-content: center;
    align-items: flex-end;

    &--inactive {
        // transition: opacity 0.2s ease-out;
        pointer-events: none;
        opacity: 0;
    }

    .loader-container {
        margin-bottom: 80px;
    }
}

.logo {
    width: 220px;
    height: 30px;
    position: absolute;
    top: $top-padding;
    right: $right-padding;
    z-index: index($z-index, arbitrary);

    path {
        color: $orange;

        &:first-child {
            color: #fff;
        }
    }
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: index($z-index, below-arbitrary);
    overflow: hidden;
    background: #000;

    &__layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__image-container {
        z-index: 1;
    }

    &__image {
        max-width: none;
        max-height: none;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: opacity 2s;
        position: absolute;
        top: 0;
        left: 0;

        &--active {
            opacity: 1;
        }
    }

    &__tint {
        opacity: 0.3;
        z-index: 2;
    }

    &__black {
        opacity: 0.4;
        background: #000;
        z-index: 3;
    }

    &__gradient {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
        z-index: 4;
        opacity: 0.8;
    }
}

.main-content {
    z-index: index($z-index, arbitrary);
    position: relative;
}

.artwork-container {
    margin-right: 45px;
}

.artist {
    font-weight: 400;
}

.artwork {
    width: 330px;
    height: 330px;
    position: relative;

    &__play-button {
        position: absolute;
        z-index: index($z-index, arbitrary);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 44px;
        height: 50px;
        color: #fff;
    }
}

.stats {
    text-align: center;
    margin-top: 25px;
    font-size: 1.1rem;

    .stat {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.stat {
    font-weight: bold;

    &__icon {
        color: $orange;
        height: 0.9em;
        width: 0.9em;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;

        &--reposts {
            width: 1.3em;
        }
    }
}

.featuring {
    color: $orange;

    :first-child {
        color: #fff;
    }
}

.parent-attribution {
    position: absolute;
    bottom: $bottom-padding + $waveform-height + 10;
    left: 0;
    width: 100%;
    z-index: index($z-index, arbitrary);
    text-align: center;
}

.waveform-wrap {
    position: absolute;
    bottom: $bottom-padding;
    left: 0;
    width: 100%;
    height: $waveform-height;
    padding: 0 $right-padding 0 $left-padding;
    z-index: index($z-index, arbitrary);
}

.waveform-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}

.waveform {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;

    &__time {
        background: rgba(255, 255, 255, 0.8);
        font-weight: 700;
        line-height: 20px;
        padding: 0 7px;
        text-align: center;
        position: absolute;
        bottom: 0;
        font-size: rem-calc(11);
        pointer-events: none;

        &--dark {
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
        }
    }

    &__elapsed {
        left: $left-padding;
    }

    &__duration {
        right: $right-padding;
    }
}
