@import '../../node_modules/foundation-sites/scss/util/util';

@import 'shared/settings/settings.color';
@import 'shared/settings/settings.typography';
@import 'shared/settings/settings.easing';

@import 'shared/tools/tools.utils-typography';
@import 'shared/tools/tools.utils-spacing';
@import 'shared/tools/tools.utils-position';
@import 'shared/tools/tools.utils-border';
@import 'shared/tools/tools.utils-color';
@import 'shared/tools/tools.utils-display';

$breakpoints: (
    small: 0,
    medium: 450px,
    large: 720px,
    xlarge: 1024px,
    xxlarge: 1280px
);

@import 'desktop/settings/settings.layout';
@import '../../node_modules/foundation-sites/scss/global';
@import '../../node_modules/foundation-sites/scss/grid/grid';
@import 'lib/normalize';

@import 'desktop/settings/settings.z-index';
@import 'desktop/settings/settings.typography';
@import 'desktop/settings/settings.breakpoints';

@import 'desktop/tools/tools.mixins';
@import 'desktop/tools/tools.functions';
@import 'desktop/tools/tools.utils';

@import 'desktop/global/variables';
@import 'desktop/global/base';
@import 'embed/global/base';

@import 'desktop/components/component.button';
@import 'desktop/components/component.loader';
@import 'desktop/components/component.play-button';
@import 'desktop/components/component.sub-menu';
@import 'desktop/components/component.tooltip';
@import 'desktop/components/component.waveform';
@import 'desktop/components/component.tracklist';
@import 'desktop/components/component.music-heading';
@import 'desktop/components/component.music-detail';
@import 'desktop/components/component.music-artwork';
@import 'desktop/components/component.interaction-stats';
@import 'desktop/components/component.video-ad';
@import 'desktop/components/component.countdown';
@import 'shared/components/component.verified-tastemaker';

@import 'embed/global/overrides';
@import 'embed/global/embed-not-found';
@import 'embed/components/component.embed-prompt';
