/**
 * ********************************
 * WARNING: DO NOT BLOAT THIS FILE
 * ********************************
 *
 * The styles here get added inline into the head of the HTML page.
 * The purpose of this is to relieve an extra request for css and also
 * provide a faster first paint time for a user's request. This should
 * only include styles that provide the styling for the shell of the page
 *
 *  i.e the body background, sidebar, header.
 *
 * The rest of the css should go in audiomack-desktop.scss and they will
 * be loaded async
 */

// Global rules
// The start of us phasing out Foundation
:root {
    --contentPadding: 20px;
    --contentWidth: 1140px;
}

@import 'lib/normalize';

@import '../../node_modules/foundation-sites/scss/util/util';

// Shared
@import 'shared/settings/settings.color';
@import 'shared/settings/settings.typography';
@import 'shared/settings/settings.easing';

@import 'shared/tools/tools.mixins';
@import 'shared/tools/tools.utils-typography';
@import 'shared/tools/tools.utils-spacing';
@import 'shared/tools/tools.utils-position';
@import 'shared/tools/tools.utils-border';
@import 'shared/tools/tools.utils-color';
@import 'shared/tools/tools.utils-display';
@import 'shared/tools/tools.utils-background';

// Desktop specific
@import 'desktop/global/variables';
@import 'desktop/settings/settings.z-index';
@import 'desktop/settings/settings.layout';

@import 'desktop/tools/tools.mixins';
@import 'desktop/tools/tools.utils-typography';
@import 'desktop/tools/tools.functions';
@import 'desktop/tools/tools.utils';
@import 'desktop/tools/tools.utils-sortable';

@import 'desktop/settings/settings.breakpoints';

@import 'desktop/global/base';

// Some of these settings are overriden in settings.layout
@import '../../node_modules/foundation-sites/scss/foundation';
@include foundation-flex-grid;
@include foundation-flex-classes;
@import 'desktop/tools/tools.foundation-extras';

@import 'desktop/global/global.music-titles';
@import 'desktop/global/input-range';

@import 'desktop/components/component.button';

@import 'desktop/components/component.search';
@import 'desktop/components/component.burger';
@import 'desktop/components/component.widget';
@import 'desktop/components/component.account-summary';
@import 'desktop/components/component.following-list';
@import 'desktop/components/component.empty-state';
@import 'desktop/components/component.sub-menu';
@import 'desktop/components/component.tooltip';
@import 'desktop/components/component.social-icons';
@import 'desktop/components/component.uploader-ad';
@import 'shared/components/component.verified-tastemaker';

@import 'desktop/layout/header';
@import 'desktop/layout/sidebar';

// Prevent FOUC on certain global components
.player,
.ad-container {
    display: none;
}

.upload-overlay,
.c-scroll-up {
    opacity: 0;
    pointer-events: none;
}
