@import '../../../public/scss/desktop/settings/_settings.scss';

.button {
    align-items: center;
    display: flex;
    margin: 1rem 0 0.5rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.container {
    align-items: center;
    background: $gray2;
    display: flex;
    flex-direction: column;
    height: 265px;
    justify-content: center;
    position: relative;
    width: 265px;
}

.copy {
    color: #fff;
    line-height: 140%;
    font-size: 0.7rem;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
}

.hasArtwork {
    .button {
        opacity: 0;
    }

    .copy {
        opacity: 0;
    }

    .image {
        opacity: 1;
    }

    &:hover {
        .button {
            opacity: 1;
        }

        .copy {
            opacity: 1;
        }

        .image {
            opacity: 0.1;
        }
    }
}

.icon {
    height: 1rem;
    margin-right: 0.5rem;
    width: 1rem;
}

.image {
    opacity: 0.1;
    position: absolute;
    transition: opacity 0.2s ease-in-out;
    width: 100%;
}

.song {
    br {
        display: none;
    }

    .copy {
        color: $gray5;
        margin-bottom: -2.5rem;
    }

    .image {
        opacity: 1;
    }

    &.container {
        height: 200px;
        justify-content: flex-end;
        width: 200px;
    }
}
