@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint(medium) {
        align-items: stretch;
        flex-direction: row;
    }
}

.messageText {
    padding: 13px 16px;
    font-size: rem-calc(16);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: rem-calc(-0.54);
}

.messageSubtext {
    font-size: rem-calc(14);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: rem-calc(-0.5);
    color: $gray5;
}

%iconRound {
    color: white;
    height: 17px;
    width: 17px;
    margin-bottom: 3px;
}

.iconRoundOrange {
    background-color: $orange;
    @extend %iconRound;
}

.iconRoundGray {
    background-color: $gray4;
    @extend %iconRound;
}

%iconRoundMini {
    color: white;
    height: 12px;
    width: 12px;
    margin: 0 4px 2px;
}

.iconRoundMiniOrange {
    background-color: $orange;
    @extend %iconRoundMini;
}

.iconRoundMiniGray {
    background-color: $gray4;
    @extend %iconRoundMini;
}

.warningIcon {
    height: 19px;
    width: 19px;
    margin-bottom: 3px;
}

.btnRight {
    font-size: rem-calc(14);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: rem-calc(-0.5);
    min-height: 48px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(medium) {
        width: 150px;
    }

    &:hover,
    &:focus {
        color: white;
    }
}

.btnRightGray {
    background-color: $gray5;
    @extend .btnRight;
}

.btnRightOrange {
    background-color: $orange;
    @extend .btnRight;

    &:hover,
    &:focus {
        background: $gray2;
    }
}
