@import '../../../public/scss/desktop/settings/_settings.scss';

$arrow_width: 8px;
$arrow_inner: $arrow_width - 2;
$border_col: #eaeaea;

.container {
    position: absolute;
    border: $border_col 1px solid;
    color: #000;
    min-width: 190px;
    text-align: center;
    bottom: 22px;
    left: 50%;
    transform: translate(-50%, -105%) scale(0);
    opacity: 0;
    z-index: index($z-index, artist-popover);
    transition: transform 0s linear, opacity 0.15s ease-in-out;
    height: 225px;

    a {
        color: inherit;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: index($z-index, arbitrary);
    }

    &:before {
        @include triangle('down', $border_col, ($arrow_width * 2), $arrow_width);
        bottom: -$arrow_width;
    }

    &:after {
        @include triangle('down', #fff, ($arrow_inner * 2), $arrow_inner);
        bottom: -$arrow_inner;
    }
}

.containerActive {
    opacity: 1;
    transform: translate(-50%, -105%) scale(1);
}

.inner {
    background: #fff;
    padding: 20px 40px;
    height: calc(100% - 1px);
    position: relative;
    z-index: index($z-index, above-arbitrary);
}

.avatar {
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: $border_col;
    margin: 0 auto 6px;
}

.name {
    letter-spacing: -0.3px;
    font-size: 1.231em;
    margin-bottom: 0;
    white-space: nowrap;
}

.u-orange-check {
    margin-left: 5px;
}

.followers {
    font-size: 0.923em;
    letter-spacing: -0.5px;
    font-weight: 400;
    margin-bottom: 10px;

    span {
        color: $orange;
        font-weight: 600;
    }
}
