@import '../../../public/scss/desktop/settings/_settings.scss';

.post {
    margin-bottom: 2em;
    color: #000;

    @include breakpoint(large) {
        margin-bottom: 0;
    }

    &:hover,
    &:focus {
        .title {
            color: $orange;
            transition: color 0.12s ease-in;
        }
    }
}

.title {
    font-weight: bold;
    line-height: 17px;
    letter-spacing: -0.5px;
    margin-bottom: 0.7em;
    transition: color 0.12s ease-out;

    overflow: hidden;
    font-size: rem-calc(14);
}

.content {
    color: $gray2;
    letter-spacing: -0.4px;
    line-height: 18px;
    word-wrap: break-word;
}

.image {
    height: 142px;
    background: $gray10;
    border: #f0f0f0 1px solid;
    overflow: hidden;
    margin-bottom: 0;
    display: flex;

    img {
        flex-grow: 1;
        object-fit: cover;
        max-width: none;
    }
}

.details {
    background: #fff;
    padding: 15px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.02);
}
