$burger_height: 2px;

.burger {
    display: block;
    position: relative;
    color: #fff;
    width: 100%;
    height: 100%;

    &:active {
        .filling {
            transition: 0.2s transform ease-in;
            transform: scale(0.9) translateY(-50%);
        }
    }
}

.filling {
    background: currentColor;
    height: $burger_height;
    width: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
    transform: scale(1);
    transition: 0.2s transform ease-out;

    &:before,
    &:after {
        content: "";
        background: currentColor;
        width: 100%;
        height: $burger_height;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: center;
    }

    &:before {
        transform: translateY(-$burger_height * 2.5);
    }

    &:after {
        transform: translateY($burger_height * 2.5);
    }
}
