@import '../../../public/scss/desktop/settings/_settings.scss';

$arrowSize: 45px;

.carousel {
    position: relative;
}

.left {
    left: 0;
    transform: translate(0, -50%);

    @include breakpoint(1335px) {
        left: rem-calc(22);
        transform: translate(-50%, -50%);
    }
}

.right {
    right: 0;
    transform: translate(0, -50%);

    @include breakpoint(1335px) {
        right: rem-calc(22);
        transform: translate(50%, -50%);
    }
}

.left,
.right {
    position: absolute;
    top: calc(50% - 55px);
    z-index: 2;
    width: $arrowSize;
    height: $arrowSize;
    padding: 12px;
    border-radius: 50%;
    transition: background 0.12s ease-in-out, color 0.12s ease-in-out, opacity 0.4s ease-in-out;
    background: $orange;
    color: #fff;

    &:hover,
    &:focus {
        background: #fff;
        color: $orange;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus, {
        opacity: 0;
        pointer-events: none;
    }

    span {
        width: 21px;
        height: 21px;
    }
}

.inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.items {
    white-space: nowrap;
    transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.item {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;

    & > :first-child {
        width: 100%;
    }
}
