@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    position: fixed;
    z-index: index($z-index, fixed-action-bar);
    padding: 15px 0;
    left: 50%;
    bottom: 0;
    transform: translateY(var(--translateY, -160px)) translateX(-50%);
    transition: transform 0.2s ease-in-out;
    text-align: center;
    display: flex;
    align-items: center;

    @include breakpoint(xlarge) {
        left: calc(50% + (#{$sidebar_width} / 2));
    }

    :global(.has-hidden-sidebar) & {
        left: 50%;
    }

    :global(.has-collapsed-player) & {
        --translateY: -50px;
    }

    .button {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    }
}

.abovePlayer {
    --translateY: -80px;
}

.aboveAll {
    --translateY: -160px;

    :global(.has-collapsed-player) & {
        --translateY: -130px;
    }
}
