@import '../../../public/scss/desktop/settings/_settings.scss';

.geoNotice {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: index($z-index, geo-notice);
}

.withBackdrop {
    background: rgba(255, 255, 255, 0.7);
}

.notice {
    background: $gray2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    color: #fff;
    letter-spacing: -0.5px;
    padding: 6px 12px;
    font-weight: 600;
}
