@import '../../../public/scss/desktop/settings/_settings.scss';

$size: 12px;

.container {
    background: $orange;
    display: inline-block;
    width: $size;
    height: $size;
    color: #fff;
    border-radius: 50%;
    padding: 2px;
    vertical-align: sub;
    flex-shrink: 0;
    line-height: $size / 2;
    font-size: 1rem;
    position: relative;
}

.popover {
    width: 320px;
    bottom: 16px;
    left: 50%;
    font-weight: 600;
    text-align: center;
    font-size: rem-calc(12);
    transform: translateX(-50%);
    z-index: 2;

    .container:hover & {
        pointer-events: auto;
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
}
