@import '../../../public/scss/desktop/settings/_settings.scss';

.checkbox,
.radio {
    border-radius: 50%;
    height: 15px;
    width: 15px;

    &:after {
        height: 7px;
        left: 8px;
        top: 4px;
        width: 2px;
    }

    &:before {
        height: 4px;
        left: 5px;
        top: 7px;
        width: 2px;
    }
}

.container {
    position: relative;
    text-align: left;
}

.editIcon {
    height: 15px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 15px;
}

.error {
    border-color: red;

    :global(.c-dropdown__label),
    :global(.c-dropdown__label):focus,
    :global(.c-dropdown__label):hover {
        border-color: red;
    }
}

.flexContainer {
    align-items: center;
    display: flex;

    /* for nested labels from child components */
    label {
        margin-bottom: 0;
    }

    .label {
        align-items: center;
        display: flex;
        margin: 0;
    }
}

.heading {
    font-size: 1.2rem;
    margin-bottom: 15px;

    .label {
        margin-top: 0;
    }

    .subtitle {
        font-size: 0.85rem;
    }
}

.input {
    font-weight: 600;
    letter-spacing: rem-calc(-0.47);

    &:focus,
    &:hover {
        border-color: $gray8;
    }
}

.label {
    display: inline-block;
    font-weight: 700;
    letter-spacing: rem-calc(-0.4);
    line-height: 1.385em;
    margin: 10px 0;

    span {
        font-weight: 500;
        font-size: 0.846em;
        letter-spacing: 0;
        margin: 0 5px;
    }
}

.required {
    &:after {
        content: "*";
        color: red;
        font-size: 0.923em;
        margin-left: 2px;
        transform: translateY(-10px);
    }
}

.subtitle {
    font-size: 0.75rem;
    margin-left: 0.5rem;
    color: $gray5;

    b {
        font-weight: 600;
    }
}

.textareaRemaining {
    display: inline-block;
    font-size: 13px;
    font-style: italic;
    letter-spacing: -0.54px;
    margin-bottom: 15px;
}

.toggle {
    margin-left: 0.3rem;
}

.tooltip {
    composes: info-icon from global;

    height: 12px;
    width: 12px;

    &:before {
        background: #000;
        bottom: auto;
        top: 50%;
        left: calc(100% + 8px);
        border-radius: 5px;
        width: max-content;
        max-width: 195px;
        white-space: pre-wrap;
        line-height: 1.4;
        transform: translateY(-50%) translateZ(0);
    }

    &:hover:before {
        transform: translateY(-50%) translateZ(0);
    }

    &:after {
        border-top: 5px solid transparent;
        border-right: 5px solid #000;
        left: 10px;
        top: 50%;
        transform: translateY(-50%) translateZ(0);
    }

    &:hover:after {
        transform: translateY(-50%) translateZ(0);
    }
}

.explicit {
    composes: flexContainer;

    justify-content: flex-end;
    margin: 10px 0;

    .checkbox {
        margin-left: 8px;
        margin-right: 0;
    }
}

.releaseOption {
    composes: flexContainer;

    .checkbox {
        margin-right: 8px;
    }

    .label {
        font-weight: 600;
    }
}

.saveAsSingle {
    composes: flexContainer;

    .label {
        font-weight: 600;
    }
}

.songDescription {
    .textareaRemaining {
        font-size: 0.7rem;
        margin-bottom: 0;
        position: absolute;
        right: 2px;
        top: 10px;
    }

    textarea {
        height: 135px;
    }
}

.upc {
    input:disabled {
        border-color: $gray11;
    }
}

.urlSlug {
    .content {
        display: flex;
        position: relative;
    }

    input {
        padding-right: 30px;
    }

    input:hover {
        border-color: $gray8;
    }
}

.videoAd {
    composes: flexContainer;
    margin: 1rem 0;
}
