@import '../../../public/scss/desktop/settings/_settings.scss';

.mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    height: auto;
    fill: #fff;
    opacity: 0.075;
    z-index: 0;
}

.header {
    background: $orange;
    background: linear-gradient(to left, #ffa200, #ff8900);
    padding: 20px 0 45px;
    overflow: hidden;
    position: relative;
}

.body {
    padding: 0 30px;
    color: #fff;
    position: relative;
    text-align: center;

    @media (min-width: 1000px) {
        padding: 0 172px;
    }
}


.title {
    font-size: rem-calc(36);
    line-height: 1;
    letter-spacing: rem-calc(-1.7);
    margin-bottom: 10px;
}

.copy {
    font-size: rem-calc(16);
    letter-spacing: rem-calc(-0.4);
    line-height: 1.2;
}
