@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    position: relative;
}

@keyframes pulsate {
    0% {
        transform: translate(-50%, -50%) scale(0.1, 0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.2, 1.2);
        opacity: 0;
    }
}

.tooltip {
    position: absolute;
    pointer-events: none;
    transition: opacity 0.2s ease-out;
    background: $orange;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    font-size: rem-calc(14);
    padding: 3px 10px;
    opacity: 0;
    top: 0;
    left: 0;
    transform: translate(-50%, 0);
    white-space: nowrap;
}

.tooltipValue {
    composes: tooltip;
    font-size: rem-calc(18);
    top: 0;
    background: none;
    color: $gray2;
}

.pulseDot {
    width: 15px;
    height: 15px;
    color: $orange;
    background-color: currentColor;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-in;
    transform: translate(0, -50%);

    &:after,
    &:before {
        content: '';
        display: block;
        background: currentColor;
        border-radius: 50%;
        height: 200%;
        width: 200%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: pulsate 1s ease-out 0.5s infinite;
    }

    &:after {
        height: 150%;
        width: 150%;
        animation: pulsate 1s ease-out infinite;
    }
}
