@import '../../../public/scss/desktop/settings/_settings.scss';

.alert {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 15px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messageWrap {
    display: flex;
    align-items: center;
}

.message {
    font-size: rem-calc(16);
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: rem-calc(-0.6);
}

.icon {
    display: inline-block;
    color: $orange;
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.buttons {
    font-weight: 500;
}
