@import '../../../public/scss/desktop/settings/_settings.scss';

.track {
    background: #ebebeb;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
}

.bar {
    background: linear-gradient(87deg, rgba(0, 0, 0, 0.5) 2%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(to bottom, #ffa200, #ffa200);
    background-blend-mode: overlay, normal;
    position: absolute;
    width: 0;
    height: 100%;
    transition: width 0.2s ease-in;
    will-change: width;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: rem-calc(15);
    font-weight: 700;
    letter-spacing: rem-calc(-0.6);
}

.link {
    font-size: 0.75em;
    margin-left: 8px;
}

.subLabel {
    font-size: rem-calc(13);
    color: $gray8;
    margin-right: 1em;
}

.value {
    color: $orange;
}
