@import '../../../public/scss/desktop/settings/_settings.scss';

.action {
    height: 15px;
    color: $orange;
}

.container {
    margin-top: 30px;
}

.embed {
    textarea {
        margin-top: 10px;
        margin-bottom: 0;
        height: auto;
        min-height: 60px;
    }
}

.form {
    display: flex;
    margin-top: 30px;
}

.formInput {
    margin: 0;
}

.formSubmit {
    margin-left: 20px;
}

.item {
    flex: 1;
    display: flex;
    align-items: center;

    + & {
        padding-left: 10px;
    }

    [type="text"] {
        margin: 0;
    }
}

.itemLink {
    margin-right: 25px;

    @media screen and (min-width: 640px) {
        margin-right: 25px;
        flex: 2;
    }

    @media screen and (min-width: 768px) {
        flex: 5;
    }
}

.itemName {
    font-weight: 600;
}

.itemActions,
.itemDownloads,
.itemPlays,
.itemViews {
    justify-content: center;
}

.row {
    width: 100%;
    padding: 5px 10px;

    &:nth-child(even) {
        background: #f4f4f4;
    }
}

.rowHead {
    font-weight: 700;
    border-bottom: #d1d1d1 1px solid;
    margin-bottom: 25px;
    padding: 10px;
}

.rowHead,
.rowInner {
    display: flex;
}
