@import '../../../public/scss/desktop/settings/_settings.scss';

.title {
    font-size: rem-calc(18);
    line-height: 1.35;
    letter-spacing: rem-calc(-0.5);
    margin-bottom: 15px;
}

.more {
    display: block;
    text-align: right;
    font-size: rem-calc(13);
    letter-spacing: rem-calc(-0.45);
    font-weight: 700;
}

.emptyIcon {
    width: 75px;
    height: 75px;
    color: $gray10;
    margin: 30px auto 10px;
}

.empty {
    font-weight: 600;
    text-align: center;
    letter-spacing: rem-calc(-0.5);
}
