@import '../../../public/scss/desktop/settings/_settings.scss';

$height: 50px;
$sidePadding: 30px;

.label {
    height: $height;
    position: relative;
}

.input {
    background: #fff;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: $height;
    font-size: rem-calc(14);
    height: 100%;
    letter-spacing: rem-calc(-0.47);
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    padding: 0 $sidePadding;
}

.submit {
    color: $orange;
    height: 100%;
    z-index: 2;
    position: absolute;
    right: 0;
    padding: 0 $sidePadding;
    top: 50%;
    transform: translateY(-50%);
}
