@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    position: absolute;
    top: 15px;
    right: 15px;

    @media (max-width: 479px) {
        display: none;
    }
}

.link {
    width: 18px;
    height: 18px;
    display: inline-block;

    + .link {
        margin-left: 15px;
    }
}

.twitter {
    color: $twitter_col;
}

.facebook {
    color: $facebook_col;
    padding-top: 1px;
}
