@import '../../../public/scss/desktop/settings/_settings.scss';

.noTags {
    color: $gray7;
    font-style: italic;
}

.radio {
    composes: radio from './LabeledInput.module.scss';
}

.tagList {
    align-items: flex-end;
    border: 1px solid $gray9;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    position: relative;

    &:focus,
    &:hover {
        border-color: $gray8;
    }

    input {
        border: none;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        margin-bottom: 0;
        min-width: 45px;
        z-index: 2;
    }
}

.tagListItem {
    background-color: $orange;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    margin: 7px 0 7px 10px;
    max-width: 140px;
    overflow: hidden;
    padding: 2px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tagOption {
    align-items: center;
    display: flex;

    &:not(:first-of-type) {
        margin-top: 15px;
    }

    label {
        margin-bottom: 0;
    }
}

.tagOptionWrapper {
    &:not(:first-of-type) {
        margin-top: 15px;
    }
}

.tagOptions {
    background-color: #fff;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
    left: 50%;
    margin-top: -20px;
    max-height: 300px;
    overflow-y: scroll;
    padding: 15px;
    position: absolute;
    transform: translateX(-50%);
    width: 95%;
    z-index: 2;

    // nested options
    ul {
        margin-left: 20px;
        margin-top: 15px;
    }
}

.tagOptionsHeader {
    background-color: #fff;
    border-bottom: 1px solid $gray9;
    display: flex;
    flex-wrap: wrap;
    margin: -15px 0 15px;
    padding: 5px 0;
    position: sticky;
    top: -15px;
    z-index: 2;

    .tagListItem {
        margin: 7px 10px 7px 0;
    }
}

.wrapper {
    position: relative;
}
