@import '../../../public/scss/desktop/settings/_settings.scss';

.tagList {
    align-items: flex-end;
    border: 1px solid $gray9;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    position: relative;

    &:focus,
    &:focus-within,
    &:hover {
        border-color: $gray8;
    }

    input {
        border: none;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        margin-bottom: 0;
        min-width: 45px;
        z-index: 2;
    }
}

.tagListItem {
    background-color: $orange;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    margin: 7px 0 7px 10px;
    max-width: 140px;
    overflow: hidden;
    padding: 2px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .removeTagButton {
        cursor: pointer;
        margin-left: 0.5em;
        opacity: 0.5;
        transition: opacity 0.12s ease-in;

        &:hover,
        &:focus {
            opacity: 1;
        }

        svg {
            height: 10px;
            pointer-events: none;
            width: 10px;
        }
    }
}
