@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0 1.5rem;

    :global(.c-dropdown__item-button) {
        padding: 12px;
    }

    :global(.c-dropdown__label) {
        font-size: 1rem;
        font-weight: 700;
        height: 42px;
        margin: 0;
        padding: 9px;
        width: 65px;
    }

    :global(.c-dropdown__label-icon) {
        margin: 0;
        right: 9px;
        top: 13px;
    }

    :global(.c-dropdown__list) {
        padding: 0;
    }
}

.input {
    border: 1px solid #d8d8d8;
    font-size: 1rem;
    font-weight: 700;
    height: 42px;
    padding: 9px;
    width: 65px;

    &:focus,
    &:hover {
        border-color: $gray8;
    }

    &:last-of-type {
        margin-right: 0.8rem;
    }
}

.separator {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    width: 1rem;
}
