@import '../../../public/scss/desktop/settings/_settings.scss';

// The condensed class only really takes effect on larger screens
// This mixin saves having to repeat media queries over and over.
@mixin condensed($min-width: medium) {
    .condensed & {
        @include breakpoint($min-width) {
            @content;
        }
    }
}

.banner {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
    position: relative;
    z-index: 1;

    a {
        cursor: pointer;
        color: #000;
        display: block;
        padding: 30px 20px;
    }

    &.home a {
        padding: 20px;
    }

    &.music {
        box-shadow: none;
        border: $gray10 1px solid;

        a {
            max-width: 450px;
            margin: 0 auto;
            padding: 20px;
        }
    }
}

.wrap {
    @include condensed() {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        > * {
            flex: 1;
        }
    }
}

.tag {
    position: absolute;
    top: 0;
    left: 0;
    color: #c7c7c7;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    transform: translateY(-120%);
    font-size: rem-calc(10);
}

.label {
    background: $orange;
    padding: 0 5px;
    color: #fff;
    font-size: rem-calc(10);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: rem-calc(-0.5);
    border-radius: 3px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.close {
    width: 15px;
    height: 15px;
    color: #999;
    position: absolute;
    cursor: pointer;
    display: block;
    top: 15px;
    right: 15px;
    z-index: 1;
}

.main {
    @include condensed() {
        flex: 0 0 480px;
    }
}

.content {
    max-width: 700px;
    margin: 0 auto 20px;
    letter-spacing: -0.4px;
    line-height: 1.6;
    text-align: center;

    @include condensed() {
        text-align: left;
        margin: 0;
    }

    .home & {
        max-width: 900px;
        margin: 0 auto 10px;
        font-size: rem-calc(15);
        line-height: 1.45;
    }

    .music & {
        margin-bottom: 10px;
    }
}

.title {
    margin-bottom: 10px;
    line-height: 1.2;
    letter-spacing: -0.7px;
    text-align: center;
    font-size: rem-calc(20);

    @include condensed() {
        text-align: left;
        font-size: rem-calc(18);
    }

    .home & {
        margin-bottom: 5px;
        letter-spacing: rem-calc(-1.35);
        font-size: rem-calc(24);
    }

    .side & {
        font-size: rem-calc(18);
    }

    .music & {
        font-size: 1rem;
        margin-bottom: 2px;
    }
}

.logos {
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include condensed(0) {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }

    .home & {
        max-width: 485px;
        margin: 0 auto;
    }

    .side & {
        flex-wrap: wrap;
        justify-content: center;
    }

    .music & {
        margin-top: 10px;
    }
}

.logo {
    flex: 0 0 auto;
    max-width: 55px;
    padding: 0;
    text-align: center;

    @include condensed(0) {
        margin: 6px 10px;
    }

    .home & {
        max-width: 85px;
    }

    .side & {
        flex: 0 0 33.333%;
        margin: 0 10px 20px;
    }

    img {
        display: inline-block;
    }
}

.tidal img {
    max-height: 30px;
}

.buttonWrap {
    @include condensed() {
        flex: 0 0 120px;
    }
}

.button {
    margin-top: 30px;

    @include condensed() {
        margin: 0;
        height: 33px;
    }

    .home & {
        margin-top: 15px;
        width: 160px;
        height: 35px;
        font-size: rem-calc(13);
        text-transform: capitalize;
    }

    .side & {
        margin: 0;
    }

    .music & {
        margin-top: 10px;
    }
}

.tunecoreLogo {
    position: absolute;
    bottom: 12px;
    right: 12px;
}
