@import '../../../public/scss/desktop/settings/_settings.scss';

.chart {
    svg {
        opacity: 0.1;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out;

        &.loaded {
            opacity: 1;
            pointer-events: initial;
        }
    }

    // Dont display ugly google map errors. We shouldn't have them
    // but they will be logged to the console accordingly.
    // stylelint-disable-next-line
    :global(#google-visualization-errors-all-1) {
        display: none !important;
    }

    :global(.google-visualization-tooltip) {
        border-radius: 0;
        background: #fff;
        border: 1px solid $gray9;
        padding: 10px;
        box-shadow: none;
    }

    :global(.google-visualization-tooltip-item-list),
    :global(.google-visualization-tooltip-item) {
        margin: 0 !important;
        padding: 0 !important;
    }

    :global(.google-visualization-tooltip-item) {
        white-space: nowrap;
    }
}
