@import '../../../public/scss/desktop/settings/_settings.scss';

.block {
    background: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);

    $arrow_width: 10px;

    &:after {
        content: "";
        @include triangle('down', $orange, ($arrow_width * 2), $arrow_width);
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity 0.2s ease-in-out;
    }
}

.button.active {
    pointer-events: none;
}

.button:not(.active) {
    transform: translateY(0);
    transition: transform 0.2s ease-out;

    &:hover,
    &:focus {
        transition: transform 0.2s ease-in;
        transform: translateY(-2px);
    }
}

.active {
    background: $orange;
    color: #fff;

    &:after {
        opacity: 1;
    }
}

.iconWrap {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icon {
    color: $orange;
    width: 100%;
    height: 32px;
    transition: color 0.2s ease-in-out;

    .active & {
        color: #fff;
    }
}

.listenerIcon {
    height: 28px;
}

.followIcon {
    height: 42px;
}

.repostIcon {
    height: 24px;
}

.listenersIcon,
.playsIcon,
.playlistsIcon {
    height: 28px;
}

.count {
    text-align: center;
}

.countNumber {
    /* rem-calc function comes from foundation */
    font-size: rem-calc(32);
    font-weight: 700;
    letter-spacing: -1.2px;
    line-height: 0.6;
    margin-bottom: 12px;
}

.countText {
    font-weight: 700;
    color: #666;
    letter-spacing: -0.5px;
    transition: color 0.2s ease-in-out;

    .active & {
        color: #fff;
    }
}

