$breakpoint_xs: 320px;
$breakpoint_sm: 640px;
$breakpoint_md: 768px;
$breakpoint_lg: 1024px;
$breakpoint_xl: 1300px;
$breakpoint_xxl: 1570px;

// Header specific
$header_breakpoint_large: 1200px;
$header_breakpoint_medium: 800px;
$header_breakpoint_small: 675px;
