// .01
// Header
$header_height: 60px;
$masquerade_height: 60px;

// .02
// Burger
$burger_height: 2px;

// .03
// Player
$player_height: 50px; // Minus 15px top/bottom padding
$player_outer_height: 80px;

$sidebar_width: 180px;

$cookie_alert_height: 50px;

// Overriding specific foundation settings
// https://github.com/zurb/foundation-sites/blob/85c4e889ab8b1ab7ebda94fbc723330402191683/scss/grid/_grid.scss#L15
$grid-row-width: rem-calc(1140);
$grid-column-count: 24;
$grid-column-alias: false;
$breakpoint-classes: (small medium large xlarge);

$grid-column-gutter: (
    small: 30px,
    medium: 40px,
);
