h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;

    &.thin {
        font-weight: 400;
        letter-spacing: rem-calc(-0.3);
    }

    .thin {
        font-weight: 400;
    }
}

h1 {
    font-size: rem-calc(28);
}

h2 {
    font-size: rem-calc(22);
    letter-spacing: rem-calc(-0.75);
}

h3 {
    font-size: rem-calc(20);
}

h4 {
    font-size: rem-calc(18);
}

h5 {
    font-size: rem-calc(15);
    letter-spacing: rem-calc(-0.5);
}

// Font weights
.u-fw-300 {
    font-weight: 300;
}

.u-fw-500 {
    font-weight: 500;
}

.u-fw-600 {
    font-weight: 600;
}

.u-fw-700 {
    font-weight: 700;
}

// Text transforms
.u-tt-lowercase {
    text-transform: lowercase;
}

.u-tt-uppercase {
    text-transform: uppercase;
}

// Font size
.u-fs-11 {
    font-size: rem-calc(11);
}

.u-fs-14 {
    font-size: rem-calc(14);
}

.u-fs-16 {
    font-size: rem-calc(16);
}

// Line heights
.u-lh-1 {
    line-height: 1;
}

.u-lh-11 {
    line-height: 1.1;
}

.u-lh-12 {
    line-height: 1.2;
}

.u-lh-13 {
    line-height: 1.3;
}

.u-lh-14 {
    line-height: 1.4;
}

.u-lh-15 {
    line-height: 1.5;
}

// Letter spacing
// .u-ls-n-** for negative
// .u-ls-p-** for positive values
.u-ls-n-025 {
    letter-spacing: rem-calc(-0.2);
}

.u-ls-n-05 {
    letter-spacing: rem-calc(-0.5);
}

.u-ls-n-07 {
    letter-spacing: rem-calc(-0.7);
}

.u-ls-n-2 {
    letter-spacing: rem-calc(-2);
}
