@import '../../../../public/scss/desktop/settings/_settings.scss';

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bigIcon {
    margin-top: 40px;
    margin-bottom: 20px;
    color: $gray9;
}

.bigMessage {
    font-size: 1.231em;
    font-weight: 600;
    line-height: 1.62;
    letter-spacing: -0.068em;
    max-width: 420px;
    margin: 0 auto 10px;
    color: $gray6;
}

.subTitle {
    font-size: 1.1em;
    margin-bottom: 10px;

    span {
        font-weight: normal;
        margin-right: 5px;
    }
}

.btnSubmit {
    margin-top: 20px;
    width: 170px;
    font-size: 1.1em;
    letter-spacing: -0.068em;
}

.table {
    margin-bottom: 15px;
    @include breakpoint(medium) {
        th:first-child,
        & > tbody td:first-child,
        & > tr:first-child {
            padding-left: 10px;
        }

        th:first-child {
            flex: 11;
        }

        .status {
            padding-left: 13px;
        }
    }

    .selectAll {
        margin-left: 3px;
    }

    tbody {
        font-weight: 600;
        padding: 8px 0;

        .song {
            @include breakpoint(medium) {
                margin-top: 30px;
                margin-left: 10px;
                flex: 11;
            }
        }

        .target,
        .source {
            @include breakpoint(medium) {
                flex: 1;
                text-align: center;

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        tr {
            &:hover {
                background-color: #fff;
            }
        }
    }
}

.pages {
    display: flex;
    justify-content: space-around;
    margin: 20px 5px 20px;
    font-weight: 600;

    button {
        font-size: 17px;

        &:hover {
            color: $orange;
        }

        &:focus {
            color: $orange;
        }

        &:disabled {
            color: $gray8;
            background: white;
        }
    }
}

.searchBox {
    margin-top: 20px;
    position: relative;

    input {
        padding-right: 35px;
        margin-bottom: 0;
        flex: auto;
    }

    button {
        position: absolute;
        right: 10px;
        top: 8px;
        border: none;
        height: 22px;
        width: 22px;
        border-radius: 100%;
        text-align: center;
        padding: 2px;
        color: $orange;

        &:disabled {
            color: $gray8;
            background: $gray12;
        }
    }
}

.error {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: $red;

    .icon {
        color: $red;
        width: 20px;
        height: 20px;
    }

    span {
        font-weight: bold;
        margin-right: 5px;
        margin-left: 5px;
    }
}
