@import '../../../../public/scss/desktop/settings/_settings.scss';

.btn {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 0 30px;

    button {
        flex-grow: 1;
    }
}

.bigIcon {
    margin-top: 40px;
    margin-bottom: 20px;
    color: $gray9;
}

.bigMessage {
    font-size: 1.231em;
    font-weight: 600;
    line-height: 1.62;
    letter-spacing: -0.068em;
    max-width: 420px;
    margin: 0 auto 10px;
    color: $gray6;

    button {
        font-size: 1.1em;
        line-height: 1.62;
        letter-spacing: -0.068em;
        color: $orange;
    }
}

.table {
    @include breakpoint(medium) {
        th:first-child,
        & > tbody td:first-child,
        & > tr:first-child {
            padding-left: 10px;
        }

        .status {
            padding-left: 13px;
        }
    }

    .edit {
        button {
            width: 20px;
            height: 20px;
            color: $gray8;

            &:hover {
                color: $orange;
            }

            &:focus {
                color: $orange;
            }

            @include breakpoint(medium) {
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }

    tbody {
        font-weight: 600;
        padding: 8px 0;
    }

    .rows {
        letter-spacing: -0.5px;

        a {
            color: $gray1;

            &:hover {
                color: $orange;
            }

            &:focus {
                color: $orange;
            }
        }

        p {
            color: $gray1;
        }
    }
}

.pages {
    display: flex;
    justify-content: space-around;
    margin: 20px 5px 20px;
    font-weight: 600;
    font-size: 20px;

    button {
        &:hover {
            color: $orange;
        }

        &:focus {
            color: $orange;
        }

        &:disabled {
            color: $gray8;
            background: $gray11;
        }
    }
}
