@import '../../../../public/scss/desktop/settings/_settings.scss';

.form {
    span {
        font-weight: bold;
        margin-right: 5px;
    }

    p {
        margin-bottom: 5px;
    }

    .spcTop {
        margin-top: 10px;
    }

    .btn {
        margin-top: 20px;
        width: 170px;
        font-size: 1.1em;
        letter-spacing: -0.068em;
    }
}

.error {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: $red;

    .icon {
        color: $red;
        width: 20px;
        height: 20px;
    }

    span {
        font-weight: bold;
        margin-right: 5px;
        margin-left: 5px;
    }
}
