@import '../../public/scss/desktop/settings/_settings.scss';

$avatarTranslation: 20px;
$containerMargin: 40px;

.container {
    border: 1px solid $gray10;
    background: $gray12;
    margin: ($containerMargin + $avatarTranslation) auto $containerMargin;
    max-width: 650px;

    @include breakpoint(medium) {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }
}

.content {
    flex: 1;
    min-width: 0;
    padding-right: 20px;
    flex-direction: column;

    @include breakpoint(medium) {
        margin-top: 25px;
    }
}

.avatar {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-$avatarTranslation);
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(medium) {
        margin-left: $avatarTranslation;
        margin-right: $avatarTranslation;
    }
}

.heading {
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
    letter-spacing: -1.2px;
    font-size: 22px;
    color: $gray2;

    span,
    strong {
        line-height: 1;
        padding-bottom: 4px;
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.musicLink {
    display: block;
    padding: 0 1em;

    @include breakpoint(medium) {
        padding: 0;
    }
}

.featuring {
    color: $gray2;
    font-size: rem-calc(13);
    letter-spacing: 0;
    display: block;
}

.buttons {
    margin-top: 8px;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include breakpoint(medium) {
        padding: 0 1em 0 0;
        display: block;
    }
}

.pillButtons {
    display: flex;
}

.button {
    border: 0;
    display: inline-flex;
    align-items: center;
    background: $orange;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    padding: 0 18px;
    line-height: 1;
    position: relative;
    cursor: pointer;
    letter-spacing: -0.5px;
    font-size: 13px;
    height: 32px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    + .button {
        margin-left: 10px;
    }

    &:hover,
    &:focus {
        background: #000;
        color: #fff;
    }
}

.icon {
    width: 13px;
    height: 13px;
    vertical-align: top;
    margin-right: 0.5em;
    display: inline-block;
    flex-shrink: 0;
}

.socialButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    margin: 1em 0;

    + .socialButton {
        margin-left: 10px;
    }

    @include breakpoint(medium) {
        margin: 0;
    }
}

.twitter {
    background: $twitter_col;
}

.facebook {
    background: $facebook_col;
}

.socialIcon {
    max-width: 50%;
}
