@import '../../public/scss/shared/settings/_settings.scss';

.authorBlock {
    display: flex;
    align-items: center;
}

.authorImage {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 8px;

    .mobile & {
        width: 40px;
        height: 40px;
    }
}

.authorInfo {
    a {
        display: block;
        line-height: 1;
        font-weight: bold;
    }
}

.authorName {
    font-size: rem-calc(14);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: rem-calc(-0.4);

    .mobile & {
        font-size: 1.6rem;
    }
}

.date {
    display: block;
    font-size: rem-calc(12);
    letter-spacing: rem-calc(-0.5);
    color: $gray1;

    .mobile & {
        font-size: 1.4rem;
        color: $gray8;
        line-height: 1.2;
    }
}
