@import '../../../public/scss/shared/settings/_settings.color.scss';

.tag {
    background: $orange;
    color: #fff;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px 4px 0;
    display: inline-block;

    &:hover,
    &:focus {
        background: #000;
        color: #fff;
    }
}

.small {
    font-size: 1rem;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.large {
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 5px;
    border-radius: 5px;
}
