*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #000;
    font-family: $primary_font;
    font-display: swap;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    padding-bottom: $header_height;
    width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.6rem;
    line-height: 1.2;
    letter-spacing: -0.1rem;
}

h2 {
    font-size: 2.4rem;
    line-height: 1.25;
    letter-spacing: -0.1rem;
}

h3 {
    font-size: 2.2rem;
    line-height: 1.3;
    letter-spacing: -0.1rem;
}

h4 {
    font-size: 2rem;
    line-height: 1.35;
    letter-spacing: -0.08rem;
}

h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -0.05rem;
}

h6 {
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0;
}

small {
    font-size: 85%;
}

input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
textarea,
select {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
textarea {
    -webkit-appearance: none; // stylelint-disable-line
    -moz-appearance: none; // stylelint-disable-line
    appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #33c3f0;
    outline: 0;
}

// Default browser style makes these monospace for some reason
input[type="date"] {
    font-family: $primary_font;
}

.select {
    position: relative;
    color: #000;

    svg {
        position: absolute;
        top: 0;
        right: 10px;
        width: 10px;
    }

    select {
        color: inherit;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

ul,
ol,
dl {
    margin-left: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol {
    list-style: decimal;
}

a {
    text-decoration: none;
    color: $orange;

    &:focus {
        outline: none;
    }
}

button {
    font-family: $primary_font;
    border: none;
    background: none;
    padding: 0;
}

tr {
    border-bottom: 1px solid $gray2;

    &:first-child {
        border-top: 1px solid $gray2;
    }
}

svg {
    width: 100%;
    height: 100%;

    &:not(.u-no-fill) {
        fill: currentColor;

        path {
            fill: currentColor;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

.body-text p + p {
    margin-top: 1em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.inline-list {
    list-style: none;
    margin: 0;
}

.inline-list li {
    display: inline-block;
}

.inline-list li a {
    display: block;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

// Could probably split some of the rules below
// into a utilities.scss
.icon {
    width: 1em;
    height: 1em;
    vertical-align: text-top;
}

.button-link {
    border: 0;
    background: none;
    color: $orange;
}

.site-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.site-wrap,
.site-wrap__image {
    height: 100%;
    width: 100%;
}

.site-wrap__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    opacity: 0.17;
}

.mobile-wrap {
    margin-bottom: $mobile-player-height;

    .player-hidden & {
        margin-bottom: 0;
    }

    &--padding {
        padding-top: $header_height;
    }

    .has-hidden-header & {
        padding-top: 0;
    }
}

.main-content {
    min-height: 500px;
}

.outer-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.clearfix {
    @include clearfix;
}

.error {
    color: $red !important;
}

.message--must-login {
    padding: 25px 0;
    font-weight: 700;
}

.gp-wrap {
    text-align: center;
    padding: 0;

    & > div {
        background: $gray1;
    }
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #000 inset;
    -webkit-text-fill-color: #fff !important;
}

.qc-cmp-persistent-link {
    bottom: 245px !important;
    transform: rotate(-90deg);
    transform-origin: bottom right;

    svg {
        width: 17px;
    }
}
