@mixin clearfix {
    &:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin css-triangle($color: #000, $direction: left, $width: 15px, $height: 30px) {
    width: 0;
    height: 0;
    border-style: solid;

    @if $direction == left {
        border-width: ($height / 2) $width ($height / 2) 0;
        border-color: transparent $color transparent transparent;
    }
    @else if $direction == right {
        border-width: ($height / 2) 0 ($height / 2) $width;
        border-color: transparent transparent transparent $color;
    }
    @else if $direction == up {
        border-width: 0 ($width / 2) $height ($width / 2);
        border-color: transparent transparent $color transparent;
    }
    @else if $direction  == down {
        border-width: $height ($width / 2) 0 ($width / 2);
        border-color: $color transparent transparent transparent;
    }
}

@mixin background-image-retina($file, $type, $width, $height) {
    background-image: url($file + '.' + $type);

    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        & {
            background-image: url($file + '@2x.' + $type);
            background-size: $width $height;
        }
    }
}
