.pill-group {
    .empty-state &,
    &--music {
        padding: 0 0 20px;
    }//.empty-state &
}//.pill-group

.pill {
    background: $orange;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    line-height: 35px;
    padding: 0 20px;
    font-size: 13px;
    border-radius: 25px;

    &--condensed {
        letter-spacing: -0.5px;
    }//.pill--condensed

    &--has-icon {
        display: inline-flex;
        align-items: center;
    }
}//.pill

.pill__icon {
    flex: 0 0 15px;
    width: 15px;
    height: 15px;
}
