.video-icon {
    width: 18px;
    height: 15px;
    position: absolute;
    bottom: 20px;
    right: 0;

    svg {
        width: 18px;
        height: 15px;
    }

    polygon,
    path {
        fill: $orange;
        transition: all 0.25s;
    }

    &:hover {
        polygon,
        path {
            fill: #000;
        }
    }

    .am-mobile & {
        position: relative;
        top: 5px;
        left: 5px;
        bottom: auto;

        svg {
            width: 16px;
            height: 14px;
        }
    }
}
