@import '../../../../public/scss/desktop/settings/_settings.scss';

.adminPaper {
    display: flex;
    flex-direction: column;

    .adminTop {
        order: 1;
        border-bottom: 1px solid $gray10;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    .adminContent {
        order: 2;
    }
}
