.music__heading {
    line-height: 1.2;
    margin: 0;
    letter-spacing: -1.2px;
    transition: 0.2s ease-in-out;
    @include font-size(22px);
    color: $gray2;

    .music-detail--large & {
        line-height: 30px;
    }

    .music-detail--fixed & {
        @media (min-width: 640px) {
            max-width: 42%;
        }
    }

    .music-detail--album-large & {
        line-height: 32px;
    }

    .pinned-items--condensed & {
        font-size: rem-calc(18);
        line-height: 1.1;
        letter-spacing: rem-calc(-1.1);
        text-align: center;
    }

    .pinned-items--2 & {
        padding-right: 100px;
    }

    .music-card & {
        @include font-size(16px);
    }

    &--artist {
        font-weight: 400;
        line-height: 1;
        padding-bottom: 4px;
    }

    &--title {
        font-weight: 700;
        line-height: 1;
        padding-bottom: 3px;

        .music-detail--album-large & {
            @include font-size(28px);
        }
    }

    &--count {
        font-weight: 500;
        font-size: rem-calc(13);
        letter-spacing: -0.5px;
        display: none;

        .music-detail--fixed & {
            display: block;
        }
    }
}
