$player-z-index:
    player-icons,
    player-icon-trigger,
    player-slider,
    player-tooltip,
    player-volume-slider;
// Usage : z-index: index($player-z-index, [value);

$collapsedPlayerWidth: 220px;

.player {
    display: block;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: index($z-index, player);
    transition: transform 0.25s $ease-in-out-quad 0.5s, width 0.2s, height 0.2s;
    will-change: transform, width, height;
    transform: translateY(150%) translateZ(0);
    padding: 0;
    min-width: $collapsedPlayerWidth;

    &__inner {
        background-color: $gray1;
        position: relative;
        padding: 13px 20px;
        height: 100%;
        display: flex;
        align-items: center;

        body.dark-theme & {
            background: darken($gray1, 5%);
        }
    }

    &__heading {
        color: #fff;
    }

    .player__artist,
    .player__title {
        max-width: 300px;
    }


    &__waveform {
        position: relative;
        flex-grow: 1;
        height: 100%;
        margin: 0 20px;
        padding-top: 15px;
        color: #fff;
        transition: opacity 0.2s;
        display: none;
        justify-content: center;
        flex-shrink: 0;
        min-width: 100px;

        @media (min-width: 500px) {
            display: flex;
        }

        .waveform-wrap {
            margin: 0;
            height: 100%;
            width: 100%;
        }
    }

    &__album-text {
        position: absolute;
        margin-top: -20px;
        width: 100%;
        display: block;
        text-align: center;
        font-weight: 600;
        letter-spacing: rem-calc(-0.6);
        font-size: rem-calc(11);
    }

    &__artwork {
        width: $player_height;
        float: left;
        border: #2f2f2f 1px solid;
        display: none;

        @include breakpoint(medium) {
            display: block;
        }
    }

    &__details {
        padding-left: 10px;
        color: #fff;
        line-height: 14px;
        letter-spacing: -0.55px;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        width: 100%;
        max-width: 40vw;

        @include breakpoint(medium) {
            width: auto;
            max-width: 35vw;
            text-align: left;
        }

        &-wrap {
            display: flex;
            align-items: center;
            transition: opacity 0.2s;
            flex: 1;
            padding-left: 10px;

            @include breakpoint(medium) {
                flex: none;
                padding: 0;
            }
        }
    }

    &__icons {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        margin: 0;
        line-height: 58px;
        z-index: index($player-z-index, player-icons);
        transition: opacity 0.2s;
        opacity: 0;
        pointer-events: none;
        display: flex;
        align-items: center;
        padding: 0 90px 0 25px;

        @include breakpoint(large) {
            opacity: 1;
            pointer-events: auto;
            position: relative;
            display: inline-block;
            padding-left: 0;
            padding-right: 50px;
        }

        &-wrap {
            color: #fff;
            flex: 0 0 55px;

            @include breakpoint(medium) {
                flex: 0 0 auto;
            }
        }
    }

    &__icon {
        margin-left: 20px;
        width: 20px; // Defaults, most will be overwritten
        height: 20px;
        color: #fff;
        vertical-align: middle;
        z-index: index($player-z-index, player-tooltip);
        position: relative;
        flex-shrink: 0;

        @include breakpoint(large) {
            display: inline-block;
        }

        &:hover,
        &:focus,
        &--active {
            color: $brand_color;
        }

        // Adding these styles to each icon shouldnt be necessary
        // @todo make all icons centered within a square viewbox
        // @todofuture create cohesive icon set
        &--airplay {
            margin-top: 3px;
        }

        &--queue {
            padding-top: 3px;
        }

        &--embed {
            width: 25px;
        }

        &--playlist {
            width: 13px;
        }

        &--reup {
            width: 23px;
        }

        &--fav {
            width: 15px;
        }

        &--volume {
            width: 18px;
            height: 18px;
            padding: 0 1px 0 0;

            &-low,
            &-high {
                padding: 2px 0 0 0;
            }
        }

        &--soundcloud {
            height: 30px;
            width: 30px;
        }

        &--chromecast {
            --disconnected-color: #fff;
            --connected-color: #{$brand_color};
            display: none !important;
            margin-left: 0;

            &:hover,
            &:focus {
                --disconnected-color: #{$brand_color};
            }

            &.player__icon--active {
                display: inline-block !important;
            }

            &.player__icon--error {
                --disconnected-color: #{$red} !important;
            }
        }

        svg {
            transform: translate3d(0, 0, 0);
        }
    }

    &__icon-trigger {
        display: block;
        cursor: pointer;
        z-index: index($player-z-index, player-icon-trigger);
        color: #fff;
        position: absolute;
        right: 55px;
        top: 50%;
        transform: translateY(-50%);

        @include breakpoint(medium) {
            right: 45px;
        }

        @media (min-width: 500px) {
            position: relative;
            top: auto;
            transform: translateY(0);
            right: auto;
            margin-right: 45px;
        }

        svg {
            width: 20px;
        }
    }

    &__icon-collapse {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        color: $gray6;
        z-index: index($player-z-index, player-icon-trigger);
        transition: transform 0.2s ease-out;
        width: 16px;
        height: 18px;
    }

    &__controls {
        color: #fff;
        flex: 0 0 100px;
        display: flex;
        justify-content: space-between;
        transition: opacity 0.2s;
        flex-shrink: 0;

        @include breakpoint(medium) {
            flex: 0 0 110px;
            margin-right: 15px;
        }

        .loader-container {
            margin: -17px 0 0 -17px;
        }
    }

    &__control {
        width: 25px;
        height: 17px;
        transition: color 0.2s ease-in-out;
        vertical-align: middle;
        display: inline-block;
        position: relative;

        @include breakpoint(medium) {
            width: 28px;
            height: 20px;
        }

        &:hover,
        &:focus {
            color: $brand_color;
        }

        &:active {
            top: 1px;
        }

        &--main[disabled],
        &--back[disabled],
        &--forwards[disabled] {
            background: none;
            color: #999;
        }

        &--main {
            width: 16px;

            @include breakpoint(medium) {
                width: 20px;
            }

            .play-button__icon {
                width: 17px;
                height: 21px;

                @include breakpoint(medium) {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    &--active {
        transform: translateY(0) translateZ(0);
    }

    &--icon-visible {
        .player__controls,
        .player__details-wrap,
        .player__waveform {
            opacity: 0;
            pointer-events: none;
        }

        .player__icons {
            opacity: 1;
            pointer-events: auto;
        }

        @include breakpoint(large) {
            .player__controls,
            .player__details-wrap,
            .player__waveform {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &--collapsed {
        width: $collapsedPlayerWidth;
        height: 50px;

        .player__icon-trigger {
            display: none;
        }

        .player__icon-collapse {
            transform: translateY(-50%) rotate(180deg);
            transition: transform 0.2s ease-out;
        }

        .player__waveform,
        .player__details-wrap,
        .player__icons {
            opacity: 0;
            width: 0;
            min-width: auto;
            margin: 0;
            padding: 0;
            pointer-events: none;
        }

        .player__icon--chromecast {
            display: none !important;
        }
    }
}

.volume-container {
    position: relative;
}

.volume-slider {
    background: $gray2;
    border-radius: 15px;
    position: absolute;
    height: 100px;
    bottom: 50px;
    left: 20px;
    width: 25px;
    padding: 20px 0;
    pointer-events: none;
    transition: opacity 0.12s ease-in, transform 0.12s ease-in;
    transform: translateY(10px);
    opacity: 0;
    z-index: index($player-z-index, player-volume-slider);

    .volume-container:hover & {
        transform: translateY(0);
        pointer-events: auto;
        opacity: 1;
    }

    &__scrubber {
        z-index: 2;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #fff;
        left: 50%;
        margin-left: -8px;
        bottom: 0;
        transform: translateY(7px);
        position: absolute;
        transition: transform 0.1s;
        cursor: pointer;
        cursor: -webkit-grab; // stylelint-disable-line

        &:active {
            cursor: -webkit-grabbing; // stylelint-disable-line
        }
    }

    &:focus,
    &:hover {
        .volume-slider__scrubber {
            transform: translateY(7px) scale(1.1);
        }
    }

    &__inner {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
    }

    &__backfill,
    &__fill {
        background: $gray4;
        position: absolute;
        width: 2px;
        left: 11px;
        z-index: 0;
        bottom: 0;
        cursor: pointer;
    }

    &__backfill {
        height: 100%;
    }

    &__fill {
        background: $brand_color;
        z-index: 1;
        height: 10px;
    }
}

.player-queue-menu {
    position: absolute;
    bottom: 60px;
    left: 0;
    max-width: 630px;
    padding: 10px;
    border-radius: 5px;
    width: calc(100vw - 50px);
    height: calc(100vh - 150px);
    background: $gray1;
    max-height: 520px;

    body.dark-theme & {
        background: darken($gray1, 5%);
    }

    @include breakpoint(large) {
        left: auto;
        right: -15px;
    }

    &__header {
        padding: 5px 5px 15px;

        .button--pill:hover,
        .button--pill:focus {
            background: darken($orange, 5%);
        }
    }

    &__list {
        height: calc(100% - 60px);
        max-height: 450px;
        overflow: hidden;
        display: flex;
        width: 100%;
    }

    &__shuffle {
        width: 20px;
        height: 18px;

        &[disabled] {
            background: none;
            color: $gray3;
        }
    }

    &__close {
        color: $gray5;
        vertical-align: middle;
        display: inline-block;
        margin-left: 1em;
        width: 16px;
        height: 16px;
    }
}

.player-queue__modal-form {
    padding: 0 5px;

    .column {
        padding: 0 10px;
    }
}
