$dot-size: 20px;

.progress-bar {
    height: 50px;
    padding-top: 10px;
    position: relative;

    &:before,
    &__fill {
        content: '';
        position: absolute;
        background: $gray9;
        height: 4px;
        width: 100%;
        left: 0;
        top: auto;
    }

    &__fill {
        background: $orange;
        width: 0;
        transition: width 0.5s ease-in;
    }

    &__steps {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    &__step {
        font-weight: bold;
        position: relative;
        display: flex;
        height: 100%;
        align-items: flex-end;
        color: $gray8;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: $dot-size;
            height: $dot-size;
            background: $gray9;
            border-radius: 50%;
            margin-left: 50%;
            transform: translateX(-50%) translateY(-50%);
            top: 0;
            left: 0;
            transition: background 0.2s ease-out, box-shadow 0.2s ease-out;
        }

        &:first-child {
            transform: translateX(-50%);

            &:before {
                margin-left: 0;
                transform: translateX(100%) translateY(-50%);
                transform: translateX(calc(100% + #{$dot-size / 2})) translateY(-50%);
            }
        }

        &:last-child {
            transform: translateX(50%);

            &:before {
                margin-left: 0;
                transform: translateX(102%) translateY(-50%);
                transform: translateX(calc(100% + #{$dot-size / 2})) translateY(-50%);
            }
        }

        &--filled {
            &:before {
                background: $orange;
            }
        }

        &--active {
            color: $gray2;

            &:before {
                background: $orange;
                box-shadow: 0 0 0 2px white, 0 0 0 4px $orange;
                transition: background 0.2s ease-in, box-shadow 0.2s ease-in 0.2s;
            }
        }
    }
}
