.info-icon {
    background: $orange;
    display: inline-block;
    width: 12px;
    height: 12px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 4px;
    padding: 2px;
    vertical-align: sub;
    flex-shrink: 0;

    svg {
        transform: translateY(-5px);
    }
}
