$innerPadding: calc(1% + 30px);

.song-upload__metadata {
    &--album {
        margin-bottom: 40px;
    }

    &-inner {
        width: 102%;
        height: 100%;
        margin: 0 -1%;
        padding: 0 10px $innerPadding;

        @media screen and (min-width: $breakpoint_sm) {
            padding: 0 $innerPadding $innerPadding;
        }
    }

    [data-tooltip] {
        &:before {
            background: #000;
            bottom: auto;
            top: 50%;
            left: calc(100% + 8px);
            border-radius: 5px;
            width: max-content;
            max-width: 195px;
            white-space: pre-wrap;
            line-height: 1.4;
            transform: translateY(-50%) translateZ(0);
        }

        &:hover:before {
            transform: translateY(-50%) translateZ(0);
        }

        &:after {
            border-top: 5px solid transparent;
            border-right: 5px solid #000;
            left: 10px;
            top: 50%;
            transform: translateY(-50%) translateZ(0);
        }

        &:hover:after {
            transform: translateY(-50%) translateZ(0);
        }
    }

    [name="description"] {
        height: 215px;
    }
}

.song-upload__checkbox-label {
    display: flex;
    flex-direction: column;
}

.song-upload__basic-image-wrap {
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    @media screen and (min-width: $breakpoint_sm) {
        display: block;
        margin-bottom: 35px;
    }

    .button {
        @media screen and (max-width: ($breakpoint_sm - 1)) {
            padding-left: 14px;
            padding-right: 14px;
        }
    }
}

.song-upload__basic-image {
    background: url('/static/images/default-song-image.jpg') #f3f3f3;
    width: 100%;
    height: auto;
    overflow: hidden;
    flex: 0 0 100px;
    margin: 0 15px 0 0;

    @media screen and (min-width: $breakpoint_sm) {
        margin-right: 0;
        border-radius: 10px;
    }

    &--has-image {
        background: none;
    }

    img {
        margin: 0 auto;

        @media screen and (min-width: $breakpoint_sm) {
            border-radius: 10px;
        }
    }
}

.song-upload__basic-image-req {
    font-size: 0.923em;
    margin-top: 10px;
    line-height: 17px;
    letter-spacing: -0.4px;
    color: #666;
}

.song-upload__basic-info {
    flex: 0 0 100%;

    @media screen and (min-width: $breakpoint_md) {
        flex: 1;
    }
}

.song-upload__description {
    height: 100%;

    textarea {
        height: 125px;
    }
}

.input--prepend {
    background: #f6f6f6;
    border: #ddd 1px solid;
    border-right: 0;
    width: auto;
    flex: 0 0 auto;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: none;

    @media screen and (min-width: $breakpoint_sm) {
        display: block;
    }

    & + input {
        flex: 1;
    }
}

.song-upload__tos {
    letter-spacing: -0.4px;
    line-height: 1.538em;
    color: #666;
    margin-bottom: 20px;
}

.song-upload__meta-bottom-arrow {
    flex: 0 0 25px;
    color: #ddd;
    cursor: pointer;

    &:hover {
        color: #333;
    }

    svg {
        transition: color 0.2s ease-in-out;
    }
}

.song-upload__meta-bottom-buttons {
    @media screen and (max-width: ($breakpoint_sm - 1)) {
        padding: 0 15px;
    }
}

.song-upload__meta-bottom-button-wrap {
    flex: 1;
}

.song-upload__meta-bottom-button {
    font-size: 1.077em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 35px;

    @media screen and (min-width: $breakpoint_sm) {
        padding: 13px 78px;
    }
}

.song-upload__check-icon {
    width: 16px;
    height: 16px;
}

.song-upload__option-message--private {
    padding-top: 28px;
}

.song-upload__option-message {
    margin-top: 10px;
    align-items: center;

    @media screen and (min-width: $breakpoint_md) {
        margin-top: 0;
    }

    > .u-flex {
        align-items: center;
    }

    .bolded {
        display: block;
        font-weight: 700;
        font-size: 1.231em;
        line-height: 20px;
        letter-spacing: -0.4px;
        margin-left: 0;
    }

    &--release {
        .bolded {
            font-size: 1em;
        }
    }

    input[type="checkbox"] {
        flex: 0 0 20px;
    }

    &--small {
        font-weight: 600;
        letter-spacing: -0.4px;
        margin: 0 0 15px;
        display: flex;
        width: 100%;
        align-items: center;

        span {
            display: inline-block;
            margin-right: 10px;
        }
    }
}
