.persistent-message {
    background: $brand_color;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: fixed;
    top: ($header_height + 15);
    right: 15px;
    transition: transform 0.2s ease-in;
    z-index: index($z-index, persistent-message);
    color: #fff;
    padding: 10px;
    font-weight: 700;
    letter-spacing: -0.55px;
    animation: fadeIn 0.12s forwards ease-in;

    a,
    .button-link {
        color: #fff;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: #fff;
            text-decoration: none;
        }
    }
}
