.ad-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: index($z-index, ad-container);
    top: 0;
    left: 0;
    display: block;

    &--hidden {
        display: none;
    }

    &__ad,
    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 169px;

        @media (min-width: 600px) {
            width: 600px;
            height: 338px;
        }

        @media (min-width: 960px) {
            width: 960px;
            height: 540px;
        }
    }

    &__inner {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__skip-button {
        &,
        &[disabled] {
            position: absolute;
            z-index: 2;
            right: 0;
            bottom: 20px;
            background: rgba(0, 0, 0, 0.5);
            padding: 10px;
            border: 1px solid #fff;
            border-right: 0;
            color: #fff;
        }

        &:hover,
        &:focus {
            background: rgba(0, 0, 0, 0.8);
        }

        &[disabled]:hover,
        &[disabled]:focus {
            background: rgba(0, 0, 0, 0.5);
        }
    }
}
