.upload-complete {
    padding: 0;

    @media screen and (min-width: $breakpoint_md) {
        display: flex;
    }

    &__col {
        @media screen and (min-width: $breakpoint_md) {
            flex: 1;
            max-width: calc(100% - 300px);
        }

        &--left {
            @media screen and (min-width: $breakpoint_md) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &--right {
            flex: 0 0 300px;
            padding: 0;
        }
    }

    &__col-inner {
        padding: 25px 30px;
        width: 100%;

        @media screen and (min-width: $breakpoint_md) {
            padding: 25px 60px;
        }
    }

    &__col-inner--less-padding {
        padding-left: 0;
    }

    &__title {
        font-size: 1.6em;
        line-height: 1.3;
        letter-spacing: -0.4px;
        font-weight: 700;
        margin: 0;

        @media screen and (min-width: $breakpoint_md) {
            font-size: 1.846em;
            line-height: 1.8;
        }
    }

    &__subtitle {
        margin: 0 0 20px;
    }

    &__artwork {
        width: 100px;
        height: 100px;
        margin: 10px auto;
    }

    &__track-info {
        font-size: 1.077em;
        letter-spacing: -0.4px;
        line-height: 1.5;
        margin: 0;

        &--title,
        &--link {
            font-weight: 600;
        }
    }

    &__app-badges {
        margin: 5px 0 20px;

        > a {
            display: inline-block;
            margin: 0 8px;
        }
    }

    &__social {
        margin-top: 15px;
    }

    &__social-button {
        display: block;
        max-width: 200px;
        margin: 0 auto;

        + .upload-complete__social-button {
            margin-top: 15px;
        }
    }
}

.upload-complete__tunecore {
    border: #efefef 1px solid;
    box-shadow: none;

    .tunecore__title {
        font-size: 1.385em;
    }

    a {
        padding: 25px 20px;
    }
}

.upload-complete__promo-button {
    width: 220px;
    padding-top: 17px;
    padding-bottom: 17px;
    position: relative;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);

    &-icon {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        right: 27px;
        transform: translateY(-50%);
    }
}
