.music-detail {
    --waveformButtonSize: 55px;
}

.music-detail--large {
    --waveformButtonSize: 90px;
}

.waveform-wrap {
    position: relative;
    height: 40px;
    margin-top: 15px;
    transform: translateZ(0);

    .music-detail--large & {
        height: 70px;
        margin-top: 15px;
        z-index: 4;
    }

    .pinned-items--condensed & {
        display: none;
    }
}

.waveform-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .waveform-wrap--has-button & {
        width: calc(100% - var(--waveformButtonSize));
        left: var(--waveformButtonSize);
    }
}

.waveform {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;

    &__time {
        background: rgba(255, 255, 255, 0.8);
        font-weight: 700;
        line-height: 20px;
        padding: 0 7px;
        text-align: center;
        position: absolute;
        bottom: 0;
        font-size: rem-calc(11);
        pointer-events: none;

        &--dark {
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
        }
    }

    &__elapsed {
        left: 0;

        .waveform-wrap--has-button & {
            left: var(--waveformButtonSize);
        }
    }

    &__duration {
        right: 0;
    }
}
