.countdown {
    background: #fff;
    padding: 12px 16px;
    letter-spacing: -0.4px;
    border-radius: 6px;
    border: #e1e1e1 1px solid;

    &--dark {
        background: #2a2a2a;
        color: #fff;
        border: 0;
    }
}
