.upload-share-wrap + .upload-share-wrap {
    margin-top: 20px;
}

.upload-share {
    border: #ededed 1px solid;
    display: flex;
    align-items: center;

    &--facebook {
        background: #f2f3f5;
        border-color: #dddfe2;
    }

    &__heading-icon {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 5px;

        &--twitter {
            color: $twitter_col;
            transform: translateY(2px);
        }

        &--facebook {
            color: $facebook_col;
            width: 15px;
            height: 16px;
        }
    }

    &__image {
        flex: 0 0 125px;
        height: 125px;
    }

    &__details {
        max-width: calc(100% - 125px);
    }

    &__top-am {
        display: none;

        .upload-share--facebook & {
            display: block;
        }
    }

    &__title {
        .upload-share--facebook & {
            font-weight: 700;
        }
    }

    &__desc {
        line-height: rem-calc(20);
    }

    &__bottom-am {
        display: none;

        .upload-share--twitter & {
            display: block;
        }
    }
}
