.music-artwork {
    width: 165px;
    height: 165px;
    flex: 0 0 165px;
    position: relative;
    z-index: index($z-index, arbitrary);
    display: inline-block;

    @include breakpoint(medium) {
        display: inline;
        margin-right: 20px;
    }

    .search-page__result--artist & {
        border-radius: 50%;
        flex: 0 0 160px;
    }

    .pinned-items--condensed & {
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
        height: auto;
        flex: 0 0 auto;
    }

    &--album,
    &--playlist {
        .pinned-items--condensed & {
            width: calc(100% - 8px);
            margin-top: 8px;
        }
    }

    img {
        position: relative;
        z-index: 1;
        // Make broken images somewhat not break the design
        width: 100%;
        min-height: 150px;
        margin: 0 auto;
        height: 100%;
        object-fit: cover;
    }

    &--large {
        width: 260px;
        height: 260px;
    }

    &--round {
        border-radius: 50%;
    }

    .play-button__artwork {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22);
    }

    &:hover {
        .play-button__icon {
            transform: scale(1);
        }
    }

    .loader-container {
        margin: -8px 0 0 -8px;
    }
}

.music-artwork__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 1;
    z-index: index($z-index, music-artwork-overlay);
    color: $brand_color;
    font-size: 50px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: scale(1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-artwork__play-button {
    color: #fff;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0);
    z-index: index($z-index, music-artwork-overlay);
    transition: opacity 0.2s ease-in-out;

    &.play-button--playing {
        opacity: 1;
    }

    .play-button__icon {
        transform: scale(1);
        margin: 0;
    }

    .music-artwork:hover & {
        opacity: 1;
    }
}

.playlist-artwork {
    img {
        display: block;
        width: 50%;
        min-height: inherit;
        float: left;
        border-radius: 0;
    }//img
}//.playlist-artwork
