.song-upload {
    transition: transform 0.15s ease-in, box-shadow 0.4s ease-in-out;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    .no-transition & {
        transition: none;
    }

    &--dragging {
        .song-upload {
            transition: none;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        }
    }

    &__top {
        padding: 40px 25px 20px;

        @media screen and (min-width: $breakpoint_sm) {
            padding-top: 30px;
        }
    }

    &--album {
        .song-upload__top {
            padding: 40px 25px 20px 70px;

            @media screen and (min-width: $breakpoint_sm) {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }

    &__original-title {
        color: $gray9;
    }

    &__toggle {
        background: none;
        display: block;
        width: 100%;
        color: rgba(#999, 0.5);
        position: relative;
        top: 12px;

        svg {
            transition: transform 0.2s ease-out;
            width: 14px;
            height: 10px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 0.875rem;
        letter-spacing: -0.45px;
        line-height: 20px;
        display: inline-block;
    }

    &__progress {
        color: #8d8d8d;
        font-size: 0.82rem;
        line-height: 20px;
    }

    &__progress-status {
        position: relative;

        .loader-container {
            transform-origin: top right;
            position: absolute;
            top: 0;
            right: -30px;
        }
    }

    &__errors,
    &__edit {
        position: absolute;
        right: 25px;
        top: 15px;
        font-weight: bold;

        @media screen and (min-width: $breakpoint_sm) {
            top: 30px;
        }
    }

    &__edit {
        padding-right: 0;
        padding-left: 0;
    }

    &__copyright {
        max-width: 700px;
        margin: 0 auto;
    }

    .button--input {
        &:hover,
        &:focus {
            color: #000;
        }
    }

    .feed-bar {
        margin-bottom: 30px;
    }

    &__save-as-single {
        position: absolute;
        right: 25px;
        top: 165px;

        &--normal-text {
            font-size: 1em;
            font-weight: normal !important;
        }
    }

    &__album-track-delete-button {
        position: absolute;
        right: 25px;
        top: 120px;
        color: grey;
        padding-left: 12px;
        border-left: 1px solid #afafaf;
        font-weight: bold;
        z-index: 1;
    }

    &__album-track-delete-icon {
        height: 18px;
        width: 18px;
        display: inline-block;
    }

    &__album-track-replace-button {
        position: absolute;
        right: 66px;
        top: 118px;
        color: red;
        font-weight: bold;
        z-index: 1;
    }
}

.upload-progress-bar {
    $radius: 15px;
    padding: 3px;
    position: relative;
    height: 18px;
    border-radius: $radius;
    border: 1px solid #e5e2e2;
    width: calc(100% - 30px);
    margin: 1em 10px 0 0;
    display: inline-block;

    &__fill {
        width: 0;
        height: 100%;
        border-radius: $radius;
        background: linear-gradient(to right, #fd8625 0, #febe31 100%);
    }

    &--failed {
        .upload-progress-bar__fill {
            background: $red;
        }
    }

    &__tooltip {
        color: #fff;
        position: absolute;
        left: 0;
        transform: translate(0, -4px);

        &:before {
            background: #000;
            padding: 6px 16px;
            font-size: 1.077em;
        }

        &:after {
            border-top-color: #000;
        }
    }
}

.upload__progress-icon {
    display: inline-block;
    width: 18px;
    height: 18px;

    svg {
        display: block;
    }

    &--close {
        cursor: pointer;
        background: #939393;
        transition: background 0.12 ease-out;
        border-radius: 50%;
        text-align: center;
        width: 20px;
        height: 20px;
        vertical-align: super;

        &:before {
            background: #000;
        }

        &:after {
            border-top-color: #000;
        }

        &:hover,
        &:focus {
            transition: background 0.12 ease-in;
            background: #000;
        }

        svg {
            padding: 4px;
            color: #fff;
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: sub;
        }
    }

    &--check {
        color: $green;
    }

    &--failed {
        svg {
            padding: 2px;
        }
    }
}

.song-upload--open .song-upload__toggle {
    svg {
        transition: transform 0.2s ease-in;
        transform: rotate(180deg);
    }
}

.upload-dropzone {
    border: 1px dashed #999;
    padding: 25px;
    display: block;
}

.upload-overlay {
    transition: 0.12s ease-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(215, 138, 34, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: index($z-index, drag-overlay);
    text-align: center;
    font-size: 3.3em;
    flex-direction: column;
    color: #fff;
    font-weight: bold;

    &__plus {
        width: 126px;
        height: 126px;
        color: #fff;
        margin-bottom: 0.5em;
    }

    &__title {
        letter-spacing: -1.43px;
    }

    body.dragging & {
        opacity: 1;
        transition: 0.12s ease-in;
    }
}

.upload-form {
    &--gray .upload-dropzone {
        background: #f8f8f8;
        font-weight: 500;
    }

    &__add-existing-upload {
        z-index: 1;
    }

    &__button-wrap {
        position: relative;
        display: inline-block;

        input {
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }
    }

    &__button {
        text-transform: uppercase;
        padding: 14px 25px;
        font-size: 0.846em;

        @media screen and (min-width: $breakpoint_sm) {
            padding: 14px 60px;
            font-size: 1.077em;
        }
    }

    &__head-text {
        margin-bottom: 1em;
        font-size: 1.154em;
        letter-spacing: -0.38px;
        color: #000;
    }

    &__subtext {
        color: $gray4;
        margin: 1em 0;
        display: block;
        font-size: 0.846em;
        letter-spacing: -0.28px;
    }

    &--footer {
        max-width: 900px;
        margin: 50px auto;
    }
}

.upload-intro {
    max-width: 900px;
    padding: 22px 30px;
    margin: 60px auto 60px;

    @include breakpoint(medium) {
        padding: 35px 100px 55px;
    }

    &--medium {
        max-width: 700px;
    }

    &--album {
        padding: 50px 75px;
    }

    &__title {
        padding: 0 60px;

        @include breakpoint(medium) {
            padding: 0;
        }
    }

    .upload__main-title--album {
        margin-bottom: 0;
    }

    &__description {
        margin: 10px 0 0;
    }

    &__byline {
        color: $gray4;
        margin-bottom: 3em;
        position: relative;
        display: inline-block;
    }

    .button-link {
        position: absolute;
        right: -3em;
        top: 2px;
    }

    &__soundcloud,
    &__tos {
        margin-top: 2em;
        line-height: 20px;
        color: #666;

        a {
            font-weight: 600;
        }
    }

    &__soundcloud {
        font-weight: bold;
        padding: 0 8%;
        letter-spacing: -0.2px;
    }

    &__tos {
        letter-spacing: -0.5px;
    }

    &__form {
        margin-top: 3em;

        .upload-intro--album & {
            margin-top: 3.2em;
        }

        label {
            text-align: left;
            display: block;

            strong {
                display: inline-block;
                margin-bottom: 10px;
            }
        }

        [type="text"] {
            outline: none;

            &:focus {
                border-color: #b5b5b5;
            }
        }

        .button {
            width: 200px;
            margin-top: 2em;
        }

        .upload-intro--album [type="text"] {
            margin-top: 10px;
        }
    }
}

.upload-back-link {
    position: absolute;
    top: 37px;
    left: 15px;
    letter-spacing: -0.55px;
    color: #000;
    font-weight: bold;
    transform: translateY(-50%);

    @include breakpoint(medium) {
        top: 45px;
        left: 35px;
        transform: none;
    }

    span {
        color: $orange;
        margin-right: 2px;
    }

    &:hover,
    &:focus {
        color: $orange;
    }
}

.upload__main-title {
    font-size: 1.3rem;
    letter-spacing: rem-calc(-1.1);
    line-height: 1.3;
    color: #000;
    margin-bottom: rem-calc(20);

    @media screen and (min-width: $breakpoint_sm) {
        font-size: 1.875rem;
        line-height: 41px;
        letter-spacing: rem-calc(-0.75);
        margin-bottom: rem-calc(40);
        padding: 0;
    }
}

@keyframes saveFade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.album-actions {
    text-align: center;
    margin-bottom: 40px;

    .button {
        margin-left: 0;
        margin-right: 1em;
    }

    .button--start-over {
        color: #222;
    }

    @media (min-width: 1260px) {
        display: flex;
        position: fixed;
        align-content: center;
        flex-direction: column;
        top: 0;
        height: 100%;
        right: 0;
        margin-right: 30px;
        margin-bottom: 0;
        justify-content: flex-end;
        padding-bottom: 60px;
        z-index: 2;

        .button {
            margin-bottom: 1em;
            margin-right: 0;

            &:last-child {
                margin-bottom: 2em;
            }
        }

        .has-uploader-ad.has-active-player & {
            padding-bottom: 140px;
        }
    }

    &__saving {
        margin-bottom: 1em;

        &--saved {
            animation: saveFade 1s ease-out forwards;
        }
    }

    &__preview {
        color: $gray2;
        background: #fff;
    }
}

.song-upload__info-panel {
    @media screen and (min-width: $breakpoint_md) {
        height: 400px;
    }
}

.album-actions__saving,
.button--finishing {
    position: relative;

    &:after {
        content: "\2026";
        position: absolute;
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: ellipsis steps(4, end) 1.7s infinite;
        width: 0;
    }
}

.upload-form-error {
    background: red;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    color: #fff;

    &__icon {
        flex: 0 0 40px;
    }

    p {
        flex: 1;
        line-height: 1.4;
        font-weight: 700;
    }
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}
