$large_form_height: 45px;

.search-form {
    position: relative;
    width: 100%;
    margin: 0 auto;

    &.highlights-search-form {
        min-height: 34px;
    }

    &__input-wrapper {
        height: 34px;

        .search-page & {
            height: $large_form_height;
        }
    }

    &__input {
        background: #f3f3f3;
        border: none;
        border-radius: 4px;
        font-family: $font_stack--primary;
        padding: 0 40px 0 10px;
        width: 100%;
        height: 34px;
        font-size: 1.077em;
        letter-spacing: -0.65px;
        color: #666;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 600;

        // Search page larger form
        .search-page & {
            height: $large_form_height;
            font-size: 22px;
        }
    }

    &__action,
    &__submit {
        position: absolute;
        width: 40px;
        height: 38px;
        padding: 9px 12px;
        top: -1px;
        right: 0;
    }

    &__submit {
        color: $brand_color;
        text-align: center;
        z-index: index($z-index, arbitrary);

        &--hidden {
            display: none;
        }
    }

    &__action {
        left: auto;
        right: 0;
        display: none;
        color: $gray8;

        &--visible {
            display: block;
        }
    }

    &__autocomplete {
        border: 1px solid $gray10;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
        position: absolute;
        z-index: index($z-index, search-autocomplete);
        text-align: left;
        max-height: 250px;
        overflow: scroll;
        width: 100%;
    }

    &__result-title {
        text-transform: uppercase;
        font-weight: 700;
        @include font-size(11px);
    }

    &__result {
        padding: 10px 13px 10px 35px;
        line-height: 1.5;
        font-size: 1.154em;
        font-weight: 700;
        letter-spacing: -0.5px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &--highlighted {
            background: #f6f6f6;
        }
    }

    &__result-icon {
        display: inline-block;
        width: 12px;
        height: 12px;
        color: $orange;
        position: absolute;
        left: 13px;
    }

    &--playlist {
        margin-bottom: 20px;
        height: 45px;
        font-size: 1em;

        .search-form__submit {
            right: auto;
            left: 0;
            z-index: 2;
        }

        .search-form__input {
            border-radius: 40px;
            padding-left: 40px;
        }
    }
}

.search-page {
    .search-form__action,
    .search-form__submit {
        width: $large_form_height;
        height: $large_form_height;
        padding: 14px;
    }

    .search-form__submit {
        padding: 10px 0;
        top: 0;
    }
}
