.user-card {
    height: 285px;
    margin-bottom: 25px;

    &__inner {
        background: #fff;
        padding: 20px 22px 45px;
        height: 100%;
        position: relative;

        .user-card--shadow & {
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.02);
        }
    }

    &__avatar {
        width: 90px;
        height: 90px;
        margin: 0 auto 7px;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &__title {
        font-size: 1.231em;
        line-height: 1.25;
        letter-spacing: -0.3px;
        max-height: calc((1.231em * 3) + 0.15em);
        word-break: break-word;
        color: #222;
    }

    &__followers {
        font-size: 0.923em;
        letter-spacing: -0.5px;
        margin: 7px 0;
        font-weight: 600;
        color: #666;

        span {
            color: $orange;
        }
    }

    &__bio {
        line-height: 1.45;
        letter-spacing: -0.5px;
        color: #666;
        max-height: calc(2em + (0.75em));
        overflow: hidden;
        margin-bottom: 15px;
    }

    &__footer {
        position: absolute;
        width: 100%;
        bottom: 20px;
        left: 0;
    }

    + .music-detail--sponsored {
        margin-bottom: 25px;
    }
}
