.table {
    width: 100%;
    text-align: left;

    tbody {
        tr > :last-child {
            margin-bottom: 25px;
            border-bottom: 0;

            @include breakpoint(medium) {
                margin: 0;
            }
        }
    }

    tr {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @include breakpoint(medium) {
            border-bottom: $gray11 1px solid;
        }
    }

    &--multibody {
        & > tr,
        & > tbody {
            &:hover {
                background: $gray12;
            }
        }

        & > tbody:last-child tr {
            border: 0;
        }
    }

    &--singlebody {
        tbody tr {
            &:hover {
                background: $gray12;
            }
        }

        tbody :last-child {
            border: 0;
        }
    }

    thead {
        font-weight: 600;
        display: none;

        @include breakpoint(medium) {
            display: table-cell;
        }

        tr {
            border-bottom: $gray11 1px solid;
        }
    }

    th {
        color: $gray7;
        font-size: 0.723rem;
        font-weight: 400;
        text-transform: uppercase;
    }

    td,
    th {
        flex: 0 0 100%;
        padding: 10px 0;
        border-bottom: $gray11 1px solid;
        position: relative;

        @include breakpoint(medium) {
            flex: 1;
            border: 0;
        }
    }

    td {
        &:before {
            content: attr(data-th);
            display: inline-block;
            font-weight: 600;
            width: 6.75em;
            color: #aaa;

            @include breakpoint(medium) {
                display: none;
            }
        }

        &:empty {
            display: none;

            @include breakpoint(medium) {
                display: table-cell;
            }
        }

        &:not([data-th]) {
            &:before {
                display: none;
            }
        }
    }

    &--zebra {
        tbody:nth-child(odd) {
            background: #f5f5f5;
        }
    }

    &--flex {
        td {
            display: flex;
            align-items: center;
        }

        .medium-center {
            @include breakpoint(medium) {
                justify-content: center;
            }
        }
    }

    &--block {
        display: block;

        thead,
        tbody {
            display: block;
        }
    }

    // &__icon {
    //     width: 15px;
    //     height: 15px;
    //     vertical-align: middle;
    //     margin-left: 10px;
    //     color: $gray10;
    //     transform: rotate(180deg);
    //     transition: transform 0.175s ease-in-out;

    //     &--active {
    //         transform: rotate(0);
    //     }
    // }

    .flex-auto {
        @include breakpoint(medium) {
            flex: 0 0 auto;
        }
    }

    .flex-half {
        @include breakpoint(medium) {
            flex: 0.5;
        }
    }

    .flex-2 {
        @include breakpoint(medium) {
            flex: 2;
        }
    }

    .flex-3 {
        @include breakpoint(medium) {
            flex: 3;
        }
    }

    .flex-4 {
        @include breakpoint(medium) {
            flex: 4;
        }
    }

    // .artist-cell,
    // .album-track-cell,
    // .title-cell {
    //     word-break: break-all;

    //     @include breakpoint(medium) {
    //         flex: 3;
    //     }
    // }

    // .actions-cell {
    //     @include breakpoint(medium) {
    //         text-align: center;
    //     }
    // }

    // .album-track-cell {
    //     padding-left: 0;
    // }

    // .status-cell {
    //     @include breakpoint(medium) {
    //         flex: 0 0 150px;
    //     }
    // }

    // .amp-cell {
    //     @include breakpoint(medium) {
    //         text-align: center;
    //     }
    // }

    // &__edit {
    //     color: $orange;
    //     font-weight: 700;
    //     text-align: center;
    //     transition: color 0.3s linear;

    //     &:hover,
    //     &:focus {
    //         color: $gray2;
    //     }
    // }

    // .edit-music__tooltip {
    //     bottom: calc(100% + -5px);
    //     right: 15px;
    //     transform-origin: bottom right;
    // }

    // &__amp-icon {
    //     width: 20px;
    //     height: 20px;
    //     cursor: pointer;

    //     &--inactive {
    //         color: $gray8;
    //     }
    // }
}

.table-sort-arrow {
    @include triangle('down', $orange);
    display: inline-block;
    vertical-align: middle;
    position: relative !important;
    margin-left: 4px;
    transition: opacity 0.2s ease-out;

    &--ascending {
        @include triangle('up', $orange);
    }
}

.table-header {
    .table-sort-arrow {
        opacity: 0;
    }

    &--sortable {
        cursor: pointer;

        &:hover {
            .table-sort-arrow {
                transition: opacity 0.2s ease-in;
                opacity: 1;
            }
        }
    }
}

.table-row {
    &--dark {
        background: $gray2;
        color: #fff;

        .dashboard-table__cell--title {
            text-decoration: underline;
        }

        &:hover {
            background: $gray2;
        }
    }
}

.headerRow,
.evenRow,
.oddRow {
    border-bottom: 1px solid #e0e0e0;

    &:hover {
        background: #9c9c9c;
    }
}

.oddRow {
    background-color: #fafafa;
}
