.vendors-wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}

.vendor {
    flex: 1;

    a {
        padding: 20px;
        display: flex;
        align-items: center;
        color: #000;
        height: 100%;
        letter-spacing: -0.4px;
    }

    &--hive a {
        flex-direction: column;
    }

    + .vendor {
        margin-left: 30px;
    }
}

.vendor__logo {
    .vendor--landr & {
        flex: 0 0 75px;
        margin-right: 12px;
    }

    .vendor--hive & {
        margin-bottom: 12px;
    }
}
