@keyframes line-in {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.monetization-header {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: $gray1;
    text-align: center;
    padding: 2em 0;
    margin-bottom: 60px;
    position: relative;

    &__actions {
        transition: background 0.12s ease-out;
        background: rgba(255, 255, 255, 0);
        z-index: 2;

        &--fixed {
            width: 100%;
            left: 0;
            background: rgba(255, 255, 255, 0.9);
            transition: background 0.12s ease-in;

            .monetization-header__actions-inner {
                padding: 1em 0;
            }
        }
    }

    &__actions-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title,
    &__byline {
        color: #fff;
        font-weight: normal;
    }

    &__title {
        padding: 0.5em 0;
    }

    &__byline {
        padding: 1.5em 0;
    }

    &__hr {
        border-top-color: $gray8;
        transform: scaleX(0);
        animation: line-in 0.5s ease-out 0.5s forwards;
        margin: 0 2em;
    }

    &--has-alert {
        padding-top: 70px;
    }
}

.monetization-selects {
    display: inline-block;

    &__select {
        max-width: 150px;
        display: inline-block;
        margin: 0;
    }
}

.monetization-blocks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.monetization-block {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 40px;
    flex-basis: 300px;

    &__header {
        color: $brand_color;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__value {
        font-weight: 400;
        font-size: 2.3rem;
    }

    &__icon {
        width: 20px;
        height: 20px;
        color: $brand_color;

        .loader-container {
            transform-origin: top left;
        }
    }
}

.payment-iframe {
    min-height: 500px;
    overflow: scroll;
}
