$circleWidth: 100px;
$strokeWidth: 5px;

.success-circle {
    background: linear-gradient(-45deg, rgba(255, 175, 75, 1) 0%, rgba(255, 146, 10, 1) 100%);
    width: $circleWidth;
    height: $circleWidth;
    border-radius: 50%;
    margin: 30px auto;
    color: #fff;
    position: relative;
    z-index: 2;
    transform: scale(0);
    animation: scaleIn 0.4s ease-in-out forwards;
    animation-delay: 0.5s;

    &__check {
        width: $circleWidth;
        height: $circleWidth;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: center center;
        transform: scaleX(-1);
        z-index: 2;
    }

    &:before {
        content: "";
        border: #fff $strokeWidth solid;
        border-radius: 50%;
        width: $circleWidth + ($strokeWidth * 2);
        height: $circleWidth + ($strokeWidth * 2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 3;
    }

    &:after {
        content: "";
        background: linear-gradient(-45deg, rgba(255, 175, 75, 1) 0%, rgba(255, 146, 10, 1) 100%);
        width: $circleWidth + ($strokeWidth * 4);
        height: $circleWidth + ($strokeWidth * 4);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translateY(-50%) translateX(-50%) scale(0.8);
        animation: scaleOuter 0.3s ease-in-out forwards;
        animation-delay: 0.695s;
    }

    .path {
        stroke-linecap: round;
        stroke-dasharray: 27;
        stroke-dashoffset: 30;
        animation: success-dash 0.5s ease forwards;
        animation-delay: 1s;
    }
}

@keyframes success-dash {
    to {
        stroke-dashoffset: 0;
        stroke-dasharray: 27;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes scaleOuter {
    from {
        transform: translateY(-50%) translateX(-50%) scale(0.8);
    }

    to {
        transform: translateY(-50%) translateX(-50%) scale(1);
    }
}
