.sort-toolbar {
    background: #fff;
    box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateY(200%);
    transition: 0.2s ease-in-out;
    z-index: index($z-index, player);

    .has-active-player & {
        bottom: 80px;
    }

    .has-collapsed-player & {
        bottom: 50px;
    }

    &--active,
    .has-active-player &--active {
        transform: translateY(0);
    }

    &__inner {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        > * {
            flex: 1;
        }
    }
}

.sort-toolbar__count {
    span {
        display: inline-block;
        font-size: rem-calc(10px);
        margin-right: 3px;
        padding: 0 9px;
        border-radius: 8px;
        vertical-align: text-bottom;
    }
}

.sort-toolbar__button {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 15px;
    color: $gray6;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: $gray2;
    }

    &:before {
        background: $gray2;
    }

    &:after {
        border-top-color: $gray2;
    }
}

.sort-toolbar__button--clear {
    width: 16px;
    height: 16px;
    margin: 0;
}
