.hero {
    background: linear-gradient(to left, #ffa200, #ff8900);
    transition: background 0.5s;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(large) {
        height: 500px;
    }

    &__inner {
        width: 100%;

        @include breakpoint(medium) {
            width: 570px;
            padding: 0 20px;
        }

        z-index: index($z-index, arbitrary);

        .hero--home & {
            padding-top: 170px;

            @include breakpoint(medium) {
                padding-top: 150px;
            }
        }
    }

    &__mark {
        width: 100vw;
        height: auto;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        opacity: 0.1;
        z-index: index($z-index, below-arbitrary);
        transition: color 0.5s, opacity 0.5s;
    }

    &__titles {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        transition: opacity 0.4s ease-in-out;
    }

    &__title,
    &__subtitle {
        .hero--home & {
            opacity: 0;
            transform: translateY(10px);
            transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out;
        }

        .hero__titles--active & {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__title {
        font-size: rem-calc(36);
        letter-spacing: rem-calc(-1.7);
        transition-delay: 0.2s;

        .hero--about & {
            font-size: rem-calc(48);
        }
    }

    &__subtitle {
        letter-spacing: -0.6px;
        padding: 12px 22px 20px;
        transition-delay: 0.35s;

        .hero--about & {
            font-size: rem-calc(18);
        }
    }

    &__button {
        background: #fff;
        min-width: 200px;
        padding: 17px;
        font-size: 1.077em;
        color: $gray2;
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.06);

        &:hover {
            background: #000;
            color: #fff;
        }
    }

    &__signup {
        padding: 16px;
        min-width: 195px;
        opacity: 0;
        animation: fadeIn 0.4s ease-in-out forwards;
        animation-delay: 0.3s;

        &:hover {
            background: #000;
        }
    }

    &__images-wrap {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: index($z-index, below-arbitrary);
    }

    &__image {
        display: none;

        @include breakpoint(large) {
            display: block;
        }

        &--laptop {
            top: 60%;
            left: -10%;
            height: 80%;
            transform: translateY(-60%) translateX(-30%);

            @include breakpoint(xlarge) {
                height: 90%;
                left: 0;
            }
        }

        &--tablet {
            top: 10%;
            right: 0;
            height: 100%;
            transform: translateX(38%) translateY(-20%);

            @include breakpoint(xlarge) {
                transform: translateX(0) translateY(-20%);
            }
        }

        &--phone-top {
            top: -60px;
            left: 20%;
            max-width: 300px;

            @include breakpoint(large) {
                top: -30px;
            }
        }

        &--phone-bottom {
            bottom: 25px;
            right: 15%;
            max-width: 300px;
            transform: translateY(55%);
        }
    }

    &--dark {
        background: #000;

        .hero__mark {
            opacity: 1;
            color: $gray1;
        }
    }
}
