.edit-music-wrap {
    position: fixed;
    top: 180px;
    right: 0;
    z-index: index($z-index, edit-tooltip);
    opacity: 0;
    transform: translateY(65px);
    animation: animateButtonIn 0.5s ease-in-out forwards;
    animation-delay: 0.5s;

    .has-cookie-alert & {
        top: 230px;
    }
}

.edit-music-button {
    background: $orange;
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 25px 0 0 25px;
    color: #fff;
    letter-spacing: -0.55px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease-in-out, width 0.2s ease-in-out;

    &--active {
        background: #000;
        width: 95px;
    }

    &__icon {
        flex: 0 0 22px;
        width: 22px;
        height: 22px;
        display: block;
        margin: 0 10px;
        transition: transform 0.45s ease-in-out;
    }

    &:hover {
        background: #000;

        .edit-music-button__icon {
            transform: rotate(180deg);
        }
    }
}

.edit-music-button__label {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
    transition-delay: 0.1s;

    .edit-music-button--active & {
        opacity: 1;
        transform: translateX(0);
    }
}

.edit-music__tooltip {
    background: #000;
    width: 320px;
    top: 50%;
    right: calc(100% + 5px);
    transform: translateY(-50%);
    transform-origin: center right;

    .sub-menu__icon {
        .is-admin-user & {
            display: none;
        }
    }

    &:before {
        top: auto;
        top: 50%;
        right: -5px;
        transform: translateY(-50%);
        @include triangle(right, #000, 5px, 10px);
    }
}

@keyframes animateButtonIn {
    from {
        opacity: 0;
        transform: translateY(65px);
    }

    60% {
        opacity: 1;
        transform: translateY(-12px);
    }

    90% {
        transform: translateY(3px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
