.music__meta {
    list-style: none;
    margin: 0 0 3px;
    line-height: 18px;
    letter-spacing: -0.37px;

    a {
        font-weight: 700;
    }
}

.music-meta__bio > p {
    width: calc(100% - 30px);
}

.music__meta-check {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(1.25em);
}

.pinned-items--condensed .u-hide-when-pin-condensed {
    display: none;
}
