$logo_height: 38px;
$dashboard_breakpoint: 1024px;

.tunecore {
    &__brand-logo {
        display: block;
        margin: 0 auto 25px;

        .music-page__tunecore & {
            display: none;
        }
    }

    a {
        cursor: pointer;
        color: #000;
        display: block;
        padding: 30px 20px;
    }

    &.music-page__tunecore a {
        padding: 30px 15px;
    }

    &.music-page__tunecore {
        margin-bottom: 45px;
        border-bottom: #ebebeb 1px solid;
    }

    .button {
        color: #fff;
        line-height: 1.1;
    }

    &--upload {
        max-width: 700px;
        margin: 0 auto;
    }
}

.tunecore__title {
    margin-bottom: 10px;
    line-height: 1.2;
    letter-spacing: -0.7px;
    text-align: center;
    @include font-size(20px);

    .music-page__tunecore &,
    .tunecore--condensed & {
        line-height: 1.3;
        letter-spacing: -0.5px;
        margin-bottom: 10px;
        @include font-size(18px);
    }

    .tunecore--condensed & {
        text-align: left;
        margin-bottom: 2px;
    }
}

.tunecore__left {
    flex: 0 0 495px;
}

.tunecore__right {
    flex: 0 0 205px;
}

.tunecore__content {
    max-width: 700px;
    margin: 0 auto 20px;

    .tunecore--condensed & {
        margin-bottom: 0;
    }

    p {
        margin-bottom: 20px;
        letter-spacing: -0.4px;
        line-height: 1.6;

        .music-page__tunecore & {
            display: inline-block;
            margin-bottom: 10px;
        }

        .tunecore--condensed & {
            margin-bottom: 0;
            line-height: 18px;
        }
    }
}

.tunecore__logo-wrap {
    .tunecore--condensed & {
        flex: 1;
        padding: 0;
    }
}

.tunecore__logos {
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tunecore--upload &,
    .music-page__tunecore & {
        max-width: 500px;
        margin: 10px auto 0;
    }

    .upload-complete__tunecore & {
        justify-content: center;
        flex-wrap: wrap;
    }

    .tunecore--condensed & {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
}

.tunecore__logo {
    flex: 0 0 auto;
    max-width: 55px;
    padding: 0;
    text-align: center;

    .upload-complete__tunecore & {
        flex: 0 0 33.333%;
        margin: 0 10px 20px;
    }

    .tunecore--condensed & {
        margin: 6px 10px;
    }

    .tunecore--upload & {
        max-width: 70px;
    }

    img {
        display: inline-block;
    }

    &--tidal img {
        max-height: 30px;
    }
}

.tunecore__button-group {
    margin-top: 30px;

    .music-page__tunecore & {
        margin-top: 20px;
    }

    .tunecore--condensed & {
        margin-top: 0;
    }
}
