$listen_sidebar: 260px;

.listen {
    background: #fff;
    min-height: 250px;
    padding: 20px;

    .music__meta {
        line-height: 22px;
        margin-bottom: 9px;
    }

    .music__rankings {
        margin-top: 12px;
        padding-top: 12px;
        border-top: #e9e9e9 1px solid;
    }

    &__load-more {
        font-weight: 700;
        letter-spacing: -0.4px;
        border-top: #ebebeb 1px solid;
        margin-top: 15px;
        padding: 15px 0;
        position: relative;
        cursor: pointer;
        display: block;
        width: 100%;
    }

    &__load-more-arrow {
        top: 50%;
        transform: translateY(-50%);
        margin-left: 7px;
        @include triangle('down', $orange, 9px, 6px);
    }

    &__load-more-wrap {
        padding-top: 20px;
    }

    &__content-top {
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}

.listen__inner {
    border-bottom: $gray10 1px solid;
    position: relative;
    padding-bottom: 20px;
}

.listen__content--left {
    flex: 0 0 $listen_sidebar;
    padding: 0 10px;
}

.listen__content--right {
    padding-left: 25px;
    flex-grow: 1;
}

.listen__artwork {
    width: $listen_sidebar;
    height: $listen_sidebar;
    margin: -40px -10px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22);
}

.listen__details {
    &-am-app-badge {
        display: block;
        margin: 25px auto;
    }
}

.listen__heading {
    margin: 0;
    padding: 13px 0;
}

.listen__tracklist-wrap {
    height: 100%;
    position: relative;

    .button-group {
        padding-left: 10px;
        padding-right: 10px;

        > div {
            border-top: #ededed 1px solid;
        }
    }
}

.listen__tracklist-title {
    color: $orange;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
    margin: 5px 0 20px;
    @include font-size(12px);
}

.listen__tracklist-buttons {
    flex: 0 0 245px;
    justify-content: center;

    @include breakpoint(medium) {
        justify-content: initial;
        align-items: center;
    }

    .button {
        height: 32px;
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.06);
    }

    .button--admin svg {
        width: 15px;
        height: 15px;
    }

    .button + .button {
        margin-left: 10px;
    }

    .button__icon {
        width: auto;
        height: 12px;
    }

    .share-button {
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }

    .share-button__icon {
        &--twitter {
            color: $twitter_col;
        }

        &--facebook {
            color: $facebook_col;
        }
    }

    //TODO
    // Create some component rules to avoid all this

    .button__icon--fav {
        height: 12px;
    }

    .button__icon--embed {
        height: 11px;
    }

    .button__icon--reup {
        height: 10px;
    }

    .button__icon--pin {
        height: 15px;
    }

    .button--more {
        width: 32px;
        margin-left: 10px;
        padding: 10px 8px;
    }
}

.listen__tracklist-button {
    &.hide {
        display: none;
    }

    &.show-for-medium {
        @include breakpoint(930) {
            display: inline-flex;
        }
    }
}

.listen__tracklist-submenu {
    bottom: calc(100% + 10px);
    right: -10px;

    .music-detail-container--fixed & {
        top: calc(100% + 10px);
        bottom: auto;

        &:before {
            top: auto;
            bottom: calc(100% - 1px);
            @include triangle(up, $gray2, 10px, 6px);
        }
    }
}

.listen__waveform-wrap--has-artwork {
    width: 100%;
    height: 50px;
    display: flex;
}

.tracklist__track-artwork-container {
    margin-right: 1em;
}

.tracklist__waveform {
    flex-grow: 1;
    position: relative;
    height: 100%;
}
