.switch-account {
    max-width: 385px;
    margin: 100px auto 0;
    padding: 20px 25px;

    &__logo {
        width: 58px;
        color: $brand_color;
        margin: 0 auto 8px;
        display: block;
    }

    &__heading {
        font-weight: 600;
        letter-spacing: -0.8px;
    }

    &__list {
        margin-top: 20px;

        li {
            font-weight: bold;
            border-bottom: 1px solid $gray10;
            position: relative;

            img {
                border-radius: 50%;
                width: 45px;
                height: 45px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 0.75em;
            }
        }
    }

    &__account {
        margin-top: 10px;
        padding: 0 0 10px;
        display: flex;
        align-items: center;
        width: 100%;

        &--center {
            justify-content: center;
        }

        &:hover,
        &:focus {
            color: $brand_color;
        }

        &[disabled] {
            &,
            &:hover,
            &:focus {
                color: #000;
                background: none;
            }
        }

        &-name {
            font-size: 1.077em;
            letter-spacing: -0.4px;
        }
    }

    &__icon {
        width: 16px;
        height: 16px;
        color: #666;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        &--remove {
            color: #666;

            &:hover,
            &:focus {
                color: $gray3;
            }
        }

        &--check {
            background: #000;
            color: #fff;
        }
    }

    &__status {
        font-weight: normal;
    }
}
