.bet-partner {
    background: #000;
    max-width: 960px;
    margin: 40px auto 0;
    color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.02);

    > a {
        display: block;
        padding: 25px 35px;
    }

    .u-flex {
        @media screen and (max-width: 640px) {
            flex-direction: column;
        }
    }

    &__title {
        color: #fff;
        font-size: 1.692em;
        letter-spacing: -1.2px;
        line-height: 1.1;
        margin: 0 0 4px;
    }

    p {
        font-size: 1.077em;
        letter-spacing: -0.4px;
        line-height: 1.4;
        color: #fff;

        span {
            color: $orange;
        }
    }

    &__image {
        @media screen and (max-width: 640px) {
            margin: 0 auto 20px;
        }

        @media screen and (min-width: $breakpoint_sm) {
            flex: 0 0 135px;
        }
    }

    &__button-wrap {
        margin-top: 30px;

        @media screen and (min-width: $breakpoint_sm) {
            flex: 0 0 190px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0;
        }
    }

    .button {
        width: 160px;

        &:hover,
        &:focus {
            background: darken($orange, 15%);
        }
    }
}
