.menu-button {
    display: inline;


    &__inner {
        position: relative;
    }

    &__button {
        min-width: 110px;
        height: 34px;
        text-align: center;
        letter-spacing: -0.7px;
        padding-right: 30px;

        strong:after {
            @include triangle('down', #fff, 10px, 6px);
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
        }

        &:hover,
        &:focus {
            background: #000;
        }

        &--comments {
            color: #222;

            strong:after {
                border-top-color: $orange;
            }

            &:hover,
            &:focus {
                background: none;
            }
        }
    }

    &__label {
        margin-right: 8px;
        line-height: 20px;
        letter-spacing: -0.7px;
        font-weight: 600;
        font-size: 13px;
        display: inline-block;

        &-icon {
            width: 23px;
            height: 23px;
            transform: translateY(6px);

            &--sort {
                width: 18px;
                height: 18px;
                transform: translateY(4px);
            }
        }
    }
}


.menu-button__active {
    position: relative;
    padding: 10px 25px 10px 15px;
    letter-spacing: -0.55px;
    cursor: pointer;
    background: $orange;
    color: #fff;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        @include triangle(down, #fff, 10px, 6px);
    }

    &:hover,
    &:focus {
        background: $gray2;
    }
}

.menu-button__list-item {
    font-weight: 600;
    cursor: pointer;
    color: #fff;

    &:focus,
    &--active {
        button,
        a {
            color: $orange;
        }
    }
}

.menu-button__tooltip {
    width: 110px;
    min-width: inherit;
    margin-top: -10px;
    right: 16px;
    top: 50px;
}
