$promptSize: 12px;

.help-prompt {
    background: $orange;
    display: inline-block;
    color: #fff;
    width: $promptSize;
    height: $promptSize;
    line-height: $promptSize;
    text-align: center;
    font-size: 0.769em;
    border-radius: 50%;
    font-weight: 800;
    cursor: pointer;

    &:before {
        bottom: 100%;
    }

    &:after {
        bottom: calc(100% - 4px);
    }
}

.dashboard-table__help-prompt:after {
    bottom: calc(100% + 4px);
}
