.burger {
    position: relative;

    &__filling {
        background: $gray2;
        height: $burger_height;
        width: 20px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: scale(1) translateY(-50%);
        transition: 0.2s transform ease-out;

        &:before,
        &:after {
            content: "";
            background: #222;
            width: 100%;
            height: $burger_height;
            position: absolute;
            top: 0;
            left: 0;
            transform-origin: center;
        }

        &:before {
            transform: translateY(-$burger_height * 2.5);
        }

        &:after {
            transform: translateY($burger_height * 2.5);
        }
    }

    &:active {
        .burger__filling {
            transition: 0.2s transform ease-in;
            transform: scale(0.9) translateY(-50%);
        }
    }
}
