.upload-start__options {
    max-width: 1000px;
    margin: 20px auto 10px;
    padding: 0 9px;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (min-width: $breakpoint_sm) {
        margin: 40px auto;
    }
}

.upload-start__option {
    flex: 0 0 100%;
    margin-bottom: 10px;
    cursor: pointer;

    @media screen and (min-width: 641px) {
        flex: 0 0 50%;
        margin-bottom: 20px;
        padding: 0 9px;
    }

    @media screen and (min-width: 850px) {
        flex: 0 0 33.333%;
        margin: 0;
    }
}

.upload-start__option-inner {
    padding: 10px 30px 10px 10px;
    height: 70px;
    border: #fff 2px solid;
    transition: border-color 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    display: flex;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);

    @media screen and (min-width: $breakpoint_sm) {
        padding: 35px 35px 15px;
        display: block;
        height: auto;
    }

    &:hover {
        border-color: #dedede;
    }

    .upload-start__option--selected & {
        border-color: $orange;
    }
}

.upload-start__option-overlay {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 15px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;

    &--active {
        transform: translateY(0);
        opacity: 1;
    }

    &-close {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 12px;
        right: 12px;
        color: #686868;
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: #fff;
        }
    }

    h4 {
        color: #fff;
        font-weight: 700;
        font-size: 1.231em;
        letter-spacing: -0.5px;
        line-height: 1.3;
        margin: 0 0 5px;
    }

    p {
        letter-spacing: -0.4px;
        line-height: 1.3;
        margin-bottom: 15px;
    }

    .button:hover {
        background: darken($orange, 10%);
    }
}

.upload-start__option-icon {
    color: $orange;
    flex: 0 0 52px;
    margin: 0 15px 0 0;

    @media screen and (min-width: $breakpoint_sm) {
        height: 90px;
        margin: 0 auto 15px 0;
    }

    &--song {
        @media screen and (max-width: ($breakpoint_sm - 1)) {
            padding: 0 6px;
        }
    }

    &--mix {
        @media screen and (max-width: ($breakpoint_sm - 1)) {
            padding: 0 4px;
        }
    }

    &--podcast {
        @media screen and (max-width: ($breakpoint_sm - 1)) {
            padding: 0 9px;
        }
    }
}

.upload-start__option-text {
    @media screen and (max-width: ($breakpoint_sm - 1)) {
        flex: 1;
        display: flex;
        align-items: center;
    }
}

.upload-start__option-title {
    font-size: 1.385em;
    letter-spacing: -0.45px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 15px;

    @media screen and (max-width: ($breakpoint_sm - 1)) {
        flex: 1;
        margin: 0;
        text-align: left;
    }
}

.upload-start__option-check {
    background: #d8d8d8;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    padding: 4px;
    transition: background-color 0.2s ease-in-out;

    .upload-start__option--selected & {
        background: $orange;
    }

    svg {
        vertical-align: super;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        .upload-start__option--selected & {
            opacity: 1;
        }
    }
}

.upload-start__meta {
    margin-top: 20px;

    @include breakpoint(medium) {
        margin-top: 40px;
    }

    p {
        letter-spacing: -0.5px;
        line-height: 20px;
        max-width: 650px;
        margin: 0 auto;

        + p {
            margin-top: 20px;
        }
    }
}

.upload-start__button {
    text-transform: uppercase;
    padding: 14px 80px;
}

.upload-start__partner {
    max-width: 850px;
    margin: 40px auto 0;
    padding: 25px 20px 20px;

    h3 {
        font-size: 1.385em;
        line-height: 1.33;
        letter-spacing: -1px;
        margin: 0 0 5px;
    }

    p {
        line-height: 1.38;
        letter-spacing: -0.4px;
        margin: 0 0 12px;
    }

    .button {
        padding: 10px 38px;
    }
}

.upload-partner {
    max-width: 960px;
    margin: 40px auto 0;
}
