$kaliBreakpoint: 915px;

.kali-audio {
    max-width: 1100px;
}

.kali-content {
    padding: 12px 25px;

    @include breakpoint($kaliBreakpoint) {
        height: 120px;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        @include breakpoint($kaliBreakpoint) {
            flex-direction: row;
        }
    }

    p {
        line-height: rem-calc(19);
        color: $gray2;
    }
}

.kali__logo {
    width: 70px;
    height: 80px;
    margin-right: 25px;
}

.kali__quote {
    margin-top: 30px;

    @include breakpoint($kaliBreakpoint) {
        margin: 0;
    }
}
