.image-banner-page {
    padding-top: 240px;
    padding-bottom: 65px;

    @media screen and (min-width: $breakpoint_md) {
        padding-top: 320px;
    }

    &--no-banner {
        padding-top: 60px;
    }
}

.profile-banner {
    position: absolute;
    width: 100%;
    height: 265px;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #fff;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.2s ease-in;

    @media screen and (min-width: $breakpoint_md) {
        height: 360px;
    }

    &--empty {
        height: 100px;

        @media screen and (min-width: $breakpoint_md) {
            height: 195px;
        }

        .profile-banner__bg {
            width: 110%;
            height: 110%;
            top: -5%;
            left: -5%;
            filter: blur(30px);
        }
    }

    &__bg-blur,
    &__bg,
    &__overlay {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }

    &__overlay {
        opacity: 0.75;
    }

    &__button {
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 0;
        transition: background-color 0.2s, opacity 0.2s ease-in-out;
    }

    &__bg-blur {
        filter: blur(10px);
        z-index: 0;
    }

    &:hover .button {
        opacity: 1;
    }

    &--active {
        opacity: 1;
    }

    &--edit {
        .profile-banner__default {
            object-fit: cover;
            height: 100%;
        }
    }

    &--isEditing {
        z-index: 0;
    }
}
