.interaction-stats {
    font-weight: 700;
    font-size: 0.923em;

    &--inline {
        li {
            margin-right: 10px;
            display: inline-block;
        }//li
    }//.interaction-stats--inline
}//.interaction-stats

.interaction-stat-icon {
    color: $brand_color;
    width: 15px;
    height: 15px;
    margin-right: 0.25em;

    &--play {
        width: 12px;
        height: 13px;
    }

    &--playlist {
        width: 12px;
    }

    &--reup {
        width: 22px;
        height: 12px;
    }
}
