.auth {
    &--page {
        max-width: 400px;
        margin: 0 auto !important;
    }

    form {
        [type="text"],
        [type="email"],
        [type="password"],
        textarea {
            font-size: 14px;

            /* stylelint-disable */
            &:-webkit-autofill {
                box-shadow: 0 0 0px 1000px white inset;
                border: #ddd 1px solid;
            }
            /* stylelint-enable */
        }

        @include placeholder {
            color: #868686 !important;
            opacity: 1;
            font-weight: 600;
        }
    }//form

    .form__input--has-error {
        margin-bottom: 0;
    }

    .modal__footer {
        font-weight: 600;
        font-size: 14px;
    }
}

.auth-head {
    &__logo {
        color: $orange;
        height: 40px;
    }
}

.auth-form {
    label {
        display: none;
    }

    &.form--show-labels label {
        display: block;
        text-align: left;
    }
}

.auth__left,
.auth__right {
    width: 50%;
    height: 100%;
    display: inline-flex;
    padding: 0 20px;
    flex-direction: column;
}

.auth-top {
    padding: 40px;
    margin: 0 auto;

    &__logo {
        width: 160px;
        height: 34px;
        display: block;
        margin: 0 auto;
    }
}


.auth__bottom {
    padding: 25px 35px;
}

.auth__left {
    border-bottom: 1px solid $gray9;

    @include breakpoint(medium) {
        border-right: 1px solid $gray9;
        border-bottom: 0;
    }
}

.auth__btn {
    font-family: $font_stack--primary;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1em;
    width: 100%;
    max-width: 280px;
    padding-top: 14px;
    padding-bottom: 14px;

    &--login {
        margin-top: 1.5em;
    }
}

.auth__forgot {
    font-size: 12px;
}

.auth__small-text {
    color: $gray4;
    line-height: 18px;
}

.auth__submit-wrap {
    max-width: 300px;
    margin: 10px auto 15px;
    text-align: center;
}

.auth__error {
    color: $red;
    display: block;
    margin-bottom: 1rem;
}

.g-recaptcha > div > div {
    margin: 0 auto;
}

.join-submit-container {
    margin-top: 15px;
}

.g-recaptcha {
    margin-bottom: 15px;
}

.auth__submit {
    width: 100%;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: rem-calc(14);
    letter-spacing: rem-calc(-0.5);
    padding: 17px;
}

$buttonHeight: 48px;
$buttonPadding: 15px 0;

.auth__button--join {
    $buttonHeight: 42px;
    $buttonPadding: 12px 0;

    margin-top: 30px;
}

.auth__button {
    width: 100%;
    height: $buttonHeight;
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 25px;
    position: relative;
    padding: 0 $buttonHeight;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.06);
    transition: background-color 0.2s ease-in-out;

    &-text {
        height: $buttonHeight;
        padding: $buttonPadding;
    }

    &--facebook {
        background: $facebook_col;

        &:hover,
        &:focus {
            background: $facebook_col_dark;
        }
    }

    &--twitter {
        background: $twitter_col;

        &:hover,
        &:focus {
            background: $twitter_col_dark;
        }
    }

    &--instagram {
        background: $instagram_col;

        &:hover,
        &:focus {
            background: $instagram_col_dark;
        }
    }

    &--google {
        background: $google_col;

        &:hover,
        &:focus {
            background: darken($google_col, 10%);
        }

        &[disabled] {
            .auth__button-icon {
                border: 0;
                background: none;
            }

            svg path {
                fill: #fff;
            }
        }
    }

    &--apple {
        background: $apple_col;

        &:hover,
        &:focus {
            background: lighten($apple_col, 15%);
        }

        .auth__button-icon {
            top: -1px;
        }
    }

    + .auth__button {
        margin-top: 15px;
    }
}

.auth__button-icon {
    width: $buttonHeight;
    height: $buttonHeight;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .auth__button--google & {
        background: #fff;
        border: $google_col 5px solid;
    }

    .auth__button--submit & {
        left: auto;
        right: 0;
    }

    svg {
        width: 18px;
        height: 18px;
    }
}

.auth-back {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 16px;
    height: 16px;
    color: $gray8;
    transform: rotate(180deg);

    &:hover {
        color: $gray6;
    }
}
