.comments-wrap {
    position: relative;
    border-top: #ededed 1px solid;

    &--feathered {
        max-height: 200px;
        overflow: hidden;

        &:after {
            content: "";
            background: rgba(255, 255, 255, 0.3);
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &--expanded {
        max-height: none;

        &:after {
            display: none;
        }
    }
}

.comments__avatar {
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);
}

.comment-author {
    &__og {
        background: $gray2;
        color: #fff;
        border-radius: 3px;
        margin-right: 5px;
        padding: 1px 5px;

        &:hover,
        &:focus {
            color: $gray10;
        }
    }

    &__check {
        display: inline-block;
        color: #fff;
        margin-left: 3px;
        padding: 2px;
        background: $orange;
        vertical-align: middle;

        svg {
            display: block;
        }
    }
}

.comments__load-more {
    width: 210px;
    height: 48px;

    .button__icon {
        width: 17px;
        height: 16px;
        margin-right: 10px;
    }
}

.comment__sub-menu {
    transform: translate3d(-9px, -10px, 0);
}

.comment-sort {
    &-wrap {
        margin-bottom: 20px;
    }

    &__icon {
        color: $orange;
    }
}
