$form_padding: 15px;

.form__input-group {
    margin: 0 (-$form_padding);
}

.form__input {
    padding: 0 $form_padding;
}

.form__input--half {
    width: 50%;
    float: left;
}

.form__input--has-error {
    border-color: red !important;
}

.form__error-message {
    font-weight: 700;
    text-align: center;
    color: red;
    display: none;
}

.form__password-toggle {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 0;
    right: 0;
    padding: 0 9px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .form--show-labels & {
        top: 28px;
    }

    svg {
        opacity: 0.4;
        width: 24px;
        height: 15px;
        transition: opacity 0.2s linear;
    }

    &:hover svg {
        opacity: 0.7;
    }
}
