.following-list {
    line-height: 27px;
}

.following-list__item {
    margin-bottom: 10px;
    @include font-size(12px);

    span {
        display: block;
        @include ellipsis;
    }
}

.following-list__link {
    display: block;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: -0.46px;
    color: $gray3;
}

.following-list__avatar {
    width: 18px;
    height: 18px;
    display: block;
    margin-right: 8px;
}
