.user-profile {
    &__main {
        background: #fff;
        position: relative;
        padding-top: 20px;

        .avatar-container {
            margin: 0 auto;
            z-index: index($z-index, arbitrary);
            box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
            flex: 0 0 140px;
            width: 140px;
            height: 140px;

            @include breakpoint(medium) {
                margin: -65px 18px 0 0;
            }
        }
    }

    &__main-content {
        min-height: 400px;
    }

    &__main-info {
        @include breakpoint(medium) {
            display: flex;
        }
    }


    &__details-wrap {
        background: #fff;
    }

    &__nav {
        background: #fff;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--fixed {
            background: #fff;
            position: fixed;
            width: 100%;
            max-width: $grid-row-width;
            top: 61px;
            z-index: index($z-index, fixed-nav);
            margin: 0;
        }

        .feed-bar__list {
            border-bottom: #ebebeb 1px solid;
        }
    }

    &__name {
        font-size: 2.154em;
        line-height: 0.93;
        letter-spacing: -0.8px;

        .u-orange-check {
            width: 18px;
            height: 18px;
            padding: 2px 3px;
        }

        & + .social-icons {
            margin-top: 10px;
        }
    }

    &__bio {
        font-size: 1em;
        color: #666;
        line-height: 1.48;
        letter-spacing: -0.5px;
        margin-top: 8px;
        position: relative;
    }

    &__bio-more {
        font-weight: 700;
        color: $orange;
        cursor: pointer;
        margin-left: 0.25em;
        transition: 0.2s ease-in-out;

        &:hover,
        &:focus {
            color: #000;
        }
    }

    &__feed {
        background: #fff;
        min-height: 500px;
        padding-top: 10px;
        position: relative;
        padding-bottom: 0;

        &-title {
            letter-spacing: -0.7px;
            padding: 0 10px;
        }

        &--fixed {
            // Makes the fixed transition smoother
            padding-top: 60px;
        }

        .exclude-toggle {
            position: absolute;
            top: 10px;
            right: 15px;
            z-index: index($z-index, arbitrary);
        }

        .card-grid {
            margin: 0;
        }
    }
}

.user-profile__social-icons {
    margin: 1em 0;
    display: inline-block;
    vertical-align: middle;

    @include breakpoint(medium) {
        margin: 7px 0 0;
    }

    .social-icon {
        width: 16px;
        height: 16px;
    }

    .social-icon--twitter {
        width: 17px;
        height: 17px;
    }
}

.user-profile__about {
    line-height: line-height(22, 13);
    letter-spacing: -0.5px;

    li + li {
        margin-top: 8px;
    }
}

.user-profile__web-prompt {
    bottom: -5px;
    letter-spacing: -0.4px;
    font-size: 12px;
}

.user-profile__stats {
    position: relative;
    padding-left: 20px;
    margin-left: 7px;
    display: inline-block;

    &:before {
        content: " | ";
        display: inline-block;
        position: absolute;
        left: 0;
        color: $gray9;
        top: 0;
    }

    &--no-adjacent:before {
        display: none;
    }
}
