.modal-portal,
.modal-overlay-portal {
    position: relative;
}

.modal-overlay-portal {
    z-index: index($z-index, modal-overlay);
}

.modal-portal {
    z-index: index($z-index, modal);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 150ms ease-out;

    &.overlay--leave-active {
        opacity: 0;
    }

    &.overlay--enter-active {
        transition: opacity 150ms ease-in;
        opacity: 1;
    }
}

$content-padding: 20px;

.modal {
    width: 94%;
    max-width: 750px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: 0 0;
    transition: transform 0.15s cubic-bezier(0.175, 0.665, 0.32, 1), opacity 0.15s;
    background: #fff;
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    // 60px of arbitrary padding
    max-height: calc(100% - 60px);

    &--auth {
        max-width: 400px;
    }

    &__content {
        padding: $content-padding;

        .modal--nonpad & {
            padding: 0;
        }

        .modal--auth & {
            padding: 0 50px;
        }
    }

    &__content-title {
        margin-bottom: 15px;
    }

    &__close {
        position: absolute;
        font-size: 3em;
        transition: color 0.1s;
        color: $gray7;
        top: 20px;
        right: 25px;
        width: 18px;
        height: 18px;
        line-height: 0;

        .modal--playlist-add & {
            width: 18px;
            height: 18px;
        }

        .modal--auth & {
            width: 14px;
            height: 14px;
            right: 20px;
            color: $gray8;
        }
    }

    &__header {
        padding: $content-padding;
        padding-bottom: 0;

        .modal--queue-playlist & {
            text-align: center;
            padding-left: 30px;
            padding-right: 30px;

            .modal__title {
                margin-bottom: 25px;
                padding: 10px 0 30px;
                border-bottom: #f0f0f0 1px solid;
            }

            .u-text-icon {
                margin-right: 0.25em;
            }
        }

        & + .modal__content {
            padding-top: 0;
        }
    }

    &__title {
        font-size: 1.769em;
        font-weight: 700;
        letter-spacing: -0.4px;
        margin: 0 0 1em;
        padding-right: 35px;
        line-height: 1.1em;
        text-transform: capitalize;

        em {
            font-weight: 500;
            font-style: normal;
        }
    }

    &--nonfixed {
        position: absolute;
        top: 0;
    }

    &--embed {
        [type="color"] {
            padding: 0;
            margin: 0;
            background: none;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            border: 0;
            box-shadow: 0 0 1px $gray10;
            margin-left: 5px;
        }

        label {
            font-weight: 600;
        }

        iframe {
            pointer-events: none;
        }

        @media (min-width: 600px) {
            width: 750px;
        }

        .music-detail__embed-inner {
            box-shadow: none;
        }

        .music-detail__embed-textarea {
            height: 80px;
        }

        [type="checkbox"]:not(:checked) + p {
            color: #979797;
        }
    }

    &--text-me-app {
        max-width: 590px;
        height: 300px;

        .text-image {
            width: 234px;
            height: 271px;
            margin-right: 20px;
            position: absolute;
            bottom: 0;
            left: 25px;
        }

        .text-body {
            padding-left: 260px;
        }
    }

    &--playlist-add {
        max-width: 550px;
    }

    textarea {
        height: 130px;
    }

    .player-queue__modal-form textarea {
        height: 90px;
    }

    .auth__bottom {
        padding-top: 0;
    }

    &--edit-profile {
        width: 100%;
        max-width: 900px;
        border-radius: 10px;
        height: calc(100% - 60px);
        top: 40px;
    }

    &--confirm,
    &--alert {
        max-width: 410px;
    }

    .playlist-add-list {
        max-height: 355px;
        overflow-y: scroll;
        padding-right: 10px;
    }

    &--dark {
        background: $gray1;
        color: #fff;
    }
}

.modal__top {
    margin-bottom: 10px;

    h2 {
        @include font-size(30px);
    }
}

.modal__footer {
    padding: 13px 20px;
    background: $gray11;
    border-top: 1px solid $gray9;

    .modal--auth & {
        padding-left: 0;
        padding-right: 0;
    }

    p {
        font-weight: 600;
    }
}

.modal--scale {
    &.modal--leave {
        opacity: 0;
    }

    &.modal--leave-active {
        opacity: 0;
        transform: scale(0.5) translate3d(-50%, -50%, 0);
    }

    &.modal--enter {
        opacity: 1;
    }

    &.modal--enter-active {
        opacity: 1;
        transform: scale(1) translate3d(-50%, -50%, 0);
    }
}

.modal--edit-profile { // stylelint-disable-line
    &.modal-enter,
    &.modal--leave-active {
        opacity: 0;
        transform: scale(0.5) translate3d(-50%, 0%, 0);
    }

    &.modal--enter-active {
        opacity: 1;
        transform: scale(1) translate3d(-50%, 0%, 0);
    }

    .modal__close {
        width: 15px;
        height: 15px;
        top: 25px;
        right: 30px;
    }

    .modal__content {
        overflow: hidden;
        padding-top: 15px;
    }
}

.modal__header-title {
    margin-bottom: 0;
}

.modal__subtitle {
    margin: 20px 0;
    @include font-size(14px);
}

.modal--page-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin: 0;
}

.modal__message {
    margin-bottom: 25px;
    line-height: line-height(21, 13);
}

.modal__body {
    p + p {
        margin-top: 15px;
    }
}

.modal__form {
    display: flex;
    margin-top: 30px;

    &-input {
        margin: 0;
    }

    &-submit {
        margin-left: 20px;
    }
}

.promo-keys {
    margin-top: 30px;
}

.promo-keys__row {
    width: 100%;
    padding: 5px 10px;

    &:nth-child(even) {
        background: #f4f4f4;
    }

    &--head {
        font-weight: 700;
        border-bottom: #d1d1d1 1px solid;
        margin-bottom: 25px;
        padding: 10px;
    }
}

.promo-keys__item {
    flex: 1;
    display: flex;
    align-items: center;

    + .promo-keys__item {
        padding-left: 10px;
    }

    [type="text"] {
        margin: 0;
    }

    &--name {
        .promo-keys__content & {
            font-weight: 600;
        }
    }

    &--link {
        margin-right: 25px;

        @media screen and (min-width: 640px) {
            margin-right: 25px;
            flex: 2;
        }

        @media screen and (min-width: 768px) {
            flex: 5;
        }
    }

    &--views,
    &--plays,
    &--downloads,
    &--actions {
        justify-content: center;
    }
}

.promo-keys__action {
    height: 15px;
}

.promo-keys__embed {
    textarea {
        margin-top: 10px;
        margin-bottom: 0;
        height: auto;
        min-height: 60px;
    }
}

.player-queue__modal-form {
    [type="submit"] {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    }
}

.trending-modal__column:last-child {
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    border-top: $gray10 1px solid;

    @media (min-width: $breakpoint_sm) {
        margin: 0;
        padding-top: 0;
        border: 0;
    }

    &:before {
        content: "";
        background: $gray10;
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;

        @media (min-width: $breakpoint_sm) {
            display: block;
        }
    }
}

.trending-modal__button {
    width: 100%;
    padding: 15px;
}

.trending-table {
    width: 100%;

    &__body {
        display: flex;
        flex-wrap: wrap;
    }

    tr {
        flex: 0 0 100%;

        @media (min-width: $breakpoint_sm) {
            flex: 0 0 50%;
        }
    }
}
