$list-avatar-size: 100px;
$list-avatar-size--small: 70px;

// .list {}

.list__title {
    font-weight: bold;
    text-transform: uppercase;
}

.list-item {
    color: #fff;
    position: relative;
    transition: transform 0.15s ease-in;
    margin-bottom: 1.5em;

    &--small {
        margin-bottom: 1.15em;

        &:last-child() {
            margin-bottom: 2em;
        }
    }
}

.list-item__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.list-item__image {
    position: relative;
    display: flex;
    align-items: center;
    max-width: $list-avatar-size;
    max-height: $list-avatar-size;
    flex: 0 0 $list-avatar-size;
    overflow: hidden;

    &.u-album-stack {
        overflow: visible;
    }

    .list-item--small & {
        max-width: $list-avatar-size--small;
        max-height: $list-avatar-size--small;
        flex: 0 0 $list-avatar-size--small;
    }
}

.list-item__details {
    flex-grow: 1;
    max-width: calc(100% - #{$list-avatar-size});
    padding-left: 14px;
    font-size: 0.9rem;
    color: #000;

    .list-item--small & {
        max-width: calc(100% - #{$list-avatar-size--small});
        padding-left: 10px;
    }
}

.list-item__details-link {
    color: #000;
    display: inline-block;
    width: 100%;
    line-height: 1.3;

    &:hover,
    &:focus {
        color: $orange;
    }

    .list-item--featured & {
        display: block;
    }
}

.list-item__details-artist {
    @include ellipsis;
    line-height: 1.2;
    letter-spacing: -0.5px;

    .list-item--featured & {
        @include font-size(14px);
        line-height: 1.285;
    }
}

.list-item__details-meta {
    @include font-size(13px);
    letter-spacing: -0.5px;

    .list-item--featured & {
        @include font-size(14px);
        line-height: 1.285;
    }
}

.list-item__details-title {
    @include ellipsis;
    line-height: 1.3;
    font-weight: 700;

    a {
        color: #fff;
    }
}

.list-item__details-featuring {
    line-height: 1;
}

.list-item__desc {
    letter-spacing: -0.37px;
    @include multi-line-trunc(13px, 1.385, 2);
    margin-top: 5px;
}
