.music-subtext {
    text-align: left;
    margin-top: 1em;
    line-height: 1.6;
    white-space: pre-wrap;

    .music-detail--upcoming & {
        padding-bottom: 30px;
    }

    span {
        word-break: break-word;
    }
}
