.feed-bar {
    position: relative;
    background: #fff;
    width: 100%;

    @include breakpoint(medium) {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .comments & {
            height: 40px;
            margin-bottom: 15px;
        }
    }

    .menu-button {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__tooltip {
        margin-top: 10px;
        border-radius: 5px;
        z-index: index($z-index, arbitrary);
    }

    &__title {
        font-weight: 400;
        line-height: 34px;
        letter-spacing: -0.7px;
        margin: 0;

        @include breakpoint(medium) {
            float: left;
            display: inline-block;
        }
    }

    &--padded {
        padding: 13px 20px;
    }

    &--playlist {
        margin-bottom: 35px;
    }

    &--artists {
        margin-bottom: 50px;
    }

    &--underline {
        border-bottom: 1px solid $gray11;
    }

    &--has-menu {
        .feed-bar__title {
            margin: 0 0 0.5em 0;

            @include breakpoint(medium) {
                margin: 0;
            }
        }
    }
}



.feed-bar__title-icon {
    color: $orange;
    margin: 0 5px 0 4px;
    position: relative;

    &--fire {
        width: 14px;
        height: 19px;
        top: -2px;
    }

    &--graph {
        top: -2px;
    }

    &--music {
        width: 20px;
        height: 20px;
    }

    &--playlist {
        top: -2px;
        margin-right: 10px;
    }

    &--recent {
        width: 18px;
        height: 18px;
    }

    &--album {
        width: 30px;
        height: 25px;
        top: -2px;
    }

    &--medium {
        width: 18px;
        height: 18px;
        top: -2px;
        margin-right: 10px;
    }
}

.feed-bar__marker {
    height: 3px;
    background: $brand_color;
    width: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    transform: translateX(0);
    transition: transform 0.15s, width 0.15s ease-in;
    display: none;

    @include breakpoint(medium) {
        display: block;
    }
}

.feed-bar__list {
    display: flex;
    white-space: nowrap;
    font-weight: 700;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    -webkit-touch-overflow-scrolling: touch;

    .song-upload__metadata & {
        @include breakpoint(medium) {
            white-space: normal;
        }
    }

    .feed-bar--align-right & {
        justify-content: flex-end;
    }

    &--overflow {
        overflow-x: scroll;
    }
}

.feed-bar__list-item {
    display: inline-block;
    letter-spacing: -0.56px;

    button,
    a {
        color: $gray2;
        display: block;
        letter-spacing: -0.4px;
        height: 58px;
        padding: 18px 15px;

        @include breakpoint(xlarge) {
            padding: 18px 24px;
        }

        .highlights-feed-bar & {
            padding: 18px 15px;
        }

        &:hover,
        &:focus {
            color: $brand_color;
        }
    }

    &--active a,
    &--active button {
        color: $brand_color;
    }

    &--delete {
        @media screen and (min-width: $breakpoint_md) {
            margin-left: auto;
        }

        .feed-bar__list--overflow & {
            float: none;
        }

        button,
        a {
            color: $red;

            &:hover,
            &:focus {
                color: $gray2;
            }
        }
    }
}
