.empty-state {
    width: 100%;

    .user-profile & {
        padding: 60px 0;
    }

    p {
        font-size: 1.538em;
        font-weight: 700;
        letter-spacing: -0.3px;
        text-align: center;
    }
}

.empty-state__icon {
    display: block;
    width: 200px;
    height: 140px;
    margin: 0 auto 35px;
    color: #ccc;
}

.empty-state__message {
    color: #444;
    @include font-size(20px);
}
