$interaction_breakpoint: 960px;
$interactionMargin: 10px;

.music-interactions {
    &--above-rank {
        position: absolute;
        top: 10px;
        right: 10px;
        margin: 0;

        .music-detail--large & {
            top: 20px;
            right: 20px;
        }

        .music-detail--fixed & {
            top: 10px;
            right: 0;
        }
    }

    .music-detail & {
        margin-top: 10px;
    }

    .pinned-items--multiple & {
        display: none;
    }

    &__wrap.row {
        margin-left: -$interactionMargin;
        margin-right: -$interactionMargin;

        .music-detail--related & {
            margin: 0;
        }
    }

    &__social {
        margin-left: 10px;

        .pinned-items--condensed & {
            display: none;
        }

        .music-detail--regular & {
            position: absolute;
            top: 15px;
            right: 15px;
            margin: 0;
        }

        .pinned-items--2 & {
            margin-right: 30px;
        }
    }

    &__words {
        text-align: right;
    }

    .music-detail--search & {
        &__counts,
        &__words {
            @media screen and (max-width: 900px) {
                flex: 0 0 100%;
                text-align: left;
            }
        }
    }

    &__admin {
        margin-right: $interactionMargin;
    }

    .music-detail--fixed & {
        display: flex;
        justify-content: center;

        @include breakpoint(medium) {
            position: absolute;
            top: 19px;
            right: 75px;
        }

        .column {
            padding: 0;
        }

        &__counts,
        &__words {
            flex: 0 0 auto;
            max-width: 100%;
        }
    }
}

.music-interaction {
    display: inline-block;
    color: #222;
    border: $gray10 1px solid;
    height: 25px;
    font-size: 0.923em;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.34px;
    border-radius: 3px;
    padding: 5px 8px;
    white-space: nowrap;
    transition: border-color 0.2s linear, background-color 0.2s linear, color 0.2s linear;

    + .music-interaction {
        margin-left: $interactionMargin;
    }

    &:hover,
    &:focus {
        color: $gray2;
        border-color: #ccc;
    }

    &--active {
        background: $orange;
        border-color: $orange;
        color: #fff;

        &:hover,
        &:focus {
            color: #fff;
            border-color: $orange;
        }
    }

    &--social {
        width: 18px;
        height: 18px;
        border: 0;
        padding: 0;
    }

    &__inner {
        display: inline-block;
    }

    &__icon {
        color: $orange;
        max-width: 20px;
        max-height: 15px;
        vertical-align: middle;
        transform: translate3d(0, -1px, 0);
        margin-right: 5px;

        &--download {
            margin-right: 3px;
        }

        &--playlist,
        &--comment {
            width: 13px;
            height: 13px;
        }

        &--pin {
            width: 14px;
            height: 14px;
        }

        &--fav {
            width: 12px;
            height: 12px;
        }

        &--play {
            width: 10px;
            height: 13px;
        }

        &--download,
        &--buy {
            width: 14px;
            height: 13px;
        }

        .music-interaction--active & {
            color: #fff;
        }

        &--twitter {
            color: $twitter_col;
            margin-left: 20px;
            width: 18px;
            height: 18px;

            .music-interactions__social & {
                margin-left: 0;
            }
        }

        &--facebook {
            color: $facebook_col;
            width: 18px;
            height: 18px;
        }
    }

    &[data-tooltip] {
        &:before {
            background: #000;
            margin-bottom: 12px;
        }

        &:after {
            bottom: calc(100% - 3px);
            border-top-color: #000;
        }
    }

    &--queue {
        position: relative;
        cursor: pointer;

        .tooltip {
            font-weight: 600;
            position: absolute;
            bottom: calc(100% + 8px);

            // Just to cover the gap between the button
            // and tooltip
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 10px;
                position: absolute;
                bottom: -10px;
                left: 0;
            }

            button:hover,
            button:focus {
                color: $orange;
            }
        }

        &:hover,
        &:focus {
            .tooltip {
                pointer-events: auto;
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}
