.social-icons {
    li {
        display: inline-block;
        vertical-align: middle;
        padding: 0 5px;
    }

    a {
        color: $gray2;
        display: inline-block;

        &:hover,
        &:focus {
            color: $orange;
        }

        &[href*="twitter"]:hover,
        &[href*="twitter"]:focus {
            color: $twitter_col;
        }

        &[href*="facebook"]:hover,
        &[href*="facebook"]:focus {
            color: $facebook_col;
        }

        &[href*="instagram"]:hover,
        &[href*="instagram"]:focus {
            color: $instagram_col;
        }

        &[href*="youtube"]:hover,
        &[href*="youtube"]:focus,
        &[href*="youtu.be"]:hover,
        &[href*="youtu.be"]:focus {
            color: $youtube_col;
        }
    }
}

.social-icon {
    width: 15px;
    height: 15px;

    .social-icons--artist & {
        width: 15px;
        height: 15px;
    }

    &--twitter {
        width: 21px;
        height: 21px;

        .social-icons--artist & {
            width: 18px;
            height: 15px;
        }
    }

    &--youtube {
        .social-icons--artist & {
            width: 21px;
        }
    }
}
