.tracklist__track {
    position: relative;
    padding: 0 10px;
    font-family: $font-stack--primary;

    &:hover,
    &:focus {
        background: #fafafa;
    }

    &:first-child {
        padding-top: 0;

        .tracklist__track-details {
            border: 0;
        }
    }

    /* stylelint-disable */
    .listen__tracklist-wrap--expanded &:last-child {
        .tracklist__track-details {
            border-bottom: 0;
        }
    }
    /* stylelint-enable */

    &--active {
        background: #f8f8f8;

        .tracklist__track-details-left {
            pointer-events: none;
            cursor: default;
        }

        .tracklist__track-title {
            color: $brand_color;
        }
    }

    &--inactive {
        .tracklist__track-add,
        .tracklist__track-details-left,
        .tracklist__track-interaction-icon {
            opacity: 0.5;
        }
    }

    &--disabled {
        pointer-events: none;
    }

    &--dark {
        &:hover,
        &:focus {
            background: $gray3;

            .tracklist__track-remove {
                display: block;
            }
        }

        .tracklist__track-details {
            border-top: 1px solid $gray2;
        }

        .tracklist__track-duration {
            color: #fff;
        }

        .tracklist__track-title {
            color: #fff;
        }

        .tracklist__track-artist {
            color: $gray6;
        }

        &.tracklist__track--active {
            background: $gray2;

            .tracklist__track-artist {
                color: $orange;
            }
        }

        .tracklist__track-add,
        .tracklist__track-remove {
            color: $gray5;

            &:hover,
            &:focus {
                color: $gray7;
            }
        }
    }

    &--queue {
        background: #161616;

        &:last-child .tracklist__track-details { // stylelint-disable-line
            border-bottom: 0;
        }

        &:hover,
        &:focus {
            .tracklist__track-title { // stylelint-disable-line
                color: inherit;
            }
        }

        &.tracklist__track--active {
            .tracklist__track-title {
                color: $orange;
            }

            .tracklist__track-artist {
                color: $gray6;
            }
        }

        .tracklist__track-icon {
            margin-right: 0;
            left: 0;
            position: relative;
        }

        .tracklist__track-add {
            left: 25px;
        }

        .tracklist__track-title {
            width: calc(100% - 110px);
        }

        .tracklist__track-details-left {
            padding-left: 68px;
        }

        .tracklist__track-interaction-icon--dots {
            &:hover,
            &:focus {
                color: $orange;
            }
        }
    }
}

.tracklist__track-link {
    position: absolute;
    right: 125px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(1px);
    color: $gray7;
    z-index: 1;
    transition: opacity 0.15s ease-in-out;

    .tracklist__track:hover & {
        pointer-events: initial;
        opacity: 1;
    }

    svg {
        display: block;
    }
}

.tracklist__track-fav {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 95px;
    color: $gray7;
    z-index: 1;

    &:hover,
    &:focus,
    &--active {
        color: $orange;
    }
}

.tracklist__track-details {
    font-weight: 600;
    height: 52px;
    border-top: #ededed 1px solid;

    .tracklist--playlist & {
        height: 55px;
    }

    .tracklist__track--active &,
    .tracklist__track--active + .tracklist__track & {
        border-color: #f8f8f8;
    }

    &-right {
        display: flex;
    }
}

.tracklist__track-details-left {
    @include ellipsis;
    text-align: left;
    font-family: $font-stack--primary;
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: index($z-index, below-arbitrary);
    justify-content: space-between;
}

.tracklist__details-wrap {
    width: calc(100% - 130px);

    .tracklist__track--queue & {
        font-size: rem-calc(13);
    }
}

.tracklist__track-number {
    color: #666;
    flex: 0 0 65px;
    margin-right: 15px;
}

.tracklist__track-add {
    width: 35px;
    height: 35px;
    padding: 10px;
    position: absolute;
    left: 25px;
    color: #c3c3c3;
    transition: color 0.2s ease-in-out;
    z-index: index($z-index, arbitrary);

    &:hover,
    &:focus {
        color: $gray3;
    }
}

.tracklist__track-remove {
    width: 11px;
    height: 11px;
    margin-right: 15px;
    padding: 5px;
    position: absolute;
    right: 90px;
    color: #c3c3c3;
    transition: color 0.2s ease-in-out;
    z-index: index($z-index, arbitrary);
    display: none;
    box-sizing: content-box;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;

    &:hover,
    &:focus {
        color: $gray3;
    }
}

.tracklist__track-icon {
    color: $brand_color;
    height: 15px;
    flex: 0 0 15px;
    margin-right: 65px;
    pointer-events: none;
}

.tracklist__track-title {
    width: calc(100% - 30px);
    text-align: left;

    .tracklist__track:hover & {
        color: $brand_color;
    }

    .tracklist--playlist & {
        display: flex;
        align-items: center;
    }
}

.tracklist__track-artist {
    display: block;
    color: #999;
}

.tracklist__track-featuring {
    margin-left: 3px;
}

.tracklist__track-duration {
    color: $gray2;
    line-height: 17px;
    width: 35px;
    text-align: right;

    .tracklist__track--queue & {
        font-size: rem-calc(13);
    }
}

.tracklist__track-artwork {
    flex: 0 0 28px;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    // In case image is corrupt or doesn't show for whatever reason
    background: $gray8;
    overflow: hidden;
    display: inline-block;
}

.tracklist__track-interactions {
    position: absolute;
    right: 35px;
    z-index: index($z-index, arbitrary);

    &,
    & > li {
        height: 100%;
    }

    .tooltip {
        bottom: 100%;
        right: 12px;
        z-index: index($z-index, tracklist-tooltip);
    }
}

.tracklist__track-interaction {
    margin-right: 30px;

    &-icon {
        color: #c3c3c3;
        height: 12px;
        margin-right: 3px;
    }

    &-icon--dots {
        width: 35px;
        height: 100%;
        color: $gray7;
        margin-right: 20px;
        cursor: pointer;
        padding: 10px;

        svg {
            display: block;
        }
    }
}

.tracklist__track-handle {
    width: 18px;
    height: 13px;
    display: flex;
    align-items: center;
    align-self: center;
    margin-right: 20px;
    position: relative;
    left: -19px;
    padding: 15px 10px;
    box-sizing: content-box;
    cursor: move;
    cursor: -moz-grab; // stylelint-disable-line
    cursor: -webkit-grab; // stylelint-disable-line
    cursor: grab;
    user-select: none;
    z-index: 2;

    &:active {
        cursor: -moz-grabbing; // stylelint-disable-line
        cursor: -webkit-grabbing; // stylelint-disable-line
        cursor: grabbing;
    }

    span {
        &,
        &:after,
        &:before {
            height: 2px;
            background: $gray6;
            border-radius: 1px;
            width: 100%;
            position: relative;
        }

        &:before,
        &:after {
            content: '';
            display: block;
        }

        &:before {
            top: -5px;
        }

        &:after {
            top: 3px;
        }
    }
}
