.dashboard-module {
    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 1.385em;
        letter-spacing: -0.6px;
        line-height: 1.3;

        .dashboard-module__top & {
            flex: 1;
        }
    }
}

.dashboard-title {
    letter-spacing: -0.6px;
}

.dashboard-live-plays {
    position: absolute;
    z-index: index($z-index, arbitrary);
    text-align: center;
    margin: 10px 0 0 20px;
    line-height: 1;

    &__number {
        font-size: rem-calc(60);
        letter-spacing: rem-calc(-6);
        color: $orange;
        font-weight: bold;
    }

    &__label {
        font-size: rem-calc(13);
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: rem-calc(-0.6);
        color: #000;
    }
}

.dashboard-music-detail {
    margin-bottom: 30px;
}

.dashboard-dropdowns {
    .c-dropdown__label {
        display: inline-flex;
        align-items: center;
        height: 42px;
        margin-bottom: 0;
    }
}
