.color-picker {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    z-index: index($z-index, arbitrary);
    position: relative;

    &__button {
        box-shadow: inset 0 0 0 2px #fff;
        border: 1px solid $gray10;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__picker {
        transform: translate(-225px, -285px);
    }
}
