$tabBorder: #e0e0e0;

.dashboard-panel {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    &__inner {
        background: #fff;
        padding: 15px;
        flex: 1;

        @media screen and (min-width: $dashboard_breakpoint) {
            padding: 35px;
        }

        &--charts {
            flex: 0 0 100%;

            @media screen and (min-width: $dashboard_breakpoint) {
                flex: 1;
                min-width: 0;
            }
        }

        &--has-alert {
            padding-top: 80px;
        }
    }

    &__inner-top {
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;

        div {
            flex: 0 0 100%;

            @media screen and (min-width: $dashboard_breakpoint) {
                flex: 1;
            }

            &:first-child {
                @media screen and (min-width: $dashboard_breakpoint) {
                    flex: 2;
                }
            }
        }
    }

    &__title {
        font-size: 1.538em;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 0.25px;
        line-height: 1.4;

        &--warning {
            color: red;
            display: block;
        }
    }

    &__subtitle {
        font-size: 1.231em;
        text-transform: uppercase;
        letter-spacing: -0.25px;
        font-weight: 700;
        margin-bottom: 15px;
        text-decoration: underline;
    }

    &__loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
}

.dashboard-panel-context-switchers {
    display: inline-block;
    margin: 20px 0;

    @media screen and (min-width: $dashboard_breakpoint) {
        margin: 0 0 0 75px;
    }
}

.dashboard-panel-context-switcher {
    padding: 0 15px;
    font-weight: 600;
    text-transform: uppercase;

    button {
        display: block;
        color: #ccc;

        &:hover,
        &:focus {
            color: #333;
        }
    }

    &--active button {
        pointer-events: none;
        color: #333;
        border-bottom: $orange 2px solid;
    }
}

.panel-tabs {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $dashboard_breakpoint) {
        flex: 0 0 250px;
    }

    &__tab {
        flex: 1;
        align-items: center;
        position: relative;
        height: 70px;
        font-size: 1.231em;
        font-weight: 400;
        padding: 20px 30px;
        border-left: $tabBorder 1px solid;
        cursor: pointer;
        pointer-events: none;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

        @media screen and (min-width: $dashboard_breakpoint) {
            height: auto;
            pointer-events: auto;
        }

        & + .panel-tabs__tab {
            border-top: $tabBorder 1px solid;
        }

        &--show {
            button {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                text-align: left;
                padding: 20px 30px;
            }
        }

        &--active {
            @media screen and (min-width: $dashboard_breakpoint) {
                background: $orange;
                color: #fff;
                pointer-events: none;
            }
        }

        &:not(.button-group):hover,
        &:not(.button-group):focus {
            background: #f0f0f0;
        }

        &[data-count]:after {
            content: attr(data-count);
            position: absolute;
            right: 20px;
            font-weight: 600;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__tab-icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        color: $orange;
        margin-right: 20px;
        transition: color 0.2s ease-in-out;
        vertical-align: middle;

        .panel-tabs__tab--active & {
            @media screen and (min-width: $dashboard_breakpoint) {
                color: #fff;
            }
        }
    }
}


.dashboard-panel-content {
    .dashboard-panel-title {
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 20px;
    }

    a {
        font-weight: 600;
    }

    &--options {
        font-weight: 700;
    }
}

.dashboard-chart {
    height: 300px;

    @media screen and (min-width: $dashboard_breakpoint) {
        display: block;
    }

    svg path {
        fill: none;
    }

    .google-visualization-tooltip {
        border-radius: 4px;
        background: #fff;
        border: 1px solid $gray9;
        padding: 10px;
    }

    .google-visualization-tooltip-item-list,
    .google-visualization-tooltip-item {
        margin: 0 !important;
        padding: 0 !important;
    }

    .google-visualization-tooltip-item {
        white-space: nowrap;
    }
}
