.play-button {
    transition: all 0.2s ease-in-out;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 43px;

    &__icon {
        opacity: 0;
        transition: opacity 0.12s ease-in, transform 0.12s ease-in;
        pointer-events: none;
        position: absolute;
        margin-left: 50%;
        margin-top: 50%;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%) scale(0.2);
        width: 100%;
        height: 100%;

        &--shadow {
            filter: drop-shadow(0 0 3px hsla(0, 0%, 0%, 0.2));
        }
    }

    .loader-android,
    .loader-android__path {
        animation-duration: 0s;
        padding: 0;
    }

    &--playing {
        .pause-icon {
            pointer-events: auto;
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
    }

    &--paused {
        .play-icon {
            pointer-events: auto;
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
    }

    &--loading {
        .loading-icon {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
            position: relative;
        }

        .loader-android {
            animation-duration: 2s;
        }

        .loader-android__path {
            animation-duration: 1.5s;
        }
    }
}

@keyframes fadeInButton {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.waveform-wrap__play-button {
    width: 40px;
    height: 40px;
    color: $orange;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
    animation: fadeInButton 0.25s ease-in-out forwards;
    animation-delay: 0.25s;

    .embed & {
        border: $orange 3px solid;
    }

    .music-detail--large & {
        width: 70px;
        height: 70px;
        line-height: 44px;
    }

    .loader-container {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
        margin-top: 0;
        transform-origin: top left;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: $brand_color 3px solid;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.15s ease-in-out;

        .embed & {
            display: none;
        }
    }

    &.play-button--loading {
        border: 0;
    }

    &.play-button--loading:before,
    &.play-button--loading:after {
        opacity: 0;
        border: 0;
    }

    &:before {
        opacity: 1;
        transform: scaleX(1);
    }

    &:after {
        opacity: 0;
        transform: scale3d(0.75, 0.75, 1);
    }

    &:not(.play-button--loading) {
        &:hover,
        &:focus {
            &:before {
                opacity: 0;
                transform: scale3d(1.25, 1.25, 1);
            }

            &:after {
                opacity: 0.75;
                transform: scaleX(1);
            }
        }
    }

    &:disabled {
        color: #c3c3c3;
        background: none !important;

        &:before {
            border-color: #c3c3c3;
            transition: none !important;
            transform: none !important;
            opacity: 1 !important;
        }

        &:after {
            display: none;
        }
    }

    .play-icon,
    .pause-icon {
        width: 16px;
        height: 18px;
        color: inherit;
        fill: currentColor;
        filter: none;

        .music-detail--large & {
            width: 28px;
            height: 28px;
        }
    }

    .play-icon {
        left: 2px;
    }
}
