.music-edit-track {
    background: #fff;
    padding: 10px 0 10px 36px;
    display: flex;
    align-items: center;
    border-bottom: #ededed 1px solid;
    margin: 0;

    .manage-pins__uploads & {
        padding-left: 0;
    }

    .u-sortable-item & {
        padding-left: 72px;
    }

    .song-upload__title {
        line-height: 16px;
        font-size: rem-calc(13);
    }

    &__image {
        background: $gray8;
        overflow: hidden;
        width: 30px;
        height: 30px;
        margin-right: 15px;

        &:hover .music-edit-track__play-button {
            opacity: 1;
        }
    }

    &__play-button {
        color: $orange;
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &__remove {
        cursor: pointer;
        text-align: center;
        width: 20px;
        height: 20px;
        vertical-align: super;
        color: red;

        &:hover,
        &:focus {
            color: #000;
        }
    }

    &__remove--pin {
        color: $orange;
        width: 14px;
        height: 14px;
        position: relative;
        top: 3px;

        &:hover {
            color: $gray7;
            transition: color 0.2s ease-in-out;
        }

        &[disabled],
        &[disabled]:hover {
            background: none;
            pointer-events: all;
            cursor: not-allowed;
            color: $gray7;
        }

        &:before {
            background: red;
            width: 120px;
            border-radius: 5px;
            white-space: normal;
        }

        &:after {
            border-top-color: red;
        }
    }

    &__remove--pinned {
        color: $gray8;
        padding: 2px;

        &:hover,
        &:focus {
            color: $gray3;
        }
    }

    .loader-container {
        transform-origin: top left;
    }

    &--dragging {
        .music-edit-track {
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
            border-bottom: 0;
        }
    }
}
