.toast-notification {
    background: $gray2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 20px);
    transition: transform 0.2s ease-in;
    will-change: transform, margin;
    z-index: index($z-index, toast);
    color: #fff;
    letter-spacing: -0.5px;
    padding: 10px 20px;
    font-weight: 700;
    animation: toasted 5s forwards ease-in;

    &__item {
        color: #fff;
        font-weight: 700;
    }

    &__icon {
        color: $orange;
    }
}

@keyframes toasted {
    0%,
    100% {
        opacity: 0;
        margin-top: -10px;
    }

    5%,
    95% {
        opacity: 1;
        margin-top: 0;
    }
}
