// @todo refactor song upload stuff into more generic "edit" component
// as started below

.edit-music-box {
    margin-bottom: 30px;

    &__header {
        border-bottom: 1px solid $gray11;
        margin-bottom: 30px;
        padding: 15px 0;
        position: relative;

        h2 {
            letter-spacing: -0.6px;
        }
    }

    &__delete-button {
        font-weight: bold;
        color: $red;
        position: absolute;
        top: 30px;
        right: 0;
        letter-spacing: -0.4px;

        &:hover,
        &:focus {
            color: $gray2;
        }
    }

    &--playlist {
        margin-top: 60px;

        [name="description"] {
            height: 152px;
            margin: 0;
        }
    }
}

.edit-music__radio {
    .edit-music-box--playlist & {
        margin-top: 25px;
    }

    label {
        letter-spacing: -0.6px;
    }
}

.playlist-edit-track {
    background: #fff;
    padding: 10px 0 10px 30px;
    display: flex;
    align-items: center;
    border-bottom: #ededed 1px solid;
    margin: 0;

    .song-upload__title {
        line-height: 16px;
        font-size: rem-calc(13);
    }

    &__image {
        background: $gray8;
        overflow: hidden;
        width: 30px;
        height: 30px;
        margin-right: 15px;

        &:hover .playlist-edit-track__play-button {
            opacity: 1;
        }
    }

    &__play-button {
        color: $orange;
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &__remove {
        cursor: pointer;
        text-align: center;
        width: 20px;
        height: 20px;
        vertical-align: super;
        color: red;

        &:hover,
        &:focus {
            color: #000;
        }
    }

    &__remove--pinned {
        background: $orange;
        color: #fff;
        padding: 3px 4px;
        border-radius: 50%;
        transition: background-color 0.2s ease-in-out;

        &:hover,
        &:focus {
            background: darken($orange, 10%);
            color: #fff;
        }
    }

    .loader-container {
        transform-origin: top left;
    }

    &--dragging {
        .playlist-edit-track {
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
            border-bottom: 0;
        }
    }
}

.highlights-search-form {
    .search-form__input {
        border-radius: 20px;
        padding: 0 10px 0 40px;
        font-size: rem-calc(12);
        letter-spacing: rem-calc(-0.5);
    }

    .search-form__submit,
    .search-form__action {
        right: auto;
        left: 0;
    }
}
