.playlist-add {
    @media (min-width: $breakpoint_sm) {
        min-width: 490px;
        min-height: 520px;
        max-height: 520px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 1.846em;
        letter-spacing: -0.6px;
        line-height: 33px;
        margin-bottom: 30px;

        &-icon {
            width: 21px;
            height: 18px;
        }
    }

    &__create {
        border-top: #f0f0f0 1px solid;
        border-bottom: #f0f0f0 1px solid;
        margin-bottom: 20px;
        padding: 20px 0;

        &-title {
            font-size: 1.231em;
            line-height: 19px;
            letter-spacing: -0.57px;
        }

        &-small {
            font-size: 0.923em;
            line-height: 19px;
            letter-spacing: -0.74px;
        }
    }

    &__button {
        padding-left: 30px;
        padding-right: 30px;
    }

    .feed-bar {
        flex-shrink: 0;
        margin-top: -10px;
    }
}

.playlist-add-list {

    // the 'modal' class is a workaround enabling us to hook legacy styles into child components of Modal.js
    // https://github.com/audiomack/audiomack-js/issues/1012#issuecomment-499309236

    .modal & {
        max-height: 355px;
        overflow-y: scroll;
        padding-right: 10px;
    }

    @media (min-width: 420px) {
        min-width: 400px;
    }
}

$playlist-thumb-size: 45px;

.playlist-add-item {
    .media-item {
        margin-bottom: 15px;
    }

    img {
        max-width: $playlist-thumb-size;
        max-height: $playlist-thumb-size;
        border-radius: 3px;
        margin-right: 10px;
    }

    &__body {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 1.077em;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: -0.5px;
    }

    &__count {
        margin-left: 0;
        font-size: 0.923em;
        letter-spacing: -0.77px;
        line-height: 19px;
    }
}

.playlist-add-button {
    text-align: left;
}

.playlist-new-thumb {
    border-radius: 3px;
    background: $gray9;
    width: $playlist-thumb-size;
    height: $playlist-thumb-size;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;

    &__inner {
        width: 60%;
        height: 60%;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 6px;

        svg {
            display: block;
        }
    }
}

.playlist-add-form {
    margin-top: 15px;

    &__name,
    &__genre {
        display: inline-block;
    }

    &__genre {
        select {
            height: 40px;
        }
    }

    &__name {
        flex-grow: 1;
        margin-right: 1em;
    }

    &__header,
    &__footer,
    &__privacy {
        display: flex;
        align-items: center;
    }

    &__header,
    &__footer {
        justify-content: space-between;
    }

    &__privacy-title {
        margin-right: 1em;
        letter-spacing: -0.6px;
        line-height: 30px;
        font-weight: 600;
    }

    &__privacy-label {
        margin-right: 1em;
        margin-bottom: 0;

        span {
            margin-left: 0;
            letter-spacing: -0.6px;
            font-weight: 600;
        }
    }
}
