.artwork-play-button {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 100%;

    img {
        position: absolute;
        height: 100%;
        width: auto;
        max-width: none;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
}

.artwork-play-button__rank {
    background: $orange;
    display: block;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    z-index: index($z-index, music-artwork-rank);
}
