.uploader-ad {
    background: #000;
    position: relative;
    padding: 6px;
    opacity: 1;
    z-index: index($z-index, am-partner);
    transition: opacity 0.2s ease-in-out;

    @include breakpoint(small) {
        padding: 12px;
    }

    @include breakpoint(410px) {
        height: 40px;
    }

    .preloading & {
        opacity: 0;
    }

    &--tunecore {
        @include breakpoint(410px) {
            background-image: url('/static/images/desktop/tunecore-uploader-bg2.jpg');
            background-repeat: no-repeat;
            background-position: center right;
            padding-right: 12px;

            @include background-image-retina('/static/images/desktop/tunecore-uploader-bg2', 'jpg', 204px, 40px);
        }
    }

    p {
        line-height: rem-calc(17);
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 15px;
        width: 90px;
        height: 16px;
        transform: translateY(-50%);
    }

    &__close {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 12px;
        height: 12px;
        color: #fff;
    }

    .button {
        font-size: rem-calc(12);
        margin-left: 15px;
        padding: 6px 15px;
    }
}
