// @todo pick and choose lib/datepicker styles and move them here

$datePickerWidth: 300px;

.date-picker {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 260px;
    z-index: 2;
    cursor: pointer;

    &__icon {
        width: 15px;
        height: 15px;
        position: absolute;
        right: 15px;
        top: 14px;
        color: $gray4;
        pointer-events: none;
        transition: color 0.3s ease-in-out;
    }

    &:hover .date-picker__icon {
        color: $orange;
    }

    &__time-header {
        font-weight: bold;
        text-align: center;
        font-size: 1rem;
    }
}

.react-datepicker {
    border: #eaeaea 1px solid;
    border-radius: 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
    width: $datePickerWidth;
    font-weight: 500;
    font-family: $font_stack--primary;
}

.react-datepicker-wrapper {
    display: block;
}

.react-datepicker-popper[data-placement^="right"] {
    margin-left: $datepicker__triangle-size;

    .react-datepicker__triangle {
        margin-left: -$datepicker__triangle-size;
        position: absolute;
        left: -$datepicker__triangle-size;
        top: 35px;

        &,
        &:before {
            box-sizing: content-box;
            position: absolute;
            border: $datepicker__triangle-size solid transparent;
            border-right-color: #fff;
            height: 0;
            width: 1px;
        }

        &:before {
            content: "";
            z-index: -1;
            border-width: $datepicker__triangle-size;
            border-right-color: #eaeaea;
            top: -$datepicker__triangle-size;
            left: -($datepicker__triangle-size + 1);
        }
    }
}

.react-datepicker__month-container {
    width: $datePickerWidth;
}

.react-datepicker__input-container {
    width: 100%;
    font-size: 0.875rem;
    letter-spacing: -0.45px;
    line-height: 20px;

    [type="text"] {
        height: 42px;

        &:focus,
        &:hover {
            border-color: $gray8;
        }
    }
}

.react-datepicker__header {
    background: none;
    border: 0;
    padding: 0;
}

.react-datepicker__navigation {
    border: 0;
    width: 10px;
    height: 20px;
    top: 30px;
    text-indent: 0;

    &:before {
        display: block;
        width: 10px;
        height: 20px;
    }
}

.react-datepicker__navigation--previous {
    left: 30px;

    &:before {
        content: url('../images/desktop/icons/chevron-left.svg');
    }
}

.react-datepicker__navigation--next {
    right: 30px;

    &:before {
        content: url('../images/desktop/icons/chevron-right.svg');
    }
}

.react-datepicker__current-month {
    font-size: 1.5rem;
    letter-spacing: -0.6px;
    line-height: 41px;
    margin: 18px 0;
}

.react-datepicker__day-name,
.react-datepicker__day {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-transform: uppercase;
}

.react-datepicker__day--outside-month {
    color: #e5e5e5;
}

.react-datepicker__day:hover {
    border-radius: 50%;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
    background: $orange;
    border-radius: 50%;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
    background: #000;
}
