.partner {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
    position: relative;

    &--bandzoogle {
        margin: 30px auto 0;
        max-width: 960px;
    }

    &--kali {
        max-width: 1020px;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.partner--tunecore img {
    width: auto;
}

.partner__close {
    width: 15px;
    height: 15px;
    color: #999;
    position: absolute;
    cursor: pointer;
    display: block;
    top: 15px;
    right: 15px;
    z-index: index($z-index, above-arbitrary);

    .partner--large & {
        display: none;
    }
}

.partner__sponsor-tag {
    position: absolute;
    top: 0;
    left: 0;
    color: #c7c7c7;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    transform: translateY(-120%);
    font-size: rem-calc(10);
}
