.notifications-header {
    .clear-all {
        text-align: right;
        letter-spacing: -0.55px;
        color: $orange;
        font-weight: 700;
        cursor: pointer;
    }
}

.notification-list {
    font-size: rem-calc(13);

    &__list-item {
        display: flex;
        align-items: center;
        height: 40px;
        margin-bottom: 15px;
        font-weight: 600;
        letter-spacing: -0.3px;

        &-meta {
            font-weight: 400;
            color: #666;
            font-size: 0.923em;
        }

        &--main {
            background: #fff;
            margin: 0;
            padding: 20px 40px 0;
            height: auto;
            display: block;
            position: relative;

            &.notification-list__list-item--unread {
                &:before {
                    content: '';
                    display: block;
                    width: 6px;
                    height: 6px;
                    background: $orange;
                    border-radius: 50%;
                    left: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                }
            }

            .notification-list__content {
                border-bottom: 1px solid $gray10;
                display: flex;
                align-items: center;
                padding-bottom: 20px;
            }

            .notification-list__icon {
                margin-right: 0.25em;
            }

            .notification-list__icon--heart {
                height: 11px;
                width: 11px;
                position: relative;
                top: -1px;
            }

            .notification-list__icon--retweet {
                position: relative;
                top: -1px;
            }

            .notification-list__icon--playlist {
                width: 12px;
                height: 12px;
                position: relative;
                top: -2px;
            }

            .notification-list__list-item-target a {
                font-weight: 700;
                color: #000;
            }
        }
    }

    &__item-wrap {
        &:first-child > div {
            padding-top: 30px;
        }

        &:last-child .notification-list__content {
            border-bottom: 0;
        }
    }

    a:hover,
    a:focus {
        text-decoration: underline;
    }

    &__list-item-left {
        flex: 0 0 40px;
    }

    &__list-item-content {
        flex-grow: 1;
        margin: 0 10px;
        line-height: 19px;
        letter-spacing: -0.4px;

        .notifcations-tooltip & {
            line-height: 1.5;
        }

        &--header {
            @include ellipsis;
        }
    }

    &__track-title {
        a {
            color: #2e2e2e;
        }
    }

    &__list-item-right {
        flex: 0 0 40px;
    }

    &__button-wrap {
        margin-top: 25px;
    }

    .button {
        padding: 10px 22px;
    }

    &__icon {
        &--retweet {
            width: 18px;
            height: 10px;
        }
    }

    &--main {
        font-weight: 600;
        justify-content: center;
    }
}
