.amp-banner {
    background-image: linear-gradient(208deg, #ffcf41, #e8680a);
    height: 340px;
    text-align: center;
    overflow: hidden;
    color: #fff;
    padding: 100px 0;

    @include breakpoint(medium) {
        padding: 100px;
    }

    &__logo {
        opacity: 0.1;
        color: #fff;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-30%);
    }

    &__text {
        margin-top: -40px;
        max-width: 640px;
    }

    // @todo normalize header font sizes/margins/line-heights across entire site
    // we shouldnt have to style every h1, h2, etc when a new page is created
    h1 {
        font-size: rem-calc(42);
        line-height: 1.05;
        margin-bottom: 0.25em;
        letter-spacing: -1.8px;
    }

    // @todo normalize text sizes across entire site
    p {
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.6px;
    }
}

.amp-steps {
    height: 155px;
    margin-top: -78px;
    padding-top: 10px;

    h2 {
        // @todo normalize header font sizes/margins/line-heights across entire site
        // we shouldnt have to style every h1, h2, etc when a new page is created
        font-size: rem-calc(30);
        margin-bottom: 0.25em;
        letter-spacing: -0.8px;

        span {
            font-weight: normal;
        }
    }

    &__progress-wrap {
        padding: 0 50px;

        @include breakpoint(medium) {
            padding: 0 100px;
        }
    }
}

.amp-content-container {
    padding: 40px 30px;
}

.amp-code-container {
    @include breakpoint(medium) {
        padding: 0 105px;
    }

    @include placeholder {
        color: $gray9;
    }
}

.amp-large-text {
    font-size: rem-calc(18);
    line-height: 1.33;
    letter-spacing: -0.5px;
}

.amp-complete-container {
    h3 {
        font-size: rem-calc(24);
    }
}

.amp-code-input {
    font-size: rem-calc(24);
    padding: 24px;
    text-align: center;
    height: 80px;
    background: $gray11;
    border-radius: 40px;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
}

.amp-code-button,
.amp-upload-button {
    width: 250px;
    text-transform: uppercase;
}

.amp-code-button {
    svg {
        position: absolute;
        right: 1em;
        width: 16px;
        height: 12px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.2s ease-out;
    }

    &:hover {
        svg {
            transform: translateX(5px) translateY(-50%);
            transition: transform 0.2s ease-in;
        }
    }
}

.amp-upload-button {
    padding: 10px;
    width: 180px;
    font-size: rem-calc(12);
    line-height: 18px;

    .button__icon {
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }
}

.amp-faq-link {
    font-size: rem-calc(15);
    color: $gray2;
    border-bottom: 1px dotted;

    &:hover,
    &:focus {
        color: $orange;
    }
}
