$button_height: 42px;

.facebook-btn {
    background: $facebook_col;
    display: inline-block;
    color: #fff;
    height: $button_height;
    font-size: 12px;
    padding: 0;
    letter-spacing: -0.25px;
    width: 100%;
    position: relative;

    span {
        display: block;
        float: left;
    }

    &:hover,
    &:focus {
        background: darken($facebook_col, 5%);
    }
}

.facebook-btn__icon {
    background: darken($facebook_col, 5%);
    width: $button_height;
    height: $button_height;
    position: absolute;
    top: 0;
    left: 0;

    svg {
        width: 17px;
        height: $button_height;
        margin: 0;
    }
}

.facebook-btn__text {
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 28px;
    line-height: $button_height;
    width: 100%;
    padding-left: $button_height;
    text-align: center;
    white-space: nowrap;
}
