.button,
button {
    border-radius: 0;

    /* stylelint-disable */
    /* TODO - Make this a bit tidier */
    &[disabled]{
        &,
        &:hover,
        &:focus {
            pointer-events: none;
            background: #999;
            cursor: default;
        }
    }
    /* stylelint-enable */
}

.button {
    border: 0;
    background: $brand_color;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    padding: 10px 18px;
    line-height: 1;
    position: relative;
    cursor: pointer;
    letter-spacing: -0.5px;
    @include font-size(13px);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    .u-text-icon--camera {
        width: 16px;
        height: 13px;
        vertical-align: bottom;
    }

    &:hover {
        background: #000;
        color: #fff;
    }

    &--block {
        display: block;
    }

    &--radius {
        border-radius: 25px;
    }

    &--follow {
        padding: 5px 7px;
        font-size: 0.7rem;
    }

    &--add {
        line-height: 18px;
    }

    &--wide {
        padding: 14px 45px;
    }

    &--transparent {
        background: none;
        color: #000;

        &:hover {
            background: none;
            color: $gray4;
        }
    }

    &--outline {
        background: transparent;
        box-shadow: inset 0 0 0 2px $orange;
        color: $orange;

        &:hover,
        &:focus {
            background: $orange;
        }

        &[disabled] {
            &,
            &:hover,
            &:focus {
                background: transparent;
            }
        }
    }

    &--padded {
        padding: 15px 18px;
    }

    &--pill {
        border-radius: 20px;

        &.button--padded {
            border-radius: 25px;
        }
    }

    &--pill-med {
        height: 44px;
        padding: 0 20px 0 15px;
        border-radius: 25px;
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.06);

        .button__icon {
            width: 14px;
            height: 14px;
            margin-right: 15px;
        }
    }

    &--flex {
        padding-top: 0;
        padding-bottom: 0;
        height: 32px;
        display: inline-flex;
        align-items: center;
    }

    &--circle {
        border-radius: 50%;
        flex-shrink: 0;
    }

    &--input {
        position: relative;
    }

    &--danger {
        background: $red;
    }

    &--link {
        background: none;
        color: $orange;
        padding: 0;
        font-weight: inherit;

        &:hover,
        &:focus {
            background: none;
            color: $gray2;
        }

        &[disabled] {
            &,
            &:hover,
            &:focus {
                color: #999;
                background: none;
            }
        }

        &-dark:hover,
        &-dark:focus {
            color: #fff;
        }
    }

    &--file {
        input {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            cursor: pointer;
        }
    }

    &--white {
        background: #fff;
        color: $gray2;

        &:hover,
        &:focus {
            background: $gray2;
            color: #fff;
        }
    }

    &--black {
        background: #000;
        color: #fff;

        &:hover,
        &:focus {
            background: $orange;
            color: #fff;
        }
    }

    &--med {
        min-width: 200px;
        padding: 17px 30px;
        border-radius: 25px;
        font-size: rem-calc(14);
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.06);
    }

    &--large {
        padding: 20px 50px;
        border-radius: 30px;
    }

    &--has-arrow {
        padding-right: 32px;
    }

    &__arrow {
        top: 50%;
        transform: translateY(-50%);
        margin-left: 7px;
        @include triangle('down', #fff, 9px, 6px);
    }
}

.button__icon {
    width: 13px;
    height: 13px;
    vertical-align: top;
    margin-right: 0.5em;
    display: inline-block;
    flex-shrink: 0;

    &--plus {
        width: 18px;
        height: 18px;
        border: #fff 2px solid;
        border-radius: 50%;
        padding: 3px;
    }

    &--play {
        width: 12px;
        height: 12px;
    }

    &--shuffle {
        width: 15px;
        height: 13px;
    }

    &--album {
        width: 20px;
        height: 18px;
        margin-top: -6px;
        transform: translateY(4px);
    }
}

.button--small {
    margin: 0 5px 5px 0;
    padding: 6px 10px;
}

.button + .button {
    margin-left: 10px;

    .button-group--vert & {
        margin-left: 0;
        margin-top: 10px;
    }
}

.button__check {
    background: #ffbb46;
    position: absolute;
    top: -3px;
    right: -3px;
    width: 16px;
    height: 16px;
    padding: 0 4px;
}
