.account-notifications {
    position: relative;

    &[data-alert-count]:after {
        position: absolute;
        top: -7px;
        left: 11px;
    }

    &__icon {
        width: 20px;
        height: 20px;
        color: $gray7;
    }

    &__user-alert {
        position: absolute;
        top: -7px;
        right: -7px;
    }
}

.account-summary {
    position: relative;
    display: inline-block;

    &--logged-in {
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 6px;
            margin-top: -3px;
            @include triangle(down, $brand_color, 7px, 5px);

            @media (min-width: $breakpoint_sm) {
                right: 12px;
            }
        }
    }

    &__info {
        float: left;
        line-height: 40px;
        font-weight: 700;
        font-size: 0.923em;
        padding-right: 10px;
        position: relative;

        span {
            letter-spacing: -0.3px;
        }
    }

    &__text-links {
        display: none;

        @include breakpoint(medium) {
            display: inline-block;
        }
    }

    .verified {
        position: absolute;
        bottom: 0;
        right: -4px;
        display: block;
    }

    &__avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: block;
    }

    &__avatar-default {
        width: 24px;
        height: 24px;
        margin-left: 10px;
        display: inline-block;
        color: #555;
        transform: translateY(8px);
    }

    &__user-alert {
        position: absolute;
        bottom: 0;
        right: -10px;
        background: $brand_color;
        color: #fff;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        @include font-size(9px);
        // Hide temporarily
        display: none;

        @media screen and (min-width: 640px) {
            display: none;
        }
    }
}
