$tooltip-radius: 30px;

.tooltip {
    background: $gray2;
    color: #fff;
    padding: 10px 15px;
    position: absolute;
    max-width: 250px;
    line-height: normal;
    opacity: 0;
    transform: scale(0.9);
    transform-origin: top left;
    pointer-events: none;
    font-size: rem-calc(14);
    font-weight: normal;
    border-radius: 5px;
    transition: 0.15s opacity ease-in-out, 0.15s transform ease-in-out;

    &:before {
        top: -6px;
        @include triangle(up, $gray2, 10px, 6px);
    }

    &--light {
        background: #fff;
        color: $gray2;

        &:before {
            @include triangle(up, #fff, 8px, 6px);
        }
    }

    .tooltip-container &--light {
        [role=button],
        a,
        button {
            color: $gray2;
        }
    }

    &--shadow {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    }

    &--active {
        pointer-events: auto;
        opacity: 1;
        transform: scale(1);
    }

    &--radius {
        border-radius: $tooltip-radius;
    }

    &--queue {
        padding: 10px;
        min-width: auto;
    }

    &--player {
        bottom: calc(100% + 25px);
        right: -15px;

        body.dark-theme & {
            background: darken($gray1, 5%);
        }
    }

    &.sub-menu--two-col {
        max-width: 320px;
    }

    &--wide {
        max-width: 320px;
    }

    //TODO
    // Make these a bit tidier
    &--right-arrow {
        transform-origin: top right;

        &:before {
            left: auto;
            right: 14px;
        }
    }

    &--down-arrow {
        transform-origin: bottom center;

        &:before {
            top: calc(100% - 1px);
            left: 50%;
            transform: translateX(-50%);
            @include triangle(down, $gray2, 12px, 7px);
        }
    }

    &--down-right-arrow {
        transform-origin: bottom right;

        &:before {
            top: calc(100% - 1px);
            right: 15px;
            transform: translateX(-50%);
            @include triangle(down, $gray2, 12px, 7px);
        }

        &.tooltip--light:before {
            @include triangle(down, #fff, 12px, 7px);
        }

        body.dark-theme &:before {
            @include triangle(down, darken($gray1, 5%), 12px, 7px);
        }
    }

    &__am-partner {
        margin-top: 20px;
        padding: 0;
    }
}

[data-tooltip] {
    position: relative;
    white-space: nowrap;
    overflow: visible;
}

[data-tooltip-help] {
    cursor: help;
}

[data-tooltip-wrap] {
    white-space: normal;
}

[data-tooltip]:before,
[data-tooltip]:after {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.12s ease-in, transform 0.12s ease-in;
}

[data-tooltip]:before {
    position: absolute;
    bottom: calc(100% - 5px);
    left: 50%;
    margin-bottom: 14px;
    transform: translateX(-50%) translateY(-20%) translateZ(0);
    border-radius: $tooltip-radius;
    background: $brand_color;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    z-index: index($z-index, dashboard-tooltip);
    font-style: normal;
    text-transform: none;
    font-weight: 700;
    font-size: rem-calc(12);
    line-height: 14px;
    letter-spacing: -0.55px;
    padding: 6px 13px;
}

[data-tooltip]:after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-105%) translateZ(0);
    width: 0;
    content: "";
    font-size: 0;
    line-height: 0;
    bottom: calc(100% - 1px);
    border: 5px solid transparent;
    border-top: 5px solid $brand_color;
}

[data-tooltip-danger]:after {
    border-top-color: $red;
}

[data-tooltip-dark] {
    &:before {
        background: $gray2;
        color: #fff;
    }

    &:after {
        border-top-color: $gray2;
    }
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip-active]:before,
[data-tooltip-active]:after {
    opacity: 1;
    transform: translateX(-50%) translateY(0%) translateZ(0);
}

[data-tooltip-right]:before {
    top: 0;
    left: calc(100% + 10px);
    transform: translateX(-10%) translateY(0) translateZ(0);
}

[data-tooltip-right]:after {
    top: 5px;
    left: 100%;
    transform: translateX(-20%) translateY(0%) translateZ(0);
    border: 5px solid transparent;
    border-right: 5px solid $brand_color;

    &[data-tooltip-danger] {
        border-right-color: $red;
    }
}

[data-tooltip-right][data-tooltip-dark]:after {
    border-right-color: $gray2;
}

[data-tooltip-right]:hover:before,
[data-tooltip-right]:hover:after {
    transform: translateX(0) translateY(0) translateZ(0);
}

[data-tooltip-bottom]:before {
    bottom: auto;
    top: calc(100% + 5px);
}

[data-tooltip-bottom][data-tooltip-dark]:after {
    border-bottom-color: $gray2;
}

[data-tooltip-bottom]:after {
    bottom: auto;
    top: calc(100% - 5px);
    border: 5px solid transparent;
    border-bottom: 5px solid $brand_color;

    &[data-tooltip-danger] {
        border-bottom-color: $red;
    }
}

[data-tooltip-bottom-right]:before {
    left: auto;
    right: -10px;
}

[data-tooltip-bottom-right]:after {
    right: 3px;
    left: auto;
}

[data-tooltip-bottom-right]:before,
[data-tooltip-bottom-left]:after {
    transform: translateX(0) translateY(-20%) translateZ(0);
}

[data-tooltip-bottom-right]:hover:before,
[data-tooltip-bottom-right]:hover:after {
    transform: translateX(0) translateY(0) translateZ(0);
}

[data-tooltip-danger] {
    &:before {
        background: $red;
    }
}

.tooltip--below {
    &:before {
        bottom: auto;
        top: -6px;
    }

    &:after {
        bottom: auto;
        top: calc(100% + 1px);
        border-top: 0;
        border-bottom: 5px solid $brand_color;
    }
}
