.c-scroll-up {
    width: 24px;
    height: 15px;
    color: #c7c7c7;
    position: fixed;
    right: 40px;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    z-index: index($z-index, above-arbitrary);
    transform: translateY(-100px);
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

    .has-collapsed-player & {
        transform: translateY(-70px);
    }

    .has-uploader-ad & {
        transform: translateY(-160px);
    }

    @media screen and (min-width: 1370px) {
        display: block;
    }

    &:hover,
    &:focus {
        color: #888;
    }

    &--active {
        opacity: 1;
        pointer-events: auto;
    }
}
