.dashboard-table-wrap {
    background: #fff;
    padding: 0 10px 20px;
}

.dashboard-table {
    th:first-child,
    & > tbody td:first-child,
    & > tr:first-child {
        padding-left: 25px;
    }

    &.tracklist > tbody td:first-child {
        padding-left: 0;

        @include breakpoint(medium) {
            padding-left: 25px;
        }
    }

    &__collapse {
        font-weight: 700;
        letter-spacing: -0.5px;
        padding: 20px 0;
    }

    &__help-prompt {
        margin-left: 3px;
    }

    &__button-wrap {
        margin: 20px 0 10px;
    }

    &__edit {
        font-size: 1rem;
        line-height: 1;

        @include breakpoint(medium) {
            display: inline-block;
        }

        .u-text-icon {
            margin-right: 0;
        }
    }

    &__album-edit-button {
        position: absolute;
        transform: translate(50%, -50%);
    }

    &__album-track {
        border-top: 1px solid $gray11;
        padding: 10px;
        color: $gray1;
        font-weight: 600;
        letter-spacing: -0.5px;

        &:first-child {
            border-top: 0;
        }
    }

    &__album-track-number {
        margin-right: 20px;
        font-weight: normal;
        width: 15px;
        display: inline-block;
    }

    &__podcast-episodes-label {
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 0;
    }

    &__podcast-rss-audiomack-url,
    &__podcast-rss-feed-url {
        box-sizing: border-box;
        flex-grow: 1;
    }

    &__podcast-rss-delete-message {
        margin-bottom: 1.5em;
    }

    &__podcast-rss-feed-url {
        margin-right: 30px;

        button {
            flex-shrink: 0;
            height: 42px;
            margin-bottom: 1em;
            width: 100px;
        }

        input {
            border-right: 0;
        }

        .input-wrapper {
            align-items: center;
            display: flex;
        }
    }

    &__podcast-rss-wrapper {
        display: flex;
    }

    &__status {
        position: absolute;
        left: 0;
    }

    .tooltip {
        bottom: 100%;
        right: 8px;
        transform-origin: bottom right;
        z-index: index($z-index, arbitrary);

        &:before {
            @include triangle(down, #222);
            top: 100%;
            left: auto;
            right: 17px;
        }
    }

    .promo-link {
        background: none;
        height: 1em;
        margin: 0;
        padding: 0;
    }
}

.dashboard-table--monetization {
    th,
    td {
        &:nth-child(1) {
            max-width: 185px;
            padding-right: 10px;
        }

        &:nth-child(4) {
            max-width: 200px;
        }

        &:nth-child(5) {
            max-width: 100px;
        }
    }

    td {
        font-weight: 600;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    [data-th="Revenue"] {
        color: $orange;
        font-weight: 700;
    }
}

.dashboard-table-bar {
    border-bottom: 1px solid $gray10;
    margin: 0 auto 30px !important;
    max-width: 100% !important;
}

.dashboard-search-form {
    margin: 15px 0;

    button {
        left: 0;
    }

    input {
        border-radius: 20px;
        font-size: 12px;
        letter-spacing: -0.55px;
        padding: 0 10px 0 40px;
    }
}

.dashboard-table__cell {
    letter-spacing: -0.5px;

    &--album {
        cursor: pointer;
    }

    &--title a {
        color: #222;

        .table-row--dark & {
            color: #fff;
        }
    }

    &--actions {
        @include breakpoint(medium) {
            text-align: center;
        }
    }

    tbody & {
        font-weight: 600;
        padding: 8px 0;
    }
}

.dashboard-table__icon {
    display: inline-block;

    &--amp {
        width: 9px;
        height: 14px;
        color: #c7c7c7;
    }

    &--actions {
        width: 16px;
        height: 16px;
        color: $orange;
        cursor: pointer;
    }

    svg {
        display: block;
    }
}

.manage-label-list {
    thead {
        display: none;
    }

    td {
        padding: 14px 0;
    }

    a {
        color: $gray2;

        &:hover {
            color: $orange;
        }
    }
}


.stats-table {
    th,
    td {
        @include breakpoint(medium) {
            flex: 0 0 75px;
        }
    }

    &__cell {
        font-weight: 600;
        display: flex;
        align-items: center;
    }
}
