.loader-container {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    color: $orange;

    &--center {
        margin: 0 auto;
    }
}

.loading-icon {
    position: relative;
    display: block;
    text-align: center;

    &--flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle {
        background: currentColor;
        display: inline-block;
        margin: 0;
        animation: loading 0.5s infinite ease-in-out;
        border-radius: 50%;
        margin-right: 3px;
        width: 6px;
        height: 6px;
    }

    .circle-2 {
        animation-delay: 0.1s;
    }

    .circle-3 {
        animation-delay: 0.2s;
    }
}

/*  Android loader */
.loader-android {
    animation: rotate 2s linear infinite;
    position: relative;
}

.loader-android__path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    transform-origin: center center;
    animation: dash 1.5s ease-in-out infinite;
    stroke: currentColor;
    stroke-linecap: square;
}
