.social-button {
    background: $orange;
    display: inline-block;
    border-radius: 20px;
    color: #fff;
    padding: 9px 20px;
    font-size: 0.923em;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

    &:hover,
    &:focus {
        color: #fff;
    }

    &__icon {
        width: 17px;
        height: 17px;
        vertical-align: top;
    }

    &--twitter {
        background: $twitter_col;
    }

    &--facebook {
        background: $facebook_col;

        .social-button__icon {
            width: 15px;
            height: 15px;
            vertical-align: middle;
        }
    }

    &:hover {
        color: #fff;
        opacity: 0.7;
    }
}

.youtube-input-container,
.facebook-input-container {
    position: relative;


    svg {
        position: absolute;
        left: 10px;
        color: $youtube_col;
        width: 24px;
        top: 10px;
        height: 24px;
    }

    input {
        padding-left: 45px;
    }
}

.facebook-input-container {
    svg {
        width: 20px;
        height: 20px;
        top: 12px;
        color: $facebook_col;
    }

    input {
        padding-left: 35px;
    }
}
