$iconSize: 16px;
$largeIconSize: 25px;

.status-icon {
    background: $orange;
    display: inline-block;
    width: $iconSize;
    height: $iconSize;
    color: #fff;
    border-radius: 50%;
    padding: 3px;
    vertical-align: middle;

    &--active,
    &--success {
        background: $green;
    }

    &--error {
        background: $red;
    }

    svg {
        display: block;
    }
}
