.c-dropdown {
    position: relative;

    &__deselect-button {
        height: 10px;
        pointer-events: none;
        width: 10px;
    }

    &__label {
        display: block;
        border: 1px solid $gray9;
        padding-right: 35px;
        padding-top: 8px;
        padding-bottom: 8px;
        cursor: pointer;
        position: relative;

        &-icon {
            width: 10px;
            height: 10px;
            top: 50%;
            margin: -5px 0 0;
            position: absolute;
            right: 20px;
            color: currentColor;
            pointer-events: none;
        }

        &-tag {
            background-color: $orange;
            border-radius: 6px;
            color: #fff;
            display: inline-block;
            font-weight: bold;
            line-height: 1.8;
            margin-right: 10px;
            overflow: hidden;
            padding: 2px 8px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &:hover,
        &:focus {
            border-color: $gray8;
        }
    }

    &__list {
        position: absolute;
        background: #fff;
        min-width: 100%;
        top: 100%;
        right: 0;
        padding: 10px 0;
        border: 1px solid $gray9;
        border-top: 0;
        max-height: 300px;
        overflow-y: scroll;
        transform: scaleY(0);
        transform-origin: top center;
        transition: transform 0.3s ease-in-out;
        z-index: index($z-index, arbitrary);

        .c-dropdown--active & {
            transform: scaleY(1);
        }
    }

    &__item-button {
        align-items: center;
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        transition: background 0.12s ease-out;

        &--active,
        &:hover,
        &:focus {
            transition: background 0.12s ease-in;
            background: $gray11;
        }

        // Workaround for events on children of react-aria-menubutton MenuItem not propagating to the parent
        * {
            pointer-events: none;
        }
    }

    &__remove-tag-button {
        margin-left: 0.5em;
        opacity: 0.5;
        transition: opacity 0.12s ease-in;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    &__section-dropdown-button {
        height: 10px;
        margin-right: 0;
        width: 10px;
    }

    &__section-header {
        font-weight: 600;
        padding: 8px 20px 8px 15px;
        width: 100%;

        &:hover,
        &:focus {
            transition: background 0.12s ease-in;
            background: $gray11;
        }

        // Workaround for events on children of react-aria-menubutton MenuItem not propagating to the parent
        * {
            pointer-events: none;
        }
    }

    &__section-items {
        .c-dropdown__item-button {
            padding: 8px 20px 8px 30px;
        }
    }

    &--button {
        .c-dropdown__label {
            border: 0;
            display: inline;
            vertical-align: middle;
        }

        .c-dropdown__list {
            border: 0;
            background: $gray2;
            color: #fff;
            padding: 10px 15px;
            top: 40px;

            &:before {
                right: 19px;
            }
        }

        .c-dropdown__list--above {
            top: auto;
            bottom: 50px;

            &:before {
                top: auto;
                bottom: -5px;
                @include triangle(down, $gray2, 10px, 6px);
            }
        }

        .c-dropdown__item-button {
            &--active,
            &:hover,
            &:focus {
                background: none;
                color: $orange;
            }
        }
    }

    &--full {
        .c-dropdown__label {
            width: 100%;
            display: flex;
            align-items: center;
        }
    }
}
