.dashboard-tracklist {
    &__item {
        padding: 12px 0;
        line-height: 33px;

        & + .dashboard-tracklist__item {
            border-top: #f5f5f5 1px solid;
        }
    }

    &__title {
        display: block;
        float: left;
        font-weight: 600;
        max-width: calc(100% - 145px);
        @include ellipsis;
    }

    &__action {
        display: block;
        float: right;
    }
}

