.comment__form {
    .comment-item__content & {
        border: 0;
        margin-top: 25px;
        padding-bottom: 0;
    }

    &-input {
        flex: 1;
        margin: 0 20px;
    }

    &-input-clear {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 15px;
        right: 15px;
        color: rgba($gray7, 0.4);
        z-index: 4;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: rgba($gray7, 0.7);
        }
    }

    &-textarea {
        height: 42px;
        min-height: 42px;
        margin-bottom: 0;
    }

    ::placeholder {
        color: $gray8;
    }

    &-button {
        height: 42px;
        width: 140px;
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.06);
    }
}
