.widget {
    padding: 15px 20px 10px;

    &-title {
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 0 15px;
        @include font-size(11px);
    }

    &__icon {
        display: inline-block;
        margin-right: 7px;
        width: 16px;
        height: 16px;
        text-align: center;
        color: $brand_color;
        vertical-align: text-top;
        @include font-size(16px);
    }

    &__menu {
        list-style: none;
        margin: 0;
        padding: 0;
        @include font-size(13px);

        li.current a {
            background: $brand_color;
            color: #fff;
            border-radius: 4px;

            .widget__icon {
                color: #fff;
            }
        }
    }

    &__label {
        margin-bottom: 10px;
        display: inline-block;
    }

    &__avatar {
        width: 15px;
        margin-right: 10px;

        img {
            border-radius: 50%;
        }
    }

    &__user-alert {
        position: absolute;
        top: 0;
        right: 0;
        font-weight: 700;
    }

    &__load-stuff {
        color: #222;
        font-weight: 600;
        display: block;
        padding-top: 5px;
        cursor: pointer;
        position: relative;
        @include font-size(12px);

        &:after {
            content: "";
            display: inline-block;
            margin-left: 10px;
        }
    }

    &__load-more {
        &:after {
            @include triangle('down', $orange, 8px, 6px);
            position: absolute;
            top: 50%;
        }
    }

    &__load-less {
        &:after {
            @include triangle(up, $brand_color, 8px, 6px);
        }
    }
}

.vertical-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    @include font-size(13px);

    &__link {
        display: block;
        padding: 8px 15px;
        font-weight: 600;
        color: $gray3;
        width: 100%;
        text-align: left;
        letter-spacing: -0.5px;
        position: relative;
        border-left: transparent 4px solid;

        &--current {
            border-color: $orange;
        }

        &[data-alert-count]:after {
            margin-left: 7px;
            top: -1px;
        }

        &--condensed {
            padding: 6px 15px;
        }

        &:hover,
        &:focus {
            color: #000;
        }
    }

    &--condensed {
        @include font-size(12px);

        li {
            margin: 0 0 15px;
            padding-right: 20px;
            position: relative;
        }

        .vertical-menu__link {
            line-height: 1;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 0;
            background: none;
            color: $gray3;
            border: none;
        }
    }
}
