body.has-cookie-alert {
    margin-top: $cookie_alert_height;
}

.c-message {
    background: $gray1;
    display: inline-block;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    transition: opacity 0.2s ease-out;
    opacity: 1;
    z-index: index($z-index, confirm-message);

    a,
    .button--link {
        color: $orange;

        &:hover,
        &:focus {
            color: #fff;
        }
    }

    &__icon {
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
        color: $gray9;

        &:hover {
            color: #fff;
        }
    }

    &--dismissable {
        padding-right: 50px;
    }

    &--amp-alert {
        display: none;
    }

    &--cookie-alert {
        font-size: rem-calc(11);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $cookie_alert_height;
        text-align: center;
        border-radius: 0;
        line-height: normal;
        overflow: hidden;

        @include breakpoint(medium) {
            font-size: rem-calc(13);
            line-height: $cookie_alert_height;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

