.grid-wrap {
    margin-bottom: 30px;
}

.card-grid__load-more {
    margin-top: 25px;
}

.card {
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;

    .homepage__section & {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__image {
        width: 100%;
    }

    &__info {
        width: 100%;
        padding: 15px 10px;
        height: 105px;
        background: #fff;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-size: 1.231em;
        line-height: 24px;
        margin: 0 0 8px;
        padding: 0 10px;
        letter-spacing: -0.6px;
        max-height: 48px;
        overflow: hidden;
        color: $gray2;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: $orange;
        }

        /* stylelint-disable */
        span {
            display: -webkit-inline-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        /* stylelint-enable */
    }

    &__meta {
        font-size: 1em;
        font-weight: 600;
        color: #6e6e6e;
        margin: 0;
        padding: 0 10px;
        letter-spacing: -0.75px;
    }
}

.music-card {
    .play-icon {
        margin: 0;
        transform: scale(1);
    }

    .loading-icon {
        margin: 0;
    }
}

.music-card__content {
    min-height: 110px;

    .music-card--featured & {
        min-height: 105px;
    }
}

.music-card__interactions {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 18px;
    height: 16px;
    color: $gray7;

    &--active {
        color: $orange;
    }

    .tooltip {
        background: #000;
        min-width: 170px;
        bottom: calc(100% + 5px);
        right: -15px;
        z-index: index($z-index, popout);
    }

    button {
        padding: 4px 0;
    }
}

// TODO add overlay utility classes
.music-card__artwork {
    img {
        width: 100%;
    }

    .music-artwork__overlay {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .play-button {
        color: #fff;
        width: 60px;
        height: 60px;
    }

    svg {
        padding: 10px;
    }

    &--playing .music-artwork__overlay,
    &:hover .music-artwork__overlay {
        opacity: 1;
    }
}
