.user-detail {
    $image-offset: 30px;

    background: #fff;
    padding: 10px 0;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.02);
    margin-bottom: 60px;

    .column {
        padding-left: 10px;
        padding-right: 10px;
    }

    &__image {
        box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
        margin-right: auto;
        margin-left: auto;
        width: 160px;
        height: 160px;
        flex: 0 0 160px;

        @include breakpoint(medium) {
            margin-right: 20px;
            margin-top: -$image-offset;
        }

        .user-profile__feed & {
            margin-top: 0;
        }
    }

    &__link {
        display: block;
        margin-bottom: 3px;

        @include breakpoint(medium) {
            float: left;
        }
    }

    &__content {
        margin-bottom: 1em;
        padding-left: 0;
        min-width: 0;
        flex: 1;
        display: flex;
        flex-direction: column;

        @include breakpoint(medium) {
            margin-bottom: 0;
        }
    }
}
