.accordion {
    padding: 10px 0 20px;

    &:first-child {
        padding-top: 0;
    }

    &__title {
        width: 100%;
        text-align: left;
        padding: 10px 30px 10px 0;
        position: relative;

        &:first-child {
            padding-top: 0;
        }

        &:after {
            right: 10px;
            top: 50%;
            margin-top: -5px;
        }
    }

    &:last-child {
        padding-bottom: 0;

        .accordion__title {
            padding-bottom: 0;
        }
    }

    &__content {
        color: #868686;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out 0.2s, opacity 0.2s ease-out;
        will-change: max-height, opacity;
    }

    &--closed {
        .accordion__title {
            &:after {
                @include triangle(down, $gray8, 12px, 6px);
            }
        }
    }

    &--open {
        .accordion__title {
            &:after {
                @include triangle(up, $orange, 12px, 6px);
            }
        }

        .accordion__content {
            transition: max-height 0.2s ease-in, opacity 0.2s ease-in 0.2s;
            opacity: 1;
            max-height: 2000px;
            overflow: auto;
        }
    }
}
