.sub-menu {
    background: $gray2;
    min-width: 100%;
    padding: 5px 0;
    text-align: left;

    a,
    button,
    [role="button"] {
        color: #fff;
        padding: 5px 0;
        font-weight: 700;
        display: block;
        white-space: nowrap;
        line-height: 1.8;
        @include font-size(13px);
        letter-spacing: -0.6px;
        width: 100%;
        text-align: left;

        &:hover {
            color: $brand_color;
        }

        &[disabled] {
            background: none;
            color: $gray7;
            cursor: not-allowed;
        }
    }

    &--condensed {
        a,
        button,
        [role="button"] {
            padding: 2px 0;
        }
    }

    &--two-col {
        width: 320px;
        max-width: 320px;
        display: flex;
        flex-wrap: wrap;

        li {
            flex: 0 0 50%;
            padding: 0 5px;
        }
    }

    &__icon {
        width: 18px;
        height: 18px;
        margin-right: 1em;
        color: $brand_color;
        vertical-align: text-top;

        &--close {
            padding: 0 3px;
        }

        &--plus,
        &--external {
            padding: 0 2px;
        }

        &--fav,
        &--download {
            padding: 0 1px;
        }

        &--reup,
        &--embed {
            width: 20px;
        }

        &--queue-end {
            transform: translateX(3px);
        }
    }
}

.sub-menu__item {
    line-height: 1;
    color: #fff;

    i {
        color: $brand_color;
        margin-right: 8px;
        position: relative;
        top: -3px;
    }

    &--notifications,
    &--upload {
        @media (min-width: 640px) {
            display: none;
        }
    }

    &--disabled {
        cursor: not-allowed;
    }

    &.hide-for-medium {
        @include breakpoint(930) {
            display: none;
        }
    }
}
