
.music-info__description {
    flex: 1;

    &-tag {
        text-transform: uppercase;
        @include font-size(11px);
    }

    &-copy {
        line-height: 19px;
        letter-spacing: -0.54px;
        white-space: pre-wrap;
        word-break: break-word;
    }

    &-empty {
        color: #c7c7c7;
    }
}

.music-info__read-more {
    margin-top: 10px;
    display: inline-block;
    padding-right: 15px;
    cursor: pointer;

    &:after {
        @include triangle(down, $orange, 8px, 5px);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-1px);
    }

    &--less:after {
        @include triangle(up, $orange, 8px, 5px);
    }
}
