.pinned-items {
    display: flex;
    flex-wrap: wrap;
    margin: 15px -10px 0;
}

.pinned-title {
    &__icon {
        width: 16px;
        height: 16px;
    }

    &__edit {
        margin-left: 4px;
    }
}

.pinned-item {
    background: #fbfbfb;
    border: #ebebeb 1px solid;
    margin: 0 10px;
    padding: 15px;
    flex: 1;

    .pinned-items--3 & {
        padding: 20px 45px 40px;
    }

    .pinned-items--4 & {
        background: none;
        border: none;
        padding: 0;
    }
}

.pinned-item__menu {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 25px;
    color: $orange;
    z-index: index($z-index, pinned-menu);

    &:hover {
        color: #222;
    }

    .pinned-items--condensed & {
        top: 5px;
        right: 15px;
    }

    .pinned-items--condensed .music-detail--album &,
    .pinned-items--condensed .music-detail--playlist & {
        top: 10px;
    }
}

.pinned-item__sub-menu {
    right: -11px;
    margin-top: 5px;
    z-index: index($z-index, tooltip-active);
    transform-origin: top right;

    &:before {
        right: 15px;
    }
}

.pinned-items__empty {
    background: #fbfbfb;
    border: #ebebeb 1px solid;
    margin: 0 -10px;
}
