[data-alert-count]:after {
    content: attr(data-alert-count);
    display: inline-block;
    background: $orange;
    color: #fff;
    z-index: 2;
    min-width: 17px;
    height: 17px;
    line-height: 17px;
    padding: 0 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: 800;
    position: relative;
    letter-spacing: -0.5px;
}
