.app-badges {
    list-style: none;
    margin: 0;
    padding: 0;
}

.app-badge {
    background: url('/static/images/desktop/app-badges.png') no-repeat top left;
    display: inline-block;
    width: 130px;
    height: 40px;

    &--google {
        background-position: 0 -40px;
    }

    @include background-image-retina('/static/images/desktop/app-badges', 'png', 130px, 80px);
}

.am-app-badge {
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 141px;
    height: 41px;
    border-radius: 2px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);

    @include background-image-retina('/static/images/desktop/app-btn-full', 'png', 141px, 41px);
}
