.music-detail-container {
    position: relative;

    &--fixed {
        border-bottom: 1px solid $gray10;
        background: #fff;
        z-index: index($z-index, music-detail-fixed);
    }

    .music-feed:not(.music-feed--chart) &,
    .recent-tracks & {
        padding-bottom: 1em;
        border-bottom: $border_color 1px solid;
    }

    // TODO remove this !important
    // Relates to that abomination above ^^^
    .pinned-items & {
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

.music-feed {
    padding: 40px 0 0;

    &--has-fixed-nav {
        padding: 100px 0 40px;
    }

    &--artist {
        > h3 {
            margin-bottom: 15px;
        }
    }

    &__loader {
        display: block;
        margin: 0 auto;
    }

    &__context-switcher {
        margin-bottom: 60px;
        z-index: 4;

        &--fixed {
            position: fixed;
            width: 100%;
            max-width: 1020px;
            top: 61px;
            z-index: index($z-index, fixed-nav);
        }
    }

    .context-switcher {
        margin-top: 10px;
        padding: 15px 20px;
        text-align: right;
    }

    &--artists > header {
        margin-bottom: 50px;
    }
}

// Override
.am-partner + .music-feed {
    padding-top: 20px;
}

.music-detail {
    $image-offset: 30px;

    background: #fff;
    padding: 10px 0;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.02);

    &-title {
        margin-bottom: 60px;
        padding: 0 20px;
        letter-spacing: -0.6px;
    }

    &--no-play {
        .artwork-play-button,
        .music-artwork__overlay {
            cursor: default;
        }

        .play-button {
            display: none;
        }
    }

    &--profile {
        box-shadow: none;
    }

    + .album-tracklist {
        background: #fff;
        padding: 10px 0 5px 0;

        > .column {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &--profile + .album-tracklist {
        margin-bottom: 0;
    }

    &--related + .album-tracklist .column {
        padding: 0;
    }

    .pinned-item & {
        background: none;
        margin: 0;
        padding: 0;
    }

    // TODO
    // Do something with this!!
    /* stylelint-disable */
    &:not(.music-detail--profile):not(.music-detail--large) {
        .column {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    /* stylelint-enable */

    &__interaction-wrap,
    &__stats-wrap {
        margin-top: 10px;

        .search-page & {
            @media screen and (max-width: 1285px) {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: left;
            }
        }
    }

    .music-meta__icon--soundcloud {
        width: 30px;
        height: 22px;
        display: inline-block;
        position: relative;
        top: 6px;
        margin-left: 5px;
        color: #999;

        &:focus,
        &:hover {
            color: $brand_color;
        }
    }

    &__embed-wrap {
        overflow: hidden;
        margin: 0 -10px;
        padding: 10px 10px 0;
    }

    &__embed-inner {
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05);
        width: 104%;
        margin: 0 -2%;
        padding: 0 2%;
        position: relative;

        .modal & {
            box-shadow: none;
        }
    }

    &__embed-textarea {
        margin: 0 0 5px;
        background: $gray11;
        padding: 15px 35px 15px 15px;
        border-radius: 8px;
        resize: none;
        border: 0;
        font-family: $font-stack--primary;
        font-weight: 600;
        color: #666;
        max-height: 75px;

        .modal & {
            height: 80px;
        }
    }

    &__embed-toggle {
        font-weight: 600;
        line-height: 30px;
        cursor: pointer;
        letter-spacing: -0.35px;
        @include font-size(14px);
    }

    &__embed-close {
        position: absolute;
        color: $gray7;
        width: 15px;
        height: 15px;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);

        &:hover,
        &:focus {
            color: $gray4;
        }
    }

    &__embed-toggle-icon {
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin: -2px 0 0 4px;
        transform: scale(1);
    }

    &__subtext {
        text-align: center;
        margin-top: 1em;
    }

    &__link {
        display: block;
        margin-bottom: 2px;
    }

    &__ranking-label {
        text-transform: uppercase;
        font-size: 0.7rem;
    }

    &__ranking-number {
        color: $orange;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 0.9;
        margin-bottom: 0.5em;
    }

    &__reup-label {
        font-weight: 700;
        text-transform: uppercase;
        @include font-size(11px);

        .music-feed & {
            position: absolute;
            top: -25px;
            margin-left: 180px;
        }

        .user-profile__feed-item & {
            position: relative;
            margin: 0;
            top: auto;
        }

        .pinned-item & {
            position: relative;
            top: 0;
            margin: 0;
        }

        .u-text-icon {
            color: $brand_color;
            width: 1.3em;
            height: 1.3em;
        }

        .u-text-icon--star {
            position: relative;
            top: -2px;
        }
    }

    &__image {
        box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);

        @include breakpoint(medium) {
            margin-top: -$image-offset;
        }

        .user-profile__feed & {
            margin-top: 0;
        }
    }

    &__play {
        transition: 0.2s ease-in-out;
        width: 45px;
        height: 45px;
    }

    &__content {
        padding-left: 0;
        min-width: 0;
        max-width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;

        .dashboard-music-detail & {
            align-self: center;
        }

        .music-detail--feed &,
        .music-detail--profile & {
            justify-content: center;
            max-width: 100%;
        }

        .pinned-items--4 & {
            max-width: 200px;
        }
    }

    &__top {
        min-height: 120px;

        .search-page__result--artist & {
            display: flex;
            align-items: center;
        }

        .music-detail:not(.music-detail--large) & {
            display: flex;
            align-items: center;
        }

        .pinned-items--condensed & {
            flex-direction: column;
        }

        .pinned-items--4 & {
            margin: 0;
        }
    }

    &__top-left {
        .pinned-items--condensed & {
            text-align: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .pinned-items--4 & {
            padding: 0;
        }
    }

    &__lower-meta {
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;

        .music-detail--large & {
            padding-top: 20px;
        }

        .music-detail--album-large & {
            padding-top: 15px;
        }
    }

    &__stats {
        flex: 1;
    }

    &--large {
        $image-offset-large: 40px;

        padding: 0;
        box-shadow: none;

        .music-detail__inner {
            padding: 20px 0 0;
        }

        .music-detail__content {
            justify-content: center;
        }

        .music-detail__top {
            min-height: 190px;
            display: flex;
        }

        .music-artwork {
            flex: 0 0 230px;
            width: 230px;
            height: 230px;
            margin-right: auto;
            margin-left: auto;
            border-radius: 0;

            @include breakpoint(medium) {
                flex: 0 0 280px;
                width: 280px;
                height: 280px;
                margin-right: 30px;
                margin-left: 0;
                margin-top: -$image-offset-large;
            }

            img {
                border-radius: 0;
            }
        }

        .play-button:not(.waveform-wrap__play-button) {
            width: 40px;
            height: 45px;
        }

        .music-detail__link {
            margin-bottom: 0;
        }

        .music__heading {
            font-size: rem-calc(32);
            letter-spacing: rem-calc(-1.1);

            span {
                line-height: 1.15;
            }
        }

        .music__meta {
            line-height: 20px;
            margin-bottom: 9px;

            a {
                font-weight: 600;
            }
        }

        .music__meta-featuring,
        .music__meta-album {
            font-size: rem-calc(18);
            line-height: 1.3;
            font-weight: 600;
            letter-spacing: rem-calc(-0.5);
        }

        .listen__tracklist-wrap {
            min-height: 250px;
            margin-top: 20px;
        }
    }

    &--album-large {
        padding-bottom: 1.2em;

        & + .album-tracklist {
            padding-top: 0;
        }

        .music__meta-featuring {
            margin: 0 0 8px;
        }
    }

    &--fixed {
        .music-detail-container {
            box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
        }

        .music-detail__inner {
            transform: translateY(100%);
            opacity: 0;
            animation: dropIn 0.3s ease-in-out forwards;
            animation-delay: 0.05s;
            padding: 12px 0 0;

            @media (max-width: 639px) {
                padding-bottom: 12px;
            }
        }

        .music-artwork {
            width: 55px;
            height: 55px;
            flex: 0 0 55px;
            margin-top: 0;

            @include breakpoint(medium) {
                margin-right: 15px;
            }

            img {
                min-height: 0;
                border-radius: 0;
            }
        }

        .music-detail__content {
            flex-direction: row;
            justify-content: space-between;
            padding-right: 20px;

            @media (max-width: 639px) {
                padding-left: 20px;
            }
        }

        .u-hide-when-fixed {
            display: none;
        }

        .listen__tracklist-buttons {
            display: none;
            margin: 10px;

            @media (min-width: 640px) {
                display: block;
            }
        }

        .music-detail__top {
            min-height: 0;
        }

        .music-detail__top-left {
            flex: 1;
            max-width: 100%;
            padding-right: 0;

            @media (max-width: 639px) {
                display: flex;
                align-items: center;
            }
        }

        .music-detail__top-right {
            flex: 0 0 80px;
            padding-left: 0;
        }

        .music__meta {
            margin-bottom: 5px;
            position: relative;
            top: -3px;
        }

        .music__heading--artist,
        .music__heading--title {
            font-size: 1.1rem;
            line-height: 1.1;
        }

        .music__heading--artist {
            margin-top: 3px;
            padding-bottom: 2px;
        }

        .music-interactions__inner {
            position: absolute;
            top: 30px;
            right: 90px;
        }

        .music-interactions--above-rank {
            position: relative;
            top: 12px;
        }
    }

    // &-featuring {
    //     font-size: 18px;
    //     font-weight: 700;
    //     margin: 0;
    //     line-height: 1.4;
    // }
}

.music-detail__tag {
    background: $gray10;
    display: inline-block;
    font-size: rem-calc(11);
    font-weight: 700;
    letter-spacing: rem-calc(-0.5);
    color: $gray5;
    padding: 4px 10px;
    border-radius: 4px;

    &:hover,
    &:focus {
        background: $orange;
        color: #fff;
    }

    + .music-detail__tag {
        margin-left: 10px;
    }
}

.music-detail__track-list {
    margin: 10px 0 0;
    padding: 5px 0 0 30px;
    line-height: 31px;
    color: #666;
    border-top: #ebebeb 1px solid;
    font-size: 1.077em;

    &-item {
        list-style-type: decimal;
        padding: 0 10px 5px 1em;
        position: relative;
        display: list-item;
        line-height: inherit;
        font-weight: 600;

        .icon {
            width: 17px;
            height: 17px;
            position: absolute;
            left: -1.25em;
            top: 7px;
            display: none;
        }

        &--active {
            list-style: none;
            color: $brand_color;

            .icon {
                display: block;
            }
        }
    }

    &-button {
        display: inline-block;
        width: 100%;
        text-align: left;
        font-family: $font-stack--primary;
        color: #222;
        font-size: 1.071em;
        letter-spacing: -0.5px;

        .music-detail__track-list-item--active & {
            color: $orange;
        }

        &[disabled] {
            cursor: default;
            background: none;
        }

        &:focus,
        &:hover {
            color: $brand_color;
            background: none !important;
        }
    }

    &-title {
        font-weight: 600;
        letter-spacing: -0.5px;
    }

    &-duration {
        font-weight: 700;
        color: #666;
        letter-spacing: -0.5px;
        font-size: 0.867em;
    }
}

.music__meta {
    letter-spacing: -0.35px;
    line-height: rem-calc(18);

    .pinned-items--condensed & {
        line-height: 1.3;
    }

    span {
        .music-detail--album-large & {
            font-weight: 700;
        }
    }

    .u-orange-check {
        display: inline-block;
    }
}

// Search results page overrides
.search-page__result {
    .music-detail__image {
        margin-top: -25px;
    }
}

.verified-label {
    text-transform: uppercase;
    font-weight: bold;
    color: $brand_color;
    font-size: 0.7rem;
    letter-spacing: -0.03em;
}

@keyframes dropIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
