.avatar-container {
    overflow: hidden;
    max-width: 300px;
    max-height: 300px;
    position: relative;

    &--overflow {
        overflow: visible;
    }

    img {
        display: block;
        width: 100%;
        border-radius: 5px;
    }

    .dashboard-music-detail & {
        overflow: visible;
        flex: 0 0 190px;
        width: 190px;
        height: 190px;
        border-radius: 0;

        img {
            border-radius: 0;
        }
    }

    &--square img {
        border-radius: 0;
    }

    &__input-wrap {
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &,
        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        input {
            opacity: 0;
            z-index: index($z-index, arbitrary);
        }

        .user-profile__avatar-wrap & {
            flex-direction: column;
            border-radius: 3px;
        }
    }

    &--dirty .avatar-container__input-wrap {
        background: rgba(0, 0, 0, 0);
    }

    &__icon {
        color: #fff;
        width: 30%;
        height: 30%;
        transform: translateY(-15px);
    }

    &--zoomable {
        cursor: zoom-in;
        background: $gray9;
        z-index: index($z-index, artwork-play-button);
        transition: transform 0.12s ease-out;

        img {
            transform-origin: top left;
            transition: transform 0.12s ease-in;
        }
    }

    &--active {
        cursor: zoom-out;
    }
}
