.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.sectionTitle {
    color: #ffa200;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.05rem;
    margin-bottom: 1.5em;
}
