.comment-item {
    display: flex;
    width: 100%;
    position: relative;

    + .comment-item {
        margin-top: 25px;

        &.comment-item--deleted {
            margin-top: 10px;
        }

        .comment-item__children & {
            margin-top: 15px;
        }
    }

    &__actions {
        .comment-item--deleted & {
            display: none;
        }
    }

    &__content {
        width: 100%;
    }

    &__vote-icon {
        color: #afafaf;
        width: 18px;
        height: 18px;

        &--down {
            transform: translateY(4px);
        }
    }

    &__reply-icon {
        width: 18px;
        height: 18px;
        color: #afafaf;
        transform: translateY(3px);
    }

    &__admin-actions {
        position: absolute;
        top: 0;
        right: 0;
    }
}
