.comment-sort {
    display: flex;
    align-items: center;

    &__icon {
        width: 18px;
        height: 18px;
    }

    &__label {
        display: inline-block;
        position: relative;
        padding-right: 20px;

        &:after {
            @include triangle(down, $orange, 10px, 6px);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-1px);
        }
    }

    &__tooltip {
        min-width: 0;
        right: 5px;
    }
}
