.verified {
    background: $orange;
    color: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 50%;
    padding: 0 3px;
    position: relative;

    svg {
        display: block;
    }

    .site-sidebar & {
        position: absolute;
        bottom: 0;
        right: 35px;
    }

    &--tastemaker {
        background: none;
        color: $orange;
        padding: 0;

        svg {
            transform: rotate(45deg);
        }

        .site-sidebar & {
            background: #000;
            padding: 0 4px;
        }

        .main-header & {
            background: #000;
            padding: 0 3px;
        }
    }

    &--authenticated {
        background: $gray4;
    }

    &--small {
        width: 12px;
        height: 12px;
    }
}
