[type="checkbox"],
[type="radio"] {
    -moz-appearance: none; // stylelint-disable-line
    -webkit-appearance: none; // stylelint-disable-line
    appearance: none;
    background: $gray4;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 0.5em;
    position: relative;
    cursor: pointer;
    transition: background 0.12 ease-in;
    flex-shrink: 0;
    border-radius: 50%;

    &.plus {
        border-radius: 50%;
        background: none;
        border: 2px solid $gray7;
        width: 27px;
        height: 27px;

        &:before {
            content: '+';
            display: block;
            opacity: 1;
            width: 100%;
            height: 100%;
            left: 0;
            position: absolute;
            top: -1px;
            color: $gray7;
            transform: none;
            background: none;
            font-size: 2em;
            text-align: center;
            line-height: 24px;
        }

        &:checked {
            border: 0;

            &:before {
                content: '';
                background: #fff;
                width: 3px;
                height: 4px;
                top: 13px;
                left: 8px;
            }

            &:after {
                width: 3px;
                height: 13px;
                top: 7px;
                left: 14px;
            }
        }
    }

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        background: #fff;
        transition: transform 0.12s ease-in, opacity 0.12s ease-in;
        opacity: 0;
    }

    &:before {
        width: 3px;
        height: 7px;
        top: 8px;
        left: 6px;
        transform: scale(0) rotate(-41deg);
    }

    &:after {
        width: 3px;
        height: 9px;
        top: 5px;
        left: 11px;
        transform: scale(0) rotate(45deg);
    }

    &:checked {
        background: $brand_color;

        &:before {
            transform: scale(1) rotate(-41deg);
            opacity: 1;
        }

        &:after {
            transform: scale(1) rotate(45deg);
            opacity: 1;
        }
    }

    &[disabled] {
        pointer-events: none;

        &:checked {
            background: $gray9;
        }
    }

    &.radio--small,
    &.checkbox--small {
        width: 16px;
        height: 16px;

        &:before {
            width: 2px;
            height: 5px;
            top: 7px;
            left: 5px;
        }

        &:after {
            width: 2px;
            height: 7px;
            top: 4px;
            left: 9px;
        }
    }
}
