.app-badge {
    display: inline-block;

    .app-badges--inline & {
        margin: 0 5px;
    }

    &--image {
        width: 130px;
        height: 40px;
        @include background-image-retina('/static/images/desktop/app-badges', 'png', 130px, 80px);
    }

    &--google {
        background-position: 0 -40px;
    }
}
