@import '../../../public/scss/shared/settings/_settings.color.scss';

.button {
    background: $orange;
    position: relative;
    border-radius: 100px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
    color: #fff;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 0.12s ease-in, color 0.12s ease-in;
}

.twitter {
    composes: button; // stylelint-disable-line
    background-color: $twitter_col;
}

.facebook {
    composes: button; // stylelint-disable-line
    background-color: $facebook_col;
}

.google {
    composes: button; // stylelint-disable-line
    background-color: $google_col;
}

.apple {
    composes: button; // stylelint-disable-line
    background-color: #fff;
    color: #000;
}

.icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 26px;
    height: 26px;
    padding: 3px;
    transform: translate(-50%, -50%);

    .google & {
        background: #fff;
        border-radius: 50%;
        padding: 4px;
    }

    .apple & {
        width: 28px;
        height: 28px;
        margin-top: -1px;
    }

    .twitter & {
        margin-left: 1px;
    }

    svg {
        // TODO
        // The SVG doesn't align with the top of the container, I've noticed this a few times
        // vertical-align: top or display: block fix the issue but seem hacky
        vertical-align: top;
    }
}
