@import '../../../public/scss/desktop/settings/_settings.scss';

$regSize: 44px;

.button {
    background: $orange;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 25px;
    padding: 0 10px;
    width: 200px;
    height: $regSize;
    vertical-align: middle;


    &:hover,
    &:focus {
        background: #000;
        color: #fff;
    }
}

.hasChevron {
    padding-right: 25px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    flex: 0 0 17px;
    width: 17px;
    height: 17px;
    margin-right: 0.5em;
}

.chevron {
    position: relative;
    left: 6px;
    top: -2px;

    &:after {
        @include triangle(down, #fff, 10px, 6px);
    }
}
