@import '../../../public/scss/desktop/settings/_settings.scss';

.button {
    composes: button from './Button.module.scss';
    background: #fff;
    font-size: rem-calc(16);
    color: $gray2;
    border-radius: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
    position: relative;

    &:hover,
    &:focus {
        background: $orange;
    }
}

.active {
    background: $orange;
    color: #fff;

    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: border 0.2s ease-in-out;
        @include triangle(down, $orange, 20px, 10px);
    }
}
