.button {
    background: transparent;
    color: #222;
    width: auto;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;

    + .button {
        margin-left: 10px;
    }
}
