@import "../../../../public/scss/shared/settings/_settings.color.scss";
@import "../../../../public/scss/desktop/settings/_settings.breakpoints.scss";

/* Need to use a "~" to import from node_modules folder */
@import '~foundation-sites/scss/util/util';

.btn {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 0 30px;

    button {
        flex-grow: 1;
    }
}

.pages {
    display: flex;
    justify-content: space-around;
    margin: 40px 5px 0;
    font-weight: 600;

    button {
        font-size: 17px;

        &:hover {
            color: $orange;
        }

        &:focus {
            color: $orange;
        }

        &:disabled {
            color: $gray8;
            background: white;
        }
    }
}

.bigIcon {
    margin-top: 45px;
    margin-bottom: 20px;
    color: $gray9;
}

.bigMessage {
    font-size: 1.231em;
    font-weight: 600;
    line-height: 1.62;
    letter-spacing: -0.068em;
    max-width: 420px;
    margin: 0 auto 10px;
    color: $gray6;

    button {
        font-size: 1.1em;
        line-height: 1.62;
        letter-spacing: -0.068em;
        color: $orange;
    }
}

.table {
    @include breakpoint(medium) {
        th:first-child,
        & > tbody td:first-child,
        & > tr:first-child {
            padding-left: 10px;
        }

        .status {
            padding-left: 13px;
        }
    }

    .actions {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        button {
            width: 26px;
            height: 26px;
            margin-right: 15px;
            margin-top: 5px;
            color: $gray8;

            &:hover {
                color: $orange;
            }

            &:focus {
                color: $orange;
            }
        }

        .btnOn {
            color: $orange;
        }
    }

    tbody {
        font-weight: 600;
        padding: 8px 0;
    }

    .rows {
        letter-spacing: -0.5px;

        a {
            color: $gray1;

            &:hover {
                color: $orange;
            }

            &:focus {
                color: $orange;
            }
        }

        p {
            color: $gray1;
        }
    }
}

.adminTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint(medium) {
        flex-wrap: nowrap;
    }

    .newArtist {
        margin-top: 10px;
        flex-grow: 1;
        @include breakpoint(medium) {
            margin-top: 0;
            flex-grow: 0;
        }
    }
}

.searchBox {
    margin-top: 20px;
    position: relative;

    input {
        padding-right: 35px;
        margin-bottom: 0;
        flex: auto;
    }

    button {
        position: absolute;
        right: 10px;
        top: 8px;
        border: none;
        height: 22px;
        width: 22px;
        border-radius: 100%;
        text-align: center;
        padding: 2px;
        color: $orange;

        &:disabled {
            color: $gray8;
            background: $gray12;
        }
    }
}

.filters {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;

    label {
        font-size: 13px;
        margin: 3px 0 0 20px;
    }
}
