@import "../../../../public/scss/shared/settings/_settings.color.scss";
@import "../../../../public/scss/desktop/settings/_settings.breakpoints.scss";

/* Need to use a "~" to import from node_modules folder */
@import '~foundation-sites/scss/util/util';

.content {
    .banner {
        position: relative;
        padding-bottom: 240px;

        @include breakpoint(medium) {
            padding-bottom: 320px;
        }
    }

    .bio {
        min-height: 95px;
    }

    .btnSubmit {
        margin-top: 1rem;
        height: 50px;
        width: 170px;
        font-size: 1.1em;
        letter-spacing: -0.068em;
    }
}

.adminTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint(medium) {
        flex-wrap: nowrap;
    }

    .newArtist {
        margin-top: 10px;
        flex-grow: 1;
        @include breakpoint(medium) {
            margin-top: 0;
            flex-grow: 0;
        }
    }
}

