.birthday {
    margin-bottom: 0;
}

.notice {
    line-height: 1.4;
}

.date-picker {
    max-width: none !important;

    :global(.react-datepicker__current-month) {
        margin: 0.25em 0;
    }

    :global(.react-datepicker__navigation) {
        top: 20px;
    }

    :global(.react-datepicker__month-select),
    :global(.react-datepicker__year-select) {
        height: 21px;
    }
}

.gender {
    margin-top: 1em;
}

.terms {
    font-weight: 600;
}
