.u-album-stack {
    position: relative;

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 4px;
        z-index: index($z-indexes, album-stack);
    }

    &:before {
        background: #a6a6a6;
        height: 87.5%;
        top: 6.25%;
        left: 100%;
    }

    &:after {
        background: #676767;
        height: 78%;
        top: 11%;
        left: calc(100% + 4px);
    }
}
