@import '../../../public/scss/shared/settings/_settings.color.scss';
@import '../../../public/scss/mobile/settings/_settings.z-index.scss';
@import '../../../public/scss/shared/tools/_tools.mixins.scss';

.trackPreview {
    position: relative;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 10px 0;
}

.trackPreviewPlaying {
    background: $orange;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 10px;
        height: 10px;
    }
}

.title {
    font-size: 1.3rem;
    letter-spacing: -0.05rem;
    color: #fff;
    line-height: 1.7rem;
    @include ellipsis;

    a {
        color: #fff;
    }
}

.feedNumber {
    background: $orange;
    color: #fff;
    font-weight: 700;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: index($z-indexes, track-preview-after);
}

.download {
    background: $gray2;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 6px;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}
