@import '../../../public/scss/shared/settings/_settings.color.scss';

.item {
    color: #fff;
    padding: 8px 10px;

    a {
        color: #fff;
    }
}

.inner {
    display: flex;
    align-items: center;
    position: relative;
}

.image {
    margin-right: 10px;
    max-width: 65px;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
}

.count {
    font-size: 1.2rem;
    color: $gray7;
    text-transform: capitalize;
}
