$spacing: 30px;

.modal {
    max-width: 900px;
    text-align: center;

    header h3 {
        font-size: 1.7rem;
        margin-bottom: 1.3rem;
        padding-top: 10px;
        text-transform: none;
    }
}

.private {
    .content {
        padding: 10px $spacing $spacing;
    }
}

.promo {
    text-align: left;

    .content {
        padding: 0 20px;
    }
}

.shareUpload {
    align-items: center;
    display: flex;
    padding: 0 10px;
}

.tunecore {
    margin-left: $spacing;
}
