@import '../../../public/scss/desktop/settings/_settings.scss';

:global(.auth .close) {
    width: 14px;
    height: 14px;
    right: 20px;
    color: $gray8;
}

:global(.auth .content) {
    padding: 0 50px;
}

.modal {
    max-width: 400px;
    padding: 0;
}
