@import '../../../public/scss/desktop/settings/_settings.scss';

.content {
    padding: 20px;
}

.copy {
    font-size: rem-calc(15);
    letter-spacing: rem-calc(-0.58);
    line-height: rem-calc(20);
    margin: 0.5rem auto 0;
    max-width: 300px;
}

.modal {
    max-width: 550px;
}

.title {
    font-size: rem-calc(24);
    letter-spacing: rem-calc(-0.6);
}

.button {
    margin: 0 10px 10px;
}
