@import '../../../public/scss/desktop/settings/_settings.scss';

.label {
    display: inline-block;
}

.modal {
    [type="color"] {
        padding: 0;
        margin: 0;
        background: none;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        border: 0;
        box-shadow: 0 0 1px $gray10;
        margin-left: 5px;
    }

    iframe {
        pointer-events: none;
    }

    label {
        font-weight: 600;
    }

    @media (min-width: 600px) {
        width: 750px;
    }

    [type="checkbox"]:not(:checked) + p {
        color: #979797;
    }
}

.privateLabel {
    background: $orange;
    color: #fff;
    font-weight: 700;
    letter-spacing: rem-calc(-0.3);
    text-align: center;
}

.text {
    display: inline-block;
}
