@import '../../../public/scss/desktop/settings/_settings.scss';

$content-padding: 20px;

.close {
    position: absolute;
    font-size: 3em;
    transition: color 0.1s;
    color: $gray7;
    top: 20px;
    right: 25px;
    width: 18px;
    height: 18px;
    line-height: 0;
}

.content {
    padding: $content-padding;
}

.header {
    padding: $content-padding;
    padding-bottom: 0;

    & + .content {
        padding-top: 0;
    }
}

.message {
    margin-bottom: 25px;
    line-height: line-height(21, 13);
}

.agreementOption {
    margin-bottom: 25px;
    line-height: line-height(21, 13);
    font-weight: 800;
}

.agreementSubtitle {
    color: $gray7;
    font-weight: 400;
    font-size: 11px;
    margin-top: 20px;
}

.modalValidateArtist {
    width: 94%;
    max-width: 510px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: 0 0;
    transition: transform 0.15s cubic-bezier(0.175, 0.665, 0.32, 1), opacity 0.15s;
    background: #fff;
    color: #000;
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    // 60px of arbitrary padding
    max-height: calc(100% - 60px);
    z-index: 2;

    ul {
        list-style: none;
    }

    ul li :before {
        content: "\2022";
        color: $orange;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

    img {
        border-radius: 50%;
        margin-left: 36%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.textBeginnerGuide {
    padding-left: 80px;
    padding-right: 80px;
}

.modal {
    width: 94%;
    max-width: 750px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: 0 0;
    transition: transform 0.15s cubic-bezier(0.175, 0.665, 0.32, 1), opacity 0.15s;
    background: #fff;
    color: #000;
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    // 60px of arbitrary padding
    max-height: calc(100% - 60px);
    z-index: 2;
}

.modalLeaveActive {
    opacity: 0;
    transform: scale(0.5) translate3d(-50%, -50%, 0);
}

.modalEnter {
    opacity: 1;
}

.modalEnterActive {
    opacity: 1;
    transform: scale(1) translate3d(-50%, -50%, 0);
}

.modalLeave {
    opacity: 0;
}

.modalRoot {
    position: relative;
    z-index: index($z-index, modal);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 150ms ease-out;
    z-index: 1;
}

.overlayEnterActive {
    transition: opacity 150ms ease-in;
    opacity: 1;
}

.overlayLeaveActive {
    opacity: 0;
}

.subTitle {
    font-weight: normal;
    text-transform: none;
}

.title {
    font-size: 1.769em;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin: 0 0 1em;
    padding-right: 35px;
    line-height: 1.1em;
    text-transform: capitalize;

    em {
        font-weight: 500;
        font-style: normal;
    }
}
