@import '../../../public/scss/desktop/settings/_settings.scss';

.color {
    color: $orange !important;
}

.form {
    [type="submit"] {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    }
}

.formHeader {
    font-size: rem-calc(16);
    font-weight: 700;
    letter-spacing: rem-calc(-0.5);
}

.formSubmit {
    text-align: center;
}

.label {
    display: inline-block;
}

.labelText {
    font-size: rem-calc(13);
    font-weight: 600;
    letter-spacing: rem-calc(-0.5);
}

.modal {
    max-width: 550px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.title {
    composes: title from "./Modal.module.scss";
    margin-bottom: 25px;
    padding: 10px 0 30px;
    border-bottom: #f0f0f0 1px solid;
}
