.body {
    padding-left: 260px;
}

.bodyText {
    line-height: 1.5;
}

.bodyTextBold {
    font-size: rem-calc(12);
    font-weight: 500;
}

.center {
    text-align: center;
}

.image {
    width: 234px;
    height: 271px;
    margin-right: 20px;
    position: absolute;
    bottom: 0;
    left: 25px;
}

.modal {
    max-width: 590px;
    height: 300px;
}
