@import '../../../public/scss/desktop/settings/_settings.scss';

.button {
    width: 100%;
    padding: 15px;
}

.column:last-child {
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    border-top: $gray10 1px solid;

    @include breakpoint(small) {
        margin: 0;
        padding-top: 0;
        border: 0;
    }

    &:before {
        content: "";
        background: $gray10;
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;

        @include breakpoint(small) {
            display: block;
        }
    }
}

.columnHeader {
    font-size: rem-calc(16);
    font-weight: 700;
    letter-spacing: rem-calc(-0.2);
}

.table {
    width: 100%;

    tr {
        flex: 0 0 100%;

        @include breakpoint(small) {
            flex: 0 0 50%;
        }
    }
}

.tableBody {
    display: flex;
    flex-wrap: wrap;
}
