@import '../../../public/scss/desktop/settings/_settings.scss';

.modalValidateArtist {
    width: 550px;
    height: 593px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;

    img {
        width: 140px;
        height: 140px;
        object-fit: contain;
        margin: auto;
        z-index: 2;
        border-radius: 50%;
    }

    ul {
        list-style-type: circle;
        list-style-position: inside;
        list-style-image: none;
        text-align: left;
        margin-left: 30px;
    }

    ul li:before {
        content: "\2022";
        color: #ffa200;
        font-weight: bold;
        font-size: rem-calc(20);
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 0.5em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
    }

    li {
        height: 20px;
        line-height: 20px;
        position: relative;
    }

    li span {
        vertical-align: middle;
        position: absolute;
        top: 2%;
    }

    .listContainer {
        width: 400px;
        height: 108px;
        background-color: #f6f6f6;
        margin: 14px 75px 15px 55px;
    }
}

.titleLeft {
    margin-right: 25px;
}

.titleList {
    font-size: rem-calc(16);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.81;
    letter-spacing: rem-calc(-0.62);
    color: #272727;
    margin-top: 20px;
    margin-bottom: 7px;
}

.textList {
    font-size: rem-calc(14);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: rem-calc(-0.5);
    color: #2a2a2a;
}

.sorryArtistName {
    width: 479px;
    height: 54px;
    font-size: rem-calc(20);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: rem-calc(-0.5);
    text-align: center;
    color: #000;
    margin: 15px 15px 20px 16px;
}

.followBeginner {
    padding: 0 120px;
    font-size: rem-calc(14);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: rem-calc(-0.5);
    text-align: center;
    color: #222;
}

.buttonValidate {
    width: 200px;
    height: 48px;
    border-radius: 25px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffa200;
    font-size: rem-calc(14);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: rem-calc(-0.5);
    text-align: center;
    color: #fff;
    margin-top: 15px;
}

.divContentCenter {
    text-align: center;
}

.nameArtist {
    font-size: rem-calc(28);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    letter-spacing: rem-calc(-0.8);
    color: #2a2a2a;
    margin-top: 10px;
}

.socialNick {
    font-size: rem-calc(13);
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: rem-calc(-0.5);
    color: #999;
    margin-top: 7px;
}
