@import '../../../public/scss/desktop/settings/_settings.scss';

.modalValidateAgreement {
    width: 550px;
    height: 470px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    z-index: 2;

    ul {
        list-style: none;
    }

    ul li :before {
        color: $orange;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
}

.checkboxContainer {
    padding-top: 6px;
}

.checkboxAgreement {
    margin-top: 15px;
    margin-left: 10px;

    input {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-top: 2px;
    }

    label {
        width: 450px;
        display: inline-block;
        vertical-align: top;
        font-size: rem-calc(15);
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: rem-calc(-0.54);
        color: #222;
    }
}

.titleStyle {
    position: relative;
    z-index: -2;
}

.titleAgreement {
    margin-top: 10px;
    margin-bottom: 17px;
    text-align: center;

    svg {
        margin-bottom: 4px;
    }

    h3 {
        height: 33px;
        font-size: rem-calc(24);
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: rem-calc(-0.6);
        color: #000;
        margin-left: 40px;
    }

    .pText {
        font-size: rem-calc(14);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: rem-calc(-0.5);
        text-align: center;
        color: #222;
    }
}

.divMargin {
    margin-bottom: 11px;
}

.buttonValidate {
    width: 200px;
    height: 48px;
    border-radius: 25px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: rem-calc(14);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: rem-calc(-0.5);
    text-align: center;
    color: #fff;
    background-color: #ffa200;
    margin-top: 15px;
}

.buttonInvalid {
    width: 200px;
    height: 48px;
    border-radius: 25px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: rem-calc(14);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: rem-calc(-0.5);
    text-align: center;
    color: #fff;
    background-color: #c3c3c3;
    margin-top: 15px;
}
