@import '../../../public/scss/desktop/settings/_settings.scss';

.color {
    color: $orange !important;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    transform: translateY(2px);
}
