html,
body {
    height: 100%;
}

body {
    padding: 0;
    transition: none;
    border: 1px solid $gray10;

    &.has-background {
        border: 0;
    }

    &.has-active-player,
    &.has-collapsed-player, {
        padding: 0;
    }
}

.react-view {
    height: 100%;
}
