.missing-embed {
    background: url('/static/images/desktop/404/purple-crowd-bg.jpg') center no-repeat #222;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    color: #fff;
    padding: 20px;
    text-align: center;

    &__title {
        color: #fff;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 10px;
        display: none;

        @media (min-height: 135px) {
            display: block;
        }
    }

    &__message {
        margin: 0 0 15px;
        display: none;

        @media (min-height: 70px) {
            display: block;
        }
    }
}
