// ********* IMPORTANT ***********
// When updating the embed styles, generate new screenshots and make sure they
// look as expected. To generate new screenshots run the following:
//
// node ./scripts/generateEmbedScreenshots.js
//
// The screenshots are generated in the folder:
// tests/e2e/desktop/expectedScreenshots
$height-100: 100px;
$height-170: 170px;
$height-200: 200px;
$height-245: 245px;

// VERY temporary while I redo the responsive CSS
@mixin awkwardSize() {
    @media (max-width: 449px) and (max-height: 135px) {
        @content;
    }
}

body {
    width: 1px;
    min-width: 100%;
    overflow: hidden;
}

// New styles
// @todo clean up styles after foundation is added to embeds
.music-detail {
    padding: 10px;

    &__embed-textarea {
        height: auto;
        border-radius: 45px;
        min-height: 0;
        padding: 15px 40px 15px 25px;
    }
}

.music-detail__content {
    width: calc(100% - 50px);
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: 3px;

    @include awkwardSize() {
        width: calc(100% - 50px);
    }

    @media screen and (min-height: $height-100) {
        top: 0;
    }

    @include breakpoint(medium) {
        top: 0;
        display: block;
        width: 100%;
        padding-right: 0;
        margin-left: 5px;
    }
}

.embed { // stylelint-disable-line
    margin-bottom: 0;
    height: 100%;
    position: relative;

    &__inner {
        height: 100%;

        @include awkwardSize() {
            display: flex;
            align-items: center;
        }
    }

    .tooltip {
        right: 35px;
        top: 0;
        z-index: index($z-index, tooltip-active);

        &:before {
            @include triangle(right, #222, 6px, 8px);
            right: -6px;
            top: 3px;
        }
    }

    &__background {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(30px);
        position: absolute;
        top: -3%;
        left: -3%;
        width: 106%;
        height: 106%;

        &:before,
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:before {
            background: rgba(0, 0, 0, 0.6);
        }

        &:after {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 40%);
        }
    }

    .sub-menu button {
        padding: 3px 0;
    }

    .embed__dots {
        width: 24px;
        height: 15px;
        position: absolute;
        top: 0;
        right: 5px;
        color: $orange;
        display: none;

        @media (min-width: 315px) and (min-height: 135px) {
            display: block;
        }
    }

    &__slim-play {
        display: inline-block;
        vertical-align: top;

        @media screen and (min-height: $height-200) {
            display: none;
        }
    }

    &__social-icons {
        text-align: center;
        margin: 5px 0;

        a {
            display: inline-block;
            width: 19px;
            height: 19px;
            margin: 0 3px;
            padding: 0;

            + a {
                margin-left: 0.5em;
            }
        }
    }

    .interaction-stats {
        line-height: 1.4;
        margin-top: 4px;
        font-weight: 700;
        display: none;
        font-size: rem-calc(11);

        @media #{breakpoint(medium)} and (min-height: $height-100) {
            display: block;
        }
    }

    .interaction-stat-icon {
        width: 9px;
        height: 9px;

        &--reup {
            width: 16px;
        }
    }

    &__am-link {
        width: 65px;
        height: 35px;
        color: #000;
        position: absolute;
        top: 0;
        left: 0;

        @include awkwardSize() {
            left: auto;
            right: 0;
            width: 22px;
            height: 12px;
        }

        @include breakpoint(medium) {
            position: static;
            width: 115px;
            height: 16px;
            text-align: right;
        }

        span {
            display: block;

            @include breakpoint(medium) {
                display: inline-block;
            }
        }

        &-full {
            width: 100%;
            height: 10px;

            @include awkwardSize() {
                display: none !important;
            }

            @include breakpoint(medium) {
                width: 72px;
                height: 16px;
            }
        }

        &-mark {
            color: $orange;
            width: 22px;
            height: 12px;
            margin: 0 auto;

            @include breakpoint(medium) {
                margin-right: 5px;
            }
        }

        @media #{breakpoint(medium)} and (min-height: $height-100) {
            position: absolute;
            bottom: 0;
            right: 10px;
            left: auto;
            top: auto;
        }

        @media #{breakpoint(medium)} and (min-height: $height-245) {
            bottom: 10px;
        }

        &--removed {
            color: #fff;
            bottom: 20px;
            right: 20px;
            left: auto;
            top: auto;
        }
    }

    &--custom-color {
        .embed__am-link-mark,
        .embed__am-link {
            color: #000;
        }
    }

    &--with-background {
        background: #000;

        &,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .music-detail__track-list-button,
        .music-detail__track-list-item,
        .music-detail__track-list-duration,
        .embed__am-link-mark,
        .embed__am-link {
            color: #fff;
        }

        .waveform__time {
            background: rgba(0, 0, 0, 0.5);
        }
    }

    &__actions {
        position: absolute;
        top: 0;
        right: 5px;
        width: 24px;
        height: 24px;
        color: $orange;
        display: none;

        @media screen and (min-height: $height-200) {
            display: block;
        }
    }

    .sub-menu {
        border-radius: 4px;
    }

    .play-button {
        width: 20px;
        height: 20px;
        border-width: 2px;
        animation: none;
        opacity: 1;

        @media screen and (min-height: $height-100) {
            width: 30px;
            height: 30px;
        }

        @include breakpoint(medium) {
            width: 30px;
            height: 30px;
        }

        @media #{breakpoint(medium)} and (min-height: $height-100), (min-height: $height-200) {
            border-width: 3px;
            width: 40px;
            height: 40px;
        }

        &__icon {
            width: 50%;
            height: 50%;
        }
    }
}

.music-detail__top {
    position: relative;
    height: 100%;
    min-height: auto;
    display: block !important;

    @include awkwardSize() {
        height: auto;
        width: 100%;
    }

    @media #{breakpoint(medium)} and (min-height: $height-200) {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-height: $height-200) {
        text-align: center;
        height: auto;
    }

    @include breakpoint(medium) {
        display: flex !important;
        flex-direction: row;
        text-align: left;
    }

    @media #{breakpoint(medium)} and (min-height: $height-100) {
        display: flex !important;
        align-items: center;
    }

    @media screen and (max-width: 449px) and (min-height: 81px) and (max-height: 169px) {
        text-align: center;
    }
}

.music-detail__image {
    height: 50%;
    width: auto;
    min-height: 0;
    max-width: 110px;
    max-height: 110px;
    margin: 0 auto 10px;
    flex: 0 0 auto;
    box-shadow: none;
    display: flex;
    align-items: center;

    @include awkwardSize() {
        display: none;
    }

    @include breakpoint(medium) {
        margin: 0 10px 0 0;
        height: 100%;
    }

    @media (max-width: 650px) and (max-height: $height-170) {
        max-height: 80px;
        max-width: 80px;
    }

    @media screen and (min-height: $height-170) {
        height: 100%;
    }

    @media screen and (min-height: $height-200) {
        height: auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    }

    @media #{breakpoint(medium)} and (min-height: $height-245) {
        max-width: 170px;
        max-height: 170px;
    }

    @media (max-height: 135px) {
        max-height: 100%;
        width: auto !important; // Ugly, but good enough until we revamp completely
    }

    img {
        width: auto;
        height: auto;
        min-height: auto;
        max-height: 100%;
    }
}

.music__heading {
    letter-spacing: -0.92px;
    padding: 0;
    font-size: rem-calc(16);
    position: relative;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-height: $height-100) {
        white-space: normal;
        overflow: visible;
    }

    @media #{breakpoint(medium)} and (min-height: $height-100) {
        line-height: 1.2;
        letter-spacing: -1.2px;
        font-size: rem-calc(22);
    }

    &--artist,
    &--title {
        display: inline !important;
        line-height: 1.2;
        padding: 0;

        @media (min-height: $height-100) {
            display: block !important;
        }
    }

    &--artist {
        @media #{breakpoint(medium)} and (min-height: $height-100) {
            font-size: rem-calc(21);
        }
    }

    &--title {
        line-height: 1.2;
        padding-right: 5px;
        margin-left: 5px;

        &:before {
            content: " - ";
            display: inline-block;
            margin-right: 5px;
        }

        @media (min-height: $height-100) {
            margin-left: 0;

            &:before {
                display: none;
            }
        }
    }
}

.music__meta {
    line-height: 1.4;

    &-featuring,
    &-producer,
    &-added {
        display: none;
    }

    .music__meta-check {
        width: 11px;
        height: 11px;
        position: absolute;
        bottom: 3px;
        right: -15px;
    }

    @media #{breakpoint(medium)} and (min-height: $height-100) {
        &-featuring {
            display: block;
        }
    }

    @media #{breakpoint(medium)} and (min-height: $height-200) {
        &-producer,
        &-added {
            display: block;
        }
    }
}

.waveform-wrap {
    margin-top: 10px;
    display: none;

    @media screen and (min-height: $height-200) {
        display: block;
    }

    @include breakpoint(medium) {
        margin-top: 20px;

        .embed--album & {
            margin-top: 10px;
        }
    }
}

.embed__social-icon {
    width: 100%;

    &--twitter {
        color: $twitter_col;
    }

    &--facebook {
        color: #627dca;
    }

    &--soundcloud {
        color: #c7c7c7;
        width: 26px;
        height: 26px;
        position: relative;
        top: -3px;
    }
}

.music-removed {
    background: url(/static/images/desktop/chart-banner-crowd.jpg) no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    min-height: 250px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.loading-icon {
    // Have to use !important because of the inline styles
    // added by the loader component
    transform: scale(0.55) !important;
    top: -12px !important;

    @media screen and (min-height: $height-100) {
        transform: scale(1) !important;
        top: -7px !important;
    }
}

.music-detail__link {
    margin: 0;

    @media screen and (max-width: 449px) and (min-height: 81px) and (max-height: 169px) {
        text-align: left;
    }

    @media screen and (min-height: $height-200) {
        margin-bottom: 3px;
    }
}

.music-detail__track-list {
    line-height: 30px;
    max-height: 150px;
    margin-top: 10px;
    padding: 0 5px;
    overflow-y: scroll;
    display: none;
    counter-reset: track-count;

    @media screen and (min-height: $height-200) {
        display: block;
    }

    .embed--album &,
    .embed--playlist & {
        max-height: calc(100% - 220px);
        padding-left: 5px;
        border: 0;
    }
}

.music-detail__track-list-item {
    padding: 10px 0 10px 1em;
    border-bottom: #ededed 1px solid;
    position: relative;
    list-style: none;
    counter-increment: track-count;
    display: flex;
    align-items: center;

    &:last-child {
        border: 0;
    }

    &:before {
        content: counter(track-count);
        position: absolute;
        left: 0;
    }

    .has-background & {
        border-color: rgba(255, 255, 255, 0.5);
    }

    .icon {
        left: 0;
        top: 13px;
        width: 15px;
        height: 15px;
    }
}

.music-detail__track-list-item--active {
    &:before {
        display: none;
    }

    .tracklist__track-add,
    .tracklist__track-interaction-icon--dots,
    .music-detail__track-list-duration {
        color: $orange;
    }
}

.music-detail__track-list-title {
    width: calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.music-detail__track-list-button {
    vertical-align: middle;
    font-size: rem-calc(13);
    font-weight: 600;
    padding-left: 65px;
}

.music-detail__track-list-duration {
    font-size: rem-calc(13);
}

.tracklist__track-add {
    svg {
        display: block;
    }
}

.tracklist__track-interactions {
    right: 45px;
}

.tracklist__track-interaction-icon--dots {
    margin: 0;
}

.tracklist__track-interactions > li {
    list-style: none;
}
