@import '../../../public/scss/desktop/settings/_settings.scss';
@import '../../../public//scss//desktop/tools/_tools.mixins.scss';

.wrap {
    max-width: 1500px;
    margin: 0 auto;

    @media (min-width: 650px) {
        padding-top: 75px;
        background: url('/static/images/desktop/premium-hero.jpg') no-repeat 440px -60px;
        background-size: cover;

        @include background-image-retina('/static/images/desktop/premium-hero', 'jpg', 878px, 720px);
    }

    @media (min-width: 1400px) {
        background-position-x: 525px;
    }

    @media (min-width: 1600px) {
        background-position-x: right;
    }
}

.container {
    width: 100%;
    max-width: var(--contentWidth);
    margin: 0 auto;
    padding: 0 var(--contentPadding);

    @media (min-width: var(--contentWidth)) {
        padding: 0;
    }
}

.hero {
    padding: 50px 0;
    text-align: center;
}

.heroContent {
    @media (min-width: 650px) {
        max-width: 440px;
    }
}

.title {
    font-size: rem-calc(40);
    line-height: 1.1;
    letter-spacing: rem-calc(-3);

    @media (min-width: 650px) {
        font-size: rem-calc(72);
    }
}

.subtitle {
    font-size: rem-calc(20);
    font-weight: 500;
    line-height: 1.6;
    color: $gray5;
    letter-spacing: rem-calc(-0.6);
    margin: 0.5em 0 1em;
    padding: 0 2.25em;
}

.features {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    @media (min-width: 650px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1025px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.block {
    background: #fff;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
    padding: 50px;
    position: relative;
}

.icon {
    background: $orange;
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 20px;
    padding: 15px;

    .ads &,
    .hifi & {
        padding: 11px;
    }

    .equalizer & {
        padding: 17px;
    }
}

.blockTitle {
    font-size: rem-calc(28);
    line-height: 1.3;
    letter-spacing: rem-calc(-1);
    margin-bottom: 10px;
}

.blockCopy {
    font-size: rem-calc(16);
    line-height: 1.75;
    color: $gray5;
    letter-spacing: rem-calc(-0.5);
}

.appOnly {
    font-size: rem-calc(11);
    text-transform: uppercase;
    letter-spacing: rem-calc(-0.5);
    font-weight: 700;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.appIcon {
    display: inline-block;
    color: $orange;
    width: 11px;
    height: 18px;
    vertical-align: top;
    margin-right: 5px;
}


.endButton {
    text-align: center;
    margin-top: 45px;
}
