@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    max-width: 840px;
    margin: 90px auto 0;
    padding: 0 20px;
}

.inner {
    background: #fff;
    padding: 0 30px 30px;
    text-align: center;
}

.image {
    width: 140px;
    display: inline-block;
    margin: 0 auto;
}

.title {
    font-size: rem-calc(28);
    letter-spacing: rem-calc(-1);
    margin: 0;
}

.subscription {
    margin-top: 20px;

    li {
        letter-spacing: rem-calc(-0.6);
        line-height: 1.2;

        + li {
            margin-top: 10px;
        }
    }
}

.buttons {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    button + button {
        margin-top: 25px;
    }
}
