.error-404 {
    &__inner {
        margin: 0 auto;
    }
}

.error-404__title {
    font-weight: 700;
    line-height: 0.95;
    margin: 0;
    color: #494949;
    font-size: 15rem;
}

.error-404__subtitle {
    color: #a3a3a3;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 25px;
    letter-spacing: rem-calc(-2px);
    font-size: 3rem;
}

.error-404 p {
    color: #555;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 20px;
    letter-spacing: -1px;
    @include font-size(15px);
}

.error-404__app-badges {
    margin: 30px 0 0;

    li {
        display: inline-block;
        margin: 0 10px;
    }
}
