.artist-nav {
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.07);

    .feed-bar {
        float: left;
    }

    .social-icons {
        float: right;
        padding: 18px 12px 0;
    }
}

.artist-summary {
    background: #fff;

    &__inner {
        display: flex;
    }

    &__left {
        width: calc(100% - 130px);
    }

    &__right {
        text-align: right;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        width: 130px;
    }
}

.artist-section__info-value {
    position: relative;
    word-wrap: break-word;
}

.artist-avatar-wrap {
    position: relative;
    margin-top: -40px;
    margin-right: 1.5em;

    .button {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.artist-no-uploads {
    padding: 150px 0;

    &__icon {
        width: 60px;
        height: 60px;
        color: $gray10;
    }
}
