.dashboard__message {
    margin: 20px 0;
}

.dashboard__upload-buttons {
    margin-top: 20px;
}

.dashboard__upload-button {
    margin: 0 15px;
}

.geochart {
    svg {
        opacity: 0.1;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out;
    }

    .chart-loaded {
        opacity: 1;
        pointer-events: initial;
    }
}
