.edit {
    padding-top: 205px;
    padding-bottom: 38px;

    @media screen and (min-width: $breakpoint_md) {
        padding-top: 320px;
    }

    &--no-banner {
        padding-top: 65px;

        @media screen and (min-width: $breakpoint_md) {
            padding-top: 85px;
        }
    }

    &--playlist {
        padding-bottom: 110px;
    }
}

.edit__image {
    flex: 0 0 280px;
    width: 280px;
    height: 260px;
    margin-top: -40px;
    padding-right: 0;
    position: relative;

    > div {
        background-color: $gray12;
        width: 100%;
        padding-bottom: 100%;
    }

    img {
        position: absolute;
        width: 100%;
        height: auto;
    }

    &-overlay {
        background: rgba(0, 0, 0, 0.6);
    }

    &-icon {
        width: 45px;
        height: 45px;
        margin-bottom: 10px;
    }

    [type="file"] {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
    }
}

.edit__field {
    &--textarea {
        min-height: 65px;
        padding: 8px;
    }
}

.edit__update-bar {
    &--playlist {
        max-width: $grid-row-width;
    }
}

.edit__cancel {
    color: #888;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 18px;

    &:hover,
    &:focus {
        color: #000;
    }
}
