.profile-banner {
    &__default {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &-close {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 40px;
        right: 40px;
        color: #fff;
        cursor: pointer;
        z-index: index($z-index, arbitrary);
    }

    &__specs {
        background: rgba(0, 0, 0, 0.65);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .header-image {
            width: 60px;
            height: 60px;
        }

        .button {
            margin-top: 1em;
        }
    }

    .cropper-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }

    &__slider {
        display: flex;
        font-weight: bold;
        align-items: center;

        input {
            margin: 0 1em;
        }
    }

    &__controls {
        position: absolute;
        bottom: 40px;
        left: 0;
        z-index: 4;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
        padding: 1em 0 20px;
    }

    &__actions {
        position: absolute;
        right: 10px;
        bottom: 20px;

        button {
            margin-left: 1em;
        }
    }
}

:root {
    --translateY: 0;
}

.user-profile--edit {
    .feed-bar {
        margin-bottom: 20px;
    }
}

.user-profile__avatar-req {
    font-size: 0.923em;
    font-weight: 700;
    line-height: line-height(15, 12);
    letter-spacing: -0.4px;
    color: #fff;
    padding: 0 15px;
    position: absolute;
    bottom: 20px;
    z-index: index($z-index, below-arbitrary);
}
