$header-z-index: search-wrap, right-side, logo;

.main-header {
    background: #fff;
    height: ($header_height + 1);
    border-bottom: $border_color 1px solid;
    transition: transform 0.2s;

    display: flex;
    align-items: center;
    justify-content: space-between;

    body.has-hidden-header & {
        transform: translateY(-100%);
    }

    // Ugly, but it stops the header being visible if the
    // cookie alert hasn't been dismissed.
    body.has-hidden-header.has-cookie-alert & {
        transform: translateY(-200%);
    }

    .no-header-border & {
        border: 0;
        height: $header_height;
    }

    &__left {
        white-space: nowrap;
        position: relative;
        z-index: index($header-z-index, logo);
        display: flex;
        align-items: center;
    }

    &__right {
        position: relative;
        margin-right: 15px;
        text-align: right;
        height: 100%;
        z-index: index($header-z-index, right-side);

        @include breakpoint(medium) {
            margin-right: 20px;
        }
    }

    &--fixed {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: index($z-index, header-fixed);
        // TODO:
        // Keep an eye out for takeover ads and come up with another solution

        body.is-masquerading & {
            margin-top: $masquerade_height;
        }

        body.has-cookie-alert & {
            margin-top: $cookie_alert_height;
        }
    }

    &__logo {
        width: 100px;
        line-height: 64px;
        height: $header_height;
        color: $gray4;
        display: inline-block;

        @include breakpoint(medium) {
            width: 124px;
        }

        svg {
            height: $header_height;
        }

        path {
            fill: $orange !important;

            &:first-child {
                fill: #404040 !important;
            }
        }

        &:hover,
        &:focus {
            color: #000;
        }
    }

    &__subscription {
        display: none;
        color: $orange;
        text-transform: uppercase;
        font-size: rem-calc(14);
        letter-spacing: rem-calc(-0.5);
        margin-left: 7px;
        padding-left: 8px;
        position: relative;

        &:before {
            content: "";
            background: $gray9;
            width: 1px;
            height: 12px;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -6px;
        }

        // Hide it on smaller screens for now, until we have an
        @include breakpoint(435px) {
            display: inline-block;
        }
    }

    &__auth {
        margin-right: 10px;
        color: $gray10;
        font-weight: bold;
        font-size: 0.923em;
        letter-spacing: -0.3px;
    }

    &__nav-button {
        background: $orange;
        width: $header_height;
        height: $header_height;
        line-height: $header_height;
        display: inline-block;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: top;
        color: #fff;

        @include breakpoint(medium) {
            margin-right: 15px;
        }

        &-icon {
            width: 100%;
            height: 100%;
            display: block;
            padding: 0 0.9em;
        }

        .burger__filling,
        .burger__filling:before,
        .burger__filling:after {
            background: #fff;
        }

        .burger__filling {
            left: 20px;
        }

        &:hover,
        &:focus {
            background: #f7a10c;
            color: #fff;
        }
    }

    &__search-wrap {
        line-height: $header_height;
        z-index: index($header-z-index, search-wrap);
        padding: 14px 15px;
        flex: 1;

        @media screen and (max-width: $header_breakpoint_small) {
            background: #fff;
            width: 100%;
            height: $header_height;
            top: $header_height;
            position: absolute;
            left: 0;
            box-shadow: 0 8px 3px rgba(0, 0, 0, 0.03);
            padding: 14px 10px;
            transform: scaleY(0);
            transform-origin: top center;
            transition: transform 0.2s ease-in-out;

            &--active {
                transform: scaleY(1);
            }
        }

        .search-form {
            width: 100%;
            max-width: 450px;

            @media screen and (max-width: 1000px) {
                max-width: 350px;
            }

            @media screen and (max-width: 900px) {
                max-width: 275px;
            }

            @media screen and (max-width: $header_breakpoint_small) {
                max-width: 100%;
                margin: 0;
            }
        }

        @include placeholder {
            color: #777;
        }
    }

    &__block {
        padding: 0 15px;
        position: relative;
        z-index: index($z-index, header-block);
        display: inline-block;
        vertical-align: top;

        &--summary {
            line-height: $header_height;
            height: $header_height;
            padding: 0;

            .tooltip {
                top: 100%;
                right: -8px;
                transform-origin: top center;
                border-radius: 5px;
                width: 185px;

                @media screen and (min-width: $breakpoint_sm) {
                    right: -60px;
                }

                &:before {
                    right: 10px;

                    @media screen and (min-width: $breakpoint_sm) {
                        right: 69px;
                    }
                }
            }
        }

        &--notifications {
            padding-top: 21px;
            padding-bottom: 21px;
            height: $header_height;
            position: relative;

            @media screen and (max-width: $header_breakpoint_medium) {
                display: none;
            }

            &:before {
                content: "";
                background: #d8d8d8;
                width: 1px;
                height: 25px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            .tooltip {
                top: 100%;
                right: -120px;
                height: auto;
                border: 1px solid $gray10;
                max-width: none;
                width: 380px;
                transform-origin: top center;

                &:before {
                    right: 138px;
                    top: -5px;
                    z-index: 1;
                }

                &:after {
                    @include triangle(up, $gray10, 8px 6px);
                    border-width: 0 5px 7px;
                    top: -7px;
                    right: 138px;
                }
            }

            .widget-title {
                margin-bottom: 1em;
            }
        }
    }

    &__account-summary {
        padding: 10px 20px 10px 0;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;

        @include breakpoint(320px) {
            padding-left: 15px;
        }

        @media screen and (max-width: $header_breakpoint_medium) {
            .account-summary__info {
                display: none;
            }
        }

        @include breakpoint($header_breakpoint_medium) {
            padding-right: 25px;
        }
    }

    .notifications-tooltip {
        text-align: left;
        z-index: index($z-index, header-sub-menu);
        top: 55px;
        padding: 15px 20px;
        opacity: 0;
        transform: translateX(0) translateY(-5%) translateZ(0);
        transition: opacity 0.2 ease-out, transform 0.2 ease-out;

        &__title {
            margin-bottom: 10px;
        }
    }

    .notifications-tooltip--active {
        opacity: 1;
        transform: translateX(0) translateY(0%) translateZ(0);
        transition: opacity 0.2 ease-in, transform 0.2 ease-in;
    }

    &__button-wrap {
        line-height: $header_height;
        padding-left: 5px;
        padding-right: 0;

        @media screen and (min-width: $breakpoint_sm) {
            display: inline-block;
        }

        .tooltip a {
            display: block;
            color: #fff;
            padding: 5px 0;
            white-space: nowrap;

            &:hover {
                color: $brand_color;
            }
        }
    }

    &__button {
        &:hover,
        &:focus {
            background: #000;
        }

        @media screen and (max-width: $header_breakpoint_medium) {
            display: none;

            span {
                display: none;
            }

            .button__icon {
                margin-right: 0;
            }
        }
    }

    &__tooltip {
        right: 0;
    }

    &__search-trigger {
        width: $header_height * 0.66;
        line-height: $header_height;
        cursor: pointer;
        display: none;
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (max-width: $header_breakpoint_small) {
            display: block;
        }
    }

    &--bare {
        .main-header__nav-button {
            display: none;
        }

        .main-header__right {
            margin-right: 0;
        }

        .main-header__logo {
            margin-left: 12px;
        }

        .main-header__block--summary .tooltip {
            right: 0;

            &:before {
                right: 10px;
            }
        }
    }

    &__mobile-search {
        display: inline-block;
        height: 60px;
        width: 32px;
        padding: 0 6px;

        button {
            height: 60px;
        }

        @include breakpoint($header_breakpoint_small) {
            display: none;
        }
    }
}
