.homepage__section {
    margin-bottom: 60px;

    li:last-child .music-detail {
        margin-bottom: 0;
    }

    li:only-child .music-detail {
        margin-bottom: 60px;
    }

    div + .homepage__section-head {
        margin-top: 40px;
    }
}

.homepage__section-wrap {
    margin-top: -30px;
}

.homepage__section-title {
    margin-bottom: 50px;
}

.homepage__app-banner {
    background: url('/static/images/desktop/hp/hp-background-mosaic.jpg') no-repeat center;
    background-size: cover;
    padding: 60px 0;
    color: #fff;

    @include breakpoint(large) {
        padding: 0;
        height: 450px;
    }

    .row {
        height: 100%;
    }

    &-devices {
        display: none;

        @include breakpoint(large) {
            display: block;
        }

        img {
            position: absolute;
            bottom: -70px;
            left: 0;
        }
    }

    &-title {
        font-size: rem-calc(40);
    }
}

.homepage__partner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.06);

    &--trap {
        background-image: url('/static/images/desktop/hp/hp-trap-bg.png');

        @include background-image-retina('/static/images/desktop/hp/hp-trap-bg', 'png', 535px, 300px);
    }

    &--world {
        background-image: url('/static/images/desktop/hp/hp-world-bg.png');

        @include background-image-retina('/static/images/desktop/hp/hp-world-bg', 'png', 535px, 300px);
    }

    > .row {
        height: 100%;
    }
}
