// https://philipwalton.github.io/solved-by-flexbox/demos/media-object/
.media-item {
    display: flex;
    align-items: flex-start;

    &--center {
        align-items: center;
    }
}

.media-item__figure {
    // margin-right: 1em;
}

.media-item__body {
    flex: 1;
}
