.music-page {
    padding-bottom: 0;

    &__content-section-top {
        padding-bottom: 20px;
    }

    &__content-center {
        border-left: 1px solid $gray10;
        border-right: 1px solid $gray10;
        flex-grow: 1;
        max-width: 445px;

        .video-container {
            margin-bottom: 10px;
            padding-bottom: 15px;
            border-bottom: 1px solid $gray10;
        }
    }

    &__content-right {
        @include breakpoint(medium) {
            border-left: $gray10 1px solid;
            flex: 0 0 330px;
        }

        .am-partner {
            padding-top: 0;
            padding-left: 20px;
            padding-right: 20px;
            position: relative;
            display: flex;
            justify-content: center;
            min-height: 270px;

            // Cant control the class name on this div
            > div {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                min-height: 250px;
                background-repeat: no-repeat;
                background-position: center top;
                background-size: cover;
            }
        }
    }

    &__tracks-header {
        font-weight: bold;
        font-size: rem-calc(15);
        letter-spacing: -0.35px;

        &:not(.music-page__tracks-header--no-border) {
            padding-bottom: 1em;
            border-bottom: 1px solid $gray10;
        }
    }

    &__tracks-footer {
        text-align: right;
        font-weight: bold;
        letter-spacing: -0.35px;
    }
}

.artist-section {
    &__button {
        margin-bottom: 10px;
    }

    &__about-stat {
        line-height: 1.2;

        &:not(:first-child) {
            border-left: $gray10 1px solid;
            margin-left: 18px;
            padding-left: 20px;
        }
    }

    &__image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 0.5em;
        float: left;
    }

    &__info-block {
        line-height: normal;
        margin-bottom: 5px;
        letter-spacing: -0.55px;

        &--footer {
            padding-top: 15px;

            > div {
                margin-bottom: 3px;
            }
        }
    }

    &__content {
        vertical-align: middle;
        height: 40px;
        padding: 5px 0 5px 50px;

        .u-orange-check {
            position: relative;
            top: 2px;
            right: -4px;
            width: 1em;
            height: 1em;
        }

        &-title {
            color: $orange;
            font-size: 0.65rem;
            text-transform: uppercase;
            line-height: 1;
        }

        &-artist {
            font-size: 0.9rem;
            line-height: 1.4;
            letter-spacing: -0.55px;
            color: $gray2;
            display: inline-block;

            &:focus,
            &:hover {
                color: $brand_color;
            }
        }
    }

    &__c {
        padding-right: 5px;
    }

    &__info-label {
        font-weight: bold;
        margin-right: 0.5em;
        letter-spacing: -0.55px;
    }

    &__about-social-block {
        margin-left: 10px;

        li {
            line-height: 33px;
        }
    }
}

.recent-tracks {
    padding-bottom: 20px;

    .music-detail__top {
        display: flex;
        align-items: center;
    }

    .music-detail__image {
        margin-top: 0;
    }
}

.video-container {
    @include aspect-ratio(16, 9);
}

.music-page__tunecore {
    box-shadow: none;
    padding: 0 20px;

    a {
        border: #ddd 1px solid;
    }
}
