.notifications-empty__icon {
    width: 200px;
    height: 193px;
    margin: 0 auto 30px;
    color: $orange;
}

.notifications-empty__message {
    font-size: 1.231em;
    font-weight: 600;
    line-height: 1.62;
    letter-spacing: -0.068em;
    max-width: 420px;
    margin: 0 auto;
}
