.create {
    background: $gray12;

    &-main {
        padding: 50px 0;

        @include breakpoint(large) {
            padding: 75px 0 220px;
        }
    }
}

.create-key-feature {
    @include breakpoint(medium) {
        max-width: 415px;
    }

    + .create-key-feature {
        margin-top: 30px;

        @include breakpoint(large) {
            margin-top: 0;
        }
    }

    &__inner {
        padding: 0 30px;
    }

    &__icon {
        background: $orange;
        width: 130px;
        height: 130px;
        margin: 0 auto 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        .create-key-feature--free & {
            padding: 15px;
        }

        .create-key-feature--advanced-stats & {
            padding: 25px;
        }

        .create-key-feature--powerful & {
            padding: 28px 0 28px 10px;
        }
    }

    &__title {
        font-family: 1.846em;
        letter-spacing: -1.1px;
        margin: 0 0 10px;
        color: $gray2;
    }

    &__content p {
        font-size: 1.231em;
        letter-spacing: -0.2px;
        color: #666;
    }
}

.create-features {
    margin: 40px 0;
}

.create-feature {
    padding: 45px 0;

    &--phones {
        img {
            margin: 0 auto;
        }
    }

    > .row {
        max-width: rem-calc(1600);
    }

    &__content {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            font-size: 1.231em;
            letter-spacing: -0.2px;
            color: #666;

            + p {
                margin-top: 25px;
            }
        }
    }

    &__title {
        font-size: 3.077em;
        letter-spacing: -2px;
        color: $gray2;
        margin: 0 0 30px;
    }

    &__badges {
        margin-top: 35px;
    }

    &__badge {
        width: 150px;
        color: $gray7;

        + .create-feature__badge {
            margin-left: 40px;
        }

        &:hover {
            color: $gray2;
        }
    }
}

.create-coverage-wrap {
    padding: 0 20px;

    @include breakpoint(large) {
        padding: 0;
    }
}

.create-coverage {
    background: #fff;
    border: rgba(0, 0, 0, 0.1) 1px solid;
    border-right: 0;
    padding: 0;
    display: flex;

    &:last-child {
        border-right: rgba(0, 0, 0, 0.1) 1px solid;
    }

    &:before {
        content: "";
        padding-bottom: 100%;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    img {
        opacity: 0.15;
        transition: opacity 0.3s ease-in-out;
    }

    &:hover {
        img {
            opacity: 1;
        }
    }
}

.create-footer {
    &__main {
        background: $gray2;
        padding: 75px 0 45px;
    }

    &__sub {
        background: #000;
        padding: 25px 0;

        .column {
            display: flex;
            align-items: center;

            &:last-child {
                justify-content: flex-end;
            }
        }
    }

    &__copyright {
        font-size: 0.923em;
        color: rgba(255, 255, 255, 0.5);
    }

    &__logo {
        width: 153px;
        height: 21px;
        margin-bottom: 25px;

        path:last-child {
            fill: $orange;
        }
    }

    &__follow {
        display: flex;
        align-items: center;
        margin: 0 auto 20px;

        @include breakpoint(medium) {
            margin: 0;
        }

        li + li {
            margin-left: 18px;
        }

        &-label {
            font-size: 1.385em;
            margin-right: 25px;
        }

        a {
            width: 18px;
            height: 18px;
            color: #fff;

            &:hover {
                color: $orange;
            }

            &[href*="twitter"] {
                width: 21px;
                height: 21px;
            }
        }
    }

    &__badges {
        margin: 0 auto 20px;

        @include breakpoint(medium) {
            margin: 0;
        }

        a {
            color: #fff;

            &:hover {
                color: $gray8;
            }
        }
    }

    &--player-active {
        .create-footer__sub {
            padding: 25px 0 120px;
        }
    }
}

.create-footer__widget {
    li {
        letter-spacing: -0.3px;

        + li {
            margin-top: 0.5em;
        }
    }

    a {
        color: rgba(255, 255, 255, 0.7);

        &:hover {
            color: #fff;
        }
    }
}

.hero-types {
    &__item {
        color: #fff;

        &--active .hero-types__button {
            border-bottom: 3px solid #fff;

            .hero--dark & {
                border-bottom: 3px solid $orange;
            }
        }

        &:last-child .hero-types__button {
            &:after {
                content: '';
            }
        }
    }

    &__button {
        margin: 0 15px;
        text-transform: capitalize;
        font-weight: bold;
        color: #fff;
        position: relative;

        &:after {
            content: '  •  ';
            display: inline-block;
            right: -15px;
            position: absolute;
            top: 0;
        }
    }
}
