.user-profile__content {
    background: #fff;
    flex-wrap: wrap;
    padding: 0 20px;
}

.user-profile--edit {
    .input,
    [type="text"],
    [type="url"],
    [type="email"],
    [type="date"],
    [type="password"],
    .select,
    .charsleft {
        margin-bottom: 1.4em;
    }
}
