.search-page {
    &__search-title {
        font-size: 28px;
        line-height: 1;
        letter-spacing: -1.25px;
        margin-bottom: 25px;
        padding-bottom: 5px; // To avoid text cut-off from line-height
        @include ellipsis;
    }

    &__search {
        margin-bottom: 40px;
        padding-top: 30px;
        padding-bottom: 45px;
        text-align: center;

        .search-form {
            max-width: 700px;
        }
    }

    &__content {
        display: flex;
        position: relative;

        &--fixed {
            .search-page__filter {
                overflow-y: scroll;
                margin-top: 0;
            }

            .search-page__results {
                margin-left: 230px;
            }
        }
    }

    &__filter {
        padding-right: 0;

        &::-webkit-scrollbar {
            background: #fff;
        }

        // This smells bad
        > .row {
            margin: 0;
        }

        @include breakpoint(medium) {
            width: 230px;
            flex: 0 0 230px;
        }
    }

    &__widget {
        padding-top: 25px;
        padding-bottom: 15px;
        font-weight: 700;
        letter-spacing: -0.5px;
    }

    &__verified-toggle {
        > div {
            width: 100%;
        }

        label {
            border-color: #eaeaea;
            margin: 0;
        }
    }

    .vertical-menu {
        margin: 0 -20px;
    }

    .vertical-menu__link {
        padding: 7px 20px;
        border-left: #fff 5px solid;
    }

    .vertical-menu__link--current {
        border-color: $orange;
    }
}

.search__widget-title {
    line-height: 1;
}
