.site-sidebar {
    background: #fff;
    width: $sidebar_width;
    position: fixed;
    left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    border-right: $border_color 1px solid;
    transition: transform 0.2s ease-in-out;
    transform: translateX(-100%);
    z-index: index($z-index, site-sidebar);
    -webkit-overflow-scrolling: touch;
    height: calc(100vh - #{$header_height});
    top: $header_height;

    &:hover {
        overflow-y: scroll;

        @media all and (-webkit-device-pixel-ratio) {
            .site-sidebar__inner {
                width: calc(100% + 5px);
            }
        }
    }

    @include breakpoint(xlarge) {
        transform: translateX(0);

        body.has-hidden-sidebar &--main {
            transform: translateX(-100%);
        }
    }

    body.has-active-sidebar & {
        transform: translateX(0);
    }

    body.is-masquerading & {
        padding-top: 80px;
    }

    body.has-cookie-alert & {
        padding-top: $cookie_alert_height;
    }

    &__inner {
        min-height: 100%;
        padding: 20px 0 100px;
        position: relative;
    }

    .widget-title {
        color: #222;
    }

    &__app-badges {
        margin: 25px 0 25px;

        .app-badge {
            margin-bottom: 5px;
        }
    }

    &__social-icons {
        margin-bottom: 20px;
    }

    &__menu {
        li {
            margin-bottom: 1px;
            font-size: 13px;
        }

        a,
        button {
            color: #666;
            font-weight: 600;
            letter-spacing: -0.5px;

            &:hover,
            &:focus {
                color: #000;
            }
        }
    }

    .vertical-menu {
        li {
            margin: 0 -20px;
        }
    }

    .vertical-menu__link {
        border-left: transparent 4px solid;

        &--current {
            border-left-color: $orange;
        }

        &--sublink {
            margin-left: 40px;
            font-size: 90%;
            border: 0;

            &.vertical-menu__link--current {
                color: $orange;
            }
        }
    }

    .dashboard-sidebar__links .vertical-menu__link {
        font-weight: 700;
    }

    /*
    &:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }
    */
}
