.single-page {
    background: #fff;
    padding: 20px;

    .modal & {
        background: none;
    }
}

.premium-partner-page {
    margin-top: 30px;

    li {
        list-style: inherit;

        + li {
            margin-top: 8px;
        }
    }

    ol {
        list-style: decimal;
        margin-left: 14px;
        margin-top: 8px;

        ol {
            list-style: lower-alpha;

            ol {
                list-style: lower-roman;
            }
        }
    }

    > * + * {
        margin-top: 8px;
    }
}
