.upload-page {
    padding: 35px 0;

    &--details {
        padding: 15px 0;
    }


    @include breakpoint(medium) {
        padding: 40px 0;
    }
}

.upload-start {
    padding: 20px 30px;

    @media screen and (min-width: $breakpoint_sm) {
        padding: 50px 0;
    }
}

.upload-start__main-title {
    margin: 0;
    font-size: 1.3rem;
    letter-spacing: rem-calc(-1.1px);

    @include breakpoint(medium) {
        margin-bottom: 10px;
        font-size: 1.4rem;
        letter-spacing: rem-calc(-0.75px);
    }
}

.upload-start__subtitle {
    font-size: 1.154em;
    letter-spacing: -0.58px;
    line-height: 1.3;
    color: #666;
    max-width: 220px;
    margin: 0 auto;

    + .upload-start__subtitle {
        margin-top: 1em;
    }

    @include breakpoint(medium) {
        max-width: 100%;
    }
}
