@import '../../../public/scss/desktop/settings/_settings.scss';

.mainCreator {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    overflow: hidden;

    p {
        color: $gray5;
    }
}

.giantLogoBackground {
    color: $orange;
    max-height: 884px;
    max-width: 80%;
    display: block;
    position: absolute;
    top: -3%;
    right: -15%;
    z-index: -1;
}

.cell1 {
    position: absolute;
    width: 250px;
    height: 405px;
    top: 8%;
    right: 31%;

    @media (max-width: 1380px) {
        right: 20%;
        top: 5%;
    }
}

.cell2 {
    position: absolute;
    width: 250px;
    height: 405px;
    top: 5%;
    right: 15%;

    @media (max-width: 1380px) {
        display: none;
    }
}

.album {
    position: absolute;
}

.album1 {
    position: absolute;
    top: 18%;
    right: 14%;
    width: 124px;
    height: 124px;

    @media (max-width: 1380px) {
        display: none;
    }
}

.album2 {
    top: 14%;
    right: 5%;
    width: 94;
    height: 94px;

    @media (max-width: 1380px) {
        top: 12%;
        right: 17%;
    }
}

.album3 {
    top: 17%;
    right: 39%;
    width: 124px;
    height: 124px;

    @media (max-width: 1380px) {
        top: 4%;
        right: 35%;
    }
}

.album4 {
    top: 12%;
    right: 45%;
    width: 74px;
    height: 74px;

    @media (max-width: 1380px) {
        display: none;
    }
}

.album5 {
    top: 2%;
    right: 31%;
    width: 124px;
    height: 124px;

    @media (max-width: 1380px) {
        top: 9%;
        right: 5%;
    }
}

.headphone {
    position: absolute;
    width: 16%;
    top: -2%;
    right: 0%;
}

.containerTop {
    margin-top: 30px;

    @media (max-width: 425px) {
        h1 {
            font-size: 3.7em !important;
            margin-top: 25px;
        }

        p {
            font-size: large !important;
        }
    }
}

.containerCards {
    display: flex;
    justify-content: center;

    > div {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }
}

.itemCards {
    background: $white1;
    height: 100%;
    padding: 60px 41px 62px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);

    h1 {
        margin-bottom: 16px;
        padding-left: 23px;
        font-size: rem-calc(36);
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: rem-calc(-1.8);
    }

    p {
        font-size: rem-calc(16);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: rem-calc(-0.18);
        padding-left: 23px;
    }

    strong {
        color: $orange;
    }
}

.iconContainer {
    color: white;
    background-color: $orange;
    width: 65px;
    height: 65px;
    margin: 0 0 26px 23px;
    padding: 15px;
}

.smallPadding {
    padding: 10px;
}

.titleWelcome {
    font-size: rem-calc(72);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.01;
    letter-spacing: rem-calc(-3);
    color: #2a2a2a;
    margin-bottom: 31px;
    margin-top: 118px;
    padding-right: 1em;
}

.applyBtn {
    width: 308px;
    height: 64px;
    padding: 21px 35px;
    border-radius: 32px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.06);
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 29px;
}

.subtitleWelcome {
    margin-bottom: 18px;
    font-size: rem-calc(22);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: rem-calc(-0.69);
    color: #686868;
    padding-right: 3em;
}

.collage {
    @media (max-width: 1024px) {
        display: none;
    }
}
