@import '../../../public/scss/desktop/settings/_settings.scss';


.column {
    padding-right: 1.25rem;
    padding-left: 1.25rem;

    @include breakpoint(medium) {
        padding-right: 5rem;
        padding-left: 5rem;
    }
}

.nextButton {
    height: 48px;
    margin-top: -24px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
}

.arrowIcon {
    position: absolute;
    right: 10px;
    stroke: #fff;
}

.footer {
    display: flex;
    height: 48px;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
}

.progressBar {
    padding: 0 35px;
    margin-top: 16px;
    margin-bottom: 50px;
}

.progressBarStep {
    line-height: 1.42;
    font-stretch: normal;
    font-style: normal;
}

.subtitle {
    height: 41px;
    color: $gray1;
    font-size: rem-calc(30);
    letter-spacing: rem-calc(-0.75);
    text-align: center;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;

    .bold {
        color: $gray1;
        font-weight: bold;
    }
}

.title {
    color: $orange;
    font-size: rem-calc(13);
    letter-spacing: rem-calc(-0.5);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    margin: 2rem 0 5px 0;
    text-align: center;
}

.topSocial {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    font-stretch: normal;
    font-style: normal;

    h4 {
        font-size: rem-calc(18);
        font-weight: bold;
        letter-spacing: rem-calc(-0.5);
        line-height: 1.71;
        text-align: center;
    }

    p {
        font-weight: normal;
        font-size: rem-calc(14);
        letter-spacing: rem-calc(-0.39);
        text-align: center;
    }
}

.socialButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;

    .socialButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0 25px;
        margin-bottom: 20px;

        button {
            width: 650px;
            height: 60px;
            text-align: center;
            color: #fff;
            border-radius: 30px;
            position: relative;
            padding: 0 48px;
            box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.06);
            transition: background-color 0.2s ease-in-out;

            .icon {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                position: absolute;
                top: 6px;
                left: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 25px;
                    height: 25px;
                }
            }
        }

        .check {
            color: white;
            background-color: $orange;
            width: 24px;
            height: 24px;
            margin-left: 20px;
        }

        .unCheck {
            color: $gray8;
            background-color: $gray8;
            width: 24px;
            height: 24px;
            margin-left: 20px;
        }
    }
}

.topReview {
    padding: 30px 25%;

    h4 {
        font-size: rem-calc(18);
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: rem-calc(-0.5);
        text-align: center;
    }
}

.verifyEmail {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .email {
        display: flex;
        justify-content: center;
        margin: 20px auto;
        width: 650px;
        height: 80px;
        border-radius: 40px;
        background-color: $gray12;
        box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.02);
        color: $gray1b;
        font-weight: 600;
        font-size: 24px;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: rem-calc(-0.67);
        text-align: center;
        padding-top: 14px;
    }

    h4 {
        margin-top: 20px;
        font-size: rem-calc(18);
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: rem-calc(-0.5);
        text-align: center;
    }

    p {
        font-size: rem-calc(14);
        font-weight: normal;
        letter-spacing: rem-calc(-0.39);
        text-align: center;
        font-stretch: normal;
        font-style: normal;
    }

    .link {
        font-size: rem-calc(14);
        font-weight: 600;
        letter-spacing: rem-calc(-0.39);
        text-decoration: underline;
    }
}
