@import '../../../public/scss/desktop/settings/_settings.scss';

.banner {
    position: relative;
    padding-bottom: 240px;

    @include breakpoint(medium) {
        padding-bottom: 340px;
    }
}

.bannerEditIcon {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 130px;
    height: 34px;
    z-index: 1;
}

.avatar {
    button {
        position: absolute;
        margin-top: -30px;
        z-index: 2;

        span {
            color: $red;
        }

        @include breakpoint(medium) {
            margin-left: 5px;
        }
    }
}

.btnSubmit {
    display: block;
    margin: 10px auto 0 auto;
    height: 50px;
    width: 170px;
    font-size: 1.1em;
    letter-spacing: -0.068em;
}

.error {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: $red;

    .icon {
        color: $red;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
}

.content {
    form {
        margin: 20px 0 0 !important;

        label {
            color: $gray7;
            height: 24px;
            line-height: 1.71;
            letter-spacing: rem-calc(-0.39);
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            font-size: 14px;
            margin-bottom: 0;

            span {
                color: $red;
            }
        }

        input,
        textarea,
        select {
            display: inline-block;
            border: none;
            border-bottom: 1px solid $gray9;
            font-size: 15px;
            padding-left: 0;

            &:disabled {
                background-color: white;
            }
        }

        input,
        select {
            color: $gray1b;
            padding: 0 0 10px 0;
            font-size: rem-calc(16);
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: rem-calc(-0.44px);
        }

        textarea {
            padding-right: 50px;
            flex: auto;
            min-height: 114px !important;

            font-size: rem-calc(14);
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: rem-calc(-0.47);
        }
    }

    .editBox {
        position: relative;
        border: none;

        input {
            padding-right: 35px;
            flex: auto;
        }

        button {
            position: absolute;
            right: 10px;
            top: 6px;
            border: none;
            width: 18px;
            height: 18px;
            border-radius: 100%;
            text-align: center;
            padding: 2px;
            color: $orange;
        }
    }
}
