.admin-controls {
    background: #fff;
    padding: 0 20px;

    &__inner {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.admin-controls__title {
    letter-spacing: -0.35px;
    margin: 0 0 0.75em;
    @include font-size(14px);
}

.admin-controls__icon-group {
    [data-tooltip]:before {
        bottom: calc(100% - -5px);
    }

    [data-tooltip]:after {
        bottom: 100%;
    }
}

.admin-controls__icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    color: #000;

    &--active {
        color: $orange;
    }

    .admin-controls__icon-group & {
        margin: 0 5px;
    }
}

.owner-controls .tunecore {
    margin: 20px 0;
}

.masquerade-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: $gray2;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: -0.3px;
    z-index: index($z-index, masquerade-warning);

    .button {
        margin-left: 1em;
    }
}
