@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 35px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid $gray10;
}

.close {
    width: 12px;
    height: 12px;
    color: #c3c3c3;
    position: absolute;
    top: 10px;
    right: 20px;
}

.buttons {
    text-align: center;

    li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
    }
}

.button {
    background: $orange;
    display: flex;
    align-items: center;
    height: 32px;
    color: #fff;
    margin-bottom: 15px;
    padding: 0 15px;
    border-radius: 20px;
    font-weight: 700;
    letter-spacing: -0.06rem;
    text-transform: uppercase;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.06);

    &:hover,
    &:focus {
        background-color: darken($orange, 8%);
        color: #fff;
    }
}

.buttonTwitter {
    composes: button;
    background: $twitter_col;

    &:hover,
    &:focus {
        background-color: darken($twitter_col, 15%);
    }
}

.buttonFacebook {
    composes: button;
    background: $facebook_col;

    &:hover,
    &:focus {
        background-color: darken($facebook_col, 15%);
    }
}

.buttonIcon {
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-right: 5px;

    svg {
        vertical-align: top;
    }
}

.buttonIconReup {
    composes: buttonIcon;
    width: 20px;
}

.buttonIconTwitter {
    composes: buttonIcon;
    width: 15px;
}

.embed {
    display: none;

    @media (min-width: 480px) and (min-height: 130px) {
        display: block;
    }

    // TODO
    // Refactor embed textarea so this isn't neccesary
    :global {
        .music-detail__embed-inner {
            box-shadow: none;
            padding: 0;
        }

        .music-detail__embed-textarea {
            border-radius: 4px;
            height: 80px;
            max-height: 80px;
        }
    }
}

.badges {
    text-align: center;
    margin-top: 15px;
    display: none;

    @media (min-width: 480px) and (min-height: 206px) {
        display: block;
    }

    li {
        display: inline-block;
        margin: 0 8px;
        max-width: 120px;
    }
}
