@import "../../shared/tools/_tools.mixins.scss";

$nav-bar-height: 60px;
$mobile-player-height: 54px;
$context-switcher-height: 55px;
$header-height: 60px;

$header-bg: #000;

$global-padding: 16px;

:root {
    --nav-bar-height: 60px;

    @include iphoneX() {
        --nav-bar-height: 75px;
    }
}
