@import '../../../public/scss/desktop/settings/_settings.scss';

.buttonWrap {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
}

.instruction {
    font-size: rem-calc(12);
    font-weight: 600;
    text-align: center;
    letter-spacing: rem-calc(-0.5);
}

.prefix {
    flex: 1;
    height: 45px;
    margin-right: 10px;
    margin-bottom: 0;
}

.code {
    background: $gray11;
    text-align: center;
    border: $gray9 1px solid;
    color: $gray2;
    font-size: rem-calc(16);
    border-radius: 4px;
    font-weight: 600;
    max-width: 800px;
    height: 60px;
    margin: 25px auto 0;
}
