$album-header-height: 400px;

/* @todo refactor this and song styles */
.album-container {
    & > header {
        text-align: center;
        z-index: 2;
        background: rgba(0, 0, 0, 0);
        transition: background 0.15s ease-in;
    }

    .track-preview {
        background: none;
    }
}

.album-container__artist {
    line-height: 1;
}

.album-container__title {
    font-weight: bold;
}

.album-container__uploader a {
    font-weight: bold;
}
