.artist-container {
    header {
        position: relative;
        height: 120px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .avatar-wrap {
        position: relative;
        margin-right: $global-padding;
    }
}

.artist-container__inner-header {
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .avatar-container {
        margin-left: $global-padding;
        position: relative;
    }
}

.artist-meta {
    flex-grow: 1;
}

.artist-meta__name {
    font-weight: bold;

    .verified {
        top: -3px;
        margin-left: 5px;
    }
}

.artist-meta__follow span {
    margin-right: 0.5em;
}

.artist-actions {
    margin-right: $global-padding;
    white-space: nowrap;

    &__action {
        color: #fff;
        margin-right: 1rem;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        display: inline-block;

        &.follow-button--following {
            color: $orange;
        }

        &:last-child {
            margin-right: 0;
        }

        &--settings {
            position: absolute;
            bottom: 0;
            right: 5px;
        }
    }
}

.orange-check {
    background: $orange;
    border-radius: 50%;
    padding: 3px;
    vertical-align: middle;
    color: #fff;
}

/* @todo refactor this with the artist modal and potential album modal */

.modal,
.modal--artist-info {
    display: flex;
    justify-content: center;
    background: #000;

    .modal--content {
        margin-top: $global-padding * 2;
        width: 100%;
    }

    .artist-name {
        font-weight: bold;
    }

    .avatar-wrap,
    .artist-meta__name {
        margin-bottom: $global-padding / 2;
    }
}

.artist-info-table {
    width: 100%;
    margin-top: $global-padding;
    font-size: 1.4rem;

    tr {
        border: none;
        display: block;
        margin-bottom: 20px;
    }
}

.artist-info-table--line {
    &.genre {
        text-transform: capitalize;
    }

    + .artist-info-table--line {
        margin-top: 25px;
    }
}

.artist-info-table--label {
    font-weight: bold;
    margin-bottom: 3px;
}

.artist-info-table--line:last-child .artist-info-table--info {
    padding-bottom: calc(var(--nav-bar-height) + 30px);
    white-space: pre-wrap;
}

.artist-networks {
    text-align: center;
    margin-top: $global-padding / 2;

    a {
        color: #fff;
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: $global-padding;

        &:last-child {
            margin-right: 0;
        }
    }
}
