.empty-state {
    text-align: center;
    margin-top: $global-padding * 2;
    position: relative;
    color: $gray1;
    font-weight: 600;

    i {
        font-size: 50vw;
        color: $gray1;
    }

    p {
        color: $gray8;
        font-size: 1.3em;
        padding: 20px 0;
        font-weight: 600;
    }
}
