.site-footer {
    &__top {
        background: #2a2a2a;
    }

    &__bottom {
        background: #222;
    }

    &__logo {
        display: block;
        width: 60px;
        height: 40px;
        margin: 0 auto;

        path {
            fill: $orange;
        }
    }

    &__copyright {
        color: #cacaca;
    }
}

.site-footer__nav {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 1.3rem;

    &-col {
        flex: 1;
    }

    li + li {
        margin-top: 10px;
    }

    a {
        color: #fff;

        &:hover {
            color: $orange;
        }
    }
}

.site-footer__share-button {
    width: 18px;
    height: 18px;
    margin: 0 7px;

    &--twitter {
        width: 21px;
        height: 21px;
    }
}

.site-footer__app-badges {
    li {
        flex: 1;
    }

    a {
        color: #fff;
    }
}
