.main-header {
    background: $header-bg;
    height: $header-height;
    color: #fff;
    z-index: index($z-indexes, header);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    body.has-hidden-header & {
        transform: translateY(-100%);
    }

    .loading-icon {
        line-height: $header-height;
        padding-right: $global-padding;
    }

    &__app-badges li {
        width: 85px;
        height: 25px;
    }
}

.section-title {
    background: #000;
}

.section-title,
.main-header__title {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: $global-padding 10px;
    letter-spacing: normal;

    i {
        color: $orange;
        margin-right: 7px;
        position: relative;
        top: -3px;
    }
}

.main-header__logo {
    height: $header-height;
    float: left;
    margin-left: 15px;
    color: #fff;
    width: 105px;
    position: relative;
    z-index: index($z-indexes, header-logo);

    path:not(:first-child) {
        fill: #ffa200;
    }
}

.main-header__title {
    text-align: center;
    position: absolute;
    width: 100%;
    line-height: 1.5;
    font-size: 1.5rem;
    letter-spacing: -0.05em;
    padding-left: 80px;
    padding-right: 90px;
    display: none;
    @include ellipsis;
}

.main-header__app-badge {
    background: url('/static/images/mobile/app-badge-2k17.png') no-repeat right center;
    display: block;
    width: auto;
    height: 49px;
    position: absolute;
    top: 3px;
    right: $global-padding / 2;
    background-size: 49px 49px;
    padding-right: 55px;
    font-size: 0.9em;
    font-weight: 700;
    color: #fff;
    line-height: 49px;
}
