.music-header {
    &--bordered:after {
        content: "";
        background: $gray2;
        width: calc(100% - 20px);
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 10px;
    }
}
