.list-view {
    background: #000;

    .button-group {
        padding: 20px;
    }

    .not-found {
        color: #fff;
        font-weight: 600;
        padding: 15px;
    }
}

.list-ad > div > div {
    text-align: center;
}
