.track-stats {
    padding: 10px;
}

.rankings {
    display: flex;
    justify-content: space-around;
    padding: $global-padding 0;
    border-top: 1px solid $gray2;
    border-bottom: 1px solid $gray2;
    margin-top: $global-padding;
}

.rankings__rank {
    text-align: center;
}

.rankings__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}

.rankings__value {
    color: $orange;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1;
}
