.notification-feed + .button-group {
    margin: 20px 0;
    text-align: center;
}

.single-notification {
    padding: 20px 0;
    border-bottom: $gray1b 1px solid;
}//.single-notification

.notification-image {
    width: 50px;

    img {
        border-radius: 50%;
    }//img
}//.notification-image

.notification-info {
    padding-left: 60px;

    .notification-info__icon {
        color: $orange;
        position: relative;
        top: -3px;
        margin-right: 8px;
    }//.notification-info__icon
}//.notification-info

[data-jewel] {
    position: relative;

    &:after {
        content: attr(data-jewel);
        display: block;
        position: absolute;
        top: -40%;
        right: -20%;
        border-radius: 10px;
        background: #ffa200;
        padding: 1px 4px;
        font-weight: bold;
        line-height: 1;
    }
}
