.single-page {
    .inner {
        background: #fff;
        padding: 20px;
    }

    .page-title {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin: 0 0 15px;
    }

    pre {
        background: #f1f1f1;
        padding: 20px;
    }

    .entry-content {
        p:not(:last-child) {
            margin-bottom: 15px;
        }

        a {
            font-weight: 700;
        }
    }

    input[type="text"],
    input[type="email"],
    select,
    textarea {
        width: 100%;
    }

    input[type="submit"] {
        @extend .am-button;
        border: none;
    }
}

.error {
    .error-top {
        margin-bottom: 25px;
    }
}

.contact-us {
    .form-group {
        margin-bottom: 20px;
    }
}

.content-page {
    padding: 20px;
}

.content-page__title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.35px;
    margin: 0 0 25px;
    font-size: 1.8rem;
}

.content-page__form {
    margin-top: 35px;

    [type="text"],
    [type="email"],
    textarea {
        background: #000;
        border: none;
        border-bottom: #333 1px solid;
        color: #fff;
        width: 100%;
        border-radius: 0;
        height: 42px;
        padding: 10px;
    }

    textarea {
        height: 150px;
        resize: none;
    }

    .submit-wrap {
        margin: 15px 0;
    }

    [type="submit"] {
        border: none;
        padding: 10px 32px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    select {
        background: #000;
    }

    .select {
        color: #fff;
        margin-bottom: 15px;
    }
}

.anchor-links {
    p {
        padding: 7px 0;
    }
}

.privacy-page {
    padding: 30px 10px;

    p + p {
        margin-top: 1em;
    }

    h2 {
        font-size: 2rem;
        margin: 1em 0;
        font-weight: 700;
    }
}
