.privacy-radios {
    display: flex;
}

.privacy-radios__label {
    flex-grow: 1;

    span {
        display: block;
    }
}

.delete-playlist {
    button {
        font-weight: bold;
        color: $gray9;
        margin: $global-padding $global-padding $global-padding 0;
    }
}
