.profile-container {
    header {
        position: relative;
        height: 170px;
        margin-top: $global-padding;
    }

    .avatar-container {
        position: absolute;
        top: 0;
        left: 50%;
        transition: opacity 0.15s;
        transform: translateX(-50%);

        &.edit-mode {
            opacity: 0.5;
        }
    }

    .close-profile-link {
        color: #fff;
        position: absolute;
        top: 0;
        left: 20px;
        font-size: 17px;
    }//.close-profile-link

    .avatar-wrap {
        overflow: hidden;
        height: 130px;
        position: relative;
        width: 130px;
        margin: 0 auto;

        i {
            font-size: 4rem;
            position: absolute;
            top: 4rem;
            left: 50%;
            z-index: 2;
            transform: translateY(250%) translateX(-2rem);
            opacity: 0;
            transition: transform 0.12s ease-in, opacity 0.15s;
        }

        &.edit-mode {
            i {
                opacity: 1;
                transform: translateY(0) translateX(-2rem);
            }
        }
    }
}

.avatar-wrap__file-input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 3;

    .edit-mode & {
        transform: translateY(0);
    }
}

.profile-table-header {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    margin: 1.25em 0;
}

.profile-table {
    width: 100%;

    td:first-child {
        width: 120px;
        font-weight: bold;
        padding-left: $global-padding;
    }

    td:last-child {
        padding-right: $global-padding;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        width: 100%;
    }

    .subline {
        font-size: 0.9rem;
        color: $gray8;
    }
}

.edit-profile-link {
    position: absolute;
    bottom: $global-padding;
    right: $global-padding;
}

.save-profile-link {
    position: absolute;
    bottom: $global-padding;
    left: $global-padding;
}

.save-container {
    text-align: center;
    margin-top: $global-padding;
}
