/* @todo refactor this and album styles */

.song-container {
    & > header {
        text-align: center;
        z-index: 2;
        background: rgba(0, 0, 0, 0);
        transition: background 0.15s ease-in;
    }

    .track-preview {
        background: none;
    }
}

.song-container__uploader {
    .verified {
        top: -3px;
    }
}

.song-container__follow-icon {
    width: 19px;
    height: 13px;
    margin-left: 4px;
    color: #fff;

    &.follow-button--following path:first-child {
        fill: $orange;
    }
}

.song-waveform-wrap {
    position: relative;
}

.song-waveorm-wrap__geo-restricted {
    margin-top: 10px;
    padding-bottom: 30px;
}

.song-waveform-container {
    display: flex;
    align-items: center;
    padding: 0 $global-padding;
}

.waveform-container {
    flex-grow: 1;
    height: 50px;
    padding: 0 0 0 ($global-padding / 2);

    canvas {
        height: 100%;
        width: 100%;
    }
}

.music-header__info {
    color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    top: -10px;
    right: 10px;
}

/* @todo refactor this with the artist modal and potential album modal */

.modal,
.modal--song-info {
    display: flex;
    justify-content: center;
    background: #000;

    .modal--content {
        margin-top: $global-padding * 2;
        width: 100%;
    }

    .avatar-wrap,
    .artist-meta__name {
        margin-bottom: $global-padding / 2;
    }

    .track-stats {
        margin-top: $global-padding;

        li {
            margin: 0 10px;
        }
    }

    .track-stat__icon {
        display: inline-block;
        width: 12px;
        margin-right: 6px;

        &--reup {
            width: 20px;
        }
    }
}

.modal,
.modal--app-download {
    background: #000;
    background: rgba(0, 0, 0, 0.95);

    .modal--content {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .modal__top {
        color: #fff;

        + .modal__body {
            margin-top: 20px;
        }
    }

    .modal__am-app-icon {
        margin-bottom: 35px;
        text-align: center;
    }

    .modal__top-logo {
        margin: 0 auto;
        height: 20px;
    }

    .modal__body {
        text-align: center;
        padding: 0 20px;
        font-size: 13px;
        font-weight: 600;
    }

    .button-group {
        margin-top: 20px;
    }

    .app-badges {
        margin-top: 35px;

        li {
            display: inline-block;
            width: 48%;
            margin: 0 1%;
        }
    }
}

.music-admin-button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 10px;
    color: $orange;
    z-index: index($z-indexes, admin-button);

    &:hover {
        color: #fff;
    }
}
