$search-height: 38px;

.top-search {
    position: relative;
    background: none;
    z-index: index($z-indexes, search);
    margin: 0 $global-padding $global-padding;
}

.top-search__searchIcon,
.top-search__removeIcon {
    position: absolute;
    color: #fff;
    top: 0;
    line-height: $search-height;
    font-size: 15px;
}

.top-search__searchIcon {
    left: $global-padding / 2;
}

.top-search__removeIcon {
    right: $global-padding / 2;
    color: #c0c0c2;
    display: none;

    &--visible {
        display: block;
    }
}

.top-search__input {
    font-family: $primary_font;
    font-size: 13px;
    color: #fff;
    border: none;
    width: 100%;
    height: $search-height;
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: -0.5px;
    background-color: #333;
}

.top-search__autocomplete {
    color: #fff;
    position: fixed;
    overflow: auto;
    max-height: 50%;
    font-size: 1.5rem;
    background: #000;
    padding: 0 10px;
}

.top-search-result {
    padding: ($global-padding / 2) 0;
    cursor: default;
    border-bottom: 1px solid $gray2;
    transition: padding 0.15s;

    &:last-child {
        border-bottom: 0;
    }

    &--highlighted {
        color: white;
        background: $orange;
        padding-left: $global-padding;
    }
}
