@import '../../../public/scss/desktop/settings/_settings.scss';

.count {
    color: $orange;
}

.countWrapper {
    composes: column from global;
    font-weight: 700;
    margin-top: 1em;
    position: absolute;
    right: 0;
    top: 0;
}

.listHeader {
    margin-top: 1em;

    svg {
        color: $orange;
        height: 1em;
        margin-right: 0.65em;
        vertical-align: middle;
        width: 1em;
    }
}

.middot {
    color: $orange;
    font-size: 1.8rem;
    vertical-align: middle;
    margin: 0 8px;
    line-height: 10px;
}
