@import '../../../public/scss/desktop/settings/_settings.scss';

$spacing: 30px;

.closeThinIcon {
    color: #999;
    height: 18px;
    margin-left: $spacing;
    width: 18px;
}

.selectCopy {
    composes: u-text-center u-spacing-top u-spacing-bottom-em from global;
    font-size: rem-calc(18);
    letter-spacing: rem-calc(-0.61);
}
