@import '../../../public/scss/desktop/settings/_settings.scss';

$spacing: 30px;

.icon {
    display: inline-block;
    height: 10px;
    width: 10px;

    svg {
        display: block;
    }
}

.checkIcon {
    color: $green;
}

.deleteButton {
    color: #aaa;
    height: 16px;
    pointer-events: auto;
    width: 16px;
}

.deleteButtonWrapper {
    align-items: center;
    display: flex;
    pointer-events: none;

    &.showDivider:before {
        color: #dfdfdf;
        content: "|";
        font-size: 1rem;
        margin-top: -3px;
        padding: 0 8px;
    }
}

.replaceAudio {
    color: #d41a00;
    font-weight: bold;
    letter-spacing: -0.3px;
    position: relative;

    input {
        height: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.songUpload {
    overflow: visible !important;

    :global(.song-upload__top) {
        padding-bottom: 10px;
    }
}

.topRight {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: $spacing;
    top: $spacing;
}

.uploadProgressWrap {
    & :global(.upload-progress-bar) {
        width: 100%;
    }
}
