@import '../../../public/scss/desktop/settings/_settings.scss';

$spacing: 30px;

.arrowIcon {
    composes: u-text-icon from global;
    position: absolute;
    right: 10px;
    stroke: #fff;
}

.containerRow {
    display: flex;

    & > * {
        flex-shrink: 0;
    }

    & > *:not(:last-child) {
        margin-right: $spacing;
    }

    .inputColumn {
        flex-basis: 0;
    }
}

.content {
    padding: 0 $spacing;
}

.copyLink {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    a {
        background-color: #f7f7f7;
        border-radius: 100px;
        font-size: 0.9rem;
        font-weight: 600;
        margin: 10px $spacing;
        max-width: 100%;
        overflow: hidden;
        padding: 20px $spacing;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    p {
        margin: 0;
    }
}

.dropdown {
    :global(.c-dropdown) {
        z-index: 3;
    }

    :global(.c-dropdown__item-button--active) {
        background-color: $orange;
        color: #fff;
    }

    :global(.c-dropdown__item-button--active):focus,
    :global(.c-dropdown__item-button--active):hover {
        background-color: #e69200;
    }

    :global(.c-dropdown__label) {
        height: 44px;
        white-space: nowrap;
    }

    :global(.c-dropdown__list) {
        position: absolute;
    }

    :global(.c-dropdown__section-header) {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

.footer {
    display: flex;
    height: 48px;
    justify-content: center;
    margin-bottom: 48px;
}

.header {
    align-items: flex-start;
    display: flex;
    margin-bottom: 20px;

    ol {
        padding: 0;
        margin: 12px -40px 0 40px;
    }
}

.inputColumn {
    flex-grow: 1;

    &.metadataColumn {
        margin-top: -10px;
    }
}

.inputRow {
    display: flex;
    position: relative;
    z-index: 2;

    & > div {
        flex-basis: 0;
        flex-grow: 1;
    }

    & > div:not(:last-of-type) {
        margin-right: $spacing;
    }
}

.linkInputsWrapper {
    margin-top: 20px;
}

.nextButton,
.previousButton,
.saveButton {
    height: 48px;
    margin-top: 24px;
}

// for legacy song edit UI which uses older input styles
.noHover {
    :global(.c-dropdown__label):focus,
    :global(.c-dropdown__label):hover {
        border-color: $gray9;
    }

    :global(.c-dropdown__label-tag) {
        max-width: 100px;
    }
}

.previousButton,
.saveButton {
    composes: button from './UploadStartPage.module.scss';
    background: #000;
    text-transform: none;
    width: 125px;

    &:hover {
        background: #fc9c03;
        color: #fff;
    }
}

.previousButton {
    margin-right: 20px;
}

.saveButton {
    margin-left: 20px;
}

.savedScreen {
    padding: 0 $spacing $spacing;

    :global(.upload-complete__col--left) {
        align-items: flex-start;
    }
}

.social {
    :global(.share-upload) {
        align-items: flex-start;
        display: flex;
    }

    :global(.upload-share-wrap) {
        flex-grow: 1;
    }

    :global(.upload-share-wrap) + :global(.upload-share-wrap) {
        margin-top: 0;
        margin-left: $spacing;
    }
}

.subtitle {
    font-weight: bold;
}

.suggestTag {
    font-weight: 600;
}

.tagsLabel {
    font-weight: 700;
}

.tagsLabelRow {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 10px;
}

.tagsLabelSubtitle {
    font-weight: 500;
    font-size: 0.846em;
    letter-spacing: 0;
    margin: 0 5px;
}

.title {
    font-size: rem-calc(24);
    font-weight: normal;
    letter-spacing: rem-calc(-0.6);
    width: 100%;
}
