@import '../../../public/scss/desktop/settings/_settings.scss';

.bar {
    display: flex;
    margin: 0 auto;
    max-width: 560px;
    padding: 0 1rem;
    width: 100%;
}

.clickable {
    cursor: pointer;

    &:after {
        cursor: default;
    }

    &:before {
        cursor: pointer;
    }
}

.step {
    color: $gray7;
    flex: 1 1 0;
    font-size: rem-calc(12);
    font-weight: bold;
    letter-spacing: rem-calc(-0.51);
    list-style: none;
    position: relative;
    text-align: center;

    &:after {
        background: #d1d1d1;
        content: "";
        height: 4px;
        left: -50%;
        margin: auto;
        position: absolute;
        top: 0.5rem;
        width: 100%;
        pointer-events: none;
    }

    &:before {
        background: #d1d1d1;
        border-radius: 50%;
        content: "";
        display: block;
        margin: 0 auto 0.3rem;
        position: relative;
        text-align: center;
        height: 18px;
        width: 18px;
        pointer-events: none;
        z-index: 3;
        transition: background 0.2s;
    }

    &[disabled] {
        background: none;
    }

    &:first-child {
        &:after {
            content: none;
        }
    }
}

.stepActive,
.stepComplete {
    color: $gray2;

    &:after {
        background: $orange;
    }

    &:before {
        background: $orange;
    }

    &:hover,
    &:focus {
        &:before {
            background: darken($orange, 5%);
        }
    }
}

.stepActive {
    z-index: 2;

    &:after {
        z-index: -1;
    }
}

.stepComplete {
    &:before {
        z-index: 3;
    }
}

.gray {
    &.stepActive:before {
        box-shadow:
            0 0 0 2px #f6f6f6,
            0 0 0 4px $orange;
    }
}

.white {
    &.stepActive:before {
        box-shadow:
            0 0 0 2px #fff,
            0 0 0 4px $orange;
    }
}
