@import '../../../public/scss/desktop/settings/_settings.scss';

.button {
    text-transform: uppercase;
    margin: 1em 0;
    padding: 14px 25px;
    font-size: 0.846em;

    @include breakpoint(small) {
        padding: 14px 60px;
        font-size: 1.077em;
    }
}

.buttonWrap {
    display: block;
    position: relative;
}

.dropzone {
    background: #f8f8f8;
    border: 1px dashed #999;
    display: block;
    font-weight: 500;
    padding: 25px;
    text-align: center;
}

.error {
    background: red;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
}

.errorIcon {
    flex: 0 0 40px;
    margin-right: 10px;
}

.errorParagraph {
    flex: 1;
    line-height: 1.4;
    font-weight: 700;
}

.folderAddIcon {
    color: $orange;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 15px;
    width: 20px;

    // same as background-color transition from _component.button.scss
    transition: color 0.2s ease-in-out, color 0.2s ease-in-out;

    .button:hover & {
        color: #fff;
    }
}

.headerText {
    font-size: 1.154em;
    letter-spacing: rem-calc(-0.38px);
    color: #000;
}

.input {
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.plusIcon {
    background: #fff;
    border-radius: 50px;
    color: $orange;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 15px;
    padding: 0 5px;
    width: 20px;

    // same as background-color transition from _component.button.scss
    transition: color 0.2s ease-in-out, color 0.2s ease-in-out;

    .button:hover & {
        color: #000;
    }
}

.rss {
    display: block;
    font-size: rem-calc(15);
    font-weight: 600;
    letter-spacing: rem-calc(-0.38);
    margin-bottom: 30px;
    text-decoration: underline;
}

.subText {
    color: $gray4;
    display: block;
    font-size: 0.846em;
    letter-spacing: rem-calc(-0.28px);
}

.terms {
    color: #232323;
    letter-spacing: rem-calc(-0.5px);
    line-height: 1.4;
    margin-top: 5px;
}

.albumEdit {
    max-width: 900px;
    margin: 50px auto;

    // Make the button clickable on the old upload form
    .addExistingUploads {
        z-index: 2;
    }
}

.albumUpload,
.podcast,
.song {
    &.dropzone {
        background: #fff;
        border: 2px dashed #d1d1d1;
        margin: 30px auto;
        max-width: 900px;
    }

    .button {
        // cannot use composes: button from './UploadStartPage.module.scss';
        // because .button is nested under .albumUpload

        align-items: center;
        border-radius: 25px;
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        display: inline-flex;
        height: 48px;
        margin: 20px 0;
        padding: 0;
        text-transform: none;
        width: 200px;
        z-index: 2;

        + .button {
            margin-left: 20px;
        }
    }

    .headerText {
        font-weight: 600;
    }

    .buttonOutline {
        border: 2px solid $orange;
        color: black;
        z-index: 1;

        &:focus,
        &:hover {
            color: #fff;
        }
    }
}
