@import '../../../public/scss/desktop/settings/_settings.scss';

$spacing: 30px;

[data-tooltip] {
    &:after {
        border-top-color: #000;
    }

    &:before {
        background: #000;
    }
}

.deleteButton {
    color: #aaa;
    height: 16px;
    pointer-events: auto;
    width: 16px;
}

.deleteButtonWrapper {
    align-items: center;
    display: flex;
    pointer-events: none;

    &:before {
        color: #dfdfdf;
        content: "|";
        font-size: 1rem;
        margin-top: -3px;
        padding: 0 8px;
    }
}

.drawer {
    display: flex;
    border-top: 1px solid #ededed;
    flex-direction: column;
    padding: calc(#{$spacing} / 1.5) calc(#{$spacing} / 1.5) 0;
}

.drawerFooter {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-top: $spacing;
    position: relative;

    .secondaryActions {
        align-items: center;
        display: flex;
        position: absolute;
        right: 0;
    }
}

.drawerHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.drawerHeading {
    font-size: 1.2rem;
}

.dropdown {
    margin-bottom: 15px;

    :global(.c-dropdown) {
        z-index: 3;
    }

    :global(.c-dropdown__item) {
        list-style: none;
    }

    :global(.c-dropdown__item-button--active) {
        background-color: $orange;
        color: #fff;
    }

    :global(.c-dropdown__item-button--active):focus,
    :global(.c-dropdown__item-button--active):hover {
        background-color: #e69200;
    }

    :global(.c-dropdown__label) {
        height: 44px;
        white-space: nowrap;
    }

    :global(.c-dropdown__list) {
        position: absolute;
    }

    :global(.c-dropdown__section-header) {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

.inputGroup {
    display: flex;
    position: relative;

    & > * {
        flex-basis: 0;
        flex-grow: 1;
    }

    & > *:not(:last-child) {
        margin-right: calc(#{$spacing} / 1.5);
    }
}

.replaceAudio {
    color: #d41a00;
    font-weight: bold;
    letter-spacing: -0.3px;
    position: relative;

    input {
        height: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.singleToggle {
    :global(.toggle-switch__text) {
        font-weight: 600;
    }
}

.suggestTag {
    font-weight: 600;
}

.tagsLabel {
    font-weight: 700;
}

.tagsLabelRow {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.trackActionIcon {
    color: $orange;
    height: 16px;
    width: 16px;

    .drawerOpen & {
        color: $gray7;
        height: 12px;
        margin: -4px 2px 0 0;
        width: 12px;
    }
}

.trackListItem {
    align-items: center;
    display: flex;
    padding: 10px calc((#{$spacing} / 2));

    .drawerOpen & {
        background-color: #f7f7f7;
    }
}

.trackListItemWrapper {
    border: 1px solid transparent;
    border-bottom: none;
    border-top-color: #ededed;
    height: 100%;
    list-style: none;

    &.drawerOpen {
        border-color: #ededed;
    }

    &.lastItem {
        border-bottom: 1px solid #ededed;
    }
}

.trackName {
    flex-grow: 1;
    font-size: rem-calc(13);
    font-weight: 600;
    letter-spacing: rem-calc(-0.5);
}

.trackNumber {
    font-weight: 600;
    margin-left: 30px;
    width: 40px;
}
