@import '../../../public/scss/desktop/settings/_settings.scss';

$spacing: 30px;

.arrowIcon {
    composes: u-text-icon from global;
    position: absolute;
    right: 10px;
    stroke: #fff;
}

.button:disabled {
    background-color: $orange;
    opacity: 0.25;
}

.closeThinIcon {
    color: #999;
    height: 18px;
    margin-left: $spacing;
    width: 18px;
}

.content {
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    margin: $spacing auto;
    max-width: 900px;
    padding: $spacing;
    position: relative;
    transition: transform 0.15s ease-in, box-shadow 0.4s ease-in-out;
}

.dropdown {
    margin-bottom: 15px;

    :global(.c-dropdown) {
        z-index: 3;
    }

    :global(.c-dropdown__item) {
        list-style: none;
    }

    :global(.c-dropdown__label) {
        height: 44px;
        white-space: nowrap;
    }

    :global(.c-dropdown__list) {
        position: absolute;
    }

    :global(.c-dropdown__item-button--active) {
        background-color: $orange;
        color: #fff;
    }

    :global(.c-dropdown__item-button--active):focus,
    :global(.c-dropdown__item-button--active):hover {
        background-color: #e69200;
    }

    :global(.c-dropdown__section-header) {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

.inputGroup {
    display: flex;
    position: relative;
    z-index: 2;

    & > * {
        flex-basis: 0;
        flex-grow: 1;
    }

    & > *:not(:last-child) {
        margin-right: calc(#{$spacing} / 1.5);
    }
}

.previousButton,
.saveButton {
    composes: button from './UploadStartPage.module.scss';
    background: #000;
    text-transform: none;
    width: 125px;

    &:hover {
        background: #fc9c03;
        color: #fff;
    }
}

.previousButton {
    margin-right: 20px;
}

.requiredInputs {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    padding-left: $spacing;
}

.requiredMetadata {
    align-items: center;
    display: flex;
    margin: -10px auto 10px;
}

.saveButton {
    margin-left: 20px;
}

.subtitle {
    font-weight: bold;
}

.suggestTag {
    font-weight: 600;
}

.tagsLabel {
    font-weight: 700;
}

.tagsLabelRow {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.title {
    font-size: rem-calc(30);
    font-weight: normal;
    letter-spacing: rem-calc(-0.75);
    margin: 2rem 0 1rem;
    text-align: center;
}
