@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    composes: u-box-shadow from global;
    transition: transform 0.15s ease-in, box-shadow 0.4s ease-in-out;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 40px 25px 20px;

    @include breakpoint(small) {
        padding-top: 30px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    :global(.no-transition) & {
        transition: none;
    }
}

.icon {
    display: inline-block;
    width: 18px;
    height: 18px;

    svg {
        display: block;
    }
}

.checkIcon {
    color: $green;
}

.closeIcon {
    cursor: pointer;
    background: #939393;
    transition: background 0.12 ease-out;
    border-radius: 50%;
    text-align: center;
    width: 14px;
    height: 14px;
    vertical-align: super;

    &:before {
        background: #000;
    }

    &:after {
        border-top-color: #000;
    }

    &:hover,
    &:focus {
        transition: background 0.12 ease-in;
        background: #000;
    }

    svg {
        padding: 4px;
        color: #fff;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
    }
}

.failedIcon {
    svg {
        padding: 2px;
    }
}

.errors {
    position: absolute;
    right: 25px;
    top: 15px;
    font-weight: bold;

    @include breakpoint(small) {
        top: 30px;
    }
}

.progress {
    color: #8d8d8d;
    font-size: 0.82rem;
    line-height: 20px;
}

.progressStatus {
    font-weight: 600;
    position: relative;

    :global(.loader-container) {
        transform-origin: top right;
        position: absolute;
        top: 0;
        right: -30px;
    }
}

.title {
    font-weight: 600;
    font-size: 0.875rem;
    letter-spacing: -0.45px;
    line-height: 20px;
    display: inline-block;
}

.uploadPage {
    & :global(.upload-progress-bar) {
        width: 100%;
    }

    .icon {
        height: 10px;
        width: 10px;
    }

    .trashIcon {
        color: #aaa;
        height: 16px;
        position: absolute;
        right: 25px;
        width: 16px;
    }
}
