@import '../../../public/scss/desktop/settings/_settings.scss';

.acr {
    display: inline-block;
    vertical-align: middle;

    img {
        margin-left: 5px;
    }
}

.button {
    background: #fc9c03;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: rem-calc(14);
    font-weight: 700;
    height: 48px;
    letter-spacing: rem-calc(-0.5);
    line-height: 1;
    padding: 1rem;
    position: relative;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    width: 180px;

    &[disabled] {
        background: #999;
        cursor: default;
        pointer-events: none;
    }

    &:focus,
    &:hover {
        background: #000;
        color: #fff;
    }
}

.copy {
    color: #666;
    font-size: 0.81rem;
    margin-top: 2rem;

    p {
        letter-spacing: -0.5px;
        line-height: 20px;
        margin: 0 auto 20px;
        max-width: 650px;
    }

    strong {
        color: #000;
        font-weight: 600;
    }
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    text-align: center;

    @include breakpoint(small) {
        padding: 30px;
    }
}

.option {
    align-items: center;
    background: #fff;
    border: #fff 2px solid;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: flex;
    height: 70px;
    margin: 0 10px 10px;
    overflow: hidden;
    padding: 10px 30px 10px 10px;
    position: relative;
    transition: border-color 0.2s ease-in-out;
    width: 100%;

    @include breakpoint(medium) {
        display: block;
        height: 230px;
        margin-bottom: 20px;
        padding: 35px 35px 15px;
        width: 230px;
    }

    &:focus,
    &:hover {
        border-color: #dedede;
    }

    &.selected {
        border-color: $orange;
    }
}

.optionCheck {
    background: #d8d8d8;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    padding: 4px;
    transition: background-color 0.2s ease-in-out;

    .selected & {
        background: $orange;
    }

    svg {
        vertical-align: super;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        .selected & {
            opacity: 1;
        }
    }
}

.optionContent {
    flex: 1;
    display: flex;
    align-items: center;

    @include breakpoint(medium) {
        flex-direction: column;
    }
}

.optionIcon {
    color: $orange;
    flex: 0 0 52px;
    margin: 0 15px 0 0;

    @include breakpoint(medium) {
        height: 90px;
        margin: 0 auto 15px 0;
    }

    &.song {
        padding: 0 6px;
    }

    &.podcast {
        padding: 0 9px;
    }
}

.optionList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.2rem auto 1.2rem;
    max-width: 1000px;
    padding: 0 9px;

    @include breakpoint(medium) {
        margin: 20px auto 10px;
    }
}

.optionTitle {
    font-size: 1.385em;
    flex: 1;
    font-weight: 700;
    letter-spacing: -0.45px;
    line-height: 24px;
    margin: 0;
    text-align: left;

    @include breakpoint(medium) {
        margin-bottom: 15px;
        text-align: center;
    }
}

.title {
    color: #000;
    font-size: rem-calc(30);
    letter-spacing: rem-calc(-0.75);
    line-height: 1.3;
    margin: 0 0 0.3rem;
    padding: 0;

    @include breakpoint(medium) {
        font-size: 1.8rem;
        line-height: 41px;
    }
}

.subtitle {
    color: #666;
    font-size: rem-calc(15);
    letter-spacing: rem-calc(-0.58);
}
