@import '../../../public/scss/desktop/settings/_settings.scss';

.copy {
    color: $gray5;
    letter-spacing: rem-calc(-0.5px);
    line-height: 20px;
    margin: 30px auto;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
}

.songUploadItem {
    list-style: none;
}

.songUploadList {
    list-style: none;
    margin: 30px 0;
    padding: 0;
}

.subtitle {
    color: $gray5;
    font-size: rem-calc(15);
    letter-spacing: rem-calc(-0.58);
    text-align: center;

    .bold {
        color: #000;
        font-weight: 600;
    }
}

.title {
    font-size: rem-calc(30);
    letter-spacing: rem-calc(-0.75);
    margin: 2rem 0 0;
    text-align: center;
}
