@import '../../public/scss/shared/settings/_settings.scss';

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;

    @media (min-width: 750px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.stat {
    text-align: center;

    a {
        background: #fafafa;
        display: block;
        padding: 20px 25px;
    }

    a:hover,
    a:focus {
        background: $gray10;
    }
}

.number {
    font-size: rem-calc(28);
    color: $gray3;
    line-height: 1;
    font-weight: 700;
    letter-spacing: rem-calc(-1.1);
}

.label {
    font-size: rem-calc(12);
    color: $gray7;
    font-weight: 600;
    letter-spacing: rem-calc(-0.4);
}
