@import '../../public/scss/desktop/settings/_settings.scss';

$width: 45px;
$height: 27px;
$ballSize: 21px;

.toggle {
    position: relative;
}

.checkbox {
    height: 0;
    width: 0;
    visibility: hidden;

    &:checked + .label {
        background: $orange;

        &:after {
            left: calc(100% - #{($height - $ballSize) / 2});
            transform: translateX(-100%);
        }
    }
}

.label {
    cursor: pointer;
    text-indent: -9999px;
    width: $width;
    height: $height;
    background: $gray9;
    display: inline-block;
    border-radius: $width / 2;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: ($height - $ballSize) / 2;
        left: ($height - $ballSize) / 2;
        width: $ballSize;
        height: $ballSize;
        background: #fff;
        border-radius: 50%;
        transition: transform 0.3s, left 0.3s;
    }

    &:active:after {
        width: $ballSize * 1.2;
    }
}

.text {
    font-weight: bold;
    vertical-align: text-top;
    display: inline-block;
    margin-right: 0.5em;
}

.info {
    vertical-align: text-bottom;
    margin-right: 0.5em;
    padding-top: 0;
}
