@mixin triangle($direction: down, $color: #000, $width: 10px, $height: 5px) {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;

    @if ($direction == up) {
        border-width: 0 #{$width / 2} $height;
        border-color: transparent transparent $color;
    }

    @else if ($direction == down) {
        border-width: $height #{$width / 2} 0 #{$width / 2};
        border-color: $color transparent transparent;
    }

    @else if ($direction == right) {
        border-width: #{$height / 2} 0 #{$height / 2} $width;
        border-color: transparent transparent transparent $color;
    }

    @else if ($direction == left) {
        border-width: #{$height / 2} $width #{$height / 2} 0;
        border-color: transparent $color transparent transparent;
    }

    // Fallback in-case incorrect direction / typo / etc.
    @else {
        border-width: 0 #{$width / 2} $height #{$width / 2};
        border-color: transparent transparent $color;
    }
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin iphoneX() {
    @media only
        screen and (device-width: 375px)
        and (device-height: 812px)
        and (-webkit-device-pixel-ratio: 3) {
        @content;
    }
}

@mixin placeholder {
    ::-webkit-input-placeholder { // stylelint-disable-line
        @content;
    }

    ::-moz-placeholder { // stylelint-disable-line
        @content;
    }

    :-moz-placeholder { // stylelint-disable-line
        @content;
    }

    ::placeholder { // stylelint-disable-line
        @content;
    }

    :-ms-input-placeholder { // stylelint-disable-line
        @content;
    }
}
