.u-d-flex {
    display: flex;

    &--align-center {
        align-items: center;
    }

    &--justify-center {
        justify-content: center;
    }

    &--justify-between {
        justify-content: space-between;
    }

    &--wrap {
        flex-wrap: wrap;
    }
}

.u-d-block {
    display: block;
}

.u-d-inline-block {
    display: inline-block;
}

.u-d-none {
    display: none;
}

.u-overflow-hidden {
    overflow: hidden;
}

.u-visibility-hidden {
    visibility: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px #fff inset !important;
}
