// Font weights
.u-fw-300 {
    font-weight: 300;
}

.u-fw-500 {
    font-weight: 500;
}

.u-fw-600 {
    font-weight: 600;
}

.u-fw-700 {
    font-weight: 700;
}

.u-fw-800 {
    font-weight: 800;
}

// Text transforms
.u-tt-lowercase {
    text-transform: lowercase;
}

.u-tt-uppercase {
    text-transform: uppercase;
}

.u-tt-cap {
    text-transform: capitalize;
}

// Line heights
.u-lh-1 {
    line-height: 1;
}

.u-lh-11 {
    line-height: 1.1;
}

.u-lh-12 {
    line-height: 1.2;
}

.u-lh-13 {
    line-height: 1.3;
}

.u-lh-14 {
    line-height: 1.4;
}

.u-lh-15 {
    line-height: 1.5;
}

.u-lh-16 {
    line-height: 1.6;
}

.u-lh-17 {
    line-height: 1.7;
}

// Text align
.u-text-left {
    text-align: left;
}

.u-text-right {
    text-align: right;
}

.u-text-center {
    text-align: center;
}


// Text icons

.u-title-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    transform: translateY(2px);
}
