.u-text-dark {
    color: $gray2;
}

.u-text-white {
    color: #fff;
}

.u-text-orange {
    color: $orange !important;
}

.u-text-yellow {
    color: $yellow !important;
}

.u-text-green {
    color: $green;
}

.u-text-red {
    color: $red;
    letter-spacing: -0.3px;
}

.u-brand-color {
    color: $brand_color;
}

.u-text-gray-4 {
    color: $gray4;
}

.u-text-gray-5 {
    color: $gray5;
}

.u-text-gray6 {
    color: $gray6;
}

.u-text-gray7 {
    color: $gray7;
}

.u-text-gray9 {
    color: $gray9;
}

.u-bg-white {
    background: #fff;
}

.u-bg-orange {
    background: $orange;
}

.u-bg-gray11 {
    background: $gray11;
}
