.u-br-25 {
    border-radius: 25px;
}

.u-br-circle {
    border-radius: 50%;
}

.u-circle {
    border-radius: 50%;
}

.u-border-top {
    border-top: 1px solid #efefef;
}

.u-border-bottom {
    border-bottom: 1px solid #efefef;
}

.u-border {
    &--gray2 {
        border-color: $gray2;
    }

    &--gray9 {
        border-color: $gray9;
    }
}

.u-border-0 {
    border: 0 !important;
}
