*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
}

html,
body {
    min-height: 100%;
}

.body-loader {
    text-align: center;
    display: none;
    position: fixed;
    top: $header_height;
    width: calc(100% - #{$sidebar_width});
    height: calc(100% - #{$header_height});
    align-items: center;
    justify-content: center;

    .has-hidden-sidebar & {
        width: 100%;
    }
}

.l-container {
    transition: opacity 0.15s ease-in;
    height: 100%;
}

body {
    background: $gray11;
    font-family: $font_stack--primary;
    font-display: swap;
    font-weight: 400;
    line-height: 1.8;
    font-size: 13px;
    transition: padding 0.12s ease-in-out, background 0.2s, color 0.2s;
    padding-top: $header_height;
    padding-bottom: 110px;
    color: $gray2;

    @include breakpoint(xlarge) {
        padding-left: $sidebar_width;

        &.has-hidden-sidebar {
            padding-left: 0;
        }
    }

    &.overflow {
        overflow: hidden;
    }

    &.has-hidden-header {
        padding-top: 0;
    }

    &.no-bottom-padding {
        padding-bottom: 0;
    }

    &.is-masquerading {
        margin-top: $masquerade_height;
    }

    &.preloading * {
        // Now that the header menus arent animations anymore, there
        // doesnt seem to be a need for these rules any more. Before,
        // you would see the menus show and quickly hide on page load
        // but now that they are just transitions instead of animations
        // we might not need these rules here anymore. Commenting out
        // for now.
        //
        // transition: none !important;
        // animation-duration: 0 !important;
    }

    &.dark-theme {
        background: $gray1;
        color: #fff;
    }

    &.css-loading {
        .body-loader {
            display: flex;

            .loader-container {
                margin: 20px auto;
            }

            .loader-android {
                animation: rotate 2s linear infinite !important;
            }

            .loader-android__path {
                animation: dash 1.5s ease-in-out infinite !important;
            }
        }

        .l-container,
        .c-message {
            opacity: 0;
        }
    }

    .mobile-only {
        display: none;
    }

    &.is-mobile {
        .mobile-only {
            display: block;
        }
    }

    &.no-select * {
        user-select: none !important;
    }

    // Match background of payment info iframe
    &.light {
        background: #f7f7f7;
    }
}

.react-view {
    position: relative;
    height: 100%;
}

a,
button,
.button-link {
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
    cursor: pointer;
}

.button-link {
    letter-spacing: -0.6px;

    &[disabled] {
        background: none;
    }
}

.button-link,
a {
    font-family: $font_stack--primary;
    color: $brand_color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $brand_color--dark;
    }
}

/* stylelint-disable */
input,
textarea,
keygen,
select,
button,
a,
[role="button"] {
    font-family: $font_stack--primary;
    outline-width: 0;

    .showfocus &:focus {
        outline: 5px auto $brand_color;
    }
}

input:required,
textarea:required {
    box-shadow: none;
}
/* stylelint-enable */

img {
    display: block;
    max-width: 100%;
}

button { // stylelint-disable-line
    border: none;
    background: none;
    padding: 0;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

svg {
    width: 100%;
    height: 100%;

    &:not(.u-no-fill) {
        fill: currentColor;

        path {
            fill: currentColor;
        }
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol {
    list-style: lower-roman;
    padding-left: 2em;

    li {
        list-style: lower-roman;
    }
}

.body-text {
    background: #fff;
    padding: 25px;

    &--no-padding {
        padding: 0;
    }
}

.body-text p + p {
    margin-top: 1em;
}

label,
.label {
    display: block;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1.385em;
    margin-bottom: 10px;

    span {
        font-weight: 500;
        font-size: 0.846em;
        letter-spacing: 0;
        margin-left: 5px;
    }
}

.label {
    &--required {
        &:after {
            content: "*";
            color: red;
            font-size: 0.923em;
            margin-left: 2px;
            transform: translateY(-10px);
        }
    }
}

[type="file"] {
    cursor: pointer;
}

.input,
[type="text"],
[type="url"],
[type="tel"],
[type="email"],
[type="date"],
[type="password"],
select { // stylelint-disable-line
    line-height: 42px;

    &[disabled] {
        background: $gray11;
    }
}

/* stylelint-disable */
.input,
[type="text"],
[type="url"],
[type="tel"],
[type="email"],
[type="date"],
[type="password"],
select,
.c-dropdown__label,
textarea {
    padding: 0 12px;
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid $gray9;
    height: 42px;
    line-height: 42px;
}

.c-dropdown__label {
    line-height: 24px;
}

[type="password"] {
    // Account for password toggle button
    padding-right: 40px;
}
/* stylelint-enable */

textarea { // stylelint-disable-line
    padding: 12px;
    line-height: 1.3;
    min-height: 80px;

    &[disabled] {
        background: $gray11;
    }
}

.select {
    border: 1px solid $gray9;
    margin-bottom: 1em;
    background: #fff;
    position: relative;
    margin-top: -1px;

    &.disabled {
        background: $gray11;
    }

    select { // stylelint-disable-line
        -moz-appearance: none; // stylelint-disable-line
        -webkit-appearance: none; // stylelint-disable-line
        appearance: none;
        margin-bottom: 0;
        border: 0;
        background: none;
        padding-right: 35px;
    }

    &__arrow {
        width: 10px;
        height: 10px;
        top: 50%;
        margin-top: -5px;
        position: absolute;
        right: 20px;
        color: $gray7;
        pointer-events: none;
    }

    &--button {
        color: #fff;
        padding: 0 !important;
        margin: 0;

        select {
            font-weight: bold;
            color: currentColor;
            height: auto;
            line-height: 1;
            padding: 10px 35px 10px 20px;
        }

        .select__arrow {
            color: currentColor;
        }
    }

    & + .select {
        margin-left: 1em;
    }
}

[type="checkbox"] {
    border-radius: 4px;
}

[type="radio"] {
    border-radius: 50%;
}

[type="checkbox"],
[type="radio"] {
    -moz-appearance: none; // stylelint-disable-line
    -webkit-appearance: none; // stylelint-disable-line
    appearance: none;
    background: $gray9;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 0.5em;
    position: relative;
    cursor: pointer;
    transition: background 0.12 ease-in;
    flex-shrink: 0;

    &.plus {
        border-radius: 50%;
        background: none;
        border: 2px solid $gray7;
        width: 27px;
        height: 27px;

        &:before {
            content: '+';
            display: block;
            opacity: 1;
            width: 100%;
            height: 100%;
            left: 0;
            position: absolute;
            top: -1px;
            color: $gray7;
            transform: none;
            background: none;
            font-size: 2em;
            text-align: center;
            line-height: 24px;
        }

        &--minimal {
            border: 0;
            font-size: rem-calc(15);

            &:before {
                color: $orange;
            }
        }

        &:checked {
            border: 0;

            &:before {
                content: '';
                background: #fff;
                width: 3px;
                height: 4px;
                top: 13px;
                left: 8px;
            }

            &:after {
                width: 3px;
                height: 13px;
                top: 7px;
                left: 14px;
            }
        }
    }

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        background: #fff;
        transition: transform 0.12s ease-in, opacity 0.12s ease-in;
        opacity: 0;
    }

    &:before {
        width: 3px;
        height: 7px;
        top: 8px;
        left: 6px;
        transform: scale(0) rotate(-41deg);
    }

    &:after {
        width: 3px;
        height: 9px;
        top: 5px;
        left: 11px;
        transform: scale(0) rotate(45deg);
    }

    &:checked {
        background: $brand_color;

        &:before {
            transform: scale(1) rotate(-41deg);
            opacity: 1;
        }

        &:after {
            transform: scale(1) rotate(45deg);
            opacity: 1;
        }
    }

    &[disabled] {
        pointer-events: none;

        &:checked {
            background: $gray9;
        }
    }

    &.radio--small,
    &.checkbox--small {
        width: 16px;
        height: 16px;

        &:before {
            width: 2px;
            height: 5px;
            top: 7px;
            left: 5px;
        }

        &:after {
            width: 2px;
            height: 7px;
            top: 4px;
            left: 9px;
        }
    }
}

.checkbox--circular {
    border-radius: 50%;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

.js-title {
    position: relative;
}


.qc-cmp-persistent-link {
    left: 0 !important;
    right: auto !important;

    svg {
        width: 17px;
    }
}
