.music-heading {
    font-size: 15px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    font-weight: 500;
    line-height: 1.3;
}//.music-heading

.music-featuring {
    font-size: 15px;
    letter-spacing: -0.5px;
    line-height: 1.4;
}//.music-featuring

.music-meta li {
    line-height: 1.6;
    letter-spacing: -0.5px;
}//.music-meta li

.music-feed__title {
    @include font-size(22px);
    line-height: 20px;
    letter-spacing: -0.7px;
    font-weight: 700;
    margin: 0 0 20px;
}
