@import '../../../../public/scss/desktop/settings/_settings.scss';

.imageResizeTop {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.errorMessage {
    color: $red;
    margin-top: 2px;
    margin-left: 5px;
}

.successMessage {
    color: $green;
    margin-top: 2px;
    margin-left: 5px;
}

.searchBox {
    margin-top: 10px;
    position: relative;
    border-bottom: none;

    input {
        padding-right: 35px;
        margin-bottom: 0;
        flex: auto;
    }

    button {
        position: absolute;
        right: 10px;
        top: 8px;
        border: none;
        height: 22px;
        width: 22px;
        border-radius: 100%;
        text-align: center;
        padding: 2px;
        color: $orange;

        &:disabled {
            color: $gray8;
            background: $gray12;
        }
    }
}
