@import '../../../../../public/scss/desktop/settings/_settings.scss';

.artwork {
    width: 49px;
    height: 48px;
    min-width: 49px;
    display: inline-block;

    @include breakpoint(medium) {
        display: inline;
        margin-right: 20px;
    }

    img {
        // Make broken images somewhat not break the design
        width: 100%;
        margin: 0 auto;
        height: 100%;
        object-fit: cover;
    }
}

.music {
    margin-top: 30px;
    width: 440px;
    height: 220px;
    padding: 15px 15px 15px 14.4px;
    display: flex;
    flex-direction: column;
    background-color: #fbfbfb;
    border: solid 1px #ebebeb;
}

.top {
    display: flex;
    flex-flow: row nowrap;

    // Foundation is overriding this, so it needs much importance.
    .info {
        max-width: 100% !important;
    }

    .artistName {
        font-size: rem-calc(18);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: rem-calc(-1.04);
        color: #2a2a2a;
    }

    .songName {
        font-size: rem-calc(18);
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: -0.51px;
        color: #2a2a2a;
    }

    a {
        margin-right: 10px;
    }
}

.wave {
    margin-top: 10px !important;
}

.data {
    margin-top: 18px;
    padding-left: 6.6px;
    display: flex;
    flex-wrap: wrap;
    font-size: rem-calc(13);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: rem-calc(-0.5);

    li:nth-child(even) {
        flex: 0 50%;
        padding-left: 10px;
    }

    li:nth-child(odd) {
        flex: 0 50%;
    }

    li {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span {
            font-weight: bold;
        }
    }
}
