@import '../../../../public/scss/desktop/settings/_settings.scss';

.followListTop {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.errorMessage {
    color: $red;
    margin-top: 2px;
    margin-left: 5px;
}

.searchBox {
    margin-top: 10px;
    position: relative;

    input {
        padding-right: 35px;
        margin-bottom: 0;
        flex: auto;
    }

    button {
        position: absolute;
        right: 10px;
        top: 8px;
        border: none;
        height: 22px;
        width: 22px;
        border-radius: 100%;
        text-align: center;
        padding: 2px;
        color: $orange;

        &:disabled {
            color: $gray8;
            background: $gray12;
        }
    }
}

.item {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    background: $gray9;
    padding: 8px 8px 8px 35px;
    margin-bottom: 8px;

    &:active {
        background: $orange;

        a {
            color: $gray1;
        }
    }

    button {
        width: 25px;
        height: 25px;

        &:hover {
            color: $red;
        }

        &:focus {
            color: $red;
        }
    }
}

.adminDrag {
    color: $gray7;
    top: 25px;
    left: 10px;
    height: 10px;
    width: 18px;
}
