@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    background: #fff;
    padding: 20px;
}

// https://philipwalton.github.io/solved-by-flexbox/demos/media-object/
.artistBlock {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.artistName {
    color: $gray2;

    &:hover,
    &:focus {
        color: $orange;
    }
}

.avatarContainer {
    margin-right: 1em;
}

.artistContent {
    flex: 1;
}

.progressContainer {
    display: flex;
    align-items: center;
}

.progressText {
    margin-left: 15px;
}
