@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    text-align: center;
}

.message {
    margin: 15px 0;
    font-size: rem-calc(16);
    letter-spacing: rem-calc(-0.5);
}

.icon {
    color: $gray8;
    width: 68px;
    height: 68px;
    margin: 0 auto;
}
