@import '../../../public/scss/desktop/settings/_settings.scss';

.link {
    margin: 20px 0 0 20px;
    font-weight: bold;
    display: block;

    &:hover,
    &:focus {
        &,
        & .text {
            color: $orange;
        }
    }

    svg {
        width: 11px;
        height: 10px;
        margin-right: 5px;
    }
}

.text {
    transition: color 0.1s;
    color: $gray2;
}
