@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include breakpoint(medium) {
        flex-direction: row;
    }
}

.containerSpaceBetween {
    justify-content: space-between;
}

.title {
    font-size: rem-calc(18);
    letter-spacing: rem-calc(-0.6);
    font-weight: 700;
    display: flex;
    align-items: center;
}

.icon {
    color: $orange;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;

    svg {
        display: block;
    }
}

.sourceIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
