@import '../../../public/scss/desktop/settings/_settings.scss';

.overlay {
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.message {
    background: $gray2;
    border-radius: 5px;
    color: #fff;
    letter-spacing: -0.5px;
    padding: 10px 20px;
    font-weight: 700;

    a {
        text-decoration: underline;
    }
}
