@import '../../../public/scss/desktop/settings/_settings.scss';

$brandRed: #bb2218;

.container {
    background: $brandRed;
    position: relative;
    color: #fff;
    padding: 40px;
}

.content {
    position: relative;

    @include breakpoint(medium) {
        max-width: 80%;
    }
}

.headline {
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
    max-width: 70%;
    font-weight: bold;
    letter-spacing: 0.01em;
    margin-bottom: 0.15em;
}

.subline {
    max-width: 80%;
    text-transform: uppercase;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    // padding-left: 17%;
}

.copy {
    text-transform: uppercase;
    font-style: italics;
}

.buttons {
    margin: 20px 0;
    height: 46px;
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
}

.whiteButton {
    background: #fff;
    color: $brandRed;
    padding: 10px;
    height: 100%;
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    font-weight: 600;
    border: 1px solid #fff;

    &:hover,
    &:focus {
        background: none;
        color: #fff;
    }
}

.outlineButton {
    background: $brandRed;
    border: 1px solid #fff;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    padding: 10px;
    height: 100%;
    position: relative;
    margin-left: 6px;

    &:hover,
    &:focus {
        background: #fff;
        color: $brandRed;
    }
}
