@import '../../../public/scss/desktop/settings/_settings.scss';

$mainBreakpointSm: 865px;
$mainBreakpointMd: 1050px;

.main {
    overflow: hidden;
    position: relative;

    @media (min-width: $mainBreakpointSm) {
        min-height: 360px;
    }
}

.mainContent {
    color: #fff;
    padding: 35px 40px;
    z-index: index($z-index, arbitrary);
    position: relative;

    @media (min-width: $mainBreakpointSm) {
        background: #1d1d1d;
        width: 55%;
        height: 360px;
        padding-right: 0;
    }

    @media (min-width: $mainBreakpointMd) {
        width: 45%;
    }

    p {
        font-size: rem-calc(16);
        line-height: 1.375;
        letter-spacing: rem-calc(-0.5);
        color: #c7c7c7;
        margin-top: 10px;
    }
}

.heading {
    font-size: rem-calc(25);
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: rem-calc(-1.2);
}

.image {
    background: #1d1d1d;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: index($z-index, below-arbitrary);

    @media (min-width: $mainBreakpointSm) {
        width: 45%;
        display: block;
    }

    @media (min-width: $mainBreakpointMd) {
        width: 55%;
    }

    &:after {
        content: "";
        background: #1d1d1d;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: calc(100% - 105px);
        transform: skew(-30deg);
        display: none;

        @media (min-width: $mainBreakpointSm) {
            display: block;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.2;

        @media (min-width: $mainBreakpointSm) {
            opacity: 1;
        }
    }
}

.secondary {
    background: #fff;
    padding: 30px;
    text-align: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
    font-size: rem-calc(18);
    line-height: 1.6;
    position: relative;
    letter-spacing: rem-calc(-0.5);

    @media (min-width: $mainBreakpointMd) {
        padding: 30px 65px 30px 70px;

        p {
            padding: 0 85px;
        }
    }
}

.book {
    position: absolute;
    left: 55px;
    top: -15px;
    z-index: index($z-index, above-arbitrary);
    display: none;

    @media (min-width: $mainBreakpointMd) {
        display: block;
    }
}

.secondaryHeading {
    font-size: rem-calc(18);

    @media (min-width: $mainBreakpointMd) {
        margin-left: 110px;
    }
}

.button {
    margin: 20px 0;

    @media (min-width: $mainBreakpointMd) {
        margin-left: 70px;
    }
}
