
@import "../../../../public/scss/shared/settings/_settings.color.scss";
@import "../../../../public/scss/desktop/settings/_settings.breakpoints.scss";

/* Need to use a "~" to import from node_modules folder */
@import '~foundation-sites/scss/util/util';

.adminTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint(medium) {
        flex-wrap: nowrap;
    }
}

.searchBox {
    margin-top: 20px;
    position: relative;

    input {
        padding-right: 35px;
        margin-bottom: 0;
        flex: auto;
    }

    button {
        position: absolute;
        right: 10px;
        top: 8px;
        border: none;
        height: 22px;
        width: 22px;
        border-radius: 100%;
        text-align: center;
        padding: 2px;
        color: $orange;

        &:disabled {
            color: $gray8;
            background: $gray12;
        }
    }
}
