@import '../../../public/scss/mobile/settings/_settings.z-index.scss';
@import '../../../public/scss/shared/settings/_settings.color.scss';

.geoNotice {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: index($z-indexes, geo-notice);
    padding: 0 60px;
}

.withBackdrop {
    background: rgba(0, 0, 0, 0.7);
}

.notice {
    background: $brand_color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    color: #fff;
    letter-spacing: -0.5px;
    padding: 6px 12px;
    font-weight: 600;
}
