@import '../../../public/scss/desktop/settings/_settings.scss';

.link {
    display: block;
    color: #fff;
}

.image {
    background: $gray2;
}

.title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    margin-top: 0.75em;
    padding: 0 0.5em;
}

.count {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    margin-top: 0.25em;
    color: #999;
}
