@import '../../../public/scss/mobile/settings/_settings.settings.scss';

.menu {
    background: $gray1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: index($z-indexes, filter-menu);
}

.header {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: $gray2 1px solid;
}

.heading {
    font-weight: 800;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: -0.09rem;
}

.close {
    color: #fff;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    right: 0;
}

.options {
    padding-bottom: 50px;
    border-bottom: #0d0d0d 1px solid;
}

.menuItem {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -0.05rem;

    + .menuItem {
        margin-top: 20px;
    }

    a {
        color: #fff;
        display: flex;
        align-items: center;
    }
}

.optionCheck {
    background: $gray4;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    margin-right: 10px;
    padding: 4px;
    transition: background-color 0.2s ease-in-out;

    [data-active="true"] & {
        background: $orange;
    }

    svg {
        vertical-align: super;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        [data-active="true"] & {
            opacity: 1;
        }
    }
}
