@import '../../../public/scss/mobile/settings/_settings.settings.scss';

.container {
    margin: 15px 0;
    padding: 0 10px;
}

.buttonWrap {
    display: flex;
    justify-content: space-between;
}

.button {
    display: flex;
    align-items: center;
    outline: none;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    color: $orange;
}

.label {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.05rem;
    position: relative;

    &:after {
        @include triangle(down, $orange, 8px, 5px);
        margin-left: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.tag {
    font-weight: 700;
    letter-spacing: rem-calc(-0.5);
}
