@import '../../../public/scss/shared/settings/_settings.color.scss';

.post {
    margin-bottom: 25px;
}

.content {
    background: #000;
    width: calc(100% - 30px);
    margin: -25px 15px 0;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.image {
    background: $gray2;
    min-height: 150px;
}

.title {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.05rem;

    a {
        color: #fff;
    }
}

.excerpt {
    font-size: 1.4rem;
    color: $gray9;
    line-height: 1.4;
    letter-spacing: -0.05rem;
    margin-top: 5px;
}
