@import '../../../public/scss/shared/settings/_settings.color.scss';

.header {
    margin-bottom: 15px;
    padding: 15px 0;
    border-bottom: $gray2 1px solid;
}

.title {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.075rem;
}

.image {
    display: block;
    width: 100%;
}

.contentWrap {
    padding: 0 25px;
}

.content {
    font-size: 1.7rem;
    line-height: 1.5;
    letter-spacing: -0.05rem;
    color: #cacaca;

    & > {
        img,
        iframe,
        p,
        ul,
        ol,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {

            margin-bottom: 2em;
        }
    }

    iframe {
        max-width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
        font-weight: 700;

        u {
            text-decoration: none;
        }
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    h4 {
        font-size: 1.6rem;
    }
}

.videoContainer {
    position: relative;
    width: 100%;
    margin-bottom: 2em;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.meta {
    border-top: $gray2 1px solid;
    border-bottom: $gray2 1px solid;
    margin-bottom: 25px;
    padding: 25px 0 15px;
}

.shareButtonFooter {
    display: flex;
    margin-bottom: 15px;
}
