@import '../../../public/scss/shared/settings/_settings.color.scss';
@import '../../../public/scss/mobile/settings/_settings.z-index.scss';

$headerHeight: 48px;

.header {
    background: $gray1b;
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: index($z-indexes, header);
}

.back {
    width: $headerHeight;
    height: $headerHeight;
    padding: 16px;
    color: #fff;

    svg {
        width: 18px;
        height: 18px;
    }
}

.logo {
    text-align: center;
    flex: 0 0 60px;
    height: 60px;
    margin-top: 5px;
}

.share {
    width: $headerHeight;
    height: $headerHeight;
    padding: 16px 14px 12px;
    color: #fff;

    svg {
        width: 20px;
        height: 20px;
    }
}
