$orange: #ffa200;
$gray1: #161616;
$gray1b: #1b1b1b;
$gray2: #232323;
$gray3: #383838;
$gray4: #404040;
$gray5: #666;
$gray6: #757575;
$gray7: #999;
$gray8: #b2b2b2;
$gray9: #d8d8d8;
$gray10: #e2e2e2;
$gray11: #f4f4f4;
$gray12: #f9f9f9;
$white1: #fff;

$red: #d41a00;
$green: #66b659;
$yellow: #ffc902;

//TODO
// Pick a lane and either use these, or $orange
$brand_color: $orange;
$brand_color--light: lighten($brand_color, 10%);
$brand_color--dark: darken($brand_color, 10%);

$border_color: #eaeaea;

$twitter_col: #55acee;
$twitter_col_dark: #499edf;
$facebook_col: #3b5998;
$facebook_col_dark: #314b81;
$instagram_col: $gray2;
$instagram_col_dark: #000;
$youtube_col: #ff0002;
$soundcloud_col: #f80;
$google_col: #4285f4;
$apple_col: #000;
