@import "../../../public/scss/mobile/settings/_settings.layout.scss";

:global(.add-to-playlist .close) {
    top: 20px;
}

:global(.add-to-playlist .content) {
    margin-top: $global-padding * 2;
    width: 100%;
}

.modal {
    display: flex;
    justify-content: center;
    background: #000;
}
