:global(.app-download .close) {
    top: 20px;
}

:global(.app-download .content) {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.amAppIcon {
    margin-bottom: 35px;
    text-align: center;
}

.body {
    text-align: center;
    padding: 0 20px;
    font-size: 13px;
    font-weight: 600;
}

.bodyTitle {
    font-weight: 700;
    text-transform: uppercase;
}

.modal {
    composes: pageOverlay from "./Modal.module.scss";
    background: #000;
    background: rgba(0, 0, 0, 0.85);
}

.top {
    color: #fff;

    + .body {
        margin-top: 20px;
    }
}

.topLogo {
    margin: 0 auto;
    height: 20px;
}
