@import "../../../public/scss/shared/settings/_settings.color.scss";
@import "../../../public/scss/shared/tools/_tools.mixins.scss";

.button {
    width: 80%;
}

.content {
    text-align: center;

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        margin-bottom: 30px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $gray6;
        color: $gray11;
        font-size: 1.8rem;
        background-color: $gray1b;
        padding-left: 0;
        padding-top: 0;

        &:focus {
            border: none;
            border-bottom: 1px solid $gray6;
            outline: none;
        }

        &:-webkit-autofill {
            box-shadow: 0 0 0 1000px $gray1b inset !important;
        }
    }

    @include placeholder {
        font-size: 1.8rem;
    }
}

.message {
    margin-bottom: 20px;
    font-size: 2.1rem;
    font-weight: 700;
}
