@import "../../../public/scss/mobile/settings/_settings.layout.scss";
@import "../../../public/scss/mobile/settings/_settings.z-index.scss";

@import "../../../public/scss/shared/settings/_settings.color.scss";
@import "../../../public/scss/shared/tools/_tools.mixins.scss";

.button {
    width: 100%;
    height: 52px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 100px;

    + & {
        margin-top: 15px;
    }
}

.buttonCancel {
    composes: button;
    background: $gray1b;
}

.buttonGroup {
    .pill + .pill {
        margin-left: 10px;
    }
}

.checkbox {
    flex: 0 0 50%;
    margin-bottom: 20px;
    padding: 0 15px;

    label {
        font-size: 1.5rem;
        text-transform: capitalize;
        display: flex;
        align-items: center;
    }

    [type="checkbox"] {
        margin-right: 10px;
    }
}

.checkboxWrap {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.content {
    padding: $global-padding;

    .takedown & {
        max-height: 90vh;
        overflow: scroll;
    }

    .dark & {
        padding: 30px 40px;
    }
}

.close {
    position: absolute;
    font-size: 3em;
    width: 18px;
    height: 18px;
    transition: color 0.1s;
    color: #fff;
    top: 2px;
    right: $global-padding;
    z-index: 2;

    .light & {
        color: #111;
    }

    .dark & {
        width: 19px;
        height: 19px;
        top: -30px;
        right: -10px;
    }
}

.header {
    padding: 10px $global-padding;
    padding-right: 50px;

    .title {
        margin-bottom: 0;
    }
}

.modal {
    max-width: 600px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: 0 0;
    transition: transform 0.15s cubic-bezier(0.175, 0.665, 0.32, 1), opacity 0.15s;
    background: #fff;
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    z-index: 2;
}

// Note: define .dark and .light after .modal to ensure that they overwrite styles from .modal

.dark {
    overflow: inherit;
    background: $gray1b;
    color: #fff;
    max-width: 90%;
}

.light {
    color: #222;
    max-width: 90%;
}

.modalRoot {
    position: relative;
    z-index: index($z-indexes, modal);
}

.modalEnter {
    opacity: 1;
}

.modalEnterActive {
    opacity: 1;
    transform: scale(1) translate3d(-50%, -50%, 0);
}

.modalLeave {
    opacity: 0;
}

.modalLeaveActive {
    opacity: 0;
    transform: scale(0.5) translate3d(-50%, -50%, 0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity 150ms ease-out;
    z-index: 1;
}

.overlayLeaveActive {
    opacity: 0;
}

.overlayEnterActive {
    transition: opacity 150ms ease-in;
    opacity: 1;
}

.pageOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin: 0;
}
