:global(.playlist-info .close) {
    composes: close from "./SongInfoModal.module.scss";
}

:global(.playlist-info .content) {
    composes: content from "./SongInfoModal.module.scss";
}

.content {
    text-align: center;
}

.modal {
    composes: modal from "./ArtistInfoModal.module.scss";
    composes: modal from "./SongInfoModal.module.scss";
}
