@import "../../../public/scss/mobile/settings/_settings.layout.scss";

:global(.song-info .close) {
    top: 20px;
}

:global(.song-info .content) {
    margin-top: $global-padding * 2;
    width: 100%;
}

.content {
    text-align: center;
}

.modal {
    composes: pageOverlay from "./Modal.module.scss";
    display: flex;
    justify-content: center;
    background: #000;
}
