:global(.trending .close) {
    right: 20px;
    top: 20px;
}

:global(.trending .content) {
    padding-left: 15px;
    padding-right: 15px;
}

.button {
    text-transform: uppercase;
}

.modal {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.title {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}
