@import '../../../../public/scss/desktop/settings/_settings.scss';

.adminTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint(medium) {
        flex-wrap: nowrap;
    }

    .newBtn {
        margin-top: 10px;
        flex-grow: 1;
        @include breakpoint(medium) {
            margin-top: 0;
            flex-grow: 0;
        }
    }
}

.adminReservedItem {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 12px;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include breakpoint(medium) {
        flex-wrap: nowrap;
    }

    .inputBox {
        flex: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        .error {
            color: $red;
            font-size: 12px;
            margin-left: 12px;
            order: 2;
        }

        .input {
            max-height: 38px;
            margin-bottom: 0;
            flex: auto;
            order: 1;
        }
    }
}

.pages {
    display: flex;
    justify-content: space-around;
    margin: 20px 5px 20px;
    font-weight: 600;
    font-size: 20px;

    button {
        &:hover {
            color: $orange;
        }

        &:focus {
            color: $orange;
        }

        &:disabled {
            color: $gray8;
            background: $gray11;
        }
    }
}

.containerInteractions {
    float: right;
    clear: right;
    padding-right: 1%;

    .inputBtn {
        background-color: $gray12;
    }
}
