@import '../../../../public/scss/desktop/settings/_settings.scss';

/* Need to use a "~" to import from node_modules folder */
@import '~foundation-sites/scss/util/util';

.bigIcon {
    margin-top: 40px;
    margin-bottom: 20px;
    color: $gray9;
}

.bigMessage {
    font-size: 1.231em;
    font-weight: 600;
    line-height: 1.62;
    letter-spacing: -0.068em;
    max-width: 420px;
    margin: 0 auto 10px;
    color: $gray6;

    button {
        font-size: 1.1em;
        line-height: 1.62;
        letter-spacing: -0.068em;
        color: $orange;
    }
}

.top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include breakpoint(medium) {
        justify-content: space-between;
    }

    .artistName {
        color: #222;
        font-size: rem-calc(24);
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.79;
        letter-spacing: rem-calc(-0.86);

        &:hover {
            color: $orange;
        }
    }

    .profile {
        display: flex;
        align-items: center;

        .info {
            display: flex;
            flex-direction: column;
            margin-left: 15px;

            h3 {
                margin-top: 10px;
                font-size: rem-calc(13);
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.46;
                letter-spacing: rem-calc(-0.5);
            }
        }

        .avatar {
            box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.15);
        }
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-top: 16px;

        @include breakpoint(medium) {
            margin-top: 0;
        }

        button {
            height: 36px;
            width: 100px;
            margin-top: 10px;
            border-radius: 25px;
            box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);

            &:hover {
                background-color: $gray1;
                color: #fff;
                border: 0;
            }

            @include breakpoint(medium) {
                margin-top: 0;
            }
        }

        .decline {
            background-color: $red;
        }

        .ban {
            background-color: #fff;
            border: 1.5px solid $red;
            color: $red;
        }
    }
}

.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 11px;

    @include breakpoint(medium) {
        justify-content: left;
    }

    button {
        width: 330px;
        height: 50px;
        text-align: center;
        color: #fff;
        border-radius: 30px;
        box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.02);
        position: relative;
        padding: 0 48px;
        transition: background-color 0.2s ease-in-out;
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.49px;

        @include breakpoint(medium) {
            margin-right: 10px;
        }
    }

    .icon {
        width: 22px;
        height: 19px;
        position: absolute;
        top: 15px;
        left: 20px;
    }

    .check {
        color: white;
        background-color: $orange;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 13px;
        right: 14px;
    }
}

.songs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    @include breakpoint(medium) {
        justify-content: space-between;
    }
}

.pages {
    display: flex;
    justify-content: space-around;
    margin: 20px 5px 20px;
    font-weight: 600;
    font-size: 20px;

    button {
        &:hover {
            color: $orange;
        }

        &:focus {
            color: $orange;
        }

        &:disabled {
            color: $gray8;
            background: $gray11;
        }
    }
}

.padding {
    padding: 31px 30px;
}
