// Font size
.u-fs-11 {
    font-size: 1.1rem;
}

.u-fs-12 {
    font-size: 1.2rem;
}

.u-fs-13 {
    font-size: 1.3rem;
}

.u-fs-14 {
    font-size: 1.4rem;
}

.u-fs-15 {
    font-size: 1.5rem;
}

.u-fs-16 {
    font-size: 1.6rem;
}

.u-fs-18 {
    font-size: 1.8rem;
}

.u-fs-22 {
    font-size: 2.2rem;
}

// Letter spacing
// .u-ls-n-** for negative
// .u-ls-p-** for positive values
.u-ls-n-025 {
    letter-spacing: -0.02rem;
}

.u-ls-n-03 {
    letter-spacing: -0.03rem;
}

.u-ls-n-04 {
    letter-spacing: -0.04rem;
}

.u-ls-n-05 {
    letter-spacing: -0.05rem;
}

.u-ls-n-06 {
    letter-spacing: -0.06rem;
}

.u-ls-n-07 {
    letter-spacing: -0.07rem;
}

.u-ls-n-2 {
    letter-spacing: -0.2rem;
}

// Text shadow
.u-text-shadow {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
