@import '../../public/scss/mobile/settings/_settings.z-index.scss';

.message {
    background: rgba(0, 0, 0, 0.9);
    font-size: 1.4rem;
    padding: 12px;
    border-radius: 5px;
    width: 75%;
    position: fixed;
    bottom: calc(var(--nav-bar-height) * 2);
    left: 50%;
    opacity: 0;
    transition: 0.2s ease-in-out;
    z-index: index($z-indexes, message);
    pointer-events: none;
    transform: translate(-50%, 20px);
    text-align: center;
}

.visible {
    opacity: 1;
    transform: translate(-50%, 0);
}
