@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    position: fixed;
    bottom: 10px;
    padding: 0;
    z-index: index($z-index, fixed-ad);
    transform: translateX(-50%);
    transition: left 0.2s ease-in-out;
    left: 50%;
    max-width: calc(100% - 20px);
    margin: 0 auto;

    @include breakpoint(xlarge) {
        left: calc(50% + (#{$sidebar_width} / 2));
    }

    :global(.has-active-player) & {
        bottom: 80px;
    }

    :global(.has-collapsed-player) & {
        bottom: 10px;
    }

    :global(.has-hidden-sidebar) & {
        left: 50%;
    }

    & > div {
        display: inline-block;
    }

    & div {
        width: 100%;
        max-width: 100%;
    }

    & iframe {
        // Standard banner size 320×50
        transform: translateX(-50%);
        position: relative;
        left: 50%;
    }

    // Standard banner size 468 x 60 with 10px padding
    @media (min-width: 488px) {
        & iframe {
            transform: translateX(-50%);
        }
    }

    // Standard banner size 728x90 with 20px padding
    @media (min-width: 768px) {
        & iframe {
            transform: none;
            left: auto;
        }
    }
}
