@import '../../../public/scss/desktop/settings/_settings.scss';

.genreFilter,
.tagFilter {
    :global(.c-dropdown--button .c-dropdown__list) {
        padding: 10px 3px;
    }
}

.tagFilter {
    /*
    :global(.c-dropdown__item) {
        list-style: none;
    }

    :global(.c-dropdown__item-button--active) {
        background-color: $orange;
        color: #fff;
    }

    :global(.c-dropdown__item-button--active):focus,
    :global(.c-dropdown__item-button--active):hover {
        background-color: #e69200;
    }

    :global(.c-dropdown__label) {
        height: 44px;
        white-space: nowrap;
    }

    :global(.c-dropdown__list) {
        position: absolute;
    }
    */

    :global(.c-dropdown__section-header) {
        align-items: center;
        display: flex;
        justify-content: space-between;

        &:focus,
        &:hover {
            background: none;
            color: $orange;
        }
    }
}
