@import '../../public/scss/shared/settings/_settings.color.scss';

$regSize: 44px;

.button {
    background: $orange;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 25px;
    padding: 0 10px;
    width: 200px;
    height: $regSize;
    vertical-align: middle;
    letter-spacing: -0.05em;

    &:hover,
    &:focus {
        background: #000;
        color: #fff;
    }
}

.icon {
    display: inline-block;
    vertical-align: middle;
    flex: 0 0 17px;
    width: 17px;
    height: 17px;
    margin-right: 0.5em;
}
