@import '../../public/scss/shared/settings/_settings.color.scss';
@import '../../public/scss/shared/tools/_tools.mixins.scss';

.button {
    display: inline-block;
    position: relative;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1;
    text-transform: uppercase;
    border: $orange 2px solid;
    border-radius: 18px;
    min-width: 100px;
    height: 33px;
    padding: 8px 20px;
    transition: color 0.15s linear, background-color 0.15s linear, border-color 0.15s ease-in-out;

    &[disabled] {
        background: transparent;
        opacity: 0.5;
    }
}

.text {
    display: inline-block;
    height: 13px;
    overflow: hidden;
}

.rollover {
    display: block;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.follow {
    background: transparent;
    color: $orange;

    &:hover {
        background: #f5f5f5;
        color: $orange;
    }
}

.following {
    background: $orange;
    color: #fff;

    &:hover {
        background: #d41a00;
        border-color: #d41a00;

        .rollover {
            transform: translateY(-100%);
        }
    }
}

.loading {
    pointer-events: none;
}

.dots {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -2px);
}

.count {
    font-weight: 700;
    font-size: 0.923em;
    letter-spacing: -0.02rem;
    display: inline-block;
    height: 33px;
    line-height: 31px;
    margin-left: 8px;
    padding: 0 10px;
    border: #ececec 1px solid;
    position: relative;
    vertical-align: bottom;

    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) translateX(-100%);
    }

    &:before {
        @include triangle(left, #ececec, 8px, 16px);
    }

    &:after {
        @include triangle(left, #fff, 7px, 13px);
    }
}
