@import '../../public/scss/shared/settings/_settings.scss';

.button {
    display: inline-block;
    font-weight: 700;
    letter-spacing: rem-calc(-0.5);
    color: $orange;

    &:hover,
    &:focus {
        color: $gray2;
    }
}
