@import '../../public/scss/desktop/settings/_settings.scss';

.button {
    --iconWidth: 20px;

    color: #fff;
    margin-right: 40px;

    &.desktop {
        --iconWidth: 22px;

        color: $gray5;

        @media (max-width: 799px) {
            margin-right: 20px;
        }
    }

    &.active.desktop {
        color: $gray2;
    }
}

.icon {
    display: block;
    margin: 0 auto 4px;
    width: var(--iconWidth);
    height: 26px;
    color: #fff;

    .desktop & {
        color: $gray5;
    }

    .active & {
        color: $orange;
    }
}

.reup {
    --iconWidth: 32px;
}

.favorite {
    --iconWidth: 25px;
}

.more {
    width: 28px;
}

.label {
    font-size: rem-calc(11);
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: rem-calc(-0.45);

    .desktop & {
        font-size: rem-calc(14);
    }
}
