@import '../../public/scss/desktop/settings/_settings.scss';

$buttonHeight: 40px;

.button {
    display: inline-flex;
    align-items: center;
    height: $buttonHeight;
    width: 100%;
    color: #fff;
    transition: background 0.2s ease-in-out;
}

.twitter {
    background: $twitter_col;

    &:hover,
    &:focus {
        background: $twitter_col_dark;
    }
}

.facebook {
    background: $facebook_col;

    &:hover,
    &:focus {
        background: $facebook_col_dark;
    }
}

.instagram {
    background: $instagram_col;

    &:hover,
    &:focus {
        background: $instagram_col_dark;
    }
}

.icon {
    flex: 0 0 $buttonHeight;
    height: $buttonHeight;
    padding: 12px;

    .facebook & {
        background: $facebook_col_dark;
    }

    .twitter & {
        background: $twitter_col_dark;
        padding: 10px;
    }

    .instagram & {
        background: $instagram_col_dark;
    }
}

.text {
    flex: 1;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
}
