@import '../../public/scss/shared/settings/_settings.scss';

.button {
    font-size: rem-calc(12);
    text-transform: uppercase;

    + .button {
        margin-left: 20px;
    }

    &:hover,
    &:focus {
        color: #fff;
    }
}

.twitter {
    background: $twitter_col;

    &:hover,
    &:focus {
        background: $twitter_col_dark;
    }
}

.facebook {
    background: $facebook_col;

    &:hover,
    &:focus {
        background: $facebook_col_dark;
    }
}
