.action-sheet {
    text-align: center;

    &--flex {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        .action-sheet__button {
            margin: 0 6px;
        }
    }

    &--overlay {
        .action-sheet__icon {
            font-size: 3.2rem;
            margin-bottom: 10px;
            position: relative;
            top: 0;

            &--close {
                top: 0;
                font-size: 5.5rem;
                line-height: 0;
                margin-bottom: 2.5rem;
            }
        }

        .action-sheet__label {
            position: relative;
            bottom: auto;
            left: 0;
            width: 100%;
            display: block;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;

            &--close {
                transform: translateY(5px);
            }
        }
    }

    svg {
        display: block;
    }
}

.action-sheet__button {
    flex: 0 0 30px;
    height: 22px;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 2.7rem;
    margin-right: $global-padding * 1.5;

    &:last-child {
        margin-right: 0;
    }

    &--favorite {
        padding: 0 4px;
    }

    &--edit {
        height: 24px;
    }

    &--repost {
        flex: 0 0 34px;
        height: 27px;
    }

    &--active {
        color: $orange;
    }

    &[data-count]:after {
        content: attr(data-count);
        display: block;
        background: $orange;
        position: absolute;
        top: -5px;
        left: 1.5rem;
        padding: 0 4px;
        border-radius: 10px;
        color: #fff;
        z-index: 2;
        height: 1.5rem;
        min-width: 1.5rem;
        text-indent: 0;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        font-weight: 700;
    }
}

.action-sheet__label {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}
