.ad-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: index($z-indexes, ad-container);
    top: 0;
    left: 0;

    &__ad {
        & > div {
            width: 100% !important;
            height: 100% !important;
        }

        video {
            background-color: rgba(0, 0, 0, 0.8) !important;
        }
    }

    &--hidden {
        display: none;
    }

    &__ad,
    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__skip-button {
        &,
        &[disabled] {
            position: absolute;
            z-index: 2;
            right: 0;
            bottom: 200px;
            background: rgba(0, 0, 0, 0.5);
            padding: 10px;
            border: 1px solid #fff;
            border-right: 0;
            color: #fff;
        }
    }
}

.banner-ad {
    position: fixed;
    width: 100%;
    height: 50px;
    text-align: center;
    z-index: index($z-indexes, banner-ad);
    left: 0;
    bottom: $nav-bar-height !important;

    body.has-active-player:not(.player-hidden) & {
        bottom: $nav-bar-height + $mobile-player-height !important;
    }

    @include iphoneX() {
        transform: translateY(-15px);
    }
}

// Overrides
#cmmobadtag_content { // stylelint-disable-line
    width: 300px !important;
    margin: 0 auto;
}
