.admin-sheet {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-top: $orange 1px solid;
}

.admin-sheet__button {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    padding: 8px;
}
