.alert {
    font-weight: 700;
    text-align: center;
    display: inline-block;
    padding: 8px 14px;
    border-radius: 2px;

    &--dark {
        background: $gray1b;
        border: $gray3 1px solid;
    }
}

.alert-group {
    margin-top: 20px;

    &--centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
