.app-overlay {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    min-height: 230px;
    z-index: 200;
    padding: 45px 20px 20px;
    display: none;
    transition: all 0.25s;
    opacity: 0;

    &.visible {
        opacity: 1;
        z-index: 1001;
    }

    .close-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 26px;
        color: #666;
    }

    h4 {
        font-weight: 600;
        margin-bottom: 15px;
        letter-spacing: normal;
    }

    .am-button {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .no-thanks {
        font-weight: 700;
        font-size: 13px;
    }
}
