.avatar-wrap {
    max-width: 180px;
    max-height: 180px;
    margin: 0 auto;
}

.avatar-container {
    max-width: 180px;
    max-height: 180px;
    margin: 0 auto;

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.avatar-container--stack {
    $stackWidth: 7px;

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: $stackWidth;
        right: -#{$stackWidth};
    }

    &:before {
        background: #a6a6a6;
        height: calc(100% - 12px);
        top: 6px;
    }

    &:after {
        background: #676767;
        height: calc(100% - 20px);
        top: 10px;
        transform: translateX($stackWidth);
    }
}

.avatar__play-button {
    background: rgba(0, 0, 0, 0.6);
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: #fff 2px solid;
    color: #fff;
    overflow: hidden;
    transform: translate3d(-50%, -50%, 0);

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 25px;
        height: 25px;
    }

    .song-play__play {
        transform: translateX(2px);
    }
}
