$dot-size: 24px;

.button-dots {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -$dot-size / 2;
    width: $dot-size;
    height: $dot-size;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-dots__inner {
    background: #fff;
    width: 4px;
    height: 4px;
    position: relative;
    border-radius: 50%;
    margin-left: 6px;

    &:before {
        content: "";
        background: #fff;
        width: 4px;
        height: 4px;
        position: absolute;
        border-radius: 50%;
        left: -6px;
    }
}
