.comment__form {
    &-input {
        flex: 1;
    }

    textarea {
        background: none;
        border: #000 1px solid;
        height: 40px;
        min-height: 40px;
        padding: 10px;
        font-family: $primary_font;
        color: #fff;
        outline: none;
    }

    ::placeholder {
        font-weight: 600;
    }

    &-button {
        flex: 0 0 100%;
        margin-top: 10px;
    }

    &-input-clear {
        display: none;
    }
}
