.waveform-play-button {
    flex: 0 0 40px;
    height: 40px;
    width: 40px;
    border: #fff 2px solid;
    border-radius: 50%;
    color: #fff;
    padding: 0 10px;

    .song-play__play {
        transform: translateX(2px);
    }
}

.waveform {
    &--adjacent-button {
        flex: 1;
    }
}

.waveform__time {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    padding: 2px 9px;
    pointer-events: none;

    &--duration {
        right: 0;
    }
}
