.comment-item {
    &--top-level {
        border-bottom: $gray2 1px solid;
        padding-bottom: 25px;
    }

    &--deleted {
        margin-top: 10px;
        padding-bottom: 10px;
    }

    &__reply {
        color: #fff;
    }

    form {
        width: calc(100% + 40px);
        margin: 20px 0 0 -40px;
    }

    &__admin-actions {
        width: 30px;
        height: 20px;
        padding: 0 13px;
        color: #fff;
    }
}
