//TODO
// Sort these legacy styles out

/**
 * Buttons
 */

@keyframes buttonPulse {
    0% {
        border-color: #fff;
        color: #fff;
    }

    50% {
        border-color: $orange;
        color: $orange;
    }

    100% {
        border-color: #fff;
        color: #fff;
    }
}

.button {
    background: $orange;
    padding: $global-padding ($global-padding * 2);
    color: #fff;
    font-size: 1rem;
    display: inline-block;
    border-radius: 3px;
    transition: background 0.12s ease-in, color 0.12s ease-in;
    border: 0;

    &--lg {
        font-size: 1.7rem;
        min-width: 260px;
    }

    &--danger {
        background: $red;
    }

    &--pulse {
        animation: buttonPulse 1.5s forwards infinite;
    }

    &[disabled] {
        pointer-events: none;
        background: $gray8;
        color: $gray9;
    }

    &--link {
        font-weight: inherit;
        font-size: inherit;
        background: none;
        padding: 0;
        color: $orange;
    }

    &--follow {
        vertical-align: middle;
        border-radius: 50%;
        padding: 4px;
        background: none;
        color: #fff;

        &[disabled] {
            background: none;
        }
    }
}

.button--pill {
    border-radius: 20px;
}

.button--in-feed {
    padding: 8px 25px;
    font-size: 1.2rem;
    letter-spacing: -0.2px;
    font-weight: 700;
}

.button__icon {
    display: inline-block;
    width: 15px;
    margin-right: 10px;
    vertical-align: middle;
}

.follow-button {
    padding: 0;

    &--loading .follow-loading {
        top: -4px;
    }

    &--following {
        color: $orange;
    }
}

// New
.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--slim {
    height: 35px;
    padding: 0 20px;
    border-radius: 25px;
}
