.artwork-bg {
    position: absolute;
    width: 100%;
    z-index: -1;

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
    }

    &:before {
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        z-index: index($z-indexes, artwork-bg-before);
    }

    &:after {
        background: linear-gradient(to bottom, transparent, #000);
        bottom: 0;
        z-index: index($z-indexes, artwork-bg-after);
    }

    img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: index($z-indexes, artwork-bg-image);
    }
}
