.comments-wrap {
    border-top: $gray2 1px solid;
}

.comments {
    border-top: $gray2 1px solid;
    padding-top: 15px;
}

.comment-item__content {
    flex: 0 0 calc(100% - 40px);
    padding-left: 10px;
}

.comment-sort {
    color: #fff;

    &__label {
        display: none;
    }
}

.comment__actions button {
    color: #fff;
}
