.context-switcher-wrapper {
    .context-switcher-hidden & {
        display: none;
    }
}

.context-switcher {
    background: #fff;
    height: $context-switcher-height;
    overflow: hidden;
    position: relative;
    z-index: index($z-indexes, context-switcher);
}

.context-switcher__list {
    white-space: nowrap;
    height: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}

.context-switcher__list-item {
    display: inline-block;
    padding: 0 $global-padding;
    position: relative;
    height: 100%;
    border-bottom: 4px solid transparent;

    a,
    button {
        letter-spacing: -0.1rem;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2rem;
        color: $gray7;
        height: 100%;
        display: block;
        line-height: $context-switcher-height;
    }

    &--active {
        border-color: $orange;
        $caret-size: 8px;

        a {
            color: #000;
        }

        /*
        &:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: $caret-size solid transparent;
            border-bottom-color: $orange;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -$caret-size;
        }
        */
    }
}

.context-switcher__nav-bar {
    padding: 15px 0;
    position: relative;

    .select-wrapper,
    .flex-item {
        flex-grow: 1;
        padding: 0 $global-padding;
        text-align: center;

        a,
        button {
            color: #fff;
            font-weight: bold;
            display: block;
            outline: none;
        }
    }

    .select-wrapper {
        max-width: 195px;
        margin: 0 auto;
    }

    select {
        background: #202020;
        color: #fff;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
        height: 30px;
        border-radius: 100px;
        font-size: 1.1rem;
        letter-spacing: -0.06rem;

        /* Chrome only */
        text-align-last: center;

        /* iOS only */
        /* stylelint-disable */
        -webkit-appearance: none;
        /* stylelint-enable */
    }

    .select-chevron {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-1px);
        @include triangle(down, $orange, 8px, 3px);
    }
}

.flex-item--active {
    border-bottom: 3px solid $orange;
}

.context-switcher__nav-bar--padded-links {
    &,
    .flex-item {
        padding: 0;
    }

    a,
    button {
        padding: 13px $global-padding;
    }
}
