.download-app-prompt {
    background: #fff;
    width: 96%;
    margin: 0 auto;
    padding: 20px;
    color: #000;
}

.download-app-prompt__top {
    text-align: center;
}

.download-app-prompt__logo {
    width: 50%;
}
