.drawer {
    transform: translateY(100%);
    transition: transform 0.11s ease-in;
    z-index: index($z-indexes, drawer);
    background: $gray1;
    position: fixed;
    bottom: var(--nav-bar-height);
    width: 100%;
    padding: $global-padding 0 0 0;

    &--visible {
        transform: translateY(0);
    }

    a,
    button {
        font-weight: bold;
        font-size: 1.5rem;
        color: inherit;
        padding: 12px $global-padding;
        width: 100%;
        text-align: left;
        display: inline-block;

        &:active {
            background: $gray2;
        }
    }
}

.drawer-overlay {
    z-index: index($z-indexes, drawer-overlay);
    position: fixed;
    width: 100%;
    height: 100%;
    transition: background 0.11s ease-in, opacity 0.11s ease-in;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;

    &--transition-leave,
    &--transition-leave-active {
        opacity: 0;
    }

    &--transition-enter,
    &--transition-enter-active {
        opacity: 1;
    }
}

.drawer__list-item {
    border-bottom: 1px solid $gray2;
    text-align: left;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }
}

.drawer__list-item-icon {
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    margin-right: 0.5em;
    display: inline-block;

    &--fav {
        width: 18px;
        height: 18px;
    }
}

.drawer__close-button {
    padding-top: $global-padding;

    a,
    button {
        text-align: center;
    }
}
