/* @todo deprecate any track-* classes and make things more generic */

@keyframes animateUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes buttonPulse {
    0% {
        border-color: #fff;
        color: #fff;
    }

    50% {
        border-color: $orange;
        color: $orange;
    }

    100% {
        border-color: #fff;
        color: #fff;
    }
}

.no-items-found,
.no-tracks-found {
    color: #fff;
    padding-bottom: 20px;
}

/* @todo  Clean this block up */
.track-preview {
    position: relative;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 10px 0;

    .track-meta {
        margin-bottom: 10px;
    }

    .feed-number {
        background: $orange;
        color: #fff;
        font-weight: 700;
        display: block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        z-index: index($z-indexes, track-preview-after);
    }

    .meta-item {
        background: $orange;
        font-size: 1.1rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        line-height: 20px;
        margin-right: 4px;
        padding: 0 6px;

        a {
            color: #fff;
        }

        &.playing {
            background: #ff0;
            display: none;
        }
    }

    &__currently-playing {
        background: $orange;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 10px;
            height: 10px;
        }
    }

    .track-title {
        font-weight: 700;
    }

    &.artist {
        .track-title {
            font-size: 1.2rem;
            font-weight: 500;
        }

        .artist-name {
            font-weight: 700;
        }
    }

    .feat {
        font-size: 1.2rem;
        letter-spacing: -0.04rem;
        line-height: 1.6rem;
        font-weight: 600;
        color: #fff;
        @include ellipsis;
    }

    .track-stats {
        margin-top: 1px;
        padding-left: 0;
    }

    .track-stat {
        + .track-stat {
            margin-left: 5px;
        }

        &__icon {
            display: inline-block;
            width: 9px;
            height: 9px;
            margin-right: 3px;

            &--heart {
                width: 10px;
            }

            &--reup {
                width: 15px;
            }

            &--plus {
                width: 10px;
                height: 10px;
            }
        }
    }

    .meta {
        font-size: 1.1rem;

        .time {
            color: #bfbfbf;
        }

        a {
            font-weight: 700;
        }
    }

    .big-fav {
        position: absolute;
        top: -15px;
        right: 10px;
        font-size: 2.2rem;
        color: #fff;

        &.unfav {
            color: $orange;
        }
    }

    &__reup-message {
        font-size: 1rem;
    }

    &__reup-icon {
        display: inline-block;
        width: 10px;
        margin-right: 3px;
        transform: translateY(1px);
    }
}

.track-stats {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0;

    li {
        margin-right: 5px;
    }

    i {
        color: $orange;
        margin-right: 4px;
        top: -3px;
        position: relative;
    }
}

.track-preview__inner {
    border-bottom: 1px solid #202020;
    position: relative;
    padding-bottom: 10px;

    .track-preview:last-child & {
        border-bottom: 0;
    }
}

.track-preview__artwork {
    background: $gray3;
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.track-preview__overlay {
    position: absolute;
    top: 0;
    right: 24px; /* don't cover the vertical dots */
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.list {
    padding-bottom: calc(var(--nav-bar-height) + #{$mobile-player-height});
    counter-reset: track;

    &--tracklist {
        margin-bottom: 20px;
        padding-bottom: 0;
        position: relative;
    }

    &--album {
        .list-item__inner {
            padding: 0 28px 0 24px;
        }
    }

    &--playlist {
        .list-item__details {
            max-width: calc(100% - 75px);
        }

        .list-item__action-button {
            font-size: 2.2rem;
            color: #fff;
        }

        .follow-button--active .icon {
            font-size: 1.65rem;
            position: relative;
            top: 1px;
        }

        .add-new-button {
            color: #fff;
            width: 100%;
            text-align: left;
            padding: 0;
        }
    }

    &--playlist-reorder {
        .button--delete {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            min-width: auto;
            padding: 0;
            line-height: 0;
            float: left;
            margin-right: 15px;
            position: relative;
            flex-shrink: 0;
        }
    }

    &--horizontal {
        white-space: nowrap;
        display: block;
        padding-bottom: 0;

        ul {
            overflow-x: scroll;
        }

        .list-item {
            max-width: 150px;
            display: inline-block;
            padding: 8px;
            vertical-align: bottom;

            a {
                display: block;
            }
        }

        .list-item__link {
            display: block;
        }

        .list-item__title {
            background: $gray1b;
            color: #fff;
            padding: ($global-padding / 4) ($global-padding / 2);
            font-size: 1.1rem;
            height: 40px;
            overflow: hidden;
            white-space: normal;
        }

        .list__loader {
            transform: translateY(-150%);
        }
    }

    &__button-group {
        margin: 20px 0 4px;
    }
}

.list-item__icon {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 12px;
    height: 12px;
    color: $orange;
    font-weight: 700;

    svg {
        position: relative;
        top: 2px;
    }

    .artist-container & {
        display: none;
    }
}

.list__title {
    padding: $global-padding $global-padding 0;
    font-weight: bold;
    text-transform: uppercase;
}

.list .list__loader {
    display: block;
    margin: 10px auto;
}

.list-item {
    color: #fff;
    position: relative;
    padding: 8px 10px;
    transition: transform 0.15s ease-in;

    .button--under-list-item {
        width: 115px;
        min-width: auto;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: -1;
        border-radius: 0;
        transform: translateX(100%);
    }

    &--open {
        transform: translateX(-115px);

        .button--under-list-item {
            transform: translateX(0);
            right: -115px;
        }
    }

    &--dragging {
        z-index: 99;
        transition: none;
    }

    .list--bordered &--dragging {
        border: none;
    }
}

.list-item__inner {
    display: flex;
    align-items: center;
    position: relative;
}

.list-item__image {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: $global-padding / 2;
    max-width: 65px;
    max-height: 65px;
    flex-shrink: 0;
}

.list-item__image--placeholder {
    width: 65px;
    height: 65px;
    background: $gray1;
    justify-content: center;

    i {
        font-size: 2.2rem;
    }
}

.list-item__details {
    flex-grow: 1;
    max-width: calc(100% - 145px);

    /* account for action button */
    &--padded {
        max-width: calc(100% - 50px);
        padding-right: 30px;
    }

    /* Album list specific */
    .list--album & {
        max-width: calc(100% - 35px);
    }
}

.list-item__details__title {
    @include ellipsis;

    .list-item--playing & {
        color: $orange;
    }
}

.list-item__feat a {
    color: $orange;
}

.list-item__details-featuring {
    margin-left: 3px;

    p {
        display: inline;
    }

    .button-link {
        color: #fff;
    }
}

.list-item__action-button {
    position: absolute;
    right: 0;
    top: 50%;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
}

.list-item__drag-handle {
    position: absolute;
    right: 0;
    top: 40%;
    display: inline-block;
    transform: translateY(-50%);
    font-size: 1.3em;
    padding: 10px;
}

.details {
    padding: 0 55px 0 15px;
    display: flex;
    align-items: center;
    min-height: 68px;

    .details-inner {
        width: 100%;
    }
}

.artist-name,
.track-title {
    font-size: 1.3rem;
    letter-spacing: -0.05rem;
    color: #fff;
    line-height: 1.7rem;
    @include ellipsis;

    a {
        color: #fff;
    }
}

.playlist-reorder__close {
    display: block;
    width: 35px;
    height: 35px;
    text-align: right;
    padding: 10px;
    color: #fff;
    float: right;

    svg {
        width: 15px;
        height: 15px;
    }
}

.list-header {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    letter-spacing: -0.03em;
}
