@keyframes loading {
    0%,
    60%,
    100% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.5);
    }
}

.loader-container {
    display: inline-block;
    overflow: hidden;
}

.loading-icon {
    position: relative;
    display: block;
    text-align: center;

    .circle {
        background: #fff;
        display: inline-block;
        margin: 0;
        animation: loading 0.5s infinite ease-in-out;
        border-radius: 50%;
        margin-right: 3px;
        width: 6px;
        height: 6px;
    }

    .circle-2 {
        animation-delay: 0.1s;
    }

    .circle-3 {
        animation-delay: 0.2s;
    }
}

/*  Android loader */
.loader-android {
    animation: rotate 2s linear infinite;
    position: relative;
}

.loader-android__path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    transform-origin: center center;
    animation: dash 1.5s ease-in-out infinite;
    stroke: $orange;
    stroke-linecap: square;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}
