.nav-bar-container {
    height: var(--nav-bar-height);
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: index($z-indexes, nav-bar);
}

.nav-bar {
    background: $gray1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;

    @include iphoneX() {
        padding-bottom: 15px;
    }

    &--context-switcher {
        background: #000;
    }
}

.nav-bar__label {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    font-size: 1rem;
    color: #999;
    text-align: center;
    white-space: nowrap;
    transition: color 0.25s ease-in-out;
    font-weight: 600;
    letter-spacing: -0.3px;
}

.nav-bar__button {
    position: relative;
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.4em;
    color: #fff;

    /* For some reason just putting 0 doesnt work */
    outline: 0 !important;

    svg {
        position: relative;
        color: #fff;
        transform: translateY(-5px);
    }//svg

    &--dots {
        flex: 0 0 30px;
        padding: 0 13px;

        svg {
            transform: translateY(0);
        }
    }

    &--active {
        svg {
            animation: pulse 0.25s ease-in-out;
            color: $orange;
        }

        .nav-bar__label {
            color: $orange;
        }//.nav-bar__label
    }//.nav-bar__button--active
}

.nav-bar__button-inner {
    width: 20px;
    height: 20px;

    &--avatar {
        width: 35px;
        height: 35px;
    }

    &[data-count]:after {
        content: attr(data-count);
        display: block;
        background: $orange;
        position: absolute;
        top: 0;
        left: 60%;
        padding: 0 4px;
        border-radius: 10px;
        color: #fff;
        z-index: 2;
        height: 1.5rem;
        min-width: 2rem;
        text-indent: 0;
        font-size: 10px;
        line-height: 1.5rem;
        text-align: center;
        font-weight: 700;
        transition: transform 0.12s ease-in;
        transform: translateY(10px);

        .nav-bar__button--profile & {
            left: 52%;
        }

        .nav-bar__button--outline-count & {
            border: $gray1 1px solid;
            height: 1.75rem;
            line-height: 1.75rem;
        }
    }
}

.nav-bar-border {
    height: 4px;
    background: orange;
    width: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    transform: translateX(0);
    transition: transform 0.15s, width 0.15s ease-in;
    display: none;
}

.nav-bar__avatar {
    border: 2px solid #fff;
    margin: 0 auto;

    .nav-bar__button--active & {
        border-color: $orange;
    }//nav-bar__button--active &
}

@keyframes pulse {
    from {
        transform: translateY(-5px) scale(1);
    }

    50% {
        transform: translateY(-5px) scale(0.85);
    }

    to {
        transform: translateY(-5px) scale(1);
    }
}
