.next-track,
.prev-track {
    float: left;
    font-size: 20px;
    margin-top: 20px;
}

.share-icons {
    margin-top: 5px;
    float: right;
    width: 106px;
}

.dots-share {
    float: left;
    width: auto;
    margin-top: 10px;
}

.dots-embed {
    clear: both;
    float: left;
    display: block;
    width: 100%;
    margin-top: 8px;
}

.dots-overlay-close {
    position: relative;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background: #ffa200;
    float: right;
    outline: 0;
    margin-right: 10px;
    margin-top: 5px;
}

.dots-overlay-close > span {
    margin-left: 4px;
    margin-top: 3px;
    color: #fff;
}

.pwrap {
    padding: 0;
    min-height: 0;
}

.player-header {
    display: inline-block;
    width: 100%;
}

.player-loading {
    line-height: 28px;
    height: 30px;
    width: 100%;
    display: inline-block;
}

.mobile-player {
    position: fixed;
    left: 0;
    bottom: var(--nav-bar-height);
    color: #fff;
    height: $mobile-player-height;
    width: 100%;
    display: block;
    text-align: center;
    z-index: index($z-indexes, player);
    transition: 0.25s all linear;

    .button-dots {
        right: $global-padding;
    }
}

.mobile-player__progress {
    background: $gray3;
    position: relative;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
}


.mobile-player__progress-inner {
    $height: 3px;
    top: -$height;
    position: absoute;
    left: 0;
    width: 0;
    height: $height;
    background: $orange;
    z-index: 2;
}

.mobile-player-inner {
    height: 100%;
    position: relative;
    background: $gray1b;
    display: flex;
    z-index: 2;
}

.mobile-player-inner__artwork {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.mobile-player-inner__button {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    position: absolute;
    right: 40px;
    top: 13px;
}

.mobile-player-inner__play-button {
    $size: 30px;
    border: 2px solid #fff;
    font-size: 16px;
    line-height: 1.2;
    height: $size;
    width: $size;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    display: block;
    text-align: center;
    color: #fff;

    i {
        position: relative;
        top: -2px;
    }
}

@keyframes loading {
    0%,
    60%,
    100% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.5);
    }
}

@keyframes buttonPulse {
    0% {
        border-color: #fff;
        color: #fff;
    }

    50% {
        border-color: $orange;
        color: $orange;
    }

    100% {
        border-color: #fff;
        color: #fff;
    }
}

.mobile-player-metadata {
    text-align: left;
    display: flex;
    color: #fff;
    flex-direction: column;
    width: calc(100% - 110px);

    .title,
    .artist {
        @include ellipsis;
        line-height: 1.2;
        width: 100%;
    }

    .title {
        font-weight: 700;
        margin-top: 3px;
    }
}

.mobile-player-actions {
    z-index: 1;
    position: fixed;
    left: 0;
    background-color: $gray1;
    color: #fff;
    bottom: calc(var(--nav-bar-height) + #{$mobile-player-height});
    top: auto;
    width: 100%;
    height: auto;
    transition: transform 0.12s ease-in, opacity 0.12s ease-in;
    transform: translateY(50px);
    opacity: 0;
    pointer-events: none;

    &--active {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    .drawer {
        position: relative;
        bottom: auto;
    }

    &__button {
        padding: 15px 0;

        &--active {
            color: $orange;
        }
    }
}

.mobile-player__vertical-dots {
    right: 10px;
}
