.share-overlay {
    background: $gray1;
    position: absolute;
    z-index: index($z-indexes, share-overlay);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    opacity: 0;
    transition: opacity 0.15s, transform 0.15s;

    &--active {
        opacity: 1;
        transform: translateX(0);
    }
}
