.verified-check-mark {
    background: $orange;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    svg {
        width: 14px;
        height: 14px;
    }

    &--small {
        width: 15px;
        height: 15px;

        svg {
            width: 8px;
            height: 8px;
        }
    }
}
