.vertical-dots {
    position: absolute;
    width: 24px;
    height: 100%;
    padding: 0 10px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    color: #fff;

    .mobile-player & {
        right: 10px;
    }
}
