.u-drag-handle {
    height: 20px;
    width: 25px;
    display: flex;
    align-items: center;
    align-self: center;
    margin-right: 20px;
    user-select: none;
    position: relative;
    cursor: move;
    cursor: -moz-grab; // stylelint-disable-line
    cursor: -webkit-grab; // stylelint-disable-line
    cursor: grab;
    z-index: 2;

    &:active {
        cursor: -moz-grabbing; // stylelint-disable-line
        cursor: -webkit-grabbing; // stylelint-disable-line
        cursor: grabbing;
    }

    .song-upload__top > & {
        margin-top: -15px;
    }

    span {
        &,
        &:after,
        &:before {
            height: 3px;
            background: $gray8;
            border-radius: 1px;
            width: 100%;
            position: relative;
        }

        &:before,
        &:after {
            content: '';
            display: block;
        }

        &:before {
            top: -6px;
        }

        &:after {
            top: 3px;
        }
    }

    &--album {
        position: absolute;
        top: 62px;
        left: 25px;
    }

    &--queue {
        width: 18px;
        height: 13px;
        position: absolute;
        top: 16px;
        left: 10px;

        span {
            &,
            &:after,
            &:before {
                height: 1px;
                background: $gray6;
            }

            &:before {
                top: -4px;
            }

            &:after {
                top: 3px;
            }
        }
    }

    &--music-edit,
    &--playlist {
        width: 16px;
        height: 13px;
        margin-right: 15px;
        top: 22px;
        left: 0;
        position: absolute;

        span,
        span:after,
        span:before {
            height: 2px;
        }

        span:before {
            top: -5px;
        }
    }
}

.u-dragging-message {
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding: 5px 10px;
    font-size: rem-calc(11px);
    font-weight: 600;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: none;

    .u-dragging--multiple & {
        display: block;
    }
}

.u-dragging {
    z-index: index($z-index, list-item-drag);
}

$handleSize: 18px;
$handleBorder: 2px;

.u-select-handle {
    width: $handleSize;
    height: $handleSize;
    border-radius: 50%;
    border: #c3c3c3 $handleBorder solid;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &:after {
        content: "";
        background: $orange;
        width: $handleSize;
        height: $handleSize;
        border: $orange 1px solid;
        border-radius: 50%;
        position: absolute;
        top: -#{$handleBorder};
        left: -#{$handleBorder};
        transform: scale(0);
        transform-origin: center center;
        transition: transform 0.1s ease-in-out;
    }

    &:hover:after {
        transform: scale(0.5);
    }

    &--active:after,
    &--active:hover:after {
        transform: scale(1);
    }

    .u-dragging--multiple & {
        &:after {
            content: attr(data-selected);
            transform: scale(1);
            color: #fff;
            line-height: #{$handleSize} - 2px;
            font-size: rem-calc(10px);
            font-weight: 600;
        }
    }

    + .u-drag-handle {
        left: 36px;
    }
}

.u-sortable-item {
    transition: opacity 0.2s ease-in-out;

    .u-items-dragging &:not(.u-dragging) {
        opacity: 0.3;
    }
}
