.small-text-center {
    text-align: center;
}

@include breakpoint(medium) {
    .medium-flex {
        display: flex;
    }

    .medium-align-center {
        justify-content: center;
    }

    .medium-text-left {
        text-align: left;
    }

    .medium-text-right {
        text-align: right;
    }

    .medium-text-center {
        text-align: center;
    }

    .medium-nopadding {
        padding: 0;
    }

    .medium-fifth {
        flex: 0 0 20%;
    }
}

@include breakpoint(large) {
    .large-fifth {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@include breakpoint(xlarge) {
    .xlarge-fifth {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.row--full-width {
    width: 100%;
}

.small-auto {
    flex: 0 0 auto;
    max-width: 100%;
}

.half-padding {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
