// Clearfix
.u-group,
.u-clearfix {
    @include sd-clearfix;
}

// Floats
.u-left {
    float: left;
}

.u-right {
    float: right;
}

// Inline list
.u-inline-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }

    a {
        display: block;
    }
}

// Truncation
.u-trunc {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Scrollable container
.u-scrollable {
    &::-webkit-scrollbar {
        appearance: none;
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        width: 3px;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.15);
    }

    &--light {
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.15);
        }
    }
}

.u-scrollable--fade-in {
    &::-webkit-scrollbar-thumb {
        visibility: hidden;
    }

    &:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }
}

.u-nowrap {
    white-space: nowrap;
}

.u-window-height {
    height: 100vh;
}

.u-text-icon {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
    display: inline-block;
    line-height: 1;

    &--wide {
        width: 1.5em;
    }

    &--small {
        width: 0.85em;
        height: 0.85em;
    }

    .player-queue-menu__actions & {
        margin-right: 0.25em;
    }
}

.u-or-divider {
    text-align: center;
    color: $brand_color;
    font-size: 2em;
    font-weight: bold;
    position: relative;

    &:after {
        content: "";
        display: block;
        border-bottom: 1px solid $gray10;
        line-height: 0;
        height: 0;
        position: absolute;
        width: 100%;
        top: 1em;
    }

    span {
        background: #fff;
        position: relative;
        z-index: 2;
        padding: 0 0.5em;
    }
}

.u-orange-check {
    background: $brand_color;
    border-radius: 50%;
    color: #fff;
    padding: 0 3px;
    width: 0.75em;
    height: 0.75em;
    line-height: 0;
    display: inline-block;
    vertical-align: baseline;

    &--small {
        width: 12px;
        height: 12px;
    }

    &--disabled {
        background: $gray9;

        svg {
            opacity: 0;
        }
    }
}

.u-flex-grow {
    flex-grow: 1;
}

.u-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: index($z-index, above-arbitrary);
    left: 0;
}

.u-box-shadow {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    background: #fff;
    position: relative;
}

.u-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.u-align-center {
    align-items: center;
}

.u-vh {
    height: 100vh;
}

.u-fade {
    &__item {
        transition: opacity 0.25s ease-in;

        &.fade-enter {
            opacity: 0;
        }

        &.fade-leave.fade-leave-active {
            transition: opacity 0s;
            opacity: 0;
        }

        &.fade-enter.fade-enter-active {
            opacity: 1;
        }
    }
}

.u-underline {
    text-decoration: underline;
}

.u-left-right {
    display: flex;
    justify-content: space-between;
}

.u-album-stack {
    position: relative;

    img {
        position: relative;
        z-index: 1;
    }

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        z-index: 0;
        top: 50%;
        transform: translateY(-50%);

        .pinned-items--condensed & {
            top: 0;
            transform: translateY(0);
        }
    }

    &:before {
        background: #e1e1e1;
        height: 75%;
        right: -12px;

        .pinned-items--condensed & {
            height: 4px;
            width: calc(100% - 26px);
            right: 13px;
            transform: translateY(-8px);
        }
    }

    &:after {
        background: #ccc;
        height: 87.5%;
        right: -6px;

        .pinned-items--condensed & {
            height: 4px;
            width: calc(100% - 14px);
            right: 7px;
            transform: translateY(-4px);
        }
    }

    &--small {
        &:before {
            background: #efefef;
            right: -8px;
        }

        &:after {
            background: #d6d6d6;
            right: -4px;
        }
    }
}

.u-overlay-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: index($z-index, above-arbitrary);
}

.u-of-hidden {
    overflow: hidden;
}
