h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;

    &.thin {
        font-weight: 400;
        letter-spacing: rem-calc(-0.3);
    }

    .thin {
        font-weight: 400;
    }
}

h1 {
    font-size: rem-calc(28);
}

h2 {
    font-size: rem-calc(22);
    letter-spacing: rem-calc(-0.75);
}

h3 {
    font-size: rem-calc(20);
}

h4 {
    font-size: rem-calc(18);
}

h5 {
    font-size: rem-calc(15);
    letter-spacing: rem-calc(-0.5);
}

// Font size
.u-fs-11 {
    font-size: rem-calc(11);
}

.u-fs-12 {
    font-size: rem-calc(12);
}

.u-fs-13 {
    font-size: rem-calc(13);
}

.u-fs-14 {
    font-size: rem-calc(14);
}

.u-fs-15 {
    font-size: rem-calc(14);
}

.u-fs-16 {
    font-size: rem-calc(16);
}

.u-fs-18 {
    font-size: rem-calc(18);
}

.u-fs-20 {
    font-size: rem-calc(20);
}

// Letter spacing
// .u-ls-n-** for negative
// .u-ls-p-** for positive values
.u-ls-n-025 {
    letter-spacing: rem-calc(-0.2);
}

.u-ls-n-03 {
    letter-spacing: rem-calc(-0.3);
}

.u-ls-n-04 {
    letter-spacing: rem-calc(-0.4);
}

.u-ls-n-05 {
    letter-spacing: rem-calc(-0.5);
}

.u-ls-n-06 {
    letter-spacing: rem-calc(-0.6);
}

.u-ls-n-07 {
    letter-spacing: rem-calc(-0.7);
}

.u-ls-n-09 {
    letter-spacing: rem-calc(-0.9);
}

.u-ls-n-2 {
    letter-spacing: rem-calc(-2);
}
