// REM / PX mixin
@function calculate_rem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: calculate_rem($size);
    // Modernizr based fallback
    .no-cssremunit & {
        font-size: $size;
    }
}

@function line-height($line-height: 18, $font-size: 13) {
    @return $line-height / $font-size;
}

// Clearfix
@mixin sd-clearfix {
    &:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Retina displays
@mixin background-image-retina($file, $type, $width, $height) {
    background-image: url($file + '.' + $type);

    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        & {
            background-image: url($file + '@2x.' + $type);
            background-size: $width $height;
        }
    }
}

@mixin multi-line-trunc($font-size: 13px, $line-height: 1.385, $lines-to-show: 3) {
    line-height: $line-height;
    display: block; // Fallback
    display: -webkit-box; // stylelint-disable-line
    height: $font-size * $line-height * $lines-to-show; // Fallback
    margin: 0 auto;
    -webkit-line-clamp: $lines-to-show; // stylelint-disable-line
    -webkit-box-orient: vertical; // stylelint-disable-line
    overflow: hidden;
    text-overflow: ellipsis;
    @include font-size($font-size);
}

@mixin placeholder {
    ::-webkit-input-placeholder { // stylelint-disable-line
        @content;
    }

    ::-moz-placeholder { // stylelint-disable-line
        @content;
    }

    :-moz-placeholder { // stylelint-disable-line
        @content;
    }

    ::placeholder { // stylelint-disable-line
        @content;
    }

    :-ms-input-placeholder { // stylelint-disable-line
        @content;
    }
}

// CSS Triangles

@mixin triangle($direction: down, $color: #000, $width: 10px, $height: 5px) {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;

    @if ($direction == up) {
        border-width: 0 #{$width / 2} $height;
        border-color: transparent transparent $color;
    }

    @else if ($direction == down) {
        border-width: $height #{$width / 2} 0 #{$width / 2};
        border-color: $color transparent transparent;
    }

    @else if ($direction == right) {
        border-width: #{$height / 2} 0 #{$height / 2} $width;
        border-color: transparent transparent transparent $color;
    }

    @else if ($direction == left) {
        border-width: #{$height / 2} $width #{$height / 2} 0;
        border-color: transparent $color transparent transparent;
    }

    // Fallback in-case incorrect direction / typo / etc.
    @else {
        border-width: 0 #{$width / 2} $height #{$width / 2};
        border-color: transparent transparent $color;
    }
}

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content,
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

@keyframes loading {
    0%,
    60%,
    100% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.5);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@function line-height($line-height, $font) {
    @return ($line-height / $font);
}

// Same as the column padding calculation within foundation but
// with margin instead
@mixin grid-column-gutter-margin(
    $gutter: auto,
    $gutters: $grid-column-gutter,
    $multiplier: 1
) {
    @include -zf-breakpoint-value($gutter, $gutters) {
        $margin: rem-calc($-zf-bp-value) / 2;

        margin-right: $multiplier * $margin;
        margin-left: $multiplier * $margin;
    }
}
