.button,
.form {
    position: fixed;
    right: 0;
    padding: 8px 0;
    top: 100px;
    background: #000;
    color: #fff;
    z-index: 999999;
}

.button {
    width: 50px;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: opacity 0.2s;
}

.buttonActive {
    opacity: 0;
    pointer-events: none;
}

.form {
    pointer-events: none;
    transform: translateX(100%);
    transition: transform 0.2s;
    padding: 10px 15px;
}

.formActive {
    transform: translateX(0);
    pointer-events: auto;
}

.buttons {
    text-align: center;
}

.dropdown {
    color: #000;
}
