.embed-prompt {
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    color: #fff;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease-in-out;

    @media screen and (min-height: 252px) {
        display: block;
    }

    &--active {
        opacity: 1;
        transform: scale(1);
    }

    &__inner {
        max-width: 550px;
        margin: 0 auto;
        padding: 0 8px;
        height: 100%;
        display: flex;
        align-items: center;

        @media (min-width: 365px) {
            padding: 0 30px;
        }
    }

    &__close {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
    }

    &__logo {
        width: 140px;
        height: 30px;
    }

    &__blurb {
        display: none;

        @media (min-width: 321px) {
            display: block;
        }
    }

    &__app-badges {
        margin-top: 15px;
    }
}
