@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    width: 100%;
    max-width: var(--contentWidth);
    margin: 0 auto;
    padding: 0 var(--contentPadding);
    position: relative;
}

.inner {
    background: #fff;
    padding: 15px 20px;
}

.grid {
    padding-top: 30px;
    border-top: #ededed 1px solid;

    @media (min-width: 1000px) {
        display: grid;
        grid-template-columns: 1fr 340px;
        gap: 20px;
    }
}

.sidebar {
    @media (max-width: 999px) {
        margin-top: 30px;
    }

    @media (min-width: 1000px) {
        padding-left: 20px;
        border-left: #ededed 1px solid;
    }
}
