@import '../../../public/scss/desktop/settings/_settings.scss';

$infoBreakpoint: 750px;

.uploader {
    width: 100%;
    display: flex;
    align-items: center;
}

.uploaderContent {
    padding-left: 15px;
    flex: 1;
}

.uploaderDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;

    @media (min-width: $infoBreakpoint) {
        margin-bottom: 4px;
    }
}

.follow {
    flex: 0 0 100%;

    @media (min-width: $infoBreakpoint) {
        flex: 0 0 185px;
        text-align: right;
    }
}

.buttons {
    flex: 0 0 100%;

    @media (min-width: $infoBreakpoint) {
        flex: 0 0 310px;
        text-align: right;
    }
}

.name {
    font-size: rem-calc(18);
    line-height: 1.2;
    letter-spacing: rem-calc(-0.5);
    margin: 0 0 10px;
    flex: 0 0 100%;

    @media (min-width: $infoBreakpoint) {
        flex: 1;
        margin: 0 10px 0 0;
    }

    a {
        color: #222;

        &:hover,
        &:focus {
            color: $orange;
        }
    }

    span {
        margin-left: 5px;
        top: -1px;
    }
}

.description {
    line-height: 1.4;
    margin-bottom: 20px;
    padding-right: 60px;
    letter-spacing: rem-calc(-0.5);
}

.music {
    margin-top: 5px;
    padding-left: 80px;
}

.tag {
    background: $orange;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: rem-calc(-0.6);
    margin: 0 10px 10px 0;
    padding: 2px 10px;
    border-radius: 4px;

    &:hover,
    &:focus {
        background: #000;
        color: #fff;
    }
}

.meta {
    letter-spacing: rem-calc(-0.5);
    margin-right: 8px;
    line-height: 1.2;

    + .meta {
        margin-top: 10px;
    }
}
