@import '../../../public/scss/desktop/settings/_settings.scss';

.container {
    position: relative;
}

$avatarSize: 190px;
$avatarAnimationWidth: 800px;
$bgHeight: 180px;
$bgAnimationWidth: 2000px;


.avatar {
    background: $gray9;
    height: $avatarSize;
    width: $avatarSize;
    top: -20px;
    left: 30px;
    position: absolute;
    z-index: 2;

    &.animated span {
        background-size: $avatarAnimationWidth $avatarSize;
        animation-name: avatarShimmer;
        animation-delay: -0.1s;
    }
}

.background {
    background: $gray10;
    height: $bgHeight;
    border: 1px solid #ececec;
    position: relative;

    &.animated span {
        background-size: $bgAnimationWidth $bgHeight;
        animation-name: bgShimmer;
    }
}

.avatar,
.background {
    span {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        animation-duration: 1.25s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: reverse;
    }
}

.placeholder {
    margin: 0 auto;
    max-width: 200px;
    min-height: 100px;
    background-color: #eee;
}

@keyframes avatarShimmer {
    0% {
        background-position: -($avatarAnimationWidth / 2) 0;
    }

    100% {
        background-position: ($avatarAnimationWidth / 2) 0;
    }
}

@keyframes bgShimmer {
    0% {
        background-position: -($bgAnimationWidth / 2) 0;
    }

    100% {
        background-position: ($bgAnimationWidth / 2) 0;
    }
}

.animated span {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.01), $gray12 90%, $gray11 82%, $gray12 66%, rgba(255, 255, 255, 0.01));
}
