@import '../../../public/scss/desktop/settings/_settings.scss';

$stackSize: 6px; // Determines the height and also the offset of the "stack" pseudo element

.card {
    margin-bottom: 32px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.image {
    background: $gray10;
    width: 100%;
    padding-bottom: 100%;
    position: relative;

    &:before,
    &:after {
        content: "";
        position: absolute;
        height: $stackSize;
    }

    &:before {
        background: #cecece;
        width: calc(100% - (#{$stackSize} * 2));
        top: -#{$stackSize};
        left: $stackSize;
    }

    &:after {
        background: #e0e0e0;
        width: calc(100% - (#{$stackSize} * 4));
        top: calc(-#{$stackSize} * 2);
        left: $stackSize * 2;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: opacity 0.15s ease-in-out;

        &:hover {
            opacity: 0.9;
        }
    }
}

.details {
    background: #fff;
    padding: 10px;
}

.title {
    font-size: rem-calc(14);
    letter-spacing: rem-calc(-0.8);
    line-height: 1.4;
    font-weight: 700;
    margin: 0;
    color: $gray2;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    a {
        color: $gray2;
    }

    a:hover,
    a:focus {
        color: $gray4;
    }
}

.metaItem {
    letter-spacing: rem-calc(-0.5);
    line-height: 1.4;
    margin: 0;

    span {
        color: $orange;
        font-weight: 600;
    }
}
